<section data-ng-controller="CardsController" data-ng-init="findOne()">

    <div ng-include="'/modules/cards/views/partial/delete-card.modal.client.view.html'"></div>

    <div class="sparesys-header">
        <div class="pull-right" style="padding-top: 5px">


            <a href="" data-ng-click="areYouSureToDeleteCard(card)"
               data-ng-show="authentication.user._id == card.user._id">
                Delete
            </a>


            <!--<a class="btn btn-primary" data-ng-click="editPackPopup(pack)"-->
            <!--data-ng-show="authentication.user._id == pack.user._id">-->
            <!--<i class="glyphicon glyphicon-edit"></i>-->
            <!--</a>-->

            <!--<a class="btn btn-primary" data-ng-click="areYouSureToDeletePack(pack)"-->
            <!--data-ng-show="authentication.user._id == pack.user._id">-->
            <!--<i class="glyphicon glyphicon-trash"></i>-->
            <!--</a>-->

        </div>

        <div class="sparesys-title">
            {{card.question}} &#8594; {{card.answer}}
        </div>
        <div>

            Pack: <a data-ng-href="#!/packs/{{pack._id}}/edit">{{pack.name}}</a>
        </div>
    </div>
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <table class="sparesys-view-object-table">
                <tr class="controls">
                    <td class="sparesys-view-object-label-cell">Question</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="card.question"
                               id="question" class="form-control"
                               placeholder="Question"
                               required>
                    </td>

                <tr class="controls">
                    <td class="sparesys-view-object-label-cell">Answers</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="card.answer"
                               id="answer" class="form-control"
                               placeholder="Answer"
                               required>
                    </td>
                </tr>

                <tr class="controls" data-ng-repeat="alt in card.alternatives">
                    <td class="sparesys-view-object-label-cell"></td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="alt"
                               id="alternatives" class="form-control"
                               placeholder="Alternative Answer">
                    </td>
                </tr>

                <tr class="controls">
                    <td class="sparesys-view-object-label-cell"></td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="nextAlternative"
                               id="alternative" class="form-control"
                               placeholder="Next Alternative Answer">
                    </td>
                </tr>


                <tr class="controls" data-ng-controller="DateDropdownController" data-ng-init="setDate(card.due)">
                    <td class="sparesys-view-object-label-cell" style="vertical-align: middle">Due date</td>
                    <td class="input-group">

                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="card.due"
                               is-open="opened" min-date="minDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="false" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>

                    </td>
                </tr>

                <tr class="controls" data-ng-controller="DateDropdownController" data-ng-init="setDate(card.after)">
                    <td class="sparesys-view-object-label-cell" style="vertical-align: middle">Not Before</td>
                    <td class="input-group" style="padding-top: 3px">

                        <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="card.after"
                               is-open="opened" min-date="minDate"
                               datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                               ng-required="false" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i
                        class="glyphicon glyphicon-calendar"></i></button>
              </span>

                    </td>
                </tr>
            </table>
            <div class="pull-right" style="padding-top: 2px">
                <input type="submit" value="Update" class="btn btn-default">
            </div>
        </fieldset>
    </form>
    <div data-ng-show="error" class="text-danger" style="text-align: center">
        <strong>Error: {{error}}</strong>
    </div>

    <div class="footer">

        <div>
            <small>
                <em class="text-muted">Created on {{card.created | date:'medium'}}</em>
            </small>
        </div>
        <div data-ng-if="card.updated">
            <small>
                <em class="text-muted">Updated on {{card.updated | date:'medium'}}</em>
            </small>
        </div>

    </div>
</section>