<section data-ng-controller="CardsController" data-ng-init="findOne()">
    <div class="sparesys-header">
        <div class="pull-right">

            <a class="btn btn-primary" data-ng-click="editPackPopup(pack)"
               data-ng-show="authentication.user._id == pack.user._id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>

            <a class="btn btn-primary" data-ng-click="areYouSureToDeletePack(pack)"
               data-ng-show="authentication.user._id == pack.user._id">
                <i class="glyphicon glyphicon-trash"></i>
            </a>

        </div>

        <div class="sparesys-title">
            {{card.question}}: {{card.answer}}
        </div>
        <!--<div class="sparesys-subtitle">-->
        <!--<a data-ng-href="#!/courses/{{pack.course}}/edit">{{pack.courseName}}</a>-->
        <!--</div>-->
    </div>
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <table class="sparesys-view-object-table">
                <tr class="controls">
                    <td class="sparesys-view-object-label-cell">Question</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="card.question"
                               id="question" class="form-control"
                               placeholder="Question"
                               required>
                    </td>

                <tr class="controls">
                    <td class="sparesys-view-object-label-cell">Answer</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="card.answer"
                               id="answer" class="form-control"
                               placeholder="Answer"
                               required>
                    </td>
                </tr>
            </table>
            <div class="pull-right">
                <input type="submit" value="Update" class="btn btn-default">
            </div>
        </fieldset>
    </form>

</section>