<section data-ng-controller="CardsController" data-ng-init="findOne()">


    <div ng-include="'/modules/core/views/partial/show-more-info.modal.client.view.html'"></div>
    <div ng-include="'/modules/cards/views/partial/delete-card.modal.client.view.html'"></div>
    <div ng-include="'/modules/cards/views/partial/manage-images.modal.client.view.html'"></div>

    <div class="content-header">
        <div class="pull-right" >

            <div class="top-padded-s">
            <a data-ng-href="#!/practice/{{course._id}}">Practice Course</a>
            </div>
        </div>

        <div class="title">
            {{card.question}}
        </div>
        <div class="headerinfo">
            <table>
                <tr>
                    <td><a href="#!/courses/{{course._id}}/edit">{{course.name}}</a>
                    </td>
                </tr>


                <tr>
                    <td><a href="" data-ng-click="navigateToPack(pack)">{{pack.name}}</a>
                    </td>
                </tr>


            </table>


        </div>
    </div>


    <section data-ng-if="authentication.user.roles.indexOf('help') > -1">

        <div class="content-section">


            <infobox logo="man" data-ng-show="tabs[0].active" position="right">

                Use this tab to change card settings.
                The language settings are used for the reading out loud and speech recognition features.
                You can also select the checking method, the due and start date
                for the card.

                With the <a href="">
                <i class="small glyphicon glyphicon-remove-sign">
                </i></a> in the corner, you can delete this card.

                <a href="">
                    <i class="small glyphicon glyphicon-backward">
                    </i></a>

                and

                <a href="">
                    <i class="small glyphicon glyphicon-forward">
                    </i></a>

                will navigate to the previous and next card of the pack.
            </infobox>

            <infobox logo="boy" data-ng-show="tabs[1].active" position="left">

                <a href="" data-ng-click="$parent.showMoreInfo('forward-mode.html')">Forward Mode</a> settings can be changed here.
                If you want to use the forward mode, you can use text to speech to read
                questions or answers to the student. When you select speech recognition, you will be able to use your
                microphone to say your answer. Don't forget to configure the language your cards are in on the
                Cards tab!
            </infobox>

            <infobox logo="girl" data-ng-show="tabs[2].active" position="right">

                <a href="" data-ng-click="showMoreInfo('reverse-mode.html')">Reverse Mode</a> settings can be changed here.
                If you want to use the forward mode, you can use text to speech to read out
                questions or answers. When you select speech recognition, you will be able to use your
                microphone to speak the answer. Don't forget to configure what language your cards are in on the
                Cards tab!
            </infobox>

            <infobox logo="guru" data-ng-show="tabs[3].active" position="left">
                <a href="" data-ng-click="showMoreInfo('image-mode.html')">Image Mode</a> settings can be changed here.

                The <a href="">Manage Images</a> link will let you search for images that you can use instead
                of text on the card front. You can also show the text and read it out loud. You can make
                use of the speech recognition feature as input and read the answers back to the student.
            </infobox>
        </div>
    </section>


    <div class="rememberators-tabs top-margin-l content-section">
        <tabset>


            <tab heading="{{tabs[0].title}}" active="tabs[0].active" ng-click="switchTab('Card')">


                <div class="default-border">

                    <div ng-include="'/modules/cards/views/partial/card-settings.client.view.html'"></div>


                </div>
            </tab>



            <tab heading="{{tabs[1].title}}" active="tabs[1].active"  ng-click="switchTab('Forward')">


                <div class="default-border">

                    <div ng-include="'/modules/cards/views/partial/card-forward.client.view.html'"></div>


                </div>
            </tab>
            <tab heading="{{tabs[2].title}}" active="tabs[2].active" ng-click="switchTab('Reverse')">
                <div class="default-border">
                    <div ng-include="'/modules/cards/views/partial/card-reverse.client.view.html'"></div>
                </div>

            </tab>
            <tab heading="{{tabs[3].title}}" active="tabs[3].active" ng-click="switchTab('Images')">
                <div class="default-border">
                    <div ng-include="'/modules/cards/views/partial/card-images.client.view.html'"></div>
                </div>


            </tab>
            <!--<tab heading="{{tabs[4].title}}" active="tabs[4].active" ng-click="switchTab('MultipleChoice')">-->
                <!--<div class="default-border">-->
                    <!--<div class="top-padded-m left-padded-m" style="min-height:200px">-->
                        <!--Multiple Choice is coming soon-->
                    <!--</div>-->
                <!--</div>-->

            <!--</tab>-->

        </tabset>

        <div class="right-aligned">

            <small>
                <em class="text-muted">Created on {{card.created | date:'medium'}}</em>
            </small>
            <div data-ng-if="card.updated">
                <small>
                    <em class="text-muted">Updated on {{card.updated | date:'medium'}}</em>
                </small>
            </div>

        </div>
    </div>


    <div>rememberators.com</div>
</section>