<section data-ng-controller="PacksControllerNew" data-ng-init="updateSearch()">

    <div data-ng-show="authentication.user"
         ng-include="'/modules/packs/views/partial/delete-pack.modal.client.view.html'"></div>


    <div class="col-xs-12 dashboard-col">
        <div class="half-admin-card font-large">
            <div class="title">
                Packs - Administration

            </div>

            <div class="flashcard-section">


                <button type="button" class="btn btn-course font-s"
                        data-ng-click="removeDanglingPacks()">
                    <div>Remove dangling packs</div>

                </button>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col ">
        <div class="half-admin-card font-large">
            <div class="title">Search</div>
            <div class="flashcard-section row">


                <div class="col-xs-12">
                    <!--<div class="field-label">Find Pack</div>-->
                    <input type="text"
                           ng-model="options.searchText"
                           class="form-control search"
                           data-ng-change="updateSearch()"
                           placeholder="Name">
                </div>


            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col " data-ng-if="!packs || packs.length === 0">

        <div class="half-admin-card font-large">
            <div class="title">No Packs Found</div>
            <div class="danger">There are no packs matching your search criteria</div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col " data-ng-repeat="p in packs">
        <div class="half-admin-card font-large">
            <div class="title">{{p.name}}

                <div class="pull-right">
                    <a href="" data-ng-click="areYouSureToDeleteCourse(c)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
                <div class="pull-right">
                    <a href="/#!/packs/{{p._id}}/admin"><i class="glyphicon glyphicon-edit"></i></a>
                </div>

            </div>

            <div class="flashcard-section">

                <div class="col-xs-4">
                    <div class="field-label">Course</div>
                    <div class="field-data" data-ng-controller="CoursesController" data-ng-init="findById(p.course)">
                        <div data-ng-if="course.name">
                            {{course.name}}
                        </div>

                        <div data-ng-if="!course.name" class="danger">
                            none
                        </div>

                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="field-label">Cards</div>
                    <div class="field-data">
                        <div data-ng-if="p.cards && p.cards.length > 0">
                            {{p.cards.length}}
                        </div>

                        <div data-ng-if="!p.cards || p.cards.length ===0" class="danger">
                            none
                        </div>

                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="field-label">Slaves</div>
                    <div class="field-data">
                        <div data-ng-if="p.slaves && p.slaves.length > 0">
                            {{p.slaves.length}}
                        </div>

                        <div data-ng-if="!p.slaves || p.cards.slaves ===0">
                            none
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>

    <!--<div class="sparesys-header">-->
    <!--<div class="pull-right">-->
    <!--<button data-ng-click="clearPacks()">Delete Dangling Packs</button>-->
    <!--</div>-->

    <!--<div class="sparesys-title">-->
    <!--Packs Administration-->
    <!--</div>-->
    <!--<div class="sparesys-subtitle">-->

    <!--</div>-->
    <!--</div>-->


    <!--<table id="searchTextResults" class="table-striped" style="width: 100%">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th class="sparesys-view-courses-course-column"></th>-->
    <!--<th class="sparesys-view-courses-course-column">Pack</th>-->
    <!--<th class="sparesys-view-courses-description-column">Course</th>-->
    <!--<th class="sparesys-view-courses-description-column">By</th>-->
    <!--<th>Created</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr data-ng-repeat="pack in packs | filter:searchText">-->
    <!--<td class="sparesys-view-courses-name-cell">-->
    <!--<a href="">-->
    <!--<i data-ng-click="areYouSureToDeletePack(pack)"-->
    <!--class="glyphicon glyphicon-remove-sign">-->
    <!--</i>-->
    <!--</a>-->
    <!--<a data-ng-href="#!/packs/{{pack._id}}/edit">-->
    <!--<i class="glyphicon glyphicon-edit"></i>-->
    <!--</a>-->
    <!--</td>-->
    <!--<td class="sparesys-view-courses-name-cell">{{pack.name}}</td>-->
    <!--<td class="sparesys-view-courses-name-cell" data-ng-init="getCourseName(pack)">{{pack.courseName}}</td>-->
    <!--<td class="sparesys-view-courses-name-cell">{{pack.user.displayName}}</td>-->
    <!--<td class="sparesys-view-courses-date-cell">{{pack.created | date:'shortDate'}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->


</section>