<section data-ng-controller="PacksController" data-ng-init="find()">

    <!--<div data-ng-show="authentication.user" ng-include="'/modules/courses/views/partial/delete-pack.modal.client.view.html'"></div>-->

    <div class="sparesys-header">
        <div class="pull-right">

        </div>

        <div class="sparesys-title">
            Packs Administration
        </div>
        <div class="sparesys-subtitle">

        </div>
    </div>

    <table id="searchTextResults" class="table-striped" style="width: 100%">
        <thead>
        <tr>
            <!--<th class="sparesys-view-courses-course-column"></th>-->
            <th class="sparesys-view-courses-course-column">Pack</th>
            <th class="sparesys-view-courses-description-column">Course</th>
            <!--<th class="sparesys-view-courses-description-column">By</th>-->
            <!--<th>Created</th>-->
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="pack in packs | filter:searchText">
            <!--<td class="sparesys-view-courses-name-cell">-->
                <!--<a href="">-->
                    <!--<i data-ng-click="areYouSureToDeletePack(pack)"-->
                       <!--class="glyphicon glyphicon-remove-sign">-->
                    <!--</i>-->
                <!--</a>-->
                <!--<a data-ng-href="#!/packs/{{pack._id}}/edit">-->
                    <!--<i class="glyphicon glyphicon-edit"></i>-->
                <!--</a>-->
            <!--</td>-->
            <td class="sparesys-view-courses-name-cell">{{pack.name}}</td>
            <td class="sparesys-view-courses-name-cell"
                data-ng-controller="CoursesController" data-ng-init="findById(pack.course)">{{course.name}}</td>
            <!--<td class="sparesys-view-courses-name-cell">{{pack.course.user.displayName}}</td>-->
            <!--<td class="sparesys-view-courses-date-cell">{{pack.created | date:'shortDate'}}</td>-->
        </tr>
        </tbody>
    </table>


</section>