<section data-ng-controller="PacksControllerNew"
         data-ng-init="findOne()">


    <div ng-include="'/modules/packs/views/partial/bulk-edit-pack.modal.client.view.html'"></div>
    <div ng-include="'/modules/cards/views/partial/delete-card.modal.client.view.html'"></div>

    <div class="col-xs-12  font-large title" style="text-align: center">
        <div class="row">
            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>

            <div class="col-xs-10">
                <a href="" data-ng-click="scrollDown()">Scroll down to add more
                    cards
                </a>
            </div>

            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>
        </div>
    </div>


    <div class="col-xs-6 dashboard-col">


        <div class="virtual-card font-large">
            <div class="title">
                {{pack.name}}

                <div class="pull-right">


                    <!--<a href="#!/schools/{{school._id}}"><i class="glyphicon glyphicon-edit"></i></a>-->


                    <a href="" data-ng-click="bulkEditPackModal(pack)"><i
                            class="glyphicon glyphicon-list"></i></a>


                    <a href="" data-ng-click="areYouSureToDeletePack(pack)"><i
                            class="glyphicon glyphicon-trash"></i></a>


                </div>


            </div>

            <div class="flashcard-section">

                <div class="row">
                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Name</div>
                        <div class="font-medium">
                            <input type="text"
                                   data-ng-model="pack.name"
                                   class="form-control "
                                   ng-blur="update()"
                                   placeholder="Name of the Pack">
                        </div>
                    </div>


                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Course</div>
                        <div class="font-medium">
                            <a href="#!/courses/{{pack.course._id}}">{{pack.course.name}}</a>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Created</div>
                        <div class="font-medium">
                            {{pack.created | date:'shortDate'}}
                        </div>
                    </div>

                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Updated</div>
                        <div class="font-medium">
                            {{pack.updated | date:'shortDate'}}
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>

    <div class="col-xs-6 dashboard-col">


        <div class="virtual-card font-large">
            <div class="title">
                Change settings for all cards


            </div>

            <div class="flashcard-section">
                <div class="row">

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label" ng-class="{'text-muted': !cardOptions.languageFrontEnabled}">
                            <a href="" data-ng-click="toggleLanguageFront()"
                               data-ng-if="cardOptions.languageFrontEnabled"><i
                                    class="glyphicon glyphicon-ok-circle"></i></a>
                            <a href="" data-ng-click="toggleLanguageFront()"
                               data-ng-if="!cardOptions.languageFrontEnabled"><i
                                    class="glyphicon glyphicon-ban-circle"></i></a>

                            Language Front
                        </div>

                        <div class="font-medium text-muted" data-ng-if="!cardOptions.languageFrontEnabled">
                            no change
                        </div>
                        <div class="font-medium" data-ng-if="cardOptions.languageFrontEnabled">

                            <div class="btn-group right-padded-l nowrap">


                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="cardOptions.languageFront">
                                    {{cardOptions.languageFront.name}}
                                </button>
                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="!cardOptions.languageFront">
                                    {{languages[0].name}}
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="lang in languages" data-ng-click="setLanguageFront(lang)">
                                        <a>{{lang.name}}</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label" ng-class="{'text-muted': !cardOptions.languageBackEnabled}">
                            <a href="" data-ng-click="toggleLanguageBack()"
                               data-ng-if="cardOptions.languageBackEnabled"><i
                                    class="glyphicon glyphicon-ok-circle"></i></a>
                            <a href="" data-ng-click="toggleLanguageBack()"
                               data-ng-if="!cardOptions.languageBackEnabled"><i
                                    class="glyphicon glyphicon-ban-circle"></i></a>

                            Language Back
                        </div>

                        <div class="font-medium text-muted" data-ng-if="!cardOptions.languageBackEnabled">
                            no change
                        </div>

                        <div class="font-medium" data-ng-if="cardOptions.languageBackEnabled">

                            <div class="btn-group right-padded-l nowrap">


                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="cardOptions.languageBack">
                                    {{cardOptions.languageBack.name}}
                                </button>
                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="!cardOptions.languageBack">
                                    {{languages[0].name}}
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="lang in languages" data-ng-click="setLanguageBack(lang)">
                                        <a>{{lang.name}}</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label" ng-class="{'text-muted': !cardOptions.priorityEnabled}">
                            <a href="" data-ng-click="togglePriority()"
                               data-ng-if="cardOptions.priorityEnabled"><i
                                    class="glyphicon glyphicon-ok-circle"></i></a>
                            <a href="" data-ng-click="togglePriority()"
                               data-ng-if="!cardOptions.priorityEnabled"><i
                                    class="glyphicon glyphicon-ban-circle"></i></a>

                            Priority
                        </div>

                        <div class="font-medium text-muted" data-ng-if="!cardOptions.priorityEnabled">
                            no change
                        </div>

                        <div class="font-medium" data-ng-if="cardOptions.priorityEnabled">

                            <div class="btn-group right-padded-l nowrap">


                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="cardOptions.priority">
                                    {{cardOptions.priority}}
                                </button>
                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="!cardOptions.priority">
                                    {{priorities[2]}}
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="p in priorities" data-ng-click="setPriority(p)">
                                        <a>{{p}}</a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 dashboard-col">


                        <div class="field-label" ng-class="{'text-muted': !cardOptions.startDateEnabled}">
                            <a href="" data-ng-click="toggleStartDate()"
                               data-ng-if="cardOptions.startDateEnabled"><i
                                    class="glyphicon glyphicon-ok-circle"></i></a>
                            <a href="" data-ng-click="toggleStartDate()"
                               data-ng-if="!cardOptions.startDateEnabled"><i
                                    class="glyphicon glyphicon-ban-circle"></i></a>

                            Start Date
                        </div>

                        <div class="font-medium text-muted" data-ng-if="!cardOptions.startDateEnabled">
                            no change
                        </div>

                        <div class="font-medium" data-ng-if="cardOptions.startDateEnabled">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       datepicker-popup="{{calendar.format}}"
                                       is-open="calendar.openStartDateCalendar"
                                       min-date="minDate"
                                       ng-required="false"
                                       close-text="Close"
                                       data-ng-model="card.startDate"
                                       data-ng-change="update()"
                                        />


                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"
                                            ng-click="openStartDateCalendar($event)">
                                        <i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                </div>
                            </div>
                        </div>

                        <!--<div class="field-label">Start Date</div>-->
                        <!--<div class="font-medium">-->
                        <!--<div data-ng-if="card.startDate">-->
                        <!--{{card.startDate | date: 'shortDate'}}-->
                        <!--</div>-->

                        <!--<div data-ng-if="!card.startDate">-->
                        <!--none-->
                        <!--</div>-->
                        <!--</div>-->
                    </div>

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label">Due Date</div>
                        <div class="font-medium">
                            <div data-ng-if="card.dueDate">
                                {{card.dueDate | date: 'shortDate'}}
                            </div>

                            <div data-ng-if="!card.dueDate">
                                none
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 dashboard-col">


                        <div class="field-label" ng-class="{'text-muted': !cardOptions.checksEnabled}">
                            <a href="" data-ng-click="toggleChecks()"
                               data-ng-if="cardOptions.checksEnabled"><i
                                    class="glyphicon glyphicon-ok-circle"></i></a>
                            <a href="" data-ng-click="toggleChecks()"
                               data-ng-if="!cardOptions.checksEnabled"><i
                                    class="glyphicon glyphicon-ban-circle"></i></a>

                            Checks
                        </div>

                        <div class="font-medium text-muted" data-ng-if="!cardOptions.checksEnabled">
                            no change
                        </div>

                        <div class="font-medium" data-ng-if="cardOptions.checksEnabled">

                            <div class="btn-group right-padded-l nowrap">


                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="cardOptions.checks">
                                    {{cardOptions.checks}}
                                </button>
                                <button type="button" class="btn btn-default standard-dropdown-width"
                                        data-ng-if="!cardOptions.checks">
                                    {{checks[0]}}
                                </button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="c in checks" data-ng-click="setChecks(c)">
                                        <a>{{c}}</a>
                                    </li>
                                </ul>

                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label" ng-class="{'text-muted': card.modes.indexOf('forward') === -1}">Forward
                            Mode
                        </div>
                        <div class="font-medium text-muted" data-ng-if="card.modes.indexOf('forward') === -1">
                            not used
                        </div>
                        <div class="font-medium " data-ng-if="card.modes.indexOf('forward') > -1">

                            <div ng-class="{'text-muted': !card.readFrontForward}">
                                Read question

                            </div>
                            <div ng-class="{'text-muted': !card.readBackForward}">
                                Read answer

                            </div>
                            <div ng-class="{'text-muted': !card.speechRecognitionForward}">
                                Speech recognition

                            </div>

                        </div>
                    </div>

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label" ng-class="{'text-muted': card.modes.indexOf('reverse') === -1}">Reverse
                            Mode
                        </div>
                        <div class="font-medium text-muted" data-ng-if="card.modes.indexOf('reverse') === -1">
                            not used
                        </div>
                        <div class="font-medium " data-ng-if="card.modes.indexOf('reverse') > -1">

                            <div ng-class="{'text-muted': !card.readFrontReverse}">
                                Read question

                            </div>
                            <div ng-class="{'text-muted': !card.readBackReverse}">
                                Read answer

                            </div>
                            <div ng-class="{'text-muted': !card.speechRecognitionReverse}">
                                Speech recognition

                            </div>

                        </div>
                    </div>

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label" ng-class="{'text-muted': card.modes.indexOf('images') === -1}">Image
                            Mode
                        </div>
                        <div class="font-medium text-muted" data-ng-if="card.modes.indexOf('images') === -1">
                            not used
                        </div>
                        <div class="font-medium " data-ng-if="card.modes.indexOf('images') > -1">

                            <div ng-class="{'text-muted': !card.imagesReadFront}">
                                Read question

                            </div>
                            <div ng-class="{'text-muted': !card.imagesReadBack}">
                                Read answer

                            </div>
                            <div ng-class="{'text-muted': !card.speechRecognitionImages}">
                                Speech recognition

                            </div>

                        </div>
                        {{card}}
                    </div>

                </div>
            </div>

            <div class="flashcard-section" style="text-align: center">
                <button class="btn btn-rememberators"
                        type="submit"
                        ng-click="changeDefaultSettings()"
                        >
                    Change Settings
                </button>
            </div>
        </div>
    </div>


    <div data-ng-repeat="card in pack.cards">
        <div class="col-xs-6 dashboard-col">
            <div class="virtual-card font-large">
                <div>
                    <div class="title">
                        {{card.question}}

                        <div class="pull-right">


                            <a href="#!/cards/{{card._id}}"><i class="glyphicon glyphicon-edit"></i></a>

                            <a href="" data-ng-click="areYouSureToDeleteCard(card)"><i
                                    class="glyphicon glyphicon-trash"></i></a>

                        </div>

                    </div>
                    <div ng-include="'/modules/cards/views/partial/view-card.client.view.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 dashboard-col" style="padding-top: 2em">
        <div class=" font-large">
            <div class="title">
                Add card to this pack

                <div class="pull-right">


                    <!--<a href="#!/schools/{{school._id}}"><i class="glyphicon glyphicon-edit"></i></a>-->


                    <a href="" data-ng-click="addCardToPack(pack)"><i class="glyphicon glyphicon-plus-sign"></i></a>


                </div>


            </div>

            <div class="flashcard-section">

                <form data-ng-submit="addCardToPack()" validate>
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">{{pack.course.front}}</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.question"
                                           class="form-control focus"
                                            >
                                </div>
                            </div>


                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">{{pack.course.back}}</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.answer"
                                           class="form-control "
                                            >
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">Additional info front</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.questionExtension"
                                           class="form-control "
                                            >
                                </div>
                            </div>

                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">Additional info back</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.answerExtension"
                                           class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class="hidden">
                            <button type="submit" class="btn btn-rememberators"></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    </div>


    <div class="rememberators-footer col-xs-12">rememberators.com</div>

</section>
