<section data-ng-controller="PacksController" data-ng-init="findOne()">


    <div ng-include="'/modules/packs/views/partial/add-card.modal.client.view.html'"></div>
    <div ng-include="'/modules/packs/views/partial/edit-pack.modal.client.view.html'"></div>
    <div ng-include="'/modules/cards/views/partial/delete-card.modal.client.view.html'"></div>


    <div class="sparesys-header">
        <div class="pull-right">

            <a class="btn btn-primary" data-ng-click="editPackPopup(pack)"
               data-ng-show="authentication.user._id == pack.user._id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>

            <a class="btn btn-primary" data-ng-click="areYouSureToDeletePack(pack)"
               data-ng-show="authentication.user._id == pack.user._id">
                <i class="glyphicon glyphicon-trash"></i>
            </a>

        </div>

        <div class="sparesys-title">
            {{pack.name}}
        </div>
        <div class="sparesys-subtitle">
            <a data-ng-href="#!/courses/{{pack.course}}/edit">{{pack.courseName}}</a>
        </div>
    </div>


    <div data-ng-hide="pack.cards.length > 0">
        No cards yet, why don't you <a href="" ng-click="addCardToPackPopup()">add one</a>?
    </div>
    <div data-ng-show="pack.cards.length > 0">

        <div class="pull-right">
            <a href="" ng-click="addCardToPackPopup()" data-ng-show="authentication.user._id == pack.user._id">
                Add Cards
                <i class="glyphicon glyphicon-plus-sign">
                </i>

            </a>
        </div>

        <table id="searchTextResults" class="table-striped" style="width: 100%">
            <thead>
            <tr style="height: 20px"><td>&nbsp;</td></tr>
            <tr>
                <th class="sparesys-view-courses-course-column">
                </th>
                <th class="sparesys-view-object-right-padded-element">Question</th>
                <th class="sparesys-view-object-content-cell">Answer</th>
                <th class="sparesys-view-object-content-cell">Style</th>
            </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">
            <tr data-ng-repeat="cardId in pack.cards" data-ng-controller="CardsController"
                data-ng-init="findById(cardId)"
                style="cursor: move">
                <td class="sparesys-view-courses-name-cell">
                    <a href="">
                        <i data-ng-click="areYouSureToDeleteCard(card)"
                           class="glyphicon glyphicon-remove-sign">
                        </i>
                    </a>

                </td>

                <td class="sparesys-view-object-right-padded-element">
                    <a data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
                </td>

                <td class="sparesys-view-object-content-cell">
                    {{card.answer}}
                </td>

                <td class="sparesys-view-object-label-cell">


                    <span data-ng-if="card.style[0]" style="color:green; cursor: pointer" data-ng-click="toggleRead(card)">Read</span>
                    <span data-ng-if="!card.style[0]" style="color:red; cursor: pointer" data-ng-click="toggleRead(card)">Read</span>

                    <span data-ng-if="card.style[1]" style="color:green; cursor: pointer" data-ng-click="toggleWrite(card)">Write</span>
                    <span data-ng-if="!card.style[1]" style="color:red; cursor: pointer" data-ng-click="toggleWrite(card)">Write</span>

                </td>
            </tr>

            </tbody>
        </table>

    </div>




    <!--</div>-->


    <small>
        <em class="text-muted">Created on {{pack.created | date:'mediumDate'}} by {{pack.user.displayName}}</em>
    </small>

</section>