<section data-ng-controller="PacksControllerNew"
         data-ng-init="findOne()">


    <div ng-include="'/modules/cards/views/partial/delete-card.modal.client.view.html'"></div>
    <div ng-include="'/modules/cards/views/partial/manage-images.modal.client.view.html'"></div>


    <div class="col-xs-12 subtitle" style="text-align: center">
        <div class="row">

            <div class="col-xs-2">
                <div data-ng-if="prevPack">
                    <a href="#!/packs/{{prevPack._id}}"><i
                            class="glyphicon glyphicon-circle-arrow-left"></i> {{prevPack.name}}</a>
                </div>
            </div>


            <div class="col-xs-8">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>

                <a href="" data-ng-click="scrollDown()">Scroll down to add more
                    cards
                </a>
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>


            <div class="col-xs-2" style="text-align: right">
                <div data-ng-if="nextPack">
                    <a href="#!/packs/{{nextPack._id}}">{{nextPack.name}} <i
                            class="glyphicon glyphicon-circle-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col large-screen-only"
         data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="virtual-card ribbon-card font-large">
            <div class="help-ribbon"><span>Help</span></div>
            <div class="title">
                Editing a pack
            </div>
            <infobox logo="boy">
                You can also
                change the name for your pack on this screen and
                change the settings for all cards in the pack in one go.
                Use the
                <i class="glyphicon  glyphicon-picture"></i> icon to see which
                images you want to use for image mode and the <i class="glyphicon  glyphicon-list"></i> icon
                for all other settings.
            </infobox>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col large-screen-only"
         data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="virtual-card ribbon-card font-large">
            <div class="help-ribbon"><span>Help</span></div>
            <div class="title">
                Bulk changes
            </div>
            <infobox logo="girl">
                You can change the settings of all cards in this pack in one go. Choose
                the setting you want to change from the dropdown and select the value
                you want to change it to. Make sure that you are not overriding settings
                unintentionally.
            </infobox>
        </div>
    </div>


    <div class="col-xs-6">


        <div class="virtual-card font-large">
            <div class="title">
                {{pack.name}}

                <div class="pull-right">


                    <a href="" data-ng-click="showMode('images')" data-ng-if="editMode !== 'images'"><i
                            class="glyphicon glyphicon-picture"></i></a>

                    <i class="glyphicon glyphicon-picture text-muted" data-ng-if="editMode === 'images'"></i>

                    <a href="" data-ng-click="showMode('data')" data-ng-if="editMode !== 'data'"><i
                            class="glyphicon glyphicon-list"></i></a>

                    <i class="glyphicon glyphicon-list text-muted" data-ng-if="editMode === 'data'"></i>

                    <a href="" data-ng-click="showMode('modes')" data-ng-if="editMode !== 'modes'"><i
                            class="glyphicon glyphicon-option-horizontal"></i></a>

                    <i class="glyphicon glyphicon-option-horizontal text-muted"
                       data-ng-if="editMode === 'modes'"></i>


                </div>


            </div>

            <div class="flashcard-section">


                <div class="row">
                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Pack Name</div>
                        <div class="font-medium">
                            <input type="text"
                                   data-ng-model="pack.name"
                                   class="form-control "
                                   ng-blur="update()"
                                   placeholder="Name of the Pack">
                        </div>
                    </div>


                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Course</div>
                        <div class="font-medium">
                            <a href="#!/courses/{{pack.course._id}}/edit">{{pack.course.name}}</a>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Created</div>
                        <div class="font-medium">
                            {{pack.created | date:'shortDate'}}
                        </div>
                    </div>

                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Updated</div>
                        <div class="font-medium">
                            <div data-ng-if="pack.updated">
                                {{pack.updated | date:'shortDate'}}
                            </div>
                            <div data-ng-if="!pack.updated">
                                {{pack.created | date:'shortDate'}}
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>


    </div>


    <div class="col-xs-6">


        <div class="virtual-card font-large">
            <div class="title">
                Pack settings
            </div>
            <div class="flashcard-section">
                <div class="col-xs-12" style="padding-right: 0; padding-left: 0">
                    <div class="field-label">Change settings of all cards in this pack</div>
                    <div class="font-medium">
                        <div ng-include="'/modules/packs/views/partial/bulk-edit-pack.client.view.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-ng-repeat="card in pack.cards">


        <div class="col-xs-6 dashboard-col">
            <div class="virtual-card font-large">
                <div>
                    <div class="title">
                        {{card.question}}

                        <div class="pull-right">

                            <a href="" data-ng-click="showMode('images')" data-ng-if="editMode !== 'images'"><i
                                    class="glyphicon glyphicon-picture"></i></a>

                            <i class="glyphicon glyphicon-picture text-muted"
                               data-ng-if="editMode === 'images'"></i>

                            <a href="" data-ng-click="showMode('data')" data-ng-if="editMode !== 'data'"><i
                                    class="glyphicon glyphicon-list"></i></a>

                            <i class="glyphicon glyphicon-list text-muted" data-ng-if="editMode === 'data'"></i>

                            <a href="" data-ng-click="showMode('modes')" data-ng-if="editMode !== 'modes'"><i
                                    class="glyphicon glyphicon-option-horizontal"></i></a>

                            <i class="glyphicon glyphicon-option-horizontal text-muted"
                               data-ng-if="editMode === 'modes'"></i>


                            <a href="#!/cards/{{card._id}}"><i class="glyphicon glyphicon-edit"></i></a>

                            <a href="" data-ng-click="areYouSureToDeleteCard(card)"><i
                                    class="glyphicon glyphicon-trash"></i></a>

                        </div>

                    </div>

                    <div data-ng-if="editMode === 'data'">
                        <div ng-include="'/modules/cards/views/partial/view-card.client.view.html'"></div>
                    </div>

                    <div data-ng-if="editMode === 'images'">
                        <div class="flashcard-section">
                            <div class="field-label">Images <a href="" style="padding-left: 5px;"
                                                               data-ng-click="manageImages(card)"><i
                                    class="glyphicon glyphicon-plus-sign font-medium"></i></a></div>
                            <div class="font-medium" style="padding-top: 1em">
                                <div data-ng-if="card.images.length === 0">
                                    no images
                                </div>
                                <span data-ng-repeat="img in card.images" style="padding: 5px">
                                    <img ng-src="{{img}}"
                                         style="max-width: 128px; max-height: 128px"/>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div data-ng-if="editMode === 'modes'">
                        <div ng-include="'/modules/cards/views/partial/view-modes.client.view.html'"></div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div class="col-xs-6 dashboard-col" style="padding-top: 2em">
        <div class=" font-large">
            <div class="title">
                Add card to this pack

                <div class="pull-right">


                    <!--<a href="#!/schools/{{school._id}}"><i class="glyphicon glyphicon-edit"></i></a>-->


                    <a href="" data-ng-click="addCardToPack(pack)"><i class="glyphicon glyphicon-plus-sign"></i></a>


                </div>


            </div>

            <div class="flashcard-section">

                <form data-ng-submit="addCardToPack()" validate>
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">{{pack.course.front}}</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.question"
                                           class="form-control focus"
                                            >
                                </div>
                            </div>


                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">{{pack.course.back}}</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.answer"
                                           class="form-control "
                                            >
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">Additional info front</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.questionExtension"
                                           class="form-control "
                                            >
                                </div>
                            </div>

                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">Additional info back</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.answerExtension"
                                           class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class="hidden">
                            <button type="submit" class="btn btn-rememberators"></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    <div class="rememberators-footer col-xs-12">rememberators.com</div>

</section>
