<section data-ng-controller="PacksControllerNew"
         data-ng-init="findOne()">


    <div ng-include="'/modules/packs/views/partial/bulk-edit-pack.modal.client.view.html'"></div>
    <div ng-include="'/modules/cards/views/partial/delete-card.modal.client.view.html'"></div>

    <div class="col-xs-12  font-large title" style="text-align: center">
        <div class="row">
            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>

            <div class="col-xs-10">
                <a href="" data-ng-click="scrollDown()">Scroll down to add more
                    cards
                </a>
            </div>

            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>
        </div>
    </div>


    <div class="col-xs-6 dashboard-col">


        <div class="virtual-card font-large">
            <div class="title">
                {{pack.name}}

                <div class="pull-right">


                    <!--<a href="#!/schools/{{school._id}}"><i class="glyphicon glyphicon-edit"></i></a>-->


                    <a href="" data-ng-click="showMode('images')" data-ng-if="editMode === 'data'"><i
                            class="glyphicon glyphicon-picture"></i></a>
                    <i class="glyphicon glyphicon-picture text-muted" data-ng-if="editMode === 'images'"></i>
                    <a href="" data-ng-click="showMode('data')" data-ng-if="editMode === 'images'"><i
                            class="glyphicon glyphicon-list"></i></a>
                    <i class="glyphicon glyphicon-list text-muted" data-ng-if="editMode === 'data'"></i>

                    <a href="" data-ng-click="areYouSureToDeletePack(pack)"><i
                            class="glyphicon glyphicon-trash"></i></a>


                </div>


            </div>

            <div class="flashcard-section">

                <div class="row">
                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Name</div>
                        <div class="font-medium">
                            <input type="text"
                                   data-ng-model="pack.name"
                                   class="form-control "
                                   ng-blur="update()"
                                   placeholder="Name of the Pack">
                        </div>
                    </div>


                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Course</div>
                        <div class="font-medium">
                            <a href="#!/courses/{{pack.course._id}}">{{pack.course.name}}</a>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Created</div>
                        <div class="font-medium">
                            {{pack.created | date:'shortDate'}}
                        </div>
                    </div>

                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Updated</div>
                        <div class="font-medium">
                            {{pack.updated | date:'shortDate'}}
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>

    <div class="col-xs-6 dashboard-col">

        <div ng-include="'/modules/packs/views/partial/bulk-edit-pack.client.view.html'"></div>

    </div>


    <div data-ng-repeat="card in pack.cards">


        <div class="col-xs-6 dashboard-col">
            <div class="virtual-card font-large" data-ng-if="editMode === 'data'">
                <div>
                    <div class="title">
                        {{card.question}}

                        <div class="pull-right">


                            <a href="#!/cards/{{card._id}}"><i class="glyphicon glyphicon-edit"></i></a>

                            <a href="" data-ng-click="areYouSureToDeleteCard(card)"><i
                                    class="glyphicon glyphicon-trash"></i></a>

                        </div>

                    </div>
                    <div ng-include="'/modules/cards/views/partial/view-card.client.view.html'"></div>
                </div>
            </div>

            <div class="virtual-card font-large" data-ng-if="editMode === 'images'">
                <div>
                    <div class="title">
                        {{card.question}}

                        <div class="pull-right">


                            <a href="#!/cards/{{card._id}}"><i class="glyphicon glyphicon-edit"></i></a>

                            <a href="" data-ng-click="areYouSureToDeleteCard(card)"><i
                                    class="glyphicon glyphicon-trash"></i></a>

                        </div>

                    </div>
                    Images
                </div>
            </div>
        </div>

    </div>

    <div class="col-xs-6 dashboard-col" style="padding-top: 2em">
        <div class=" font-large">
            <div class="title">
                Add card to this pack

                <div class="pull-right">


                    <!--<a href="#!/schools/{{school._id}}"><i class="glyphicon glyphicon-edit"></i></a>-->


                    <a href="" data-ng-click="addCardToPack(pack)"><i class="glyphicon glyphicon-plus-sign"></i></a>


                </div>


            </div>

            <div class="flashcard-section">

                <form data-ng-submit="addCardToPack()" validate>
                    <fieldset>
                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">{{pack.course.front}}</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.question"
                                           class="form-control focus"
                                            >
                                </div>
                            </div>


                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">{{pack.course.back}}</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.answer"
                                           class="form-control "
                                            >
                                </div>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">Additional info front</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.questionExtension"
                                           class="form-control "
                                            >
                                </div>
                            </div>

                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">Additional info back</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="newCard.answerExtension"
                                           class="form-control ">
                                </div>
                            </div>
                        </div>
                        <div class="hidden">
                            <button type="submit" class="btn btn-rememberators"></button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>


    </div>


    <div class="rememberators-footer col-xs-12">rememberators.com</div>

</section>
