<section data-ng-controller="PacksController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>{{pack.name}}</h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == pack.user._id">
		<a class="btn btn-primary" href="/#!/packs/{{pack._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">Posted on {{pack.created | date:'mediumDate'}} by {{pack.user.displayName}}</em>
	</small>
</section>