<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header ">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand font-l navigation">Rememberators</a>
    </div>
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);"
                ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
                <a href="/#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signup" ng-class="{active: $uiRoute}">
                <a id="signup-link font-l" data-ng-controller="LandingPageController" href="" ng-click="signupPopup()"
                   class="font-m">Signup</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                <a id="signin-link" data-ng-controller="LandingPageController" href="" ng-click="signinPopup()" class="font-m">Signin</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">


            <li ui-route="/users" ng-class="{active: $uiRoute}" class="dropdown"
                data-ng-show="authentication.user.roles.indexOf('admin') > -1">
                <a href="#" class="dropdown-toggle font-m" id="admin-dropdown-toggle" data-toggle="dropdown">
                    Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!--<li>-->
                    <!--<a href="/#!/courses">Find</a>-->
                    <!--</li>-->
                    <li>
                        <a id="user-admin-link" href="/#!/users" class="font-m">Users</a>
                    </li>
                    <li>
                        <a href="/#!/schools/admin" class="font-m">Schools</a>
                    </li>
                    <li>
                        <a href="/#!/schoolclasses/admin" class="font-m">School Classes</a>
                    </li>
                    <li>
                        <a href="/#!/courses/admin" class="font-m">Courses</a>
                    </li>
                    <li>
                        <a href="/#!/messages/admin" class="font-m">Messages</a>
                    </li>
                    <!--<li>-->
                        <!--<a href="/#!/packs/admin" class="font-m">Packs</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="/#!/cards/admin" class="font-m" >Cards</a>-->
                    <!--</li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                    <!--<a href="/#!/courses-info">Info</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <li ui-route="/users" ng-class="{active: $uiRoute}" class="dropdown"
               data-ng-if="authentication.user.roles.indexOf('headmaster') > -1">
                <a href="#" class="dropdown-toggle font-m" id="headmaster-dropdown-toggle" data-toggle="dropdown">
                Schools <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!--<li>-->
                    <!--<a href="/#!/courses">Find</a>-->
                    <!--</li>-->
                    <li data-ng-show="authentication.user.roles.indexOf('headmaster') > -1" data-ng-controller="SchoolsController">
                        <a href="" data-ng-click="registerSchoolPopup()" class="font-m">Register School</a>
                    </li>
                    <!--<li data-ng-show="authentication.user.roles.indexOf('headmaster') > -1">-->
                        <!--<a href="/#!/schools/manage" class="font-m">Manage Schools</a>-->
                    <!--</li>-->

                    <!--<li class="divider" data-ng-show="authentication.user.roles.indexOf('teacher') > -1 && authentication.user.roles.indexOf('headmaster') > -1"></li>-->
                    <!---->
                    <!--<li data-ng-show="authentication.user.roles.indexOf('teacher') > -1">-->
                        <!--<a href="/#!/schools/classes/manage" class="font-m">Manage Classes</a>-->
                    <!--</li>-->


                </ul>

            </li>

            <li ui-route="/courses" ng-class="{active: $uiRoute}" class="dropdown"
                data-ng-if="authentication.user.roles.indexOf('teacher') > -1">
                <a href="#" class="dropdown-toggle font-m" data-toggle="dropdown">
                    Teaching <b class="caret"></b>
                </a>

                <ul  class="dropdown-menu" data-ng-controller="SchoolclassesController" data-ng-init="findForTeacher(authentication.user._id)">

                    <li>
                        <a href="/#!/schools/subscribe/teacher" class="font-m">Subscribe to School</a>
                    </li>

                    <li data-ng-repeat="schoolclass in schoolclasses">
                        <a href="#!/schoolclasses/{{schoolclass._id}}/teach" class="font-m">{{schoolclass.name}}</a>
                    </li>

                </ul>
            </li>


            <li ui-route="/courses" ng-class="{active: $uiRoute}" class="dropdown">
                <a href="#" class="dropdown-toggle font-m" data-toggle="dropdown">
                    Courses <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/courses/create" class="font-m">Create</a>
                    </li>
                    <li data-ng-if="authentication.user.roles.indexOf('upload-course') > -1">
                        <a href="/#!/courses/upload" class="font-m">Upload</a>
                    </li>
                    <li>
                        <a href="/#!/courses" class="font-m">Manage</a>
                    </li>

                    <li>
                        <a href="/#!/courses/search" class="font-m">Search</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/#!/schools/subscribe/student" class="font-m">School Subscriptions</a>
                    </li>
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                    <!--<a href="/#!/courses-info">Info</a>-->
                    <!--</li>-->
                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle font-m" data-toggle="dropdown">
                    {{authentication.user.displayName}} <b class="caret"></b>
                </a>


                <ul class="dropdown-menu">
                    <li data-ng-controller="HomePageController">
                        <a href="" data-ng-click="settingsPopup()" class="font-m">Edit Profile</a>
                    </li>

                    <li data-ng-if="authentication.user.roles.indexOf('help') > -1">
                        <a href="" data-ng-click="toggleHelp()" class="font-m">Turn Off Help</a>
                    </li>

                    <li data-ng-if="authentication.user.roles.indexOf('help') === -1">
                        <a href="" data-ng-click="toggleHelp()" class="font-m">Turn On Help</a>
                    </li>

                   <li data-ng-controller="HomePageController" data-ng-show="authentication.user.provider === 'local'">
                        <a href="" data-ng-click="passwordPopup()" class="font-m">Change Password</a>
                    </li>


                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout" class="font-m">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>