<div class="container" data-ng-controller="HeaderController">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/#!/" class="navbar-brand">sparesys</a>
    </div>
    <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
        <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
            <li data-ng-repeat="item in menu.items" data-ng-if="item.shouldRender(authentication.user);"
                ui-route="{{item.uiRoute}}" ng-class="{active: $uiRoute}">
                <a href="/#!/{{item.link}}">{{item.title}}</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-hide="authentication.user">
            <li ui-route="/signup" ng-class="{active: $uiRoute}">
                <a id="signup-link" href="/#!/signup">Signup</a>
            </li>
            <li class="divider-vertical"></li>
            <li ui-route="/signin" ng-class="{active: $uiRoute}">
                <a id="signin-link" href="/#!/signin">Signin</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">


            <li ui-route="/users" ng-class="{active: $uiRoute}" class="dropdown"
                data-ng-show="authentication.user.roles.indexOf('admin') > -1">
                <a href="#" class="dropdown-toggle" id="admin-dropdown-toggle" data-toggle="dropdown">
                    Administration <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <!--<li>-->
                    <!--<a href="/#!/courses">Find</a>-->
                    <!--</li>-->
                    <li>
                        <a id="user-admin-link" href="/#!/users">Users</a>
                    </li>
                    <li>
                        <a href="/#!/schools/admin">Schools</a>
                    </li>
                    <li>
                        <a id="courses-admin-link" href="/#!/courses/admin">Courses</a>
                    </li>
                    <li>
                        <a href="/#!/packs/admin">Packs</a>
                    </li>
                    <li>
                        <a href="/#!/cards/admin">Cards</a>
                    </li>
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                    <!--<a href="/#!/courses-info">Info</a>-->
                    <!--</li>-->
                </ul>
            </li>

            <li ui-route="/users" ng-class="{active: $uiRoute}" class="dropdown"
                data-ng-show="authentication.user.roles.indexOf('headmaster') > -1 ">
                <a href="#" class="dropdown-toggle" id="headmaster-dropdown-toggle" data-toggle="dropdown">
                    Teaching <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" data-ng-show="authentication.user.roles.indexOf('headmaster') > -1">
                    <!--<li>-->
                    <!--<a href="/#!/courses">Find</a>-->
                    <!--</li>-->
                    <li>
                        <a href="/#!/schools/register">Register School</a>
                    </li>
                    <li>
                        <a href="/#!/schools">Manage Schools</a>
                    </li>
                </ul>

            </li>



            <li ui-route="/courses" ng-class="{active: $uiRoute}" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Courses <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/courses">Manage</a>
                    </li>
                    <li>
                        <a href="/#!/courses/create">Create</a>
                    </li>
                    <li>
                        <a href="/#!/courses/search">Search</a>
                    </li>
                    <!--<li class="divider"></li>-->
                    <!--<li>-->
                    <!--<a href="/#!/courses-info">Info</a>-->
                    <!--</li>-->
                </ul>
            </li>


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{authentication.user.displayName}} <b class="caret"></b>
                </a>


                <ul class="dropdown-menu">
                    <li>
                        <a href="/#!/settings/profile">Edit Profile</a>
                    </li>
                    <li>
                        <a href="/#!/settings/accounts">Manage Social Accounts</a>
                    </li>
                    <li data-ng-show="authentication.user.provider === 'local'">
                        <a href="/#!/settings/password">Change Password</a>
                    </li>


                    <li class="divider"></li>
                    <li>
                        <a href="/auth/signout">Signout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>