<section data-ng-controller="AuthenticationController">


    <div ng-include="'/modules/users/views/partial/signin.client.view.html'"></div>
    <!--<div ng-include="'/modules/users/views/partial/signup.client.view.html'"></div>-->

    <!--<div data-ng-if="authentication.user" ng-include="'/modules/core/views/partial/home-logged-in.client.view.html'"></div>-->
        <!--<div data-ng-if="!authentication.user" ng-include="'/modules/core/views/partial/home-logged-out.client.view.html'"></div>-->
        <div class="rememberators-footer col-xs-12">

            rememberators.com
        </div>

</section>
