<section data-ng-controller="PracticeController" data-ng-init="init()" data-ng-keypress="key(event)">


    <div class="sparesys-header">

        <div class="sparesys-title">
            {{course.name}}
        </div>


        <table>
            <tr>
                <td class="right-padded">Cards</td>
                <td class="right-padded">:</td>
                <td>
                    {{cards.length}}
                </td>
            </tr>

            <tr>
                <td class="right-padded nobreak-label">In Play</td>
                <td class="right-padded">:</td>
                <td class="right-padded">
                    {{inPlay}}
                </td>
            </tr>
            <tr>
                <td class="right-padded">Score</td>
                <td class="right-padded">:</td>
                <td class="right-padded">{{score}}</td>
                <td class="right-padded expands right-aligned">Card Score:</td>
                <td>{{cardScore}}%</td>
            </tr>

        </table>
    </div>


    <div data-ng-if="cards.length > 0">
        <div data-ng-if="validation === 'self'">
            <div class="flashcard">


                <h2 data-ng-if="slides.length === 0">{{card.question}}</h2>

                <div data-ng-if="slides.length > 0">
                    <table>
                        <tr>
                            <td width="50%"></td>
                            <td>
                                <imagecarousel slides="slides" size="256"/>
                            </td>
                            <td width="50%"></td>
                        </tr>
                    </table>


                </div>

                <span data-ng-init="playSound(card.question)" data-ng-if="state == 'question'"></span>


                <div style="height: 100px">
            <span>
                <h3>
                    <span data-ng-if="state == 'answer'">
                        <span>{{card.answer}}</span>
                    </span>
                </h3>

            </span>

                </div>


            </div>

            <div style="text-align: center">
                <div data-ng-show="state == 'answer'">
                    <button class="btn btn-rememberators btn-small" data-ng-click="processCard(0)">0</button>
                    <button class="btn btn-rememberators btn-small" data-ng-click="processCard(1)">1</button>
                    <button class="btn btn-rememberators btn-small" data-ng-click="processCard(2)">2</button>
                    <button class="btn btn-rememberators btn-small" data-ng-click="processCard(3)">3</button>
                    <div style="color: #999999">rate yourself</div>
                    <div style="color: #999999">0=never heard, 1=not quite remembered, 2=remembered with difficulty,
                        3=easy!
                    </div>
                </div>

                <div data-ng-show="state == 'question'">
                    <button class="btn btn-rememberators" data-ng-click="showAnswer()">Enter</button>
                </div>
            </div>
        </div>

        <div data-ng-if="validation === 'checked'">
            <div class="flashcard" style="height:320px">

                <h2>{{card.question}}</h2>

                <span data-ng-init="playSound(card.question)" data-ng-if="state == 'question'"></span>

                <div data-ng-if="state == 'question'" class="form-group">
                    <input type="text" required id="answer" name="answer"
                           class="answer form-control"
                           data-ng-model="answer.text" data-ng-init="setFocus()"
                           data-ng-keypress="key($event)">

                    <!--<div style="padding-top: 10px">-->
                    <!--<button data-ng-click="submitAnswer()" class="btn btn-large btn-primary">submit</button>-->
                    <!--</div>-->
                </div>


                <div data-ng-if="state == 'answer'">
                    <h3>
                    <span>
                        your answer: {{answer.text}}
                    </span>
                    </h3>

                    <h3>
                    <span data-ng-if="lastRating === 3" style="color: darkgreen">
                        correct
                    </span>

                        <span data-ng-if="lastRating === 2" style="color: #aaaa38">
                        correct answer: {{card.answer}}
                    </span>

                        <span data-ng-if="lastRating === 1" style="color: orange">
                        correct answer: {{card.answer}}
                    </span>

                    <span data-ng-if="lastRating === 0" style="color: red">
                        correct answer: {{card.answer}}
                    </span>
                    </h3>


                </div>
            </div>

            <div style="text-align: center" class="form-group">
                <div data-ng-if="state == 'question'" style="padding-top: 10px">
                    <button data-ng-click="submitAnswer()">submit</button>
                </div>
                <button data-ng-if="state == 'answer'" data-ng-click="nextCard()">
                    next
                </button>
            </div>

        </div>
    </div>


    <div data-ng-if="authorization.user.roles.indexOf('debug-viewer') !== -1">
        <div>max hrt: {{getMaxHrt()}}</div>
        <div>hrt: {{card.hrt/60000}}</div>
        <div>history: {{card.history}}</div>

    </div>

    <!--<table class="table-striped" style="width: 100%">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th class="sparesys-view-courses-description-column">Card</th>-->
    <!--<th class="sparesys-view-courses-course-column">PR</th>-->
    <!--<th class="sparesys-view-courses-course-column">HRT</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr data-ng-repeat="k in keys">-->

    <!--<td class="sparesys-view-courses-name-cell">-->

    <!--{{k}}-->
    <!--</td>-->
    <!--<td class="sparesys-view-courses-course-column">{{analysis[k].pr}}</td>-->
    <!--<td class="sparesys-view-courses-course-column" style="white-space: nowrap">{{analysis[k].hrt}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->
    <!--<button data-ng-click="clearHistory(c)">Clear Card History</button>-->
    <!--<button data-ng-click="clearCourseHistory()">Clear Course History</button>-->


    <div data-ng-if="cards.length === 0">
        There are no cards in this course.
    </div>
</section>
