
@font-face { font-family: 'Grinched';
    src: url('grinched.eot');
    src: url('grinched.eot?#iefix') format('embedded-opentype'),
    url('grinched.svg#Grinched') format('svg'),
    url('grinched.woff') format('woff'),
    url('Grinched.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.content-header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: #eaeaea solid 1px;
}

.content-section {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: #eaeaea solid 1px;
    vertical-align: top;
}

.content-last-section {
    margin-bottom: 10px;
    padding-bottom: 5px;
    vertical-align: top;
}


.content-header .title {
    font-size: x-large;
    font-weight: bold;
}

.menu-link {
    padding-left: 20px;
    color: #00008b;
    font-family:'Grinched';
    font-size: 14pt;
}


/*From bootstrap*/
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control[disabled],
.form-control[readonly],

.right-padded {
    padding-right: 10px;
}

.left-padded {
    padding-left: 10px;
}

.top-padded {
    padding-top: 3px;
}

.pull-right {
    float: right !important;
}

.expands {
    width: 100%;
}

.text-error {
    color: #AA0000;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.right-aligned {
    width: 100%;
    text-align: right
}
.size-64 {
    height: 64px
}
