@dark-stripes: #FEE67A;
@background-color: #FFF9DE;
@inverse-background-color: #030698;
@light-inverse-background-color: #4E51E5;
@inverse-font-color: #d0d8dd;
@inverse-font-color-darker: darken(#d0d8dd,5%);
@inverse-font-color-lighter: lighten(#d0d8dd,5%);
@background-color-contrast: #ECECFF;
@background-color-contrast-darker: darken(#ECECFF, 2%);
@foreground-color: #333333;
@warning-color: #E95610;


.card-border-top {
  border-top: @background-color solid 2px;
}

.standard-dropdown-width {
  min-width: 120px;
}


.default-border-bottom {
  border-bottom: #dadada double 3px;
}

.standard-min-height {
  min-height:200px;
}



.default-border {
  border: #eaeaea solid 1px;
  background-color: @background-color-contrast;



  background: @background-color-contrast url('/modules/core/img/brand/bg.png') left top repeat; /* ie fallback */
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@background-color-contrast), to(@background-color-contrast-darker));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@background-color-contrast, @background-color-contrast-darker);


}

.warning {
  font-weight: bold;
  color: @warning-color;
}


body {
  background: @background-color;
  background-image: url('/modules/core/img/brand/bg.png');
  font-family: @standard-font;
  font-size: @standard-font-size;
  color: @foreground-color;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}



.content {
  margin-top: 50px;
}


.header {
  margin-bottom: 10px;
  padding-bottom: 5px;
  .default-border-bottom;
}
.popup-header {
  .header;
  .title {
    font-size: x-large;
    font-weight: bold;
  }
}
.content-header {
  .header;
  .title {
    font-size: x-large;
    font-weight: bold;
    color: #2A591A;
  }
  .info {
    color: #2A591A;
  }
}


.content-section {
  margin-bottom: 10px;
  padding-bottom: 15px;
  .default-border-bottom;
  vertical-align: top;
}

.navbar-header, .nav, .collapse, .navbar-collapse, .navbar-inverse {
//  background-color: @inverse-background-color;
  background: @inverse-background-color url('/modules/core/img/brand/bg.png') left top repeat; /* ie fallback */
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@inverse-background-color), to(@light-inverse-background-color));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@inverse-background-color, @light-inverse-background-color);


//  background-image: url('/modules/core/img/brand/bg.png'), linear-gradient(to bottom, @inverse-background-color 0%, @light-inverse-background-color 100%);
}

.navbar-inverse .navbar-brand {
  color: @inverse-font-color;
}

.navbar-inverse .navbar-nav > li > a {
  color: @inverse-font-color;
}

.flashcard {
  .bottom-margin-xl;
  position: relative;
  background-color: @background-color-contrast;
  border-radius: 12px;
  text-align: center;
  box-shadow: 5px 5px 5px #CCC;
  min-height: 360px;

  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@background-color-contrast), to(@background-color-contrast));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@background-color-contrast, @background-color-contrast);

  .question {
    font-size: xx-large;
    padding-top: 3em;
  }
}

.new-card {
  position: absolute;
  right: 5px;
  top: 10px;
}

//alignment
.center-aligned {
  text-align: center
}

.left-aligned {
  text-align: left
}

.right-aligned {
  text-align: right
}

.top-aligned {
  vertical-align: top;
}

.middle-aligned {
  vertical-align: middle;
}

.nowrap {
  white-space: nowrap;
}

.expands {
  width: 100%;
}

// paddings
@default-padding-unit: 5px;
.right-padded-s {
  padding-right: @default-padding-unit;
}

.right-padded-sm {
  padding-right: @default-padding-unit * 2;
}

.right-padded-m {
  padding-right: @default-padding-unit * 3;
}

.right-padded-l {
  padding-right: @default-padding-unit * 5;
}
.right-padded-xl {
  padding-right: @default-padding-unit * 10;
}

.left-padded-s {
  padding-left: @default-padding-unit;
}

.left-padded-m {
  padding-left: @default-padding-unit * 3;
}

.left-padded-sm {
  padding-left: @default-padding-unit * 2;
}

.top-padded-s {
  padding-top: @default-padding-unit;
}

.top-padded-sm {
  padding-top: @default-padding-unit * 2;
}

.top-padded-m {
  padding-top: @default-padding-unit * 3;
}

.bottom-padded-m {
  padding-bottom: @default-padding-unit * 3;
}

.top-padded-l {
  padding-top: @default-padding-unit * 10;
}

// margins
.top-margin-l {
  margin-top: @default-padding-unit * 3;
}

.top-margin-s {
  margin-top: @default-padding-unit;
}



.box-margin-s {
  width: 98%;
  margin: 0 1% 0.5em 1%;
}

.bottom-margin-xl {
  margin-bottom: 20px;
}

.infobox-title {
  font-size: x-large;
  font-weight: bold;
}
.btn-std-width {
  min-width: 100px;
}

.text-min-width {
  min-width: 160px;
}
// Image sizes
.small-image {
  height: 84px
}

.tiny-image {
  height: 64px
}

.large-image {

  @media screen {
    @media (min-width: 310px) {
      height: 150px;
    }
    @media (min-width: 620px) {
      height: 200px;
    }
    @media (min-width: 800px) {
      height: 250px;
    }
  }
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.navbar-brand {
  padding-top: 0.6em;
}
//Fonts
@standard-font: 'Exo+2', sans-serif;

.header-font {
  font-family: 'Grinched';
}

@standard-font-size: 11pt;

.menu-link {
  padding-left: 20px;
  color: @light-inverse-background-color;
  .font-m;
  text-decoration: none;
}

.menu-link:hover {
  padding-left: 20px;
  color: @inverse-background-color;
  .font-m;
  text-decoration: none;
}

@font-face {
  font-family: 'Grinched';
  src: url('grinched.eot');
  src: url('grinched.eot?#iefix') format('embedded-opentype'),
  url('grinched.svg#Grinched') format('svg'),
  url('grinched.woff') format('woff'),
  url('Grinched.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-xxl {

  .header-font;

  @media screen {
    @media (min-width: 310px) {
      font-size: 24pt;
    }
    @media (min-width: 620px) {
      font-size: 36pt;
    }
    @media (min-width: 800px) {
      font-size: 64pt;
    }
  }
}

.font-xl {

  .header-font;

  @media screen {
    @media (min-width: 310px) {
      font-size: 18pt;
    }
    @media (min-width: 620px) {
      font-size: 24pt;
    }
    @media (min-width: 800px) {
      font-size: 36pt;
    }
  }
}

.font-l {
  .header-font;
  font-size: 24pt;
}

.font-m {
  .header-font;
  font-size: 16pt;
}

// modals
.modal-content {

  background-color: @background-color;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #333;
}

// buttons

.btn-success, .btn-success:hover {
  background-color: #4DB22B;
  background-image: linear-gradient(to bottom, #48982C 0%, #4DB22B 100%);
  border-color: #4DB22B;
}


.btn-rememberators {
  background-color: #4E51E5;
  background-image: linear-gradient(to bottom, #4E51E5 0%, #030698 100%);
  border-color: #4E51E5;
  color: #ECECFF;
  font-weight: bold;
  min-width: 100px;
}
.btn-rememberators:hover,
.btn-rememberators:focus,
.btn-rememberators:active,
.btn-rememberators.active {
  background-image: none;
  background-color: #4E51E5;
  color: #ECECFF;
}

.table-striped {
  width: 100%;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {


  background: @inverse-font-color url('/modules/core/img/brand/bg-noise.png') left top repeat; /* ie fallback */
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@inverse-font-color), to(@inverse-font-color-lighter));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@inverse-font-color, @inverse-font-color-lighter);



}

.search {
  background:white url('../img/brand/search.png') left center no-repeat;
  padding-left: 30px;
  width: 300px;
}

.half-screen {
  width: 50%;
}

.rememberators-tabs {
  .nav {
    background-color: @background-color;

    background-image: url('/modules/core/img/brand/bg.png');
  }
}

.image-128 {
  max-width: 128px;
  max-height: 128px;
}

.image-192 {
  max-width: 220px;
  max-height: 220px;
}

.searchimage {
  text-align:center;
  width:33%;
  max-width: 33%;
  min-width: 33%;
  padding: 3px 3px 24px 3px;
  border: 1px solid #666666
}

.remove-icon {
  color:#E99267;
}

a {
  color: @light-inverse-background-color;
}

@-webkit-keyframes clickme {
  0% {
    color: @light-inverse-background-color;
    text-shadow: none;
  }
  50% {
    color: @warning-color;
    text-shadow: 0 3px 6px @dark-stripes;
  }
  100% {
    color: @light-inverse-background-color;
    text-shadow: none;
  }
}

.flashing {

  -webkit-animation: clickme 10s linear;
//  animation-name: wiggle;
//  animation-duration: 0.1s;
  -webkit-animation-iteration-count: 10;
//  animation-timing-function: linear;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {

  background: @inverse-font-color-darker url('/modules/core/img/brand/bg-noise.png') left top repeat;
  border: none;
}

.nav-tabs {
  border-bottom: none;
}

.tab-header {
  min-height: 2.5em;
  border: none;
  .left-padded-sm;
  .top-padded-s;
  background-color: @inverse-font-color;
  font-weight: bolder;


  background: @inverse-font-color url('/modules/core/img/brand/bg-noise.png') left top repeat; /* ie fallback */
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@inverse-font-color), to(@background-color-contrast));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@inverse-font-color, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@inverse-font-color, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@inverse-font-color, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@inverse-font-color, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@inverse-font-color, @background-color-contrast);


}

.box {
  -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
  animation: myfirst 5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  0%   {background: red;}
  25%  {background: yellow;}
  50%  {background: blue;}
  100% {background: green;}
}

.correct-answer {
  color:#4DB22B;
  font-size: x-large;
}

.incorrect-answer {
  color:#E99267;;
  font-size: x-large;
}

.edit-card {
  position: absolute;
  top: 10px;
  left: 10px;
}

//
//.box-show-setup, .box-hide-setup {
//  -webkit-transition:all linear 0.3s;
//  -moz-transition:all linear 0.3s;
//  -ms-transition:all linear 0.3s;
//  -o-transition:all linear 0.3s;
//  transition:all linear 0.3s;
//}
//
//.box-show-setup { opacity:0; height: 0; }
//.box-show-setup.box-show-start { opacity:1; height: 100px; }
//
//.box-hide-setup { opacity:1; height: 0; }
//.box-hide-setup.box-hide-start { opacity:0; height: 100px; }
