@font-face {
    font-family: 'Grinched';
    src: url('grinched.eot');
    src: url('grinched.eot?#iefix') format('embedded-opentype'),
    url('grinched.svg#Grinched') format('svg'),
    url('grinched.woff') format('woff'),
    url('Grinched.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.content-header {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: #eaeaea solid 1px;
}

.content-section {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: #eaeaea solid 1px;
    vertical-align: top;
}


.content-subsection {
    margin-bottom: 8px;
    padding-bottom: 4px;
    vertical-align: top;
}


.content-last-section {
    margin-bottom: 10px;
    padding-bottom: 5px;
    vertical-align: top;
}

.content-header .title {
    font-size: x-large;
    font-weight: bold;
}

.content-section .title {
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
}

.menu-link {
    padding-left: 20px;
    color: #1858B2;
    font-family: 'Grinched';
    font-size: 14pt;
    text-decoration: none;
}

/*From bootstrap*/
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #999;
}

.form-control::-webkit-input-placeholder {
    color: #999;
}

.form-control[disabled],
.form-control[readonly],
.right-padded {
    padding-right: 10px;
}

.left-padded {
    padding-left: 10px;
}

.top-padded {
    padding-top: 3px;
}

.pull-right {
    float: right !important;
}

.expands {
    width: 100%;
}

.form-control {
    margin-bottom: 3px;
}

.btn-primary {
    min-width: 100px;
}

.modal-message {
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;
    text-align: center
}

.bottom-spacer {
    margin-bottom: 3px;
}

.table-striped {
    width: 1000%;
    /*margin-top: 20px;*/
    /*margin-bottom: 20px;*/
}

.nobreak-label {
    white-space: nowrap;
}

.right-aligned {
    text-align: right;
}

.warning {
    font-weight: bold;
    color: #CC3333;
    /*background-color: red;*/
}

.top-aligned {
    vertical-align: top;
}

.center-aligned {
    text-align: center
}

.text-error {
    color: #AA0000;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.right-aligned {
    width: 100%;
    text-align: right
}

.size-64 {
    height: 64px
}

.font-l {
    font-family: 'Grinched';
    font-size: 24pt;
}

.hero-boy:after, .hero-girl:after, .guru:after, .philosopher:after, .teacher-man:after, .teacher-woman:after {
    display: block;
    text-align: center;
}

.hero-girl:after {
    display: block;
    text-align: center;
}

@media screen and (min-width: 310px) {

    .font-xxl {
        font-family: 'Grinched';
        font-size: 24pt;
    }

    .font-xl {
        font-family: 'Grinched';
        font-size: 18pt;
    }

    .hero-boy:after {
        content: url("../img/brand/superhero-boy-small.gif");
    }

    .hero-girl:after {
        content: url("../img/brand/superhero-girl-small.gif");
    }

    .teacher-man:after {
        content: url("../img/brand/teacher-man-small.gif");
    }

    .teacher-woman:after {
        content: url("../img/brand/teacher-woman-small.gif");
    }

    .guru:after {
        content: url("../img/brand/guru-small.gif");
    }

    .philosopher:after {
        content: url("../img/brand/philosopher-small.gif");
    }
}

@media screen and (min-width: 620px) {

    .font-xxl {
        font-family: 'Grinched';
        font-size: 36pt;
    }

    .font-xl {
        font-family: 'Grinched';
        font-size: 24pt;
    }

    .hero-boy:after {
        content: url("../img/brand/superhero-boy-medium.gif");
    }

    .hero-girl:after {
        content: url("../img/brand/superhero-girl-medium.gif");
    }

    .teacher-man:after {
        content: url("../img/brand/teacher-man-medium.gif");
    }

    .teacher-woman:after {
        content: url("../img/brand/teacher-woman-medium.gif");
    }

    .guru:after {
        content: url("../img/brand/guru-medium.gif");
    }

    .philosopher:after {
        content: url("../img/brand/philosopher-medium.gif");
    }
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

@media screen and (min-width: 800px) {

    .font-xxl {
        font-family: 'Grinched';
        font-size: 64pt;
    }

    .font-xl {
        font-family: 'Grinched';
        font-size: 36pt;
    }

    .hero-boy:after {
        content: url("../img/brand/superhero-boy-medium.gif");
    }
}


.flashcard {
    padding: 30px;
    margin-bottom: 30px;
    color: inherit;
    /*background-color: #26b3f7;*/
    background-color: #ECECFF;
    border-radius: 12px;
    text-align: center;
    box-shadow: 5px 5px 5px #CCC;
    min-height: 320px;
}

a.gallerypic{
    width:140px;
    text-decoration:none;
    position:relative;
    display:block;
    /*border:1px solid #666;*/
    padding:3px;
    margin-right:5px;
    /*float:left;*/
}

a.gallerypic span.zoom-icon{
    visibility:hidden;
    position:absolute;
    right:0;
    top:0;
    color: green;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

a.gallerypic:hover span.zoom-icon{
    visibility:visible;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #FEE67A;
}

.btn-success, .btn-success:hover {
    background-color: #4DB22B;
    background-image: linear-gradient(to bottom, #48982C 0%, #4DB22B 100%);
    border-color: #4DB22B;

    /*background-color: #4DB22B;*/
}
