@background-color: #FFF9DE;
@inverse-background-color: #030698;
@background-color-contrast: #ECECFF;
@foreground-color: #333333;
@light-inverse-background-color: #4E51E5;
@inverse-font-color: #d0d8dd;

@default-padding-unit: 5px;

@seperator: 4px double @inverse-font-color;

@base-green: #4DB22B;

.Greens .q0-11 {
  fill: lighten(@base-green, 50%)
}

.Greens .q1-11 {
  fill: lighten(@base-green, 40%)
}

.Greens .q2-11 {
  fill: lighten(@base-green, 30%)
}

.Greens .q3-11 {
  fill: lighten(@base-green, 20%)
}

.Greens .q4-11 {
  fill: lighten(@base-green, 10%)
}

.Greens .q5-11 {
  fill: lighten(@base-green, 0%)
}

.Greens .q6-11 {
  fill: darken(@base-green, 10%)
}

.Greens .q7-11 {
  fill: darken(@base-green, 20%)
}

.Greens .q8-11 {
  fill: darken(@base-green, 30%)
}

.Greens .q9-11 {
  fill: darken(@base-green, 40%)
}

.Greens .q10-11 {
  fill: darken(@base-green, 50%)
}


.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  @media (max-width: 768px) {
    color: @inverse-font-color;
  }

}

.dashboard-section {
  .texture-light;
  overflow: scroll;
  border: 1px solid @inverse-font-color;
  box-shadow: 5px 5px 5px #CCC;
  border-radius: 12px;
  background-color: @background-color-contrast;

  //height:100%;
  @media screen {
    @media (min-width: 310px) {
      padding: 5px;
      margin-top: 5px;
    }
    @media (min-width: 620px) {
      padding: 10px;
      margin-top: 10px;
    }
    @media (min-width: 800px) {
      padding: 20px;
      margin-top: 20px;
      min-height: 520px;
    }

  }
}

.dashboard-section-xs {
  .texture-light;
  overflow: scroll;
  border: 1px solid @inverse-font-color;
  box-shadow: 5px 5px 5px #CCC;
  border-radius: 12px;
  background-color: @background-color-contrast;



  @media screen {
    @media (min-width: 310px) {
      padding: 5px;
      margin-top: 5px;
    }
    @media (min-width: 620px) {
      padding: 10px;
      margin-top: 10px;
    }
    @media (min-width: 800px) {
      padding: 20px;
      margin-top: 20px;
    }

  }

}




.rememberators-header {
  //height: 100px;
}

body {
  background: @background-color;
  background-image: url('/modules/core/img/brand/bg.png');
  font-family: @standard-font;

  color: @foreground-color;
  padding-top: 20px;

}

// Fonts
@standard-font: 'Exo+2', sans-serif;
@standard-font-size: 12pt;

.font-large {
  @media (min-width: 310px) {
    font-size: 14px;
  }
  @media (min-width: 620px) {
    font-size: 17px;
  }
  @media (min-width: 800px) {
    font-size: 20px;
  }
}

.font-medium {
  @media (min-width: 310px) {
    font-size: 12px;
  }
  @media (min-width: 620px) {
    font-size: 14px;
  }
  @media (min-width: 800px) {
    font-size: 16px;
  }
}

@font-face {
  font-family: 'Grinched';
  src: url('grinched.eot');
  src: url('grinched.eot?#iefix') format('embedded-opentype'),
  url('grinched.svg#Grinched') format('svg'),
  url('grinched.woff') format('woff'),
  url('Grinched.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-xxl {
  font-family: 'Grinched';

  @media screen {
    @media (min-width: 310px) {
      font-size: 36pt;
    }
    @media (min-width: 620px) {
      font-size: 48pt;
    }
    @media (min-width: 800px) {
      font-size: 64pt;
    }
  }
}

.rememberators-menu {
  @media (min-width: 310px) {
    padding-top: 4px;
    padding-right: 8px;
  }
  @media (min-width: 620px) {
    padding-top: 8px;
    padding-right: 12px;
  }
  @media (min-width: 800px) {
    padding-top: 12px;
    padding-right: 20px;
  }

}

.rememberators-logo {
  @media (min-width: 310px) {
    padding-top: 8px;
    padding-left: 8px;
  }
  @media (min-width: 620px) {
    padding-top: 12px;
    padding-left: 12px;
  }
  @media (min-width: 800px) {
    padding-top: 20px;
    padding-left: 20px;
  }

}

.font-xl {
  font-family: 'Grinched';

  @media screen {
    @media (min-width: 310px) {
      font-size: 18pt;
    }
    @media (min-width: 620px) {
      font-size: 24pt;
    }
    @media (min-width: 800px) {
      font-size: 36pt;
    }

  }
}

.font-l {
  @media (min-width: 310px) {
    font-size: 24pt;
  }
  @media (min-width: 620px) {
    font-size: 30pt;
  }
  @media (min-width: 800px) {
    font-size: 36pt;
  }
  font-family: 'Grinched';

}

.font-m {
  font-family: 'Grinched';
  font-size: 24px;
}

.font-s {
  @media (min-width: 310px) {
    font-size: 12pt;
  }
  @media (min-width: 620px) {
    font-size: 15pt;
  }
  @media (min-width: 800px) {
    font-size: 18pt;
  }
  font-family: 'Grinched';

}

//images
.image-192 {
  max-width: 220px;
  max-height: 220px;
}

.small-image {
  @media (min-width: 310px) {
    height: 84px
  }
  @media (min-width: 620px) {
    height: 96px
  }
  @media (min-width: 800px) {
    height: 112px
  }

}

// Margins
.bottom-margin-xl {
  margin-bottom: 20px;
}

// Paddings
.top-padded-s {
  padding-top: @default-padding-unit;
}

.top-padded-m {
  padding-top: 2 * @default-padding-unit;
}

.content {
  margin-top: 60px;

}

.container {
  width: 100%;
}

.soundicon {
  font-size: x-small;
  //padding-right: -1.5em;
  position: relative;
  top:-2em;
  left:-0.5em;
  //background-color: red;
}

//@media (min-width: 768px) {
//  .container {
//    max-width: 730px;
//  }
//}


.flashcard {


  border: 1px solid @inverse-font-color;
  .bottom-margin-xl;
  .texture-light;

  position: relative;
  background-color: @background-color-contrast;
  border-radius: 12px;
  text-align: center;
  box-shadow: 5px 5px 5px #CCC;


  padding-bottom: 2em;
  min-height: 30em;


  margin-top: 2*@default-padding-unit;

  .question-box {
    padding-top: 3em;

  }

  @media screen {
    @media (max-width: 990px) {
      min-height: 20em;
      margin-left: 5%;
      max-width: 90%;
    }
  }


}

.question {
  font-size: xx-large;
}

.answer {

  padding-top: 1em;
  font-size: x-large;

}



.flashcard-left {
  text-align: center;
  @media screen {
    @media (max-width: 990px) {
      display: none;
    }
    //@media (min-width: 620px) {
    //  display: inherit;
    //}
  }
}

.flashcard-right {
  text-align: center;
  @media screen {
    @media (max-width: 990px) {
      display: none;
    }
  }
}

.small-screen-practice {
  display: none!important;
  @media screen {
    @media (max-width: 768px) {
      display: block!important;
    }
  }
}

.flashcard-landing {
  text-align: center;
  .flashcard;
  @media screen {
    @media (min-width: 310px) {
      min-height: 350px;
      max-width: 500px;
    }
    @media (min-width: 620px) {
      min-height: 400px;
      max-width: 750px;
    }
    @media (min-width: 800px) {
      min-height: 450px;
      max-width: 800px;
    }

  }

}

.rememberators-footer {

  padding-left: 0;
  margin-top: 3*@default-padding-unit;
  padding-top: 3*@default-padding-unit;
  border-top: @seperator;
  margin-inside: @default-padding-unit;
  color: @foreground-color;
  .font-m;
  text-align: left;
}

//infobox
.infobox {
  @media screen {
    @media (min-width: 310px) {
      padding: 0;
      line-height: 24px;
    }
    @media (min-width: 620px) {
      padding: 0;
      line-height: 36px;
    }
    @media (min-width: 800px) {
      padding: @default-padding-unit;
      line-height: 48px;
    }

  }

}

.infobox-image {
  padding-right: 6*@default-padding-unit;
  padding-bottom: 6*@default-padding-unit;
  padding-top: 6*@default-padding-unit;
  padding-left: 6*@default-padding-unit;
}

.infobox-title, .title {

  @media screen {
    @media (min-width: 310px) {
      font-size: 24px;
    }
    @media (min-width: 620px) {
      font-size: 32px;
    }
    @media (min-width: 800px) {
      font-size: 36px;
    }

  }
  font-weight: bold;
  padding-top: @default-padding-unit;
  padding-bottom: 1*@default-padding-unit;
}

.subtitle {

  @media screen {
    @media (min-width: 310px) {
      font-size: 18px;
    }
    @media (min-width: 620px) {
      font-size: 24px;
    }
    @media (min-width: 800px) {
      font-size: 30px;
    }

  }
  font-weight: bold;
  padding-top: @default-padding-unit;
  padding-bottom: 1*@default-padding-unit;
}

.inverse-font-color {
  color: @inverse-font-color;
}

.inverse-font-color:hover {
  color: white;
}

//buttons
.btn-rememberators {
  min-width: 100px;
  background-color: #4E51E5;
  background-image: linear-gradient(to bottom, #4E51E5 0%, #030698 100%);
  border-color: #4E51E5;
  color: #ECECFF;
  font-weight: bold;
}

.btn-small {
  min-width: 75px;
}

.btn-rememberators:hover,
.btn-rememberators:focus,
.btn-rememberators:active,
.btn-rememberators.active {
  background-image: none;
  background-color: #4E51E5;
  color: #ECECFF;
}

.btn-course:hover,
.btn-course:focus,
.btn-course:active,
.btn-course.active {
  background-image: none;
  background-color: #4E51E5;
  color: #ECECFF;
}

.edit-card:hover,
.edit-card:focus,
.edit-card:active,
.edit-card.active {
  background-image: none;
  background-color: #4E51E5;
  color: #ECECFF;
  text-decoration: none;
}

.answer-counts:hover,
.answer-counts:focus,
.answer-counts:active,
.answer-counts.active {
  background-image: none;
  background-color: #4E51E5;
  color: #ECECFF;
  text-decoration: none;
}

.signup-button {
  .btn-rememberators;
  .font-xl;
  border-radius: 12px;
  border: 1px solid transparent;
  background-image: linear-gradient(to bottom, lighten(@base-green, 10%) 0%, darken(@base-green, 10%) 100%);
  padding: 4 * @default-padding-unit;
  margin: 4 * @default-padding-unit;
  text-align: center;
}

.signup-button:hover,
.signup-button:focus,
.signup-button:active,
.signup-button.active {
  background-image: linear-gradient(to bottom, @base-green 0%, darken(@base-green, 20%) 100%);
  color: #ECECFF;
}

.signup-button-row {
  text-align: center;
  padding-top: 8 * @default-padding-unit;
  padding-bottom: 8 * @default-padding-unit;
}

.btn-course {
  .btn-rememberators;
  //background-color: lighten(#4DB22B,15%);
  //border-color: lighten(#4DB22B,25%);

  //border-width: 3px;
  border-radius: 12px;
  //color: #030698;

  @media screen {
    @media (min-width: 310px) {
      height: 80px;
      width: 100px;
      margin: 4px;
    }
    @media (min-width: 620px) {
      height: 100px;
      width: 130px;
      margin: 8px;
      font-size: large;

    }
    @media (min-width: 800px) {
      height: 115px;
      width: 155px;
      margin: 12px;
      font-size: x-large;
    }

  }

  white-space: normal;

}
.btn-icon {
  .btn-rememberators;
  margin-inside: 0;
  border-radius: 12px;
  .font-m;
  //width: 1em;
  //height: 3em;
}

.modal-danger {
  .font-l;
  text-align: center;
  color: #D83B3B;
}

.practice-option {
  padding-bottom: 1em
}

//.btn-course-supervised {
//  .btn-course;
//  background-color: lighten(#4DB22B,15%);
//  border-color: #4DB22B;
//}

.rememberators-dropdown-menu {

  @media (min-width: 768px) {
    .texture-light;
    border-radius: 6px;
  }

}

.navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 6px;
}

// textures
.texture-light {
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@background-color-contrast), to(@background-color-contrast));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@background-color-contrast, @background-color-contrast);

}

.texture-dark {
  background: @inverse-background-color url('/modules/core/img/brand/bg.png') left top repeat; /* ie fallback */
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@inverse-background-color), to(@light-inverse-background-color));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@inverse-background-color, @light-inverse-background-color);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@inverse-background-color, @light-inverse-background-color);

}

// modals
.rememberators-modal {
  padding: 2*@default-padding-unit;
  background-color: @background-color;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #333;
}

.rememberators-modal-header {
  border-bottom: @seperator;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding-bottom: @default-padding-unit;
  margin-bottom: 2*@default-padding-unit;
}

.rememberators-modal-section {
  border-bottom: @seperator;
  padding-bottom: @default-padding-unit;
  margin-bottom: 2*@default-padding-unit;
}

.rememberators-modal-section-label {
  padding-top: 0.2em;
  padding-bottom: 0.8em;
}

.rememberators-modal-footer {
  text-align: center;
  border-top: @seperator;
  padding-top: 2*@default-padding-unit;
  margin-top: @default-padding-unit;
}

.rememberators-form-group {

  margin-top: 0;
  margin-bottom: @default-padding-unit;
}

.dashboard-col {

  margin-bottom: 1.5em;

  @media screen {
    @media (min-width: 310px) {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
    }
    @media (min-width: 620px) {
      margin-left: 0;
      margin-right: 0;
      //padding: 10px;
    }
    @media (min-width: 800px) {
      margin-left: 0;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 20px;
    }

  }
}


.rememberators-checkbox {
  margin-right: 0.5em;
  display: inline;

}

.standard-dropdown-width {
  min-width: 120px;
}

.dashboard-row {

  margin-top: 10px;

  @media screen {
    @media (min-width: 310px) {
      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
    @media (min-width: 620px) {
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
    @media (min-width: 800px) {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
    }

  }
}
.flashcard-top {
  height: 2em;
}
.flashcard-nw {
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}

.flashcard-ne {
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
}

.edit-card {
  .btn-rememberators;
  border-radius: 5px;
  padding: 5px;
  //position: absolute;
  //top: 10px;
  //left: 10px;
}

.answer-counts {
  .btn-rememberators;
  border-radius: 5px;
  padding: 5px;
}

.center-aligned {
  text-align: center;
}

.incorrect-answer {
  color: #E99267;;
  font-size: x-large;
}

.correct-answer {
  color: #4DB22B;
  font-size: x-large;
}

.btn-letter {
  .btn-rememberators;
  min-width: 0;
  width: 2em;
  height: 2em;
  padding: 0;
  margin-top: 1em;
  margin-right: 2px;
  margin-left: 2px;
}

//@dark-stripes: #FEE67A;
//
//
//@inverse-font-color-darker: darken(#d0d8dd,5%);
//@inverse-font-color-lighter: lighten(#d0d8dd,5%);
//
//@background-color-contrast-darker: darken(#ECECFF, 2%);
//@foreground-color: #333333;
@warning-color: darken(#11A028, 5%);
//@warning-color: #4DB22B;
//
//
.flashcard-input-box {
  color: #4E51E5;
}

.flashcard-input {
  //.center-aligned;
  //.large-font;

  outline-offset: 1px;
  outline: none;
  border: none;
  border-bottom: 2px solid darken(#d0d8dd, 25%);
  border-bottom: 2px solid lighten(#4E51E5, 25%);

  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-gradient(linear, 0 0, 0 bottom, from(@background-color-contrast), to(@background-color-contrast));
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -webkit-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -moz-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -ms-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  -o-linear-gradient(@background-color-contrast, @background-color-contrast);
  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
  linear-gradient(@background-color-contrast, @background-color-contrast);

}

.submit-buttons-section {
  text-align: center;
}

.new-card {
  .font-m;
  position: absolute;
  right: 15px;
  bottom: 10px;
  color: darken(@base-green, 10%);

  @media screen {
    @media (max-width: 990px) {
      display: none;
    }
  }

}

.large-screen-only {

  @media screen {
    @media (max-width: 1124px) {
      display: none;
    }
  }
}

.small-screen-only {

  @media screen {
    @media (min-width: 1124px) {
      display: none;
    }
  }
}

.tiny-image {
  height: 64px
}

.section-right {
  text-align: left;
  padding-top: 2em;
}

.section-right-first {
  padding-top: 0;

}

.warning {
  font-weight: bold;
  color: @warning-color;
}

.nolink  {
  cursor: text
}

a:hover {
  text-decoration: none;
}

.diagram {
  overflow: scroll;
  border: 1px solid @inverse-font-color;
}

a {
  color: #2C7DC3;
}
//
//.card-border-top {
//  border-top: @background-color solid 2px;
//}
//
//.standard-dropdown-width {
//  min-width: 120px;
//}
//
//
//.default-border-bottom {
//  border-bottom: #dadada double 3px;
//}
//
//.standard-min-height {
//  min-height:200px;
//}
//
//
//
//.default-border {
//  border: #eaeaea solid 1px;
//  background-color: @background-color-contrast;
//
//  min-height: 15em;
//
//
//  background: @background-color-contrast url('/modules/core/img/brand/bg.png') left top repeat; /* ie fallback */
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-gradient(linear, 0 0, 0 bottom, from(@background-color-contrast), to(@background-color-contrast-darker));
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -moz-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -ms-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -o-linear-gradient(@background-color-contrast, @background-color-contrast-darker);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  linear-gradient(@background-color-contrast, @background-color-contrast-darker);
//
//
//}
//
//
//





//
//
//.header {
//  margin-bottom: 10px;
//  padding-bottom: 5px;
//  .default-border-bottom;
//}
//
//.title {
//  font-size: x-large;
//  font-weight: bold;
//}
//
//
//.popup-header {
//  .header;
//  .title {
//    font-size: x-large;
//    font-weight: bold;
//  }
//}
//.content-header {
//  .header;
//  .title {
//    font-size: x-large;
//    font-weight: bold;
//    color: #2A591A;
//  }
//  .info {
//    color: #2A591A;
//  }
//}
//
//
//.content-section {
//  margin-bottom: 10px;
//  padding-bottom: 15px;
//  .default-border-bottom;
//  vertical-align: top;
//}
//
//.navbar-header, .nav, .collapse, .navbar-collapse, .navbar-inverse {
////  background-color: @inverse-background-color;
//  background: @inverse-background-color url('/modules/core/img/brand/bg.png') left top repeat; /* ie fallback */
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-gradient(linear, 0 0, 0 bottom, from(@inverse-background-color), to(@light-inverse-background-color));
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-linear-gradient(@inverse-background-color, @light-inverse-background-color);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -moz-linear-gradient(@inverse-background-color, @light-inverse-background-color);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -ms-linear-gradient(@inverse-background-color, @light-inverse-background-color);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -o-linear-gradient(@inverse-background-color, @light-inverse-background-color);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  linear-gradient(@inverse-background-color, @light-inverse-background-color);
//
//
////  background-image: url('/modules/core/img/brand/bg.png'), linear-gradient(to bottom, @inverse-background-color 0%, @light-inverse-background-color 100%);
//}
//
//.navbar-inverse .navbar-brand {
//  color: @inverse-font-color;
//}
//
//.navbar-inverse .navbar-nav > li > a {
//  color: @inverse-font-color;
//}
//

//.heart {
//   background-image: url('/modules/core/img/heart_icon_tiny.png');
//  font-weight: bold;
//
//}

//

//
////alignment
//.center-aligned {
//  text-align: center
//}
//
//.left-aligned {
//  text-align: left
//}
//
//.right-aligned {
//  text-align: right
//}
//
//.top-aligned {
//  vertical-align: top;
//}
//
//.middle-aligned {
//  vertical-align: middle;
//}
//
//.nowrap {
//  white-space: nowrap;
//}
//
//.expands {
//  width: 100%;
//}
//
//// paddings
//@default-padding-unit: 5px;
//.right-padded-s {
//  padding-right: @default-padding-unit;
//}
//
//.right-padded-sm {
//  padding-right: @default-padding-unit * 2;
//}
//
//.right-padded-m {
//  padding-right: @default-padding-unit * 3;
//}
//
//.right-padded-l {
//  padding-right: @default-padding-unit * 5;
//}
//.left-padded-l {
//  padding-left: @default-padding-unit * 5;
//}
//.right-padded-xl {
//  padding-right: @default-padding-unit * 10;
//}
//
//.left-padded-s {
//  padding-left: @default-padding-unit;
//}
//
//.left-padded-m {
//  padding-left: @default-padding-unit * 3;
//}
//
//.left-padded-sm {
//  padding-left: @default-padding-unit * 2;
//}
//
//.left-margin-m {
////  margin-left: @default-padding-unit * 3;
//  margin-left:100px
//}
//

//
//.top-padded-sm {
//  padding-top: @default-padding-unit * 2;
//}
//
//.top-padded-m {
//  padding-top: @default-padding-unit * 3;
//}
//
//.bottom-padded-m {
//  padding-bottom: @default-padding-unit * 3;
//}
//
//.top-padded-l {
//  padding-top: @default-padding-unit * 10;
//}
//
//// margins
//.top-margin-l {
//  margin-top: @default-padding-unit * 3;
//}
//
//.top-margin-s {
//  margin-top: @default-padding-unit;
//}
//
//
//
//.box-margin-s {
//  width: 98%;
//  margin: 0 1% 0.5em 1%;
//}
//

//
//.bottom-margin-m {
//  margin-bottom: 0.5em;
//}
//

//.btn-std-width {
//  min-width: 100px;
//}
//
//.image-muted {
//  opacity: 0.5;
//}
//.text-min-width {
//  min-width: 160px;
//}
//// Image sizes
//.small-image {
//  height: 84px
//}
//

//
//.large-image {
//
//  @media screen {
//    @media (min-width: 310px) {
//      height: 150px;
//    }
//    @media (min-width: 620px) {
//      height: 200px;
//    }
//    @media (min-width: 800px) {
//      height: 250px;
//    }
//  }
//}
//
//.nav, .pagination, .carousel, .panel-title a {
//  cursor: pointer;
//}
//
//.pointer {
//  cursor: pointer;
//}
//
//.navbar-brand {
//  padding-top: 0.6em;
//}
////Fonts
//@standard-font: 'Exo+2', sans-serif;
//
//.header-font {
//  font-family: 'Grinched';
//}
//
//@standard-font-size: 11pt;
//
//.menu-link {
//  padding-left: 20px;
//  color: @light-inverse-background-color;
//  .font-m;
//  text-decoration: none;
//}
//
//.menu-link:hover {
//  padding-left: 20px;
//  color: @inverse-background-color;
//  .font-m;
//  text-decoration: none;
//}
//

//
//.font-xxl {
//
//  .header-font;
//
//  @media screen {
//    @media (min-width: 310px) {
//      font-size: 24pt;
//    }
//    @media (min-width: 620px) {
//      font-size: 36pt;
//    }
//    @media (min-width: 800px) {
//      font-size: 64pt;
//    }
//  }
//}
//
//.font-xl {
//
//  .header-font;
//
//  @media screen {
//    @media (min-width: 310px) {
//      font-size: 18pt;
//    }
//    @media (min-width: 620px) {
//      font-size: 24pt;
//    }
//    @media (min-width: 800px) {
//      font-size: 36pt;
//    }
//  }
//}
//
//.font-l {
//  .header-font;
//  font-size: 24pt;
//}
//
//.font-m {
//  .header-font;
//  font-size: 16pt;
//}
//
//
//.large-font {
//  font-size: 16pt;
//}
//

// buttons
//
//.btn-success, .btn-success:hover {
//  background-color: #4DB22B;
//  background-image: linear-gradient(to bottom, #48982C 0%, #4DB22B 100%);
//  border-color: #4DB22B;
//}
//
//.btn-rememberators-small {
//  background-color: #4E51E5;
//  background-image: linear-gradient(to bottom, #4E51E5 0%, #030698 100%);
//  border-color: #4E51E5;
//  color: #ECECFF;
//  font-weight: bold;
//
//}
//

//
//
//
//

//
//.missing-image {
//  background-color: #d0d8dd;
//
//  border-width: 3px;
//  border-radius: 12px;
//  color: #030698;
//}
//

//
//
//.table-striped {
//  width: 100%;
//}
//
//.table-striped>tbody>tr:nth-child(odd)>td,
//.table-striped>tbody>tr:nth-child(odd)>th {
//
//
//  background: @inverse-font-color url('/modules/core/img/brand/bg-noise.png') left top repeat; /* ie fallback */
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-gradient(linear, 0 0, 0 bottom, from(@inverse-font-color), to(@inverse-font-color-lighter));
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -moz-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -ms-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -o-linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  linear-gradient(@inverse-font-color, @inverse-font-color-lighter);
//
//
//
//}
//
//.search {
//  background:white url('../img/brand/search.png') left center no-repeat;
//  padding-left: 30px;
//  width: 300px;
//}
//
//.half-screen {
//  width: 50%;
//}
//
//.rememberators-tabs {
//  .nav {
//    background-color: @background-color;
//
//    background-image: url('/modules/core/img/brand/bg.png');
//  }
//}
//
//.image-128 {
//  max-width: 128px;
//  max-height: 128px;
//}
//

//
//.searchimage {
//  text-align:center;
//  width:33%;
//  max-width: 33%;
//  min-width: 33%;
//  padding: 3px 3px 24px 3px;
//  border: 1px solid #666666
//}
//
//.remove-icon {
//  color:#E99267;
//}
//
//a {
//  color: @light-inverse-background-color;
//}
//
//@-webkit-keyframes clickme {
//  0% {
//    color: @light-inverse-background-color;
//    text-shadow: none;
//  }
//  50% {
//    color: @warning-color;
//    text-shadow: 0 3px 6px @dark-stripes;
//  }
//  100% {
//    color: @light-inverse-background-color;
//    text-shadow: none;
//  }
//}
//
//.flashing {
//
//  -webkit-animation: clickme 10s linear;
////  animation-name: wiggle;
////  animation-duration: 0.1s;
//  -webkit-animation-iteration-count: 10;
////  animation-timing-function: linear;
//}
//
//.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
//
//  background: @inverse-font-color-darker url('/modules/core/img/brand/bg-noise.png') left top repeat;
//  border: none;
//}
//
//.nav-tabs {
//  border-bottom: none;
//}
//
//.tab-subheader {
//  min-height: 2.5em;
//  border: none;
//  .left-padded-s;
//  .top-padded-s;
//  font-weight: bolder;
//
//}
//
//.tab-header {
//  min-height: 2.5em;
//  border: none;
//  .left-padded-s;
//  .top-padded-s;
//  background-color: @inverse-font-color;
//  font-weight: bolder;
//
//
//  background: @inverse-font-color url('/modules/core/img/brand/bg-noise.png') left top repeat; /* ie fallback */
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-gradient(linear, 0 0, 0 bottom, from(@inverse-font-color), to(@background-color-contrast));
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -webkit-linear-gradient(@inverse-font-color, @background-color-contrast);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -moz-linear-gradient(@inverse-font-color, @background-color-contrast);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -ms-linear-gradient(@inverse-font-color, @background-color-contrast);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  -o-linear-gradient(@inverse-font-color, @background-color-contrast);
//  background: url('/modules/core/img/brand/bg-noise.png') left top repeat,
//  linear-gradient(@inverse-font-color, @background-color-contrast);
//
//
//}
//
//.box {
//  -webkit-animation: myfirst 5s; /* Chrome, Safari, Opera */
//  animation: myfirst 5s;
//}
//
///* Chrome, Safari, Opera */
//@-webkit-keyframes myfirst {
//  0%   {background: red;}
//  25%  {background: yellow;}
//  50%  {background: blue;}
//  100% {background: green;}
//}
//
//.update-animation {
////  -webkit-animation: update-animation 1s; /* Chrome, Safari, Opera */
////  animation: opacity 100% 1s;
//}
//
//
//
//

//

//
//.modal-scroll {
//  max-height: 120px;
//  overflow: scroll;
//}
//
.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}



.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.box-show-setup, .box-hide-setup {
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
  -ms-transition: all linear 0.3s;
  -o-transition: all linear 0.3s;
  transition: all linear 0.3s;
}

.box-show-setup {
  opacity: 0;
  height: 0;
}

.box-show-setup.box-show-start {
  opacity: 1;
  height: 100px;
}

.box-hide-setup {
  opacity: 1;
  height: 0;
}

.box-hide-setup.box-hide-start {
  opacity: 0;
  height: 100px;
}

.bar {
  fill: @light-inverse-background-color;
}

.bar:hover {
  fill: @inverse-background-color;
}

.timespent .x.axis .tick text{
  display: none;
}
