<script type="text/ng-template" id="password.html">

    <div class="modal-body">
        <div class="content-header center-aligned">
            <div class="title">
                Change Password
            </div>
        </div>

        <form data-ng-submit="changePassword()" class="signin form-horizontal" autocomplete="off">


            <fieldset>
                <div class="content-section">
                    <table>
                        <tr>
                            <td class="right-padded-m nowrap">Current Password</td>
                            <td class="expands">
                                <input type="password"
                                       class="form-control focus"
                                       data-ng-model="passwordDetails.currentPassword"
                                       placeholder="Current Password"
                                       required>

                            </td>
                        </tr>

                        <tr>
                            <td class="right-padded-m nowrap top-padded-s">New Password</td>
                            <td class="expands top-padded-s">
                                <input type="password"
                                       class="form-control"
                                       data-ng-model="passwordDetails.newPassword"
                                       placeholder="New Password"
                                       required>

                            </td>
                        </tr>

                        <tr>
                            <td class="right-padded-m nowrap top-padded-s">Verify Password</td>
                            <td class="expands top-padded-s">
                                <input type="password"
                                       class="form-control"
                                       data-ng-model="passwordDetails.verifyPassword"
                                       placeholder="Verify Password"
                                       required>

                            </td>
                        </tr>
                    </table>

                </div>
                <div class="center-aligned">
                    <button class="btn btn-rememberators"
                            type="submit">OK</button>

                    <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

                </div>


                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
            </fieldset>
        </form>


    </div>


</script>