<script type="text/ng-template" id="settings.html">

    <div class="modal-body">

        <div class="content-header center-aligned">
            <div class="title">
                Change User Settings
            </div>

        </div>

        <form ng-submit="changeDetails()" class="signin form-horizontal"  autocomplete="off">
            <fieldset>
                <div class="content-header">

                    <table>
                        <tr>
                            <td class="right-padded-m">Username</td>
                            <td class="expands">
                                <input type="text"
                                       data-ng-model="userDetails.username"
                                       class="form-control focus"
                                       placeholder="Username"
                                       required>
                            </td>
                        </tr>

                        <tr>
                            <td class="right-padded-m nowrap top-padded-s">First Name</td>
                            <td class="top-padded-s">
                                <input type="text"
                                       data-ng-model="userDetails.firstName"
                                       class="form-control"
                                       placeholder="First Name"
                                       required>
                            </td>
                        </tr>

                        <tr>

                            <td class="right-padded-m nowrap top-padded-s">Last Name</td>
                            <td class="top-padded-s">
                                <input type="text"
                                       data-ng-model="userDetails.lastName"
                                       class="form-control"
                                       placeholder="Last Name"
                                       required>
                            </td>
                        </tr>

                        <tr>

                            <td class="right-padded-m top-padded-s">Email</td>
                            <td class="top-padded-s">
                                <input type="text"
                                       data-ng-model="userDetails.email"
                                       class="form-control"
                                       placeholder="email"
                                       required>
                            </td>
                        </tr>

                        <tr>

                            <td class="right-padded-m top-padded-s">Teacher</td>

                            <td class="top-padded-s middle-aligned" >

                                <input  type="checkbox"
                                        data-ng-model="roleSettings.teacher"
                                        > <span class="left-padded-s text-muted">(You plan to teach one or more students)</span>
                            </td>
                        </tr>

                        <tr>

                            <td class="right-padded-m top-padded-s nowrap">School Administrator</td>

                            <td class="middle-aligned top-padded-s">
                                <input
                                        type="checkbox"
                                        data-ng-model="roleSettings.headmaster"
                                        > <span class="left-padded-s text-muted">(You plan to organize teachers and students)</span>
                            </td>
                        </tr>


                    </table>

                </div>
                <div class="center-aligned">
                    <button class="btn btn-rememberators"
                            type="submit">OK</button>

                    <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

                </div>


                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>

            </fieldset>
        </form>

    </div>


</script>