<script type="text/ng-template" id="settings.html">

    <div class="rememberators-modal">


        <form ng-submit="changeDetails()" class="signin form-horizontal" autocomplete="off">
            <fieldset>


                <div class="rememberators-modal-header">
                    Change User Settings
                </div>

                <div class="rememberators-modal-section">

                    <label class="rememberators-modal-section-label">My Account Details</label>

                    <div class="row rememberators-form-group form-group">
                        <div class=" col-xs-4">First Name</div>
                        <div class=" col-xs-8">
                            <input type="text"
                                   data-ng-model="userDetails.firstName"
                                   class="form-control focus"
                                   placeholder="First Name"
                                   data-ng-init="setFocus()"
                                   required></div>
                    </div>

                    <div class="row rememberators-form-group form-group">
                        <div class=" col-xs-4">Last Name</div>
                        <div class=" col-xs-8">
                            <input type="text"
                                   data-ng-model="userDetails.lastName"
                                   class="form-control"
                                   placeholder="Last Name"
                                   required></div>
                    </div>

                    <div class="row rememberators-form-group form-group">
                        <div class="col-xs-4">email</div>
                        <div class="col-xs-8">
                            <input type="text"
                                   data-ng-model="userDetails.email"
                                   class="form-control"
                                   placeholder="email"
                                   required></div>
                    </div>

                    <div class="row rememberators-form-group form-group">
                        <div class="col-xs-4">Username</div>
                        <div class="col-xs-8">
                            <input type="text"
                                   data-ng-model="userDetails.username"
                                   class="form-control"
                                   placeholder="username"
                                   required></div>
                    </div>

                </div>
                <div class="rememberators-modal-section">

                    <label class="rememberators-modal-section-label">My Roles</label>

                    <div class="row rememberators-form-group form-group">
                        <div class="col-xs-4">
                            <div class="btn-group">
                                <div class="rememberators-checkbox">
                                    <input type="checkbox"
                                           data-ng-model="roleSettings.teacher">
                                </div>
                                I want to teach
                                </label>
                            </div>
                        </div>


                        <div class="col-xs-8">
                            <div class="btn-group">
                                <div class="rememberators-checkbox">
                                    <input type="checkbox"
                                           data-ng-model="roleSettings.headmaster">
                                </div>
                                I want to run a school
                                </label>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="center-aligned">
                    <button class="btn btn-rememberators"
                            type="submit">OK
                    </button>

                    <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

                </div>


                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>

            </fieldset>
        </form>

    </div>


</script>