<script type="text/ng-template" id="signup.html">

    <div class="rememberators-modal">


        <form class="signup form-horizontal" autocomplete="off" data-ng-submit="signup()">
            <fieldset>

                <div class="rememberators-modal-header">
                    Sig Up for Rememberators
                </div>

                <div class="rememberators-modal-section">
                    <div class="sub-section">
                        <div class="field-label">First Name</div>
                        <div>
                            <input type="text"
                                   data-ng-model="credentials.firstName"
                                   class="form-control focus"
                                   placeholder="First Name"
                                   data-ng-init="setFocus()"
                                   required></div>
                    </div>

                    <div class="sub-section">
                        <div class="field-label">Last Name</div>
                        <div>
                            <input type="text"
                                   data-ng-model="credentials.lastName"
                                   class="form-control"
                                   placeholder="Last Name"
                                   required></div>
                    </div>

                    <div class="sub-section">
                        <div class="field-label">email</div>
                        <div>
                            <input type="text"
                                   data-ng-model="credentials.email"
                                   class="form-control"
                                   placeholder="email"
                                   required></div>
                    </div>

                    <div class="sub-section">
                        <div class="field-label">Username</div>
                        <div>
                            <input type="text"
                                   data-ng-model="credentials.username"
                                   class="form-control"
                                   placeholder="username"
                                   required></div>
                    </div>

                    <div class="sub-section">
                        <div class="field-label">Password</div>
                        <div>
                            <input type="password"
                                   data-ng-model="credentials.password"
                                   class="form-control"
                                   placeholder="Password"
                                   required></div>
                    </div>

                    <div class="sub-section">
                        <div class="field-label">Repeat Password</div>
                        <div>
                            <input type="password"
                                   data-ng-model="credentials.password_repeat"
                                   class="form-control"
                                   placeholder="Password"
                                   required></div>
                    </div>
                </div>


                <div class="rememberators-modal-footer">
                    <button class="btn btn-rememberators"
                            type="submit">Sign Up
                    </button>


                    <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

                </div>

                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</script>