<script type="text/ng-template" id="signup.html">

    <div class="modal-body">
        <div class="popup-header">
            <div class="title center-aligned">
                Sig Up for Rememberators
            </div>
        </div>

        <form class="signup form-horizontal" autocomplete="off" data-ng-submit="signup()">
			<fieldset>
                <div class="content-header">

                    <table>
                        <tr>
                            <td class="nowrap right-padded-m">First Name</td>
                            <td class="expands">
                                <input type="text"
                                       data-ng-model="credentials.firstName"
                                       class="form-control focus"
                                       placeholder="First Name"
                                       data-ng-init="setFocus()"
                                       required></td>
                        </tr>

                        <tr>
                            <td class="nowrap right-padded-m top-padded-s">Last Name</td>
                            <td class="expands top-padded-s">
                                <input type="text"
                                       data-ng-model="credentials.lastName"
                                       class="form-control"
                                       placeholder="Last Name"
                                       required></td>
                        </tr>

                        <tr>
                            <td class="right-padded-m top-padded-s">email</td>
                            <td class="expands top-padded-s">
                                <input type="text"
                                       data-ng-model="credentials.email"
                                       class="form-control"
                                       placeholder="email"
                                       required></td>
                        </tr>

                        <tr>
                            <td class="right-padded-m top-padded-s">Username</td>
                            <td class="expands top-padded-s">
                                <input type="text"
                                       data-ng-model="credentials.username"
                                       class="form-control"
                                       placeholder="username"
                                       required></td>
                        </tr>

                        <tr class="controls">
                            <td class="right-padded-m top-padded-s">Password</td>
                            <td class="expands top-padded-s">
                                <input type="password"
                                       data-ng-model="credentials.password"
                                       class="form-control"
                                       placeholder="Password"
                                       required></td>
                        </tr>

                        <tr class="controls top-padded-s">
                            <td class="nowrap right-padded-m top-padded-s">Repeat Password</td>
                            <td class="expands top-padded-s">
                                <input type="password"
                                       data-ng-model="credentials.password_repeat"
                                       class="form-control"
                                       placeholder="Password"
                                       required></td>
                        </tr>
                    </table>
                </div>


                <div style="text-align: center">
                    <button class="btn btn-rememberators"
                            type="submit">Sign Up</button>


                    <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

                </div>

				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>
			</fieldset>
		</form>
	</div>
</script>