
@inverse-font-color: #ECECFF;
@inverse-font-color-hover: lighten(#ECECFF, 10%);
//@inverse-font-color: #d0d8dd;


@card-shadow-color: #CCCCCC;
@card-boder-color: #d0d8dd;

@green-gradient-normal-top: lighten(@base-green, 10%);
@green-gradient-normal-bottom: darken(@base-green, 10%);


@green-gradient-hover-top: @base-green;
@green-gradient-hover-bottom: darken(@base-green, 12%);

@base-green: #4DB22B;

