@font-face {
  font-family: 'Grinched';
  src: url('grinched.eot');
  src: url('grinched.eot?#iefix') format('embedded-opentype'),
  url('grinched.svg#Grinched') format('svg'),
  url('grinched.woff') format('woff'),
  url('Grinched.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Short Stack';
  //src: url('grinched.eot');
  //src: url('grinched.eot?#iefix') format('embedded-opentype'),
  //url('grinched.svg#Grinched') format('svg'),
  //url('grinched.woff') format('woff'),
  src: url('ShortStack-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-brand-xxl {
  font-family: 'Grinched';


  font-size: 32pt;

  @media (min-width: @screen-xs-min) {
    font-size: 40pt;
  }
  @media (min-width: @screen-sm-min) {
    font-size: 58pt;
  }
  @media (min-width: @screen-md-min) {
    font-size: 64pt;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 72pt;
  }

}

.font-brand-xl {
  font-family: 'Grinched';


  font-size: 22pt;

  @media (min-width: @screen-xs-min) {
    font-size: 24pt;
  }
  @media (min-width: @screen-sm-min) {
    font-size: 26pt;
  }
  @media (min-width: @screen-md-min) {
    font-size: 28pt;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 30pt;
  }

}


.font-brand-m {
  font-family: 'Grinched';
  font-size: 16pt;

  @media (min-width: @screen-xs-min) {
    font-size: 17pt;
  }
  @media (min-width: @screen-sm-min) {
    font-size: 18pt;
  }
  @media (min-width: @screen-md-min) {
    font-size: 19pt;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 20pt;
  }

}

.font-large {
  @media (min-width: @screen-xs-min) {
    font-size: 17px;
  }
  @media (min-width: @screen-sm-min) {
    font-size: 18px;
  }
  @media (min-width: @screen-md-min) {
    font-size: 19px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 20px;
  }

}

.font-medium {

  @media (min-width: @screen-xs-min) {
    font-size: 13px;
  }
  @media (min-width: @screen-sm-min) {
    font-size: 14px;
  }
  @media (min-width: @screen-md-min) {
    font-size: 15px;
  }
  @media (min-width: @screen-lg-min) {
    font-size: 16px;
  }


}

.font-small-childish {
  font-family: 'Grinched';
  font-size: 24px;
  color: @inverse-background-color;
}


//@standard-font: 'Exo+2', sans-serif;
@standard-font: 'Short Stack', sans-serif;
@standard-font-size: 12pt;



