<div  data-ng-controller="CoursesController" data-ng-init="findOne()">



    <div class="content-header">

        <div class="title">
        Admin for Course {{course.name}}
        </div>
    </div>

    <table class="box-margin-s" >

        <tr>
            <td></td>
            <td class="nowrap bottom-padded-m">
                <input  type="checkbox"
                        data-ng-model="course.teaching"
                        data-ng-click="saveSettings()">
                <span class="left-padded-s right-padded-m">Teach This Course</span>


            <input  type="checkbox"
                    data-ng-click="saveSettings()"
                    data-ng-model="course.published" data-ng-click="areYouSureToPublishCourse(course)">
                <span class="left-padded-s">Publish This Course</span>

            </td>
        </tr>

        <tr>
        <td class="right-padded-m">Name</td>
        <td class="expands" >
            <input type="text"
                   data-ng-model="options.name"
                   placeholder="{{course.name}}"
                   class="focus form-control"
                   data-ng-blur="saveSettings()"
                   required>
        </td>
    </tr>

    <tr>
        <td class="right-padded-m top-padded-s">Description</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="options.description"
                   class="form-control"
                   placeholder="{{course.description}}"
                   data-ng-blur="saveSettings()"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Front of Card</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="options.front"
                   class="form-control"
                   placeholder="{{course.front}}"
                   data-ng-blur="saveSettings()"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Back of Card</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="options.back"
                   class="form-control"
                   placeholder="{{course.back}}"
                   data-ng-blur="saveSettings()"
                   required>
        </td>
    </tr>

        <tr>
            <td class="nowrap right-padded-m top-padded-s">Slaves</td>
            <td class="top-padded-s" colspan="5">
                <input type="text"
                       data-ng-model="options.slaves"
                       class="form-control"
                       placeholder="{{course.slaves}}"
                       data-ng-blur="saveSettings()"
                       required>
            </td>
        </tr>

    
    </table>


</div>