<div  data-ng-controller="CoursesController" data-ng-init="findOne()">



    <div class="content-header">

        <div class="title">
        Admin for Course {{course.name}}
        </div>
    </div>

    <table class="box-margin-s" >

        <tr>
            <td></td>
            <td class="nowrap bottom-padded-m">
                <input  type="checkbox"
                        data-ng-model="course.teaching">
                <span class="left-padded-s right-padded-m">Teach This Course</span>


            <input  type="checkbox"
                    data-ng-model="course.published">
                <span class="left-padded-s">Publish This Course</span>

            </td>
        </tr>

        <tr>
        <td class="right-padded-m">Name</td>
        <td class="expands" >
            <input type="text"
                   data-ng-model="course.name"
                   class="focus form-control"
                   required>
        </td>
    </tr>

    <tr>
        <td class="right-padded-m top-padded-s">Description</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="course.description"
                   class="form-control"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Front of Card</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="course.front"
                   class="form-control"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Back of Card</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="course.back"
                   class="form-control"
                   required>
        </td>
    </tr>

        <tr>
            <td class="nowrap right-padded-m top-padded-s">Slaves</td>
            <td class="top-padded-s" colspan="5">
                <input type="text"
                       data-ng-model="course.slaves"
                       class="form-control"
                       required>
            </td>
        </tr>

    
    </table>

    <div class="center-aligned">
        <div class="form-group">
            <button data-ng-click="update()" class="btn btn-rememberators">OK</button>
        </div>
    </div>

</div>