<section data-ng-controller="CoursesController" data-ng-init="find()">

    <div ng-include="'/modules/courses/views/partial/delete-course.modal.client.view.html'"></div>

    <div class="sparesys-header">
        <div class="pull-right">
            <button data-ng-click="createDummyCourse()">Create Dummy Course</button>
        </div>

        <div class="sparesys-title">
            Courses Administration
        </div>
        <div class="sparesys-subtitle">

        </div>
    </div>

    <table id="searchTextResults" class="table-striped" style="width: 100%">
        <thead>
        <tr>
            <th class="sparesys-view-courses-course-column"></th>
            <th class="sparesys-view-courses-course-column">Course</th>
            <th class="sparesys-view-courses-description-column">Description</th>
            <th class="sparesys-view-courses-description-column">By</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="course in courses | filter:searchText">
            <td class="sparesys-view-courses-name-cell">
                <a href="">
                    <i data-ng-click="areYouSureToDeleteCourse(course)"
                       class="glyphicon glyphicon-remove-sign">
                    </i>
                </a>
                    <a data-ng-href="#!/courses/{{course._id}}/edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
            </td>
            <td class="sparesys-view-courses-name-cell">
               {{course.name}}</td>
            <td>{{course.description}}</td>
            <td class="sparesys-view-courses-name-cell">{{course.user.displayName}}</td>
            <td class="sparesys-view-courses-date-cell">{{course.created | date:'shortDate'}}</td>
        </tr>
        </tbody>
    </table>

</section>