<div  data-ng-controller="CoursesController" data-ng-init="findOne()">



    <div class="content-header">

        <div class="title">
        Admin for Course {{course.name}}
        </div>
    </div>

    <table class="box-margin-s" >

        <tr>
            <td></td>
            <td class="nowrap top-padded-m">
                <input  type="checkbox"
                        data-ng-model="course.teaching">
                <span class="left-padded-s right-padded-m">Course is taught</span>


            <input  type="checkbox"
                    data-ng-model="course.published">
                <span class="left-padded-s">Course is published</span>

            </td>
        </tr>

        <tr>
        <td class="right-padded-m top-padded-m">Name</td>
        <td class="expands top-padded-m" >
            <input type="text"
                   data-ng-model="course.name"
                   class="focus form-control"
                   required>
        </td>
    </tr>

    <tr>
        <td class="right-padded-m top-padded-m">Description</td>
        <td class="top-padded-m" colspan="5">
            <input type="text"
                   data-ng-model="course.description"
                   class="form-control"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-m">Front of Card</td>
        <td class="top-padded-m" colspan="5">
            <input type="text"
                   data-ng-model="course.front"
                   class="form-control"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-m">Back of Card</td>
        <td class="top-padded-m" colspan="5">
            <input type="text"
                   data-ng-model="course.back"
                   class="form-control"
                   required>
        </td>
    </tr>


        <tr data-ng-if="!course.slaves || course.slaves.length ===0">
            <td class="top-padded-m">Slaves</td>
            <td class="top-padded-m">none</td>
        </tr>

        <tr data-ng-repeat="slave in course.slaves">
            <td class="right-padded-m nowrap top-padded-m" data-ng-if="$index ===0">Slaves</td>
            <td class="right-padded-m nowrap top-padded-m" data-ng-if="$index !==0"></td>
            <td class="expands top-padded-m" data-ng-init="findOtherCourse(slave)">

                <a>
                    <i data-ng-click="removeSlave(slave, course)"
                       class="glyphicon glyphicon-remove-sign small">
                    </i>
                </a>


                <span data-ng-if="otherCourse.user">{{otherCourse._id}}</span>
                <span data-ng-if="otherCourse.user">({{otherCourse.user.displayName}})</span>
                <span data-ng-if="!otherCourse.user">(unknown user)</span>
            </td>
        </tr>



        <tr data-ng-if="!course.packs || course.packs.length ===0">
            <td class="top-padded-m">Packs</td>
            <td class="top-padded-m">none</td>
        </tr>

        <tr data-ng-repeat="pack in course.packs">
            <td class="right-padded-m nowrap top-padded-m" data-ng-if="$index ===0">Packs</td>
            <td class="right-padded-m nowrap top-padded-m" data-ng-if="$index !==0"></td>
            <td class="expands top-padded-m" data-ng-init="findById(pack)" data-ng-controller="PacksController">

                <a>
                    <i data-ng-click="removePack(pack, course)"
                       class="glyphicon glyphicon-remove-sign small">
                    </i>
                </a>

                {{pack._id}} ({{pack.name}})
            </td>
        </tr>

    
    </table>

    <div class="center-aligned">
        <div class="form-group">
            <button data-ng-click="update()" class="btn btn-rememberators">OK</button>
        </div>
    </div>

</div>