<div data-ng-controller="CourseReportController" data-ng-init="init()">


    <div class="col-xs-12 col-md-6 dashboard-col ">

        <div class="virtual-card">
            <div class="title">
                <div>{{course.name}}</div>

            </div>


            <div>

                <div>
                    <span id="practice-date"></span>&nbsp;<span id="number-of-cards"></span>
                </div>

                <div id="cal" class="diagram">

                </div>
            </div>


        </div>
    </div>


    <div class="col-xs-12 col-md-6 dashboard-col ">

        <div class="virtual-card">
            <div class="title">
                <div>Time spent (<span id="spent-all-time"></span>)</div>

            </div>


            <div>
                <span id="spent-practice-date"></span>&nbsp;<span id="spent-practice-time"></span>
            </div>

            <div class="timespent diagram" id="timespent">

            </div>


        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col ">

        <div class="virtual-card">
            <div class="title">
                <div>Cards learned</div>

            </div>


            <div id="inplay" class="diagram">

            </div>


        </div>
    </div>


    <div class="rememberators-footer col-xs-12">

        rememberators.com
    </div>

</div>
