<div data-ng-controller="CoursesController">
    <div class="content-header">

        <div class="title">
            Create Course
        </div>
    </div>




    <section data-ng-if="authentication.user.roles.indexOf('help') > -1">

        <infobox logo="girl">
        Wow! You are creating a
        course! You have to give your course a name
        and a short description of what your course is going to be about. Once that
        is done you will be able to add packs to your course and cards to the packs.
        </infobox>
    </section>


    <div class="content-section">
        <form data-ng-submit="create()" validate>
            <table class="top-margin-l">
                <tr>
                    <td class="right-padded-m nowrap top-padded-s">Course Name</td>
                    <td class="top-padded-s">
                        <input type="text"
                               data-ng-model="name"
                               class="form-control"
                               placeholder="Name"
                               required>
                    </td>
                </tr>

                <tr>
                    <td class="right-padded top-padded-s">Description</td>
                    <td class="expands top-padded-s">
                        <input type="text"
                               data-ng-model="description"
                               class="form-control"
                               placeholder="Description"
                               required>
                    </td>
                </tr>

            </table>

            <div class="top-padded-s right-aligned">
                <input type="submit" value="Create" class="btn btn-default">
            </div>


        </form>
    </div>


</div>
