<div data-ng-controller="CoursesController">
    <div class="content-header">
        <div class="title">
            Create Course
        </div>
    </div>

    <div data-ng-show="error" class="text-error">
        <div>
            <strong>OOps, there was and error:</strong>
        </div>
        <div>
            <strong>{{error}}</strong>
        </div>
    </div>

    <div data-ng-controller="JourneysController"
         data-ng-init="findForCurrentUser()">

        <div class="content-section" data-ng-if="journey && !journey.createdCourse">
            <img class="right-padded float-left size-64"
                 src="/modules/core/img/brand/superhero-girl-medium.gif">
            Wow. You are creating your first course! You have to give your course a name
            and a short description of what your course is going to be about. Once that
            is done you will be able to add packs to your course and cards to the packs.
        </div>
    </div>


    <div class="content-last-section">
        <form data-ng-submit="create()" validate>
            <table>
                <tr>
                    <td class="right-padded">Name</td>
                    <td>
                        <input type="text"
                               data-ng-model="name"
                               class="form-control"
                               placeholder="Name"
                               required>
                    </td>
                </tr>

                <tr>
                    <td class="right-padded">Description</td>
                    <td class="expands top-padded">
                        <input type="text"
                               data-ng-model="description"
                               class="form-control"
                               placeholder="Description"
                               required>
                    </td>
                </tr>

            </table>

            <div class="top-padded right-aligned">
                <input type="submit" value="Create" class="btn btn-default">
            </div>


        </form>
    </div>


</div>
