<section data-ng-controller="CoursesEditorController"
         data-ng-init="findOne()">


    <div class="col-xs-6 col-md-6 dashboard-col">
        <div class="virtual-card font-large">
            <div class="title">
                {{course.name}}


            </div>

            <div class="flashcard-section">

                <div class="col-xs-12 dashboard-col">
                    <div class="field-label">Search Card</div>
                    <div class="font-medium">
                        <input type="text"
                               data-ng-model="searchText"
                               class="form-control search"
                               placeholder="Card">
                    </div>
                </div>


            </div>
        </div>


    </div>


    <div class="col-xs-6 col-md-6 dashboard-col"
         data-ng-repeat="card in course.cards | filter: searchText | limitTo:10">

        <div ng-include="'/modules/cards/views/partial/view-card.client.view.html'"></div>



    </div>


    <div class="rememberators-footer col-xs-12">rememberators.com</div>

</section>
