<section data-ng-controller="CoursesController"
         data-ng-init="findOne()">

    <!--<div ng-include="'/modules/courses/views/partial/add-pack.modal.client.view.html'"></div>-->

    <div ng-include="'/modules/packs/views/partial/delete-pack.modal.client.view.html'"></div>


    <div class="font-large virtual-card-header title" style="text-align: center">

        <div class="row">
            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>

            <div class="col-xs-10">
                <a href="" data-ng-click="scrollDown()">Scroll down to add more
                    packs
                </a>
            </div>

            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>
        </div>


    </div>

    <div class="col-xs-6 dashboard-col">
        <div class="virtual-card font-large">
            <div class="title">
                {{course.name}}

                <div class="pull-right">


                    <a href="#!/courses/{{course._id}}/cards"><i class="glyphicon glyphicon-th"></i></a>

                    <a href="" data-ng-click="areYouSureToDeleteCourse(course)"><i
                            class="glyphicon glyphicon-trash"></i></a>

                </div>


            </div>

            <div class="flashcard-section">

                <div class="col-xs-6 dashboard-col">
                    <div class="field-label">Title</div>
                    <div class="font-medium">
                        {{course.name}}
                    </div>
                </div>

                <div class="col-xs-6 dashboard-col">
                    <div class="field-label">Description</div>
                    <div class="font-medium">
                        {{course.description}}
                    </div>
                </div>

                <div class="col-xs-6 dashboard-col">
                    <div class="field-label">Front</div>
                    <div class="font-medium">
                        {{course.front}}
                    </div>
                </div>

                <div class="col-xs-6 dashboard-col">
                    <div class="field-label">Back</div>
                    <div class="font-medium">
                        {{course.back}}
                    </div>
                </div>


                <div class="col-xs-6 dashboard-col">
                    <div class="field-label">Created</div>
                    <div class="font-medium">
                        {{course.created | date:'shortDate'}}
                    </div>
                </div>

                <div class="col-xs-6 dashboard-col">
                    <div class="field-label">Updated</div>
                    <div class="font-medium">
                        {{course.updated | date:'shortDate'}}
                    </div>
                </div>

                <div class="col-xs-6 dashboard-col">
                    <div class="field-label">Owner</div>
                    <div class="font-medium">
                        {{course.user.displayName}}
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="col-xs-6 dashboard-col">

        <div class="virtual-card font-large">

            <div class="title">
                New card default settings
            </div>

            <div class="flashcard-section">
                <div class="col-xs-4">


                    <div class="field-label">
                        Language Front
                    </div>
                    <div class="field-data">

                        <div class="btn-group right-padded-l nowrap">


                            <button type="button" class="btn btn-default standard-dropdown-width">
                                {{languageFront.name}}
                            </button>
                            <button type="button" class="btn btn-default dropdown-toggle">
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li data-ng-repeat="lang in languages" data-ng-click="setLanguageFront(lang)">
                                    <a>{{lang.name}}</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>


                <div class="col-xs-4">

                    <div class="field-label">
                        Language Back
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default standard-dropdown-width">
                            {{languageBack.name }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="lang in languages" data-ng-click="setLanguageBack(lang)">
                                <a>{{lang.name}}</a>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="col-xs-4">

                    <div class="field-label">
                        Checks
                    </div>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default standard-dropdown-width">
                            {{check }}
                        </button>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="check in checks" data-ng-click="setCheck(check)">
                                <a>{{check}}</a>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>


            <div class="col-xs-12">
                <div class="flashcard-section">
                    <div class="field-label">

                        Forward
                    </div>


                    <div class="row font-medium">

                        <div class="col-xs-4">
                            <input type="checkbox" ng-model="useForwardMode">
                            Use Mode
                        </div>


                        <div class="col-xs-4" ng-class="{'text-muted': !useForwardMode}">
                            <input type="checkbox" ng-model="readQuestionsForward"
                                   ng-disabled="!useForwardMode">
                            Read Questions
                        </div>

                        <div class="col-xs-4" ng-class="{'text-muted': !useForwardMode}">
                            <input type="checkbox" ng-model="readAnswersForward" ng-disabled="!useForwardMode">
                            Read Answers
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="flashcard-section">

                    <div class="field-label">

                        Reverse
                    </div>


                    <div class="row font-medium">

                        <div class="col-xs-4">
                            <input type="checkbox" ng-model="useReverseMode">
                            Use Mode
                        </div>


                        <div class="col-xs-4" ng-class="{'text-muted': !useReverseMode}">
                            <input type="checkbox" ng-model="readQuestionsReverse"
                                   ng-disabled="!useReverseMode">
                            Read Questions
                        </div>

                        <div class="col-xs-4" ng-class="{'text-muted': !useReverseMode}">
                            <input type="checkbox" ng-model="readAnswersReverse" ng-disabled="!useReverseMode">
                            Read Answers
                        </div>


                    </div>
                </div>
            </div>


            <div class="col-xs-12">
                <div class="flashcard-section">

                    <div class="field-label">

                        Images
                    </div>


                    <div class="row font-medium">

                        <div class="col-xs-4">
                            <input type="checkbox" ng-model="useImagesMode">
                            Use Mode
                        </div>


                        <div class="col-xs-4" ng-class="{'text-muted': !useImagesMode}">
                            <input type="checkbox" ng-model="readQuestionsImages" ng-disabled="!useImagesMode">
                            Read Questions
                        </div>

                        <div class="col-xs-4" ng-class="{'text-muted': !useImagesMode}">
                            <input type="checkbox" ng-model="readAnswersImages" ng-disabled="!useImagesMode">
                            Read Answers
                        </div>


                    </div>
                </div>
            </div>


        </div>


    </div>


    <div data-ng-repeat="pack in course.packs"
         data-ng-controller="PacksController" data-ng-init="findById(pack)">

        <div class="col-xs-6">
            <div class="half-virtual-card font-large">
                <div class="title">
                    {{pack.name}}

                    <div class="pull-right">


                        <a href="#!/packs/{{pack._id}}"><i class="glyphicon glyphicon-edit"></i></a>

                        <a href="" data-ng-click="areYouSureToDeletePack(pack)"><i
                                class="glyphicon glyphicon-trash"></i></a>

                    </div>


                </div>

                <div class="flashcard-section">

                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Title</div>
                        <div class="font-medium">
                            {{pack.name}}
                        </div>
                    </div>

                    <div class="col-xs-6 dashboard-col">
                        <div data-ng-if="pack.cards.length === 0">
                            <div class="field-label-danger">Cards</div>
                            <div class="font-medium danger">
                                {{pack.cards.length}}
                            </div>
                        </div>

                        <div data-ng-if="pack.cards.length > 0">
                            <div class="field-label">Cards</div>
                            <div class="font-medium">
                                {{pack.cards.length}}
                            </div>
                        </div>


                    </div>


                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">Created</div>
                        <div class="font-medium">
                            {{pack.created | date:'shortDate'}}
                        </div>
                    </div>

                    <div class="col-xs-6 dashboard-col" data-ng-if="pack.updated">
                        <div class="field-label">Updated</div>
                        <div class="font-medium">
                            {{pack.updated | date:'shortDate'}}
                        </div>
                    </div>

                    <div class="col-xs-6 dashboard-col" data-ng-if="!pack.updated">
                        <div class="field-label">Updated</div>
                        <div class="font-medium">
                            {{pack.created | date:'shortDate'}}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-6 dashboard-col">

        <div class="font-large virtual-card-header">

            <form data-ng-submit="addPackToCourse()" validate>

                <div class="title">


                    <div class="pull-right">


                        <a href="" data-ng-click="addPackToCourse()"><i
                                class="glyphicon glyphicon-plus-sign"></i></a>


                    </div>
                    Add pack <input type="text" data-ng-model="newpack.name"
                                    id="firstName" class="form-control focus"
                                    placeholder="Name"
                        >


                </div>


            </form>

        </div>
    </div>


    <div class="rememberators-footer col-xs-12">rememberators.com</div>

</section>
