<section data-ng-controller="CoursesController" data-ng-init="findOne()">


    <div ng-include="'/modules/courses/views/partial/delete-course.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/edit-course.modal.client.view.html'"></div>

    <div ng-include="'/modules/packs/views/partial/delete-pack.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/add-pack.modal.client.view.html'"></div>


    <div class="sparesys-header">
        <div class="pull-right">

            <a class="btn btn-primary" data-ng-click="editCoursePopup(course)"
               data-ng-show="authentication.user._id == course.user._id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>


            <a class="btn btn-primary" data-ng-click="areYouSureToDeleteCourse(course)"
               data-ng-show="authentication.user._id == course.user._id">
                <i class="glyphicon glyphicon-trash"></i>
            </a>

            <!--TODO: Add publish course-->
            <a class="btn btn-primary" data-ng-click="subscribe();">
                <i class="glyphicon glyphicon-upload"></i>
            </a>
        </div>

        <div class="sparesys-title">
            {{course.name}}
        </div>
        <div class="sparesys-subtitle">
            {{course.description}}
        </div>
    </div>


    <div data-ng-hide="course.packs.length > 0">
        No Packs yet, why don't you <a href="" ng-click="addPackToCoursePopup()">add one</a>?
    </div>
    <div data-ng-show="course.packs.length > 0">

        <div class="pull-right">
            <a href="" ng-click="addPackToCoursePopup()" data-ng-show="authentication.user._id == course.user._id">
                Add Packs
                <i class="glyphicon glyphicon-plus-sign">
                </i>

            </a>
        </div>
        <table id="searchTextResults" class="table-striped" style="width: 100%">
            <thead>
            <tr>
                <th class="sparesys-view-courses-course-column">
                </th>
                <th class="sparesys-view-courses-course-column">Pack</th>
                <!--<th class= "sparesys-view-courses-description-column">Description</th>-->
                <!--<th>Created</th>-->
            </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" data-ng-model="course.packs">
            <tr data-ng-repeat="packId in course.packs" data-ng-controller="PacksController"
                data-ng-init="findById(packId)"
                style="cursor: move">
                <td class="sparesys-view-courses-name-cell">
                    <a href="">
                        <i data-ng-click="areYouSureToDeletePack(pack)"
                           class="glyphicon glyphicon-remove-sign">
                        </i>
                    </a>

                </td>

                <td class="sparesys-view-object-content-cell">
                    <a data-ng-href="#!/packs/{{pack._id}}/edit">{{pack.name}}</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>


    <small>
        <em class="text-muted">Created on {{course.created | date:'mediumDate'}} by {{course.user.displayName}}</em>

    </small>
</section>