<section data-ng-controller="CoursesController" data-ng-init="findOne()">


    <div ng-include="'/modules/courses/views/partial/delete-course.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/edit-course.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/publish-course.modal.client.view.html'"></div>

    <div ng-include="'/modules/packs/views/partial/delete-pack.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/add-pack.modal.client.view.html'"></div>


    <div class="sparesys-header">
        <div class="pull-right">


            <a href="" data-ng-click="editCoursePopup(course)" data-ng-show="authentication.user._id == course.user._id"
               style="padding-right: 20px">
                Edit
            </a>

            <a href="" data-ng-click="areYouSureToDeleteCourse(course)"
               data-ng-show="authentication.user._id == course.user._id"
               style="padding-right: 20px">
                Delete
            </a>

            <span data-ng-if="!course.published">
            <a href="" data-ng-click="areYouSureToPublishCourse(course)"
               data-ng-show="authentication.user._id == course.user._id"
               style="padding-right: 20px">
                Publish
            </a>
            </span>

            <span data-ng-if="course.published">
            <a href="" data-ng-click="areYouSureToPublishCourse(course)"
               data-ng-show="authentication.user._id == course.user._id"
               style="padding-right: 20px">
                Un-Publish
            </a>
            </span>


            <a href="" ng-click="addPackToCoursePopup()" data-ng-show="authentication.user._id == course.user._id">
                Add Packs

            </a>

        </div>

        <div class="sparesys-title">
            {{course.name}}
        </div>
        <table>
            <tr>
                <td>Description</td>
                <td style="padding-left: 5px">:</td>
                <td style="padding-left: 5px">{{course.description}}</td>
            </tr>
            <tr>
                <td>Published</td>
                <td style="padding-left: 5px">:</td>
                <td style="padding-left: 5px">
                    <span data-ng-if="course.published">yes</span>
                    <span data-ng-if="!course.published">no</span>
                </td>
            </tr>

            <tr>
                <td>Language</td>
                <td style="padding-left: 5px">:</td>
                <td style="padding-left: 5px">
                    <span data-ng-if="course.language">{{course.language.name}}</span>
                    <span data-ng-if="!course.language">n/a</span>

                </td>
            </tr>

        </table>

    </div>


    <div data-ng-hide="course.packs.length > 0">
        No Packs yet, why don't you <a href="" ng-click="addPackToCoursePopup()">add one</a>?
    </div>
    <div data-ng-show="course.packs.length > 0">


        <table id="searchTextResults" class="table-striped" style="width: 100%; margin-top: 20px">
            <thead>
            <tr>
                <th class="sparesys-view-courses-course-column">
                </th>
                <th class="sparesys-view-courses-course-column">Pack</th>
                <th class="sparesys-view-object-label-cell">Number of Cards</th>
                <!--<th class= "sparesys-view-courses-description-column">Description</th>-->
                <!--<th>Created</th>-->
            </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" data-ng-model="course.packs">
            <tr data-ng-repeat="packId in course.packs" data-ng-controller="PacksController"
                data-ng-init="findById(packId)"
                style="cursor: move">
                <td class="sparesys-view-courses-name-cell">
                    <a href="">
                        <i data-ng-click="areYouSureToDeletePack(pack)"
                           class="glyphicon glyphicon-remove-sign">
                        </i>
                    </a>

                </td>

                <td class="sparesys-view-object-content-cell">
                    <a data-ng-href="#!/packs/{{pack._id}}/edit">{{pack.name}}</a>
                </td>
                <td class="sparesys-view-object-content-cell" style="text-align: right">
                    {{pack.cards.length}}
                </td>
            </tr>
            </tbody>
        </table>


    </div>

    <div class="footer">

        <div>
            <small>
                <em class="text-muted">Created on {{course.created | date:'medium'}}</em>
            </small>
        </div>
        <div data-ng-if="course.updated">
            <small>
                <em class="text-muted">Updated on {{course.updated | date:'medium'}}</em>
            </small>
        </div>

    </div>


</section>