<section data-ng-controller="CoursesController"
         data-ng-init="findOne()">

    <div ng-include="'/modules/courses/views/partial/delete-course.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/edit-course.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/publish-course.modal.client.view.html'"></div>
    <div ng-include="'/modules/packs/views/partial/delete-pack.modal.client.view.html'"></div>
    <div ng-include="'/modules/courses/views/partial/add-pack.modal.client.view.html'"></div>

    <div class="content-header">
        <div class="submenu">
            <span ng-include="'/modules/courses/views/partial/edit-course-menu.client.view.html'"></span>
        </div>

        <div class="title">
            {{course.name}}
        </div>

        <div class="headerinfo">
            <span ng-include="'/modules/courses/views/partial/edit-course-headerinfo.client.view.html'"></span>
        </div>
    </div>


    <div data-ng-if="course.packs.length === 0">
        <div class="content-section">
            <section data-ng-if="authentication.user.roles.indexOf('help') > -1">

                <infobox logo="girl">
                    Ok. Now, a course has a number of packs. If you are creating
                    a language course, you can for example put all the colors into one pack,
                    the days of the week into another and so on. To do this, click on the
                    <a href="">
                        <i data-ng-click="addPackToCoursePopup()"

                           class="glyphicon glyphicon-plus-sign">
                        </i>
                    </a>

                     icon below.
                </infobox>
            </section>

            <section data-ng-if="authentication.user.roles.indexOf('help') === -1">
                You have to <a href="" ng-click="addPackToCoursePopup()">add packs</a> to this course!
            </section>
        </div>
    </div>

    <div data-ng-if="course.packs.length > 0">
        <div class="content-section" data-ng-if="authentication.user.roles.indexOf('help') > -1">

            <infobox logo="boy">
                Time to put some cards into your packs. Click on the pack names to go to the next
                page where you can add cards.
            </infobox>
        </div>

    </div>



        <div class="content-section ">


            <div class="rememberators-tabs top-margin-l bottom-padded-m">
                <tabset>

                    <tab heading="Course">


                        <div class="default-border standard-min-height">


                            <div ng-include="'/modules/courses/views/partial/course-config.client.view.html'"></div>

                        </div>
                    </tab>

                    <tab heading="Packs">


                        <div class="default-border standard-min-height">


                            <div ng-include="'/modules/courses/views/partial/course-view-packs.client.view.html'"></div>

                        </div>
                    </tab>


                    <tab heading="Cards">


                        <div class="default-border standard-min-height">


                            <div ng-include="'/modules/courses/views/partial/course-settings.client.view.html'"></div>

                        </div>
                    </tab>


                    <tab heading="Forward">


                        <div class="default-border standard-min-height">


                            <div ng-include="'/modules/courses/views/partial/course-forward.client.view.html'"></div>

                        </div>
                    </tab>

                    <tab heading="Reverse">


                        <div class="default-border standard-min-height">


                            <div ng-include="'/modules/courses/views/partial/course-reverse.client.view.html'"></div>

                        </div>
                    </tab>


                    <tab heading="Images">


                        <div class="default-border standard-min-height">


                            <div ng-include="'/modules/courses/views/partial/course-images.client.view.html'"></div>

                        </div>
                    </tab>

                </tabset>


                <div class="right-aligned">

                    <div>
                        <small>
                            <em class="text-muted">Course created on {{course.created | date:'medium'}}</em>
                        </small>
                    </div>
                    <div data-ng-if="course.updated">
                        <small>
                            <em class="text-muted">Course last update on {{course.updated | date:'medium'}}</em>
                        </small>
                    </div>

                </div>


            </div>
        </div>

    <div>rememberators.com</div>

</section>
