<section data-ng-controller="CoursesController" data-ng-init="findForCurrentUser()">

    <div ng-include="'/modules/courses/views/partial/delete-course.modal.client.view.html'"></div>

    <div class="sparesys-header">


        <div class="sparesys-title">
            My Courses
        </div>

    </div>

    <table data-ng-if="courses.length >0" class="table-striped" style="width: 100%">
        <thead>
        <tr>
            <th class="sparesys-view-courses-course-column"></th>
            <th class="sparesys-view-courses-course-column">Course</th>
            <th class="sparesys-view-courses-description-column">Description</th>
            <th>Created</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="course in courses | filter:searchText">
            <td class="sparesys-view-courses-name-cell">
                <a href="" data-ng-if="!course.master">
                    <i data-ng-click="areYouSureToDeleteCourse(course)"
                       class="glyphicon glyphicon-remove-sign">
                    </i>
                </a>
            </td>
            <td class="sparesys-view-courses-name-cell">
                <a data-ng-if="!course.master" data-ng-href="#!/courses/{{course._id}}/edit">{{course.name}}</a>
                <span style="color: #999999" data-ng-if="course.master">{{course.name}}</span>
            </td>
            <td>

                <span data-ng-if="!course.master">{{course.description}}</span>
                <span data-ng-if="course.master" style="color: #999999">{{course.description}} (from school)</span>

            </td>
            <td class="sparesys-view-courses-date-cell">
                <span data-ng-if="!course.master">{{course.created | date:'shortDate'}}</span>
                <span data-ng-if="course.master" style="color: #999999">{{course.created | date:'shortDate'}}</span>
            </td>
        </tr>
        </tbody>
    </table>

    <div data-ng-show="courses.length === 0">
        <div>
            You have not subscribed to any courses, yet. You can start with creating your own private Rememberators
            course using this

            <a href="#!/courses/create">link</a> or the Courses menu.
        </div>

        <div style="padding-top: 10px">
            You can also <a href="#!/courses/search">search for a published course</a> and download your local copy.
        </div>
    </div>
</section>