<section data-ng-controller="CoursesController" data-ng-init="manageCourses()">

    <div ng-include="'/modules/courses/views/partial/delete-course.modal.client.view.html'"></div>


    <div data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="ribbon-card-large">


            <div class="help-ribbon"><span>Help</span></div>

            <div class="title">
                Manage Courses
            </div>
            <div data-ng-if="courses.length > 0">
                <infobox logo="man">

                    <div>
                        This is the list of courses you have subscribed to. You can use the
                        <a href="" class="nolink">
                            <i class="small glyphicon glyphicon-trash">
                            </i></a>
                        next to each course to delete courses. You can
                        edit, configure and change existing courses by clicking on the
                        <a href="" class="nolink">
                            <i class="small glyphicon glyphicon-edit">
                            </i></a> icon.

                        Click on the <a href="" class="nolink">
                        <i class="small glyphicon glyphicon-th">
                        </i></a> icon to search and edit cards in a course.
                    </div>


                </infobox>
            </div>
            <div data-ng-if="courses.length === 0">
                <infobox logo="man">


                    <div>
                        You have not subscribed to any courses, yet. You can either <a href="/#!/courses/create">
                        create a new course
                    </a> or <a href="#!/courses/search">
                        search for an existing course.
                    </a>
                    </div>
                </infobox>
            </div>
        </div>

    </div>
    <div data-ng-repeat="course in courses">
        <div class="info-card-large">
            <div class="title">
                {{course.name}}
                <div class="pull-right" data-ng-if="!course.supervised">


                        <span data-ng-if="authentication.user.roles.indexOf('download') > -1">
                            <a ng-csv="download(course)" csv-header="getHeader()" lazy-load="true" filename="test.csv"
                               field-separator=","
                               href=""><i class="glyphicon glyphicon-download"></i></a>
                        </span>

                    <a data-ng-href="#!/courses/{{course._id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>

                    <a href="#!/courses/{{course._id}}/cards"><i class="glyphicon glyphicon-th"></i></a>


                    <a href="" data-ng-click="areYouSureToDeleteCourse(course)"><i
                            class="glyphicon glyphicon-trash"></i></a>

                </div>
            </div>


            <div class="two-column-section top-section">
                <div class="column">
                    <div class="field-label">Description</div>
                    <div class="field-data">
                        <div data-ng-if="course.description">
                            {{course.description}}
                        </div>

                        <div data-ng-if="!course.description" class="text-muted">
                            no description
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="field-label">Published</div>
                    <div class="field-data">
                        {{course.published}}

                    </div>
                </div>
            </div>


            <div class="two-column-section">
                <div class="column">
                    <div class="field-label">Front</div>
                    <div class="field-data">
                        {{course.front}}
                    </div>
                </div>


                <div class="column">
                    <div class="flashcard-section">
                        <div class="field-label">Back</div>
                        <div class="field-data">
                            {{course.back}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="two-column-section">
                <div class="column">
                    <div class="field-label">Language Front</div>
                    <div class="field-data">
                        <div data-ng-if="course.cardDefaults.languageFront">
                            {{course.cardDefaults.languageFront.name}}
                        </div>
                        <div data-ng-if="!course.cardDefaults.languageFront">
                            none
                        </div>
                    </div>
                </div>


                <div class="column">
                    <div class="field-label">Language Back</div>
                    <div class="field-data">
                        <div data-ng-if="course.cardDefaults.languageBack">
                            {{course.cardDefaults.languageBack.name}}
                        </div>
                        <div data-ng-if="!course.cardDefaults.languageBack">
                            none
                        </div>
                    </div>
                </div>
            </div>


            <div class="two-column-section">
                <div class="column">
                    <div class="field-label">My Role</div>
                    <div class="field-data">
                        <div data-ng-if="course.teaching">Teacher</div>
                        <div data-ng-if="!course.teaching">Student</div>
                    </div>
                </div>

                <div class="column">
                    <div class="field-label">Supervision</div>
                    <div class="field-data">
                        <div data-ng-if="course.supervised">This course is supervised</div>
                        <div data-ng-if="!course.supervised">You are managing this course yourself</div>

                    </div>
                </div>
            </div>


            <!--<pre>{{course |json}}</pre>-->

        </div>
    </div>


    <div class="rememberators-footer">

        rememberators.com
    </div>
</section>
