<section data-ng-controller="CoursesController" data-ng-init="updatePublishedSearch()">


    <div ng-include="'/modules/courses/views/partial/course-subscribe.modal.client.view.html'"></div>

    <div class="action-card">
        <div class="title">Search for courses</div>
        <div class="section">

            <div class="field-label">Find Course</div>
            <input type="text"
                   ng-model="options.searchText"
                   class="form-control search"
                   data-ng-change="updatePublishedSearch()"
                   placeholder="Name">
        </div>

        <div class="section">
            <infobox logo="guru">
                Search for courses and click on the <i class="glyphicon glyphicon-plus-sign"></i> icon
                to subscribe.
            </infobox>
        </div>

    </div>

    <div data-ng-if="!courses || courses.length === 0">

        <div class="info-card">
            <div class="title">No Courses Found</div>
            <div class="danger">There are no courses matching your search criteria</div>
        </div>
    </div>


    <div data-ng-repeat="c in courses">
        <div class="info-card">
            <div class="title">{{c.name}}

                <div class="pull-right">
                    <a href="" data-ng-click="subscribePopup(c)"><i class="glyphicon glyphicon-plus-sign"></i></a>
                </div>




            </div>



            <div class="three-column-section top-section">


                <div class="column">
                    <div class="field-label">User</div>
                    <div class="field-data">
                        {{c.user.displayName}}
                    </div>
                </div>


                <div class="column">
                    <div class="field-label">Front</div>
                    <div class="field-data">
                        {{c.front}}
                    </div>
                </div>

                <div class="column">
                    <div class="field-label">Back</div>
                    <div class="field-data">
                        {{c.back}}
                    </div>
                </div>

            </div>

            <div data-ng-if="c.description">
                <div class="field-label">Description</div>
                <div class="field-data">{{c.description}}</div>
            </div>


        </div>
    </div>


</section>