<section data-ng-controller="UploadController">


    <div class="sparesys-header">

        <div class="sparesys-title">
            Upload Course
        </div>
    </div>

    <form  data-ng-submit="uploadQA()" novalidate>
    <!--<form class="form-horizontal" data-ng-submit="uploadWordList()" novalidate>-->
        <fieldset>
            <div class="form-group">
                <table class="sparesys-view-object-table">
                    <tr class="controls">
                        <td class="sparesys-view-object-label-cell">Name</td>
                        <td class="sparesys-view-object-content-cell">
                            <input type="text" data-ng-model="options.name"
                                   id="name" class="form-control"
                                   placeholder="Name"
                                   required></td>
                    </tr>

                    <tr class="controls">

                        <td class="sparesys-view-object-label-cell">Description</td>
                        <td class="sparesys-view-object-content-cell">
                            <input type="text" data-ng-model="options.description"
                                   id="description" class="form-control"
                                   placeholder="Description" required></td>
                    </tr>
                </table>
            <textarea data-ng-model="text" style="width: 100%" rows="16">

            </textarea>
            </div>
            <div style="text-align: center">
                <input type="submit" value="Create" class="btn btn-default">
            </div>
            <div data-ng-show="error" class="text-danger">
                <strong>{{error}}</strong>
            </div>
        </fieldset>
    </form>




</section>