<section data-ng-controller="CoursesController" data-ng-init="findOne()">

    <div ng-include="'/modules/courses/views/partial/copied-course.modal.client.view.html'"></div>

    <div class="content-header">

        <div class="pull-right">


            <a class="menu-link"
               href=""
               data-ng-click="copy(course)">
                Subscribe
            </a>
        </div>


        <div class="sparesys-title">
            {{course.name}}
        </div>
        <div>
            {{course.description}}
        </div>
    </div>


    <div data-ng-if="course.packs.length === 0">
        <div class="content-section">
            This is an empty course.
        </div>
    </div>

    <div data-ng-if="course.packs.length > 0">
        <div class="content-section">

            <table id="searchTextResults" class="table-striped expands">
                <thead>
                <tr>
                    <th class="right-padded expands">Pack</th>
                    <th>Cards</th>
                    <!--<th class= "sparesys-view-courses-description-column">Description</th>-->
                    <!--<th>Created</th>-->
                </tr>
                </thead>
                <tbody data-ng-model="course.packs">
                <tr data-ng-repeat="packId in course.packs"
                    data-ng-controller="PacksController"
                    data-ng-init="findById(packId)">

                    <td class="expands right-padded">
                        <a data-ng-href="#!/packs/{{pack._id}}/view">{{pack.name}}</a>
                    </td>
                    <td>
                        {{pack.cards.length}}
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>


    <small>
        <em class="text-muted">Course created on {{course.created | date:'mediumDate'}} by
            {{course.user.displayName}}</em>

    </small>
</section>