<section data-ng-controller="CoursesController" data-ng-init="findOne()">
    <div class="pull-right">

        <!--TODO: Add edit course-->
        <!--<a class="btn btn-primary" href="/#!/courses/{{course._id}}/edit"-->
           <!--data-ng-show="authentication.user._id == course.user._id">-->
            <!--<i class="glyphicon glyphicon-edit"></i>-->
        <!--</a>-->

        <!--TODO: Add delete course-->
        <!--<a class="btn btn-primary" data-ng-click="are_you_sure(course);" data-ng-show="authentication.user._id == course.user._id">-->
            <!--<i class="glyphicon glyphicon-trash"></i>-->
        <!--</a>-->

        <!--TODO: Add publish course-->
        <!--<a class="btn btn-primary" data-ng-click="subscribe();">-->
            <!--<i class="glyphicon glyphicon-inbox"></i>-->
        <!--</a>-->
    </div>

    <div class="sparesys-title">{{course.name}}</div>
    <div class="sparesys-subtitle">{{course.description}}</div>


    <small>
		<em class="text-muted">Posted on {{course.created | date:'mediumDate'}} by {{course.user.displayName}}</em>
	</small>
</section>