<div data-ng-controller="CardsSettingsController" >


    <div class="tab-header">

        <table>
            <tr>
                <td class="nowrap">Change Settings for Cards {{card.question}}</td>
                <td class="expands"></td>



                <td class="nowrap">
                    <card-pager></card-pager>

                </td>

                <td class="right-padded-s top-aligned">
                    <a href="">
                        <i ng-class="checkForward(card)" data-ng-click="areYouSureToDeleteCard(card)"
                           class="small left-padded-s glyphicon glyphicon-remove-sign">
                        </i>
                    </a></td>
            </tr>

        </table>
    </div>




    <table class="box-margin-s" >

        <tr>
            <td class="top-padded-s right-padded-s middle-aligned">
                Front Text
            </td>

            <td class="top-padded-s right-padded-s middle-aligned">
                {{card.question}} <span data-ng-if="card.questionExtension">({{card.questionExtension}})</span>
            </td>
        </tr>



        <tr>
            <td class="top-padded-m right-padded-s middle-aligned">
                Back Text
            </td>

            <td class="top-padded-m right-padded-s middle-aligned">
                {{card.answer}} <span data-ng-if="card.answerExtension">({{card.answerExtension}})</span>
            </td>
        </tr>

        <tr>
            <td class="top-padded-m right-padded-s middle-aligned">
                Priority
            </td>

            <td class="top-padded-m right-padded-s middle-aligned">
                <div class="btn-group right-padded-l nowrap">


                    <button type="button" class="btn btn-default standard-dropdown-width">{{ options.priority }}</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="priority in priorities"><a
                                data-ng-click="setPriority(priority)">{{priority}}</a>
                        </li>
                    </ul>

                </div>

            </td>
        </tr>

        <tr>
            <td class="top-padded-m right-padded-s middle-aligned">
                Language Front
            </td>
            <td class="top-padded-m right-padded-m middle-aligned">


                <div class="btn-group right-padded-l nowrap">


                    <button type="button" class="btn btn-default standard-dropdown-width">{{ options.languageFront.name }}</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="lang in languages"><a
                                data-ng-click="setLanguageFront(lang)">{{lang.name}}</a>
                        </li>
                    </ul>

                </div>

                <span class="right-padded-m left-padded-m">
                 Language Back
                    </span>

                <div class="btn-group">
                    <button type="button" class="btn btn-default standard-dropdown-width">{{ options.languageBack.name }}</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="lang in languages"><a
                                data-ng-click="setLanguageBack(lang)">{{lang.name}}</a>
                        </li>
                    </ul>

                </div>

            </td>
        </tr>


        <tr>
            <td class="right-padded-s top-padded-sm">Checks</td>
            <td class="top-padded-sm ">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-default standard-dropdown-width">{{ options.check }}
                    </button>
                    <button type="button"
                            class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="check in options.checks"><a
                                data-ng-click="setCheck(check)">{{check}}</a></li>
                    </ul>
                </div>
            </td>
        </tr>


        <tr data-ng-controller="DateDropdownController">
            <td class="top-padded-s right-padded-s">Start date</td>


            <td class="top-padded-s right-padded-s nowrap">

                <table>

                    <tr>

                        <td class="input-group">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="{{format}}"
                                   ng-model="card.startDate"
                                   is-open="options.openStartDateCalendar"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-required="false"
                                   close-text="Close"
                                   data-ng-blur="update()"/>


                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDateCalendar($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                        </td>



                    </tr>
                </table>

            </td>
        </tr>


        <tr data-ng-controller="DateDropdownController">
            <td class="top-padded-s right-padded-s">Due date</td>


            <td class="top-padded-s right-padded-s nowrap">

                <table>

                    <tr>

                        <td class="input-group">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="{{format}}"
                                   ng-model="card.dueDate"
                                   is-open="options.openDueDateCalendar"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-required="false"
                                   close-text="Close"
                                   data-ng-blur="update()"/>


                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDueDateCalendar($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                        </td>


                    </tr>
                </table>

            </td>
        </tr>


    </table>




</div>