<div data-ng-controller="EditCardReverseController" data-ng-init="updateView()">


    <div class="tab-header">

        <table>
            <tr>
                <td class="nowrap">Change Reverse Mode Settings for {{card.question}}</td>
                <td class="expands"></td>



                <td class="nowrap right-padded-s">
                    <card-pager></card-pager>
                </td>

            </tr>

        </table>
    </div>

    <table class="box-margin-s">


        <tr>
            <td></td>
            <td class="right-padded-m nowrap" colspan="2">


                <input type="checkbox" data-ng-model="card.hasReverseMode" data-ng-click="toggleMode()"/>


                <span>Use Reverse Mode</span>


            </td>

        </tr>


        <tr>
            <td class="right-padded-m nowrap top-padded-m">
                <span ng-class="reverseMuted">Front Text</span>
            </td>
            <td class="expands right-padded-s top-padded-m">
                <input type="text"
                       data-ng-model="card.answer"
                       class=" form-control focus standard-input-width"
                       placeholder="Question"
                       data-ng-blur="updateCard()"
                       ng-disabled="!card.hasReverseMode"
                       required>


            </td>


        </tr>


        <tr>
            <td class="top-padded-s bottom-padded-m"></td>
            <td class="nowrap top-padded-s middle-aligned bottom-padded-m">
                <input ng-disabled="!card.hasReverseMode"
                       data-ng-model="card.readFrontReverse"
                       data-ng-click="toggleReadFrontReverse()"
                       type="checkbox"/>
                <span ng-class="reverseMuted">Read out loud</span>
            </td>

        </tr>

        <tr>
            <td class="right-padded-m top-padded-s nowrap">
                <div data-ng-class="reverseMuted">Expected Answer</div>

            </td>

            <td class="expands  top-padded-s right-padded-s">
                    <input type="text"
                           data-ng-model="card.question"
                           class="standard-input-width form-control"
                           placeholder="Answer"
                           data-ng-blur="updateCard()"
                           ng-disabled="!card.hasReverseMode"
                           required>
            </td>

        </tr>


        <tr data-ng-repeat="alt in card.acceptedAnswersReverse track by $index">
            <td class="right-padded-m nowrap">
                <div data-ng-class="reverseMuted">Also Accepted</div>
            </td>
            <td class="expands top-padded-s right-padded-s">

                    <input type="text"
                           data-ng-model="alt"
                           id="alternatives"
                           class="standard-input-width form-control"
                           data-ng-blur="updateAlternative($index, alt)"
                           ng-disabled="!card.hasReverseMode"
                           placeholder="Alternative Answer">

            </td>
        </tr>

        <tr class="controls">
            <td class="right-padded-m top-padded-s"></td>
            <td class="expands top-padded-s right-padded-s">
                    <input type="text"
                           data-ng-model="nextAlternative"
                           id="alternativeReverse"
                           class="standard-input-width form-control alternative"
                           placeholder="Alternative Answer"
                           ng-disabled="!card.hasReverseMode"
                           data-ng-blur="updateCard()">
            </td>
        </tr>



        <tr>
            <td class="top-padded-s"></td>
            <td class="nowrap top-padded-s bottom-padded-m middle-aligned">


                <input data-ng-model="card.speechRecognitionReverse"
                       type="checkbox"
                       ng-disabled="!card.hasReverseMode"
                       data-ng-click="toggleSpeechRecognitionReverse()"

                        />

                <span ng-class="reverseMuted">Recognize Speech</span>


            <span class="left-padded-m">
            <input data-ng-model="card.readBackReverse" type="checkbox"
                   ng-disabled="!card.hasReverseMode"
                   data-ng-click="toggleReadBackReverse()"

                    />

                <span ng-class="reverseMuted">Read out loud</span>
            </span>


            </td>

        </tr>


    </table>

</div>