<div data-ng-controller="EditCardForwardController">


    <div class="tab-header">
        Change Forward Mode Settings for {{card.question}}
    </div>

    <table class="box-margin-s">


        <tr>
            <td></td>
            <td class="right-padded-m nowrap" colspan="2">

                <input type="checkbox" data-ng-model="options.forward" data-ng-click="toggleMode()"/>


                <span data-ng-if="isForward()">Forward Mode Enabled</span>
                <span data-ng-if="!isForward()" class="text-muted">Forward Mode Enabled</span>
            </td>

        </tr>


        <tr>
            <td class="right-padded-m nowrap top-padded-m">
                <span data-ng-if="isForward()">Front Text</span>
                <span data-ng-if="!isForward()" class="text-muted">Front Text</span>
            </td>
            <td class="expands right-padded-m top-padded-m">
                <section data-ng-if="isForward()">
                    <input type="text"

                           data-ng-model="card.question"
                           class=" form-control focus standard-input-width"
                           placeholder="Question"
                           data-ng-blur="updateCard()"
                           required>
                </section>

                <section data-ng-if="!isForward()">
                    <input type="text"

                           data-ng-model="card.question"
                           class=" form-control focus standard-input-width"
                           placeholder="Question"
                           disabled
                            >
                </section>

            </td>


        </tr>


        <tr>
            <td class="top-padded-l"></td>
            <td class="nowrap top-padded-s middle-aligned">


                <div class="right-padded-m top-padded-m" data-ng-if="isForward()">
                    <input data-ng-model="card.soundFront" type="checkbox"/> Read out loud
                </div>

                <div class="right-padded-m top-padded-m text-muted" data-ng-if="!isForward()">
                    <input data-ng-model="card.soundFront" disabled type="checkbox"/> Read out loud
                </div>

            </td>

        </tr>

        <tr>
            <td class="right-padded-m top-padded-s">
                <div data-ng-if="isForward()">Back Text</div>
                <div class="text-muted" data-ng-if="!isForward()">Back Text</div>

            </td>

            <td class="expands  top-padded-s right-padded-m">
                <section data-ng-if="isForward()">
                    <input type="text"
                           data-ng-model="card.answer"
                           class="standard-input-width form-control"
                           placeholder="Answer"
                           data-ng-blur="updateAnswer()"
                           required>
                </section>

                <section data-ng-if="!isForward()">
                    <input type="text"
                           data-ng-model="card.answer"
                           class="standard-input-width form-control"
                           placeholder="Answer"
                           disabled>
                </section>
            </td>

        </tr>

        <tr data-ng-repeat="alt in card.alternatives track by $index">
            <td class="right-padded-m"></td>
            <td class="expands">
                <section data-ng-if="isForward()">
                    <input type="text"
                       data-ng-model="alt"
                       id="alternatives"
                       class="standard-input-width form-control"
                       data-ng-blur="updateAlternative($index, alt)"
                       placeholder="Alternative Answer">
                </section>
                <section data-ng-if="!isForward()">
                    <input type="text"
                           data-ng-model="alt"
                           class="standard-input-width form-control"
                           placeholder="Alternative Answer"
                            disabled>
                </section>
            </td>
        </tr>

        <tr class="controls">
            <td class="right-padded-m top-padded-s"></td>
            <td class="expands top-padded-s right-padded-m">
                <section data-ng-if="isForward()">
                    <input type="text"
                       data-ng-model="nextAlternative"
                       id="alternative"
                       class="standard-input-width form-control alternative"
                       ng-keyup="enterAlternative($event)"
                       placeholder="Alternative Answer"
                       data-ng-blur="updateNextAlternative()">
                </section>
                <section data-ng-if="!isForward()">
                    <input type="text"
                           data-ng-model="nextAlternative"
                           class="standard-input-width form-control alternative"
                           ng-keyup="enterAlternative($event)"
                           placeholder="Alternative Answer"
                           disabled>
                </section>
            </td>
        </tr>


        <tr>
            <td class="top-padded-l"></td>
            <td class="nowrap top-padded-s middle-aligned">


            <span class="right-padded-m" data-ng-if="isForward()">
            <input data-ng-model="card.speechRecgognitionBack" type="checkbox"/> Recognize Speech
            </span>

                <span class="right-padded-m" data-ng-if="!isForward()">
            <input data-ng-model="card.speechRecgognitionBack"  type="checkbox"/> Recognize Speech
            </span>


            <span class="right-padded-m top-padded-m">
            <input data-ng-model="card.soundBack" type="checkbox"/> Read out loud
            </span>


            </td>

        </tr>


    </table>

</div>