<script type="text/ng-template" id="areYouSureToDeleteCard.html">
    <div class="modal-body" >

        <div class="content-header">
            <div class="title center-aligned">
                Delete Card: {{card.question}}
            </div>
            <div class="title center-aligned">
               {{card.answer}}
            </div>
        </div>
        <!--<div class="sparesys-header">-->

            <!--<div class="sparesys-subtitle">-->
                <!--Are you sure?-->
            <!--</div>-->
        <!--</div>-->
        <div style="text-align: center">
        <button class="btn btn-rememberators" ng-click="ok()">OK</button>
        <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>