
<div class="pull-right right-padded-sm" >


    <a href="">
        <i data-ng-click="areYouSureToDeleteCard(card)"
           class="glyphicon glyphicon-remove-sign">
        </i>
    </a>
</div>

<table class="box-margin-s">


    <tr>
        <td class="top-padded-s right-padded-m"><b>{{course.front}}</b></td>


        <td class="top-padded-s middle-aligned">

            <b>{{card.question}}</b>

        </td>

    </tr>

    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td class="right-padded-m top-padded-sm">
                        Language

                    </td>
                    <td class="btn-group right-padded-l  top-padded-sm">


                        <button type="button" class="btn btn-default">{{ card.languageFront.name }}</button>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="lang in languages"><a
                                    data-ng-click="setLanguage(lang)">{{lang.name}}</a>
                            </li>
                        </ul>

                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr>
        <td class="top-padded-sm right-padded-m top-aligned"><b>{{course.back}}</b></td>
        <td class="top-padded-sm middle-aligned">

            <b>{{card.answer}}</b>

        </td>

    </tr>

    <tr>
        <td></td>
        <td class="btn-group top-padded-sm">

            <table>
                <tr>
                    <td class="right-padded-m">
                        Language

                    </td>
                    <td class="btn-group">
                        <button type="button" class="btn btn-default">{{ card.languageBack.name }}</button>
                        <button type="button" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="lang in languages"><a
                                    data-ng-click="setLanguage(lang)">{{lang.name}}</a>
                            </li>
                        </ul>

                    </td>
                </tr>
            </table>


        </td>
    </tr>


    <!--<tr>-->
    <!--<td class="right-padded-m top-padded-sm">Lan</td>-->
    <!--<td class="top-padded-sm">-->
    <!--<div class="btn-group">-->
    <!--<button type="button"-->
    <!--class="btn btn-default">{{ validation }}-->
    <!--</button>-->
    <!--<button type="button"-->
    <!--class="btn btn-default dropdown-toggle">-->
    <!--<span class="caret"></span>-->
    <!--<span class="sr-only">Split button!</span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li data-ng-repeat="val in validations"><a-->
    <!--data-ng-click="setValidation(val)">{{val}}</a></li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->


    <tr>
        <td class="right-padded-m top-padded-sm">Card Supports Modes</td>
        <td class="top-padded-sm">

                <span class="right-padded-m" data-ng-repeat="mode in modes">


                    <span data-ng-if="card.modes.indexOf(mode) === -1">
                        <input type="checkbox" data-ng-click="toggleMode(mode)"/>
                    </span>
                <span data-ng-if="card.modes.indexOf(mode) > -1">
                         <input type="checkbox" checked data-ng-click="toggleMode(mode)"/>


                </span>
                    {{mode}}

                </span>

        </td>
    </tr>

    <tr>
        <td class="right-padded-m top-padded-sm">Checks</td>
        <td class="top-padded-sm">
            <div class="btn-group">
                <button type="button"
                        class="btn btn-default">{{ check }}
                </button>
                <button type="button"
                        class="btn btn-default dropdown-toggle">
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li data-ng-repeat="check in checks"><a
                            data-ng-click="setCheck(check)">{{check}}</a></li>
                </ul>
            </div>
        </td>
    </tr>

    <tr data-ng-controller="DateDropdownController">
        <td class="top-padded-s">Due date</td>
        <td class="top-padded-s">

            <div class="input-group">
                <input type="text"
                       class="form-control"
                       datepicker-popup="{{format}}"
                       ng-model="$parent.card.dueDate"
                       is-open="opened"
                       min-date="minDate"
                       datepicker-options="dateOptions"
                       ng-required="false"
                       close-text="Close"
                       data-ng-blur="$parent.update()"/>


                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </div>
            </div>

        </td>
    </tr>

    <tr data-ng-controller="DateDropdownController">
        <td class="top-padded-s right-padded-m">Start date</td>
        <td class="top-padded-s">

            <div class="input-group  bottom-spacer">
                <input type="text"
                       class="form-control"
                       datepicker-popup="{{format}}"
                       ng-model="$parent.card.startDate"
                       is-open="opened" min-date="minDate"
                       datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)"
                       ng-required="false"
                       close-text="Close"
                       data-ng-blur="$parent.update()"/>

                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i
                            class="glyphicon glyphicon-calendar"></i></button>
                </div>
            </div>

        </td>
    </tr>


</table>

