<script type="text/ng-template" id="manageImages.html">


    <div class="rememberators-modal">

        <div class="rememberators-modal-header">
            <div class="title center-aligned" style="text-align: center">
                Manage Images
            </div>

        </div>

        <div class="rememberators-modal-section">

            <div class="searchbox">
                <div class="input">

                    <form class="form-horizontal" data-ng-submit="search()" novalidate>
                        <fieldset>
                            <input type="search"
                                   class="form-control focus search" ng-model="search.text">
                        </fieldset>
                    </form>
                </div>

                <div class="icon">
                    <a href="" data-ng-click="search()"><i
                            class="glyphicon glyphicon-search"></i></a>
                </div>
            </div>


        </div>


        <div class="rememberators-modal-section">
            <div class="row">


                <div class="col-xs-3 gallerypic"
                     data-ng-repeat="i in [0,1,2,3]">

                    <a href="" data-ng-click="removeImage(selected.images[i])">
                        <img ng-src="{{selected.images[i]}}" style="max-width: 120px; max-height: 120px;"/>
                        <section
                                data-ng-if="selected.images[i] !== '/modules/core/img/brand/placeholder_icon.png'">

                        </section>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3 center-aligned"
                     data-ng-repeat="i in [0,1,2,3]">

                    <div data-ng-if="selected.images[i] !== '/modules/core/img/brand/placeholder_icon.png'">
                        <a class="remove-icon" href="" data-ng-click="removeImage(selected.images[i])">
                            Remove
                        </a>
                    </div>
                </div>
            </div>


        </div>

        <div class="rememberators-modal-section three-column-section" data-ng-if="images.length > 0">

            <div data-ng-repeat="row in images track by $index">
                <div class="column gallerypic searchimage"
                     data-ng-repeat="img in row track by $index">
                    <a href="" data-ng-click="addImage(img)">


                        <div style="vertical-align: middle; min-height: 132px; max-height: 132px; text-align: center; vertical-align: middle">
                            <!--<span style="height: 100%; vertical-align: middle;display: inline-block;"></span>-->
                            <img ng-src="{{img}}" class="image-128"/>
                        </div>

                        <!--<div class="add-icon" style="position: absolute; bottom:2px; left: 44%">-->
                        <!--Add-->
                        <!--</div>-->
                    </a>

                </div>
            </div>

        </div>

        <div class="rememberators-modal-footer">
            <button class="btn btn-rememberators" ng-click="ok()">OK</button>
            <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
    </div>


</script>