<script type="text/ng-template" id="manageImages.html">
    <div class="modal-body" data-ng-init="setFocus()">

        <div class="content-header">

            <form class="form-horizontal" data-ng-submit="search()" novalidate>
                <fieldset>
                    <table>
                        <tr>
                            <td class="expands title nowrap">

                                {{card.question}}
                            </td>

                            <td class="right-aligned"><input type="search" style="min-width: 200px"
                                                             class="form-control focus search" ng-model="search.text">
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>

        </div>


        <div class="content-section">

            <!--<div class="title">Selected Images</div>-->

            <!--style="max-width: 560px"-->
            <table>
                <tr>

                    <!--style="text-align:center;max-width:139px;padding: 3px 5px 24px 0px; border: 1px solid #666666"-->


                    <td class="gallerypic center-aligned"
                        style="width:30%; min-width:25%; min-height: 120px"
                        data-ng-repeat="i in [0,1,2,3]">

                        <a href="" data-ng-click="removeImage(selected.images[i])">
                            <img ng-src="{{selected.images[i]}}" style="max-width: 120px; max-height: 120px;"/>
                            <section
                                    data-ng-if="selected.images[i] !== '/modules/core/img/brand/placeholder_icon.png'">

                            </section>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="center-aligned"
                        data-ng-repeat="i in [0,1,2,3]">

                        <div data-ng-if="selected.images[i] !== '/modules/core/img/brand/placeholder_icon.png'">
                            <a class="remove-icon" href="" data-ng-click="removeImage(selected.images[i])">
                                Remove
                            </a>
                        </div>
                    </td>
                </tr>

            </table>

        </div>


        <!--<div class="title">-->


        <!--</span>-->
        <!--</div>-->
        <!--<div data-ng-if="images.length === 0">-->
        <!--No Search Result-->
        <!--</div>-->


        <div data-ng-if="images.length > 0" style="position: relative">
            <div style="position: absolute; top:50%; font-size: x-large; left:3px">
                <span data-ng-if="images.length >0">
                <span data-ng-if="page > 1">
                <a href="">
                    <i data-ng-click="prev()"
                       class="glyphicon glyphicon-chevron-left">
                    </i>
                </a>
                </span>

                <span data-ng-if="page <= 1">
                <i class="glyphicon glyphicon-chevron-left text-muted">
                </i>
                </span>
                </span>
            </div>

            <div style="position: absolute; top:50%; right: 3px; font-size: x-large">
                <span data-ng-if="page < max_page">
                <a href="">
                    <i data-ng-click="next()"
                       class="glyphicon glyphicon-chevron-right">
                    </i>
                </a>
                </span>

                <span data-ng-if="page >= max_page">
                <i
                        class="glyphicon glyphicon-chevron-right text-muted">
                </i>
                </span>
            </div>
            <table width="90%" style="margin-left: 5%; margin-right:5%">
                <tr data-ng-repeat="row in images track by $index">
                    <td class="gallerypic searchimage"
                        style="position: relative"
                        data-ng-repeat="img in row track by $index">
                        <a href="" data-ng-click="addImage(img)">


                            <div style="height: 128px">
                                <span style="height: 100%; vertical-align: middle;display: inline-block;"></span>
                                    <img ng-src="{{img}}" class="image-128" style="vertical-align: middle;"/>
                            </div>

                            <div class="add-icon" style="position: absolute; bottom:2px; left: 44%">
                                Add
                            </div>
                        </a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</script>