<div>

    <div class="three-column-section top-section">

        <div class="column">
            <div class="field-label">Question</div>
            <div class="field-data">
                {{card.question}} <span data-ng-if="card.questionExtension">({{card.questionExtension}})</span>
            </div>
        </div>

        <div class="column">
            <div class="field-label">Answer</div>
            <div class="field-data">
                {{card.answer}} <span data-ng-if="card.answerExtension">({{card.answerExtension}})</span>
            </div>
        </div>


    </div>

    <div class="three-column-section">

        <div class="column">
            <div class="field-label">Language Front</div>
            <div class="field-data">
                <div data-ng-if="card.languageFront">
                    {{card.languageFront.name}}
                </div>

                <div data-ng-if="!card.languageFront">
                    none
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field-label">Language Back</div>
            <div class="field-data">
                <div data-ng-if="card.languageBack">
                    {{card.languageBack.name}}

                </div>

                <div data-ng-if="!card.languageBack">
                    none
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field-label">Priority</div>
            <div class="field-data">
                {{priorities[card.priority-1]}}
            </div>
        </div>
    </div>


    <div class="three-column-section">
        <div class="column">
            <div class="field-label">Start Date</div>
            <div class="field-data">
                <div data-ng-if="card.startDate">
                    {{card.startDate | date: 'shortDate'}}
                </div>

                <div data-ng-if="!card.startDate">
                    none
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field-label">Due Date</div>
            <div class="field-data">
                <div data-ng-if="card.dueDate">
                    {{card.dueDate | date: 'shortDate'}}
                </div>

                <div data-ng-if="!card.dueDate">
                    none
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field-label">Checks</div>
            <div class="field-data">
                <div data-ng-if="card.check">
                    {{card.check}}

                </div>


            </div>
        </div>
    </div>

</div>
