<div class="flashcard-section">

    <div class="row">

        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Question</div>
            <div class="font-medium">
                {{card.question}} <span data-ng-if="card.questionExtension">({{card.questionExtension}})</span>
            </div>
        </div>

        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Answer</div>
            <div class="font-medium">
                {{card.answer}} <span data-ng-if="card.answerExtension">({{card.answerExtension}})</span>
            </div>
        </div>


    </div>

    <div class="row">

        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Language Front</div>
            <div class="font-medium">
                <div data-ng-if="card.languageFront">
                    {{card.languageFront.name}}
                </div>

                <div data-ng-if="!card.languageFront">
                    none
                </div>
            </div>
        </div>

        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Language Back</div>
            <div class="font-medium">
                <div data-ng-if="card.languageBack">
                    {{card.languageBack.name}}

                </div>

                <div data-ng-if="!card.languageBack">
                    none
                </div>
            </div>
        </div>

        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Priority</div>
            <div class="font-medium">
                {{priorities[card.priority-1]}}
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Start Date</div>
            <div class="font-medium">
                <div data-ng-if="card.startDate">
                    {{card.startDate | date: 'shortDate'}}
                </div>

                <div data-ng-if="!card.startDate">
                    none
                </div>
            </div>
        </div>

        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Due Date</div>
            <div class="font-medium">
                <div data-ng-if="card.dueDate">
                    {{card.dueDate | date: 'shortDate'}}
                </div>

                <div data-ng-if="!card.dueDate">
                    none
                </div>
            </div>
        </div>

        <div class="col-xs-4 dashboard-col">
            <div class="field-label">Checks</div>
            <div class="font-medium">
                <div data-ng-if="card.check">
                    {{checks[card.check]}}
                </div>


            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-4 dashboard-col">
            <div class="field-label" ng-class="{'text-muted': card.modes.indexOf('forward') === -1}">Forward Mode
            </div>
            <div class="font-medium text-muted" data-ng-if="card.modes.indexOf('forward') === -1">
                not used
            </div>
            <div class="font-medium " data-ng-if="card.modes.indexOf('forward') > -1">

                <div ng-class="{'text-muted': !card.readFrontForward}">
                    Read question

                </div>
                <div ng-class="{'text-muted': !card.readBackForward}">
                    Read answer

                </div>
                <div ng-class="{'text-muted': !card.speechRecognitionForward}">
                    Speech recognition

                </div>

            </div>
        </div>

        <div class="col-xs-4 dashboard-col">
            <div class="field-label" ng-class="{'text-muted': card.modes.indexOf('reverse') === -1}">Reverse Mode
            </div>
            <div class="font-medium text-muted" data-ng-if="card.modes.indexOf('reverse') === -1">
                not used
            </div>
            <div class="font-medium " data-ng-if="card.modes.indexOf('reverse') > -1">

                <div ng-class="{'text-muted': !card.readFrontReverse}">
                    Read question

                </div>
                <div ng-class="{'text-muted': !card.readBackReverse}">
                    Read answer

                </div>
                <div ng-class="{'text-muted': !card.speechRecognitionReverse}">
                    Speech recognition

                </div>

            </div>
        </div>

        <div class="col-xs-4 dashboard-col">
            <div class="field-label" ng-class="{'text-muted': card.modes.indexOf('images') === -1}">Image Mode</div>
            <div class="font-medium text-muted" data-ng-if="card.modes.indexOf('images') === -1">
                not used
            </div>
            <div class="font-medium " data-ng-if="card.modes.indexOf('images') > -1">

                <div ng-class="{'text-muted': !card.imagesReadFront}">
                    Read question

                </div>
                <div ng-class="{'text-muted': !card.imagesReadBack}">
                    Read answer

                </div>
                <div ng-class="{'text-muted': !card.speechRecognitionImages}">
                    Speech recognition

                </div>

            </div>
        </div>
    </div>


</div>
