<script type="text/ng-template" id="addCardToPack.html">


    <div>

        <div class="modal-body">
            <div class="content-header">
                <div class="title center-aligned">
                    Add cards to Pack
                </div>


            <div class="title">
                <div class="title center-aligned font-m">
                    <span class="warning">{{pack.name}}</span>
                </div>

            </div>

    </div>

            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="content-header">
                        <table>
                            <tr>
                                <td class="right-padded-m nowrap">{{course.front}}</td>
                                <td class="expands">
                                    <input type="text"
                                           data-ng-model="options.question"
                                           id="cardquestion"
                                           class="form-control focus front"
                                           placeholder="Question"
                                           data-ng-init="setFocus()"
                                           tabindex=1
                                           required>

                                    <!--<div style="text-align: center; padding-bottom: 10px">-->
                                          <!--<span data-ng-repeat="c in specialCharsFront" >-->
                        <!--<button class="btn btn-rememberators btn-small" style="margin-bottom: 3px" data-ng-click="typeSpecialCharFront(c)">{{c}}</button>-->
                                              <!--</span>-->
                                    <!--</div>-->
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded-m top-padded-s"></td>
                                <td class="expands top-padded-s">
                                    <input type="text"
                                           data-ng-model="options.questionExtension"
                                           id="questionextension"
                                           class="form-control front"
                                           placeholder="Extra Information"
                                           tabindex=4
                                           required>

                                    <!--<div style="text-align: center; padding-bottom: 10px">-->
                                    <!--<span data-ng-repeat="c in specialCharsFront" >-->
                                    <!--<button class="btn btn-rememberators btn-small" style="margin-bottom: 3px" data-ng-click="typeSpecialCharFront(c)">{{c}}</button>-->
                                    <!--</span>-->
                                    <!--</div>-->
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded-m top-aligned top-padded-sm">{{course.back}}</td>
                                <td class="expands top-padded-s">

                                    <span data-ng-if="options.format === 'short'" >
                                        <input type="text" data-ng-model="options.answer"
                                               class="form-control back"
                                               placeholder="Answer"
                                               data-ng-init="setFocus()"
                                               tabindex=2
                                               required>
                                    </span>

                                    <span data-ng-if="options.format === 'long'">
                                        <textarea type="text" data-ng-model="options.answer"
                                                  class="form-control"
                                                  placeholder="Answer"
                                                  data-ng-init="setFocus()"
                                                  rows="5"
                                                  required></textarea>
                                    </span>

                                    <!--<div style="text-align: center; padding-bottom: 10px">-->

                                        <!--{{specialCharsBack}}-->
                                          <!--<span data-ng-repeat="c in specialCharsBack" >-->
                        <!--<button class="btn btn-rememberators btn-small" style="margin-bottom: 3px" data-ng-click="typeSpecialCharBack(c)">{{c}}</button>-->
                                              <!--</span>-->
                                    <!--</div>-->
                                </td>
                            </tr>



                            <tr>
                                <td class="right-padded-m top-padded-s"></td>
                                <td class="expands top-padded-s">
                                    <input type="text"
                                           data-ng-model="options.answerExtension"
                                           id="answernextension"
                                           class="form-control front"
                                           placeholder="Extra Information"
                                           tabindex=5
                                           required>

                                    <div style="text-align: center; padding-bottom: 10px">
                                    <span data-ng-repeat="c in specialCharsFront" >
                                    <button class="btn btn-rememberators btn-small" style="margin-bottom: 3px" data-ng-click="typeSpecialCharFront(c)">{{c}}</button>
                                    </span>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td></td>
                                <td class="expands nowrap right-aligned">
                                    <section data-ng-if="options.format === 'short'">
                                        <a href="" data-ng-click="toggleFormat()">Long Answer</a>
                                    </section>

                                    <section data-ng-if="options.format === 'long'">
                                        <a href="" data-ng-click="toggleFormat()">Short Answer</a>
                                    </section>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="center-aligned content-header">
                        <button class="btn btn-rememberators"
                                type="Spanish"
                                tabindex=
                                        ng-click="addCardToPack()">Spanish
                        </button>

                        <button class="btn btn-rememberators"
                                type="French"
                                tabindex=
                                        ng-click="addCardToPack()">French
                        </button>

                        <button class="btn btn-rememberators"
                                type="German"
                                tabindex=
                                        ng-click="addCardToPack()">German
                        </button>


                    </div>



                    <div class="center-aligned">
                        <button class="btn btn-rememberators"
                                type="submit"
                                tabindex=
                                ng-click="addCardToPack()">Add
                        </button>


                    </div>

                </fieldset>
            </form>

        </div>


    </div>
</script>