<script type="text/ng-template" id="addCardToPack.html">


    <div>

        <div class="modal-body">
            <div class="content-header">
                <div class="title center-aligned">
                    Add cards to Pack: {{pack.name}}
                </div>
            </div>

            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="content-header">
                        <table>
                            <tr>
                                <td class="right-padded">{{course.front}}</td>
                                <td class="expands">
                                    <input type="text"
                                           data-ng-model="question"
                                           id="cardquestion"
                                           class="form-control focus"
                                           placeholder="Question"
                                           data-ng-init="setFocus()"
                                           required>
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded">{{course.back}}</td>
                                <td class="expands">
                                    <input type="text" data-ng-model="answer"
                                           id="cardanswer" class="form-control"
                                           placeholder="Answer"
                                           data-ng-init="setFocus()"
                                           required></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <button class="btn btn-primary"
                                type="submit"
                                ng-click="addCardToPack()">Add</button>

                        <div class="pull-right">
                            <button class="btn btn-primary"
                                    ng-click="cancel()">Done</button>
                        </div>

                    </div>

                </fieldset>
            </form>

        </div>


    </div>
</script>