<script type="text/ng-template" id="areYouSureToDeletePack.html">
    <div class="modal-body">

        <div class="sparesys-header">
            <div class="sparesys-title">
                Course {{course.name}}
            </div>
            <div class="sparesys-subtitle">
                Delete pack <span class="sparesys-emphasize">"{{pack.name}}"</span>?
            </div>
        </div>
        <!--<div class="modal-footer">-->
        <button class="btn btn-primary sparesys-button" ng-click="ok()">OK</button>
        <button class="btn btn-primary sparesys-button" ng-click="cancel()">Cancel</button>
        <!--</div>-->
    </div>
</script>