<script type="text/ng-template" id="areYouSureToDeletePack.html">
    <div class="modal-body">

        <div class="sparesys-header">
            <div class="sparesys-title" style="text-align: center">
                Delete Pack: {{pack.name}}
            </div>
        </div>
        <div style="text-align: center">
        <button class="btn btn-primary sparesys-button" ng-click="ok()">OK</button>
        <button class="btn btn-primary sparesys-button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>