<script type="text/ng-template" id="editPack.html">
    <div>

        <div class="modal-body">
            <div class="content-header">
                <div class="title center-aligned">
                    Edit Pack: {{initialPackName}}
                </div>
            </div>

            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="content-header">
                        <table class="expands">
                            <tr>
                                <td class="right-padded">Name</td>
                                <td class="expands">
                                    <input type="text"
                                           data-ng-model="pack.name"
                                           id="packname"
                                           class="form-control focus"
                                           data-ng-init="setFocus()"
                                           required>
                                </td>


                            </tr>

                        </table>
                       </div>

                    <div style="text-align: center">
                        <button class="btn btn-primary sparesys-button"
                                type="submit"
                                ng-click="ok()">Change</button>

                        <button class="btn btn-primary sparesys-button" ng-click="cancel()">Cancel</button>
                    </div>

                </fieldset>
            </form>

        </div>


    </div>
</script>