<div data-ng-controller="EditPackCommonController">
    <div style="border-bottom: 1px solid #CCCCCC" class="bottom-margin-xl">


        <table class="box-margin-s">


            <tr>
                <td class="top-padded-s right-padded-m middle-aligned">Language Front</td>


                <td>
                    <table>
                        <tr>
                            <td class="btn-group right-padded-l  top-padded-sm">


                                <button type="button" class="btn btn-default">{{ options.languageFront.name }}</button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="lang in languages"><a
                                            data-ng-click="options.languageFront=lang">{{lang.name}}</a>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <td class="top-padded-sm right-padded-m  middle-aligned">Language Back</td>

                <td class="btn-group top-padded-sm">

                    <table>
                        <tr>
                            <td class="btn-group">
                                <button type="button" class="btn btn-default">{{ options.languageBack.name }}</button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="lang in languages"><a
                                            data-ng-click="options.languageBack = lang">{{lang.name}}</a>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>


                </td>
            </tr>


            <tr>
                <td class="right-padded-m top-padded-sm">Checks</td>
                <td class="top-padded-sm">
                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-default">{{ options.check }}
                        </button>
                        <button type="button"
                                class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="check in options.checks"><a
                                    data-ng-click="options.check = check">{{check}}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr data-ng-controller="DateDropdownController">
                <td class="top-padded-s">Due date</td>
                <td class="top-padded-s">

                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="$parent.card.due"
                               is-open="opened"
                               min-date="minDate"
                               datepicker-options="dateOptions"
                               ng-required="false"
                               close-text="Close"
                               data-ng-blur="$parent.updateCards()"/>


                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                    </div>

                </td>
            </tr>

            <tr data-ng-controller="DateDropdownController">
                <td class="top-padded-s right-padded-m">Start date</td>
                <td class="top-padded-s">

                    <div class="input-group  bottom-spacer">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="$parent.card.after"
                               is-open="opened" min-date="minDate"
                               datepicker-options="dateOptions"
                               ng-required="false"
                               close-text="Close"
                               data-ng-blur="$parent.updateCards()"/>

                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                    </div>

                </td>
            </tr>


        </table>

        <div class="top-padded-s center-aligned bottom-padded-m">
            <button class="btn btn-rememberators" ng-click="updateCards()">Update Cards</button>

        </div>
    </div>

    <table class="table-striped top-padded-l">
        <thead>
        <tr>
            <th class="right-padded-m left-padded-s top-aligned">Card</th>
            <th class="right-padded-m top-aligned">Language Front</th>
            <th class="right-padded-m top-aligned">Language Back</th>
            <!--<th class="right-padded-m top-aligned">Modes</th>-->
            <th class="right-padded-m top-aligned">Checks</th>
            <th class="right-padded-m top-aligned">Due</th>
            <th class="right-padded-s top-aligned">Start</th>
        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">

        <tr>


        <tr data-ng-repeat="card in pack.cards">


            <td class="right-padded-m standard-min-width top-padded top-aligned text-min-width expands">


                <a href="">
                    <i data-ng-click="areYouSureToDeleteCard(card)"
                       class="small left-padded-s glyphicon glyphicon-remove-sign">
                    </i>
                </a>

                <a data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
            </td>

            <!--<td class="right-padded-m top-padded top-aligned expands">-->
            <!--<section data-ng-if="card.format === 'short'">-->
            <!--{{card.answer}}-->
            <!--</section>-->
            <!--<section data-ng-if="card.format === 'long'">-->
            <!--<div style="color: #808080">{{card.answer}}</div>-->
            <!--</section>-->
            <!--</td>-->


            <td class="right-padded-m nowrap left-aligned top-aligned">
                <div data-ng-if="card.languageFront">{{card.languageFront.name}}</div>
                <div data-ng-if="!card.languageFront">none</div>

            </td>

            <td class="right-padded-m nowrap left-aligned top-aligned">
                <div data-ng-if="card.languageBack">{{card.languageBack.name}}</div>
                <div data-ng-if="!card.languageBack">none</div>

            </td>


            <!--<td class="right-padded-m nowrap top-aligned">-->

            <!--<div data-ng-repeat="mode in card.modes">-->
            <!--{{mode}}-->
            <!--</div>-->

            <!--</td>-->

            <td class="right-padded-m nowrap right-aligned top-aligned">
                {{card.check}}
            </td>


            <td class="right-padded-s nowrap right-aligned top-aligned">
                    <span data-ng-if="card.after">
                        {{card.after | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.after">
                        now
                    </span>
            </td>


            <td class="right-padded-s nowrap right-aligned top-aligned">
                    <span data-ng-if="card.due">
                        {{card.due | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.due">
                        -
                    </span>
            </td>

        </tr>

        </tbody>
    </table>

</div>
