<div style="border-bottom: 1px solid #CCCCCC" class="bottom-margin-xl">

    <table class="box-margin-s expands">
        <tr>
            <td class="right-padded-m top-aligned nowrap">
                <b>Card Front</b>
            </td>
            <td class="nowrap right-padded-xl top-aligned">


                <input data-ng-model="card.soundFront" type="checkbox"/> Read out loud

            </td>


            <td class="right-padded-m top-aligned nowrap"><b>Card Back</b></td>

            <td class="expands right-padded-m">

                <div class="right-padded-m">
                    <input data-ng-model="card.speechRecgognitionBack" type="checkbox"/> Recognize Speech
                </div>

                <div class="right-padded-m">
                    <input data-ng-model="card.soundBack" type="checkbox"/> Read out loud
                </div>


            </td>

        </tr>

    </table>

    <div class="top-padded-s center-aligned bottom-padded-m">
        <button class="btn btn-rememberators" ng-click="updateCards()">Update Cards</button>

    </div>
</div>


<table class="table-striped top-padded-l">
    <thead>
    <tr>
        <th class="right-padded-m left-padded-s top-aligned">Card Front</th>
        <th class="right-padded-m top-aligned">Card Back</th>
        <th class="right-padded-m top-aligned">Read Front</th>
        <th class="right-padded-m top-aligned">Speech Recognition</th>
        <th class="right-padded-s top-aligned">Read Back</th>

    </tr>
    </thead>
    <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">

    <tr>


    <tr data-ng-repeat="cardId in pack.cards"
        data-ng-controller="CardsController"
        data-ng-init="findById(cardId)">


        <td class="right-padded-m standard-min-width top-padded top-aligned text-min-width">


            <a href="">
                <i data-ng-click="areYouSureToDeleteCard(card)"
                   class="small left-padded-s glyphicon glyphicon-remove-sign">
                </i>
            </a>

            <a data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
        </td>

        <td class="right-padded-m top-padded top-aligned" data-ng-if="card.modes.indexOf('forward') !== -1">
                {{card.answer}}
        </td>

        <td class="right-padded-m top-padded top-aligned text-muted" data-ng-if="card.modes.indexOf('forward') === -1">
                {{card.answer}}
        </td>


        <td class="right-padded-m nowrap center-aligned top-aligned">
            <span data-ng-if="card.readFront">yes</span>
            <span data-ng-if="!card.readFront">no</span>
        </td>

        <td class="right-padded-m nowrap center-aligned top-aligned">

            <span data-ng-if="card.speechRecognitionBack">yes</span>
            <span data-ng-if="!card.speechRecognitionBack">no</span>

        </td>

        <td class="right-padded-s nowrap center-aligned top-aligned">
            <span data-ng-if="card.readBack">yes</span>
            <span data-ng-if="!card.readBack">no</span>

        </td>

    </tr>

    </tbody>
</table>
