<script type="text/ng-template" id="managePack.html">
    <div>

        <div class="modal-body">
            <div class="content-section">
                <div class="title center-aligned">
                    Manage Pack: {{pack.name}}
                </div>
            </div>

            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="content-section">
                        <table>
                            <tr>
                                <td class="right-padded">Checks</td>
                                <td>
                                    <div class="btn-group bottom-spacer" >
                                        <button type="button"
                                                class="btn btn-default">{{ validation }}</button>
                                        <button type="button"
                                                class="btn btn-default dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li data-ng-repeat="val in validations"><a
                                                    data-ng-click="setValidation(val)">{{val}}</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="right-padded">Read Questions</td>
                                <td>
                                    <div class="btn-group  bottom-spacer">
                                        <button type="button" class="btn btn-default">{{ sound }}</button>
                                        <button type="button" class="btn btn-default dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li data-ng-repeat="r in readQuestions"><a
                                                    data-ng-click="setSound(r)">{{r}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded">Direction</td>
                                <td>
                                    <div class="btn-group  bottom-spacer">
                                        <button type="button" class="btn btn-default">{{ direction }}</button>
                                        <button type="button" class="btn btn-default dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li data-ng-repeat="d in directions"><a data-ng-click="setDirection(d)">{{d}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>


                            <tr data-ng-controller="DateDropdownController">
                                <td class="right-padded">Due Date</td>
                                <td>
                                    <div class="input-group  bottom-spacer">
                                        <input type="text"
                                               class="form-control"
                                               datepicker-popup="{{format}}"
                                               ng-model="pack.due"
                                               is-open="opened"
                                               min-date="minDate"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               ng-required="false"
                                               close-text="Close"/>

                                        <div class="input-group-btn">
                                            <button type="button"
                                                    class="btn btn-default"
                                                    ng-click="open($event)">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr data-ng-controller="DateDropdownController">
                                <td class="right-padded">Start Date</td>
                                <td>
                                    <div class="input-group bottom-spacer">
                                        <input type="text"
                                               class="form-control"
                                               datepicker-popup="{{format}}"
                                               ng-model="pack.after"
                                               is-open="opened"
                                               min-date="minDate"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               ng-required="false"
                                               close-text="Close"/>

                                        <div class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open($event)">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div style="text-align: center">
                        <button class="btn btn-primary sparesys-button"
                                type="submit"
                                ng-click="ok()">Change</button>

                        <button class="btn btn-primary sparesys-button"
                                ng-click="cancel()">Cancel</button>
                    </div>

                </fieldset>
            </form>

        </div>


    </div>
</script>