<div data-ng-controller="EditPackImagesController">
    <div class="tab-header">
        Change Image Mode Settings for all Cards in {{pack.name}}
    </div>

    <div class="left-padded-m" data-ng-if="!pack.cards || pack.cards.length === 0">

        There are no cards in course {{course.name}}
    </div>


    <div data-ng-if="pack.cards.length > 0">


        <table class="box-margin-s">


            <tr>

                <td class="nowrap right-padded-m">Image Mode</td>
                <td class="nowrap right-padded-m">

                    <input data-ng-model="options.mode" type="radio" value="on"/> On
                </td>
                <td class="nowrap right-padded-m">

                    <input data-ng-model="options.mode" type="radio" value="off"/> Off
                </td>
                <td class="nowrap right-padded-m">
                    <input data-ng-model="options.mode" type="radio" value="leave"/> Don't Change
                </td>
                <td class="expands"></td>
            </tr>
            <tr>
                <td class="nowrap right-padded-m top-padded-m">

                    Read Questions
                </td>


                <td class="nowrap right-padded-m top-padded-m">

                    <input data-ng-model="options.readFront" type="radio" value="on"/> Yes
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.readFront" type="radio" value="off"/> No
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.readFront" type="radio" value="leave"/> Don't Change
                </td>


            </tr>


            <tr>
                <td class="nowrap right-padded-m top-padded-m">

                    Read Expected Answers
                </td>


                <td class="nowrap right-padded-m top-padded-m">

                    <input data-ng-model="options.readBack" type="radio" value="on"/> Yes
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.readBack" type="radio" value="off"/> No
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.readBack" type="radio" value="leave"/> Don't Change
                </td>


            </tr>



            <tr>
                <td class="nowrap right-padded-m top-padded-m">

                    Speech Recognition
                </td>


                <td class="nowrap right-padded-m top-padded-m">

                    <input data-ng-model="options.speech" type="radio" value="on"/> Yes
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.speech" type="radio" value="off"/> No
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.speech" type="radio" value="leave"/> Don't Change
                </td>


            </tr>

            <tr>
                <td class="nowrap right-padded-m top-padded-m">

                    Text and Images
                </td>


                <td class="nowrap right-padded-m top-padded-m">

                    <input data-ng-model="options.textAndImages" type="radio" value="on"/> Both
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.textAndImages" type="radio" value="off"/> Images Only
                </td>
                <td class="nowrap right-padded-m top-padded-m">
                    <input data-ng-model="options.textAndImages" type="radio" value="leave"/> Don't Change
                </td>


            </tr>
        </table>


        <div class="top-padded-s center-aligned bottom-padded-m">
            <button class="btn btn-rememberators" ng-click="updateCards()">Update Cards</button>

        </div>
    </div>

    <div class="top-padded-l" data-ng-if="pack.cards.length === 0">

        There are no cards in course {{course.name}}
    </div>

    <table class="table-striped top-padded-l card-border-top" data-ng-if="pack.cards.length > 0">
        <thead>
        <tr>

            <th class="right-padded-m left-padded-s top-padded-sm" colspan="2">Question</th>
            <th class="right-padded-m center-aligned top-padded-sm nowrap">Read Question</th>
            <th class="right-padded-m center-aligned top-padded-sm nowrap">Read Answer</th>
            <th class="right-padded-m center-aligned top-padded-sm nowrap">Speech Recognition</th>
            <th class="top-aligned top-padded-sm nowrap">Show Text</th>


        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">

        <tr>


        <tr data-ng-repeat="card in pack.cards">


            <td class="top-padded right-padded-sm top-aligned">


                <a href="">
                    <i ng-class="checkForward(card)" data-ng-click="areYouSureToDeleteCard(card)"
                       class="small left-padded-s glyphicon glyphicon-remove-sign">
                    </i>
                </a>
            </td>
            <td class="right-padded-m standard-min-width top-padded top-aligned text-min-width">

                <a ng-class="checkForward(card)" data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
            </td>



            <td class="right-padded-m nowrap center-aligned top-aligned" data-ng-if="isImagesMode(card)">

                <span data-ng-if="card.readFrontForward">yes</span>
                <span data-ng-if="!card.readFrontForward">no</span>
            </td>

            <td class="text-muted right-padded-m nowrap center-aligned top-aligned" data-ng-if="!isImagesMode(card)">
                n/a
            </td>


            <td class="right-padded-s nowrap center-aligned top-aligned" data-ng-if="isImagesMode(card)">
                <span data-ng-if="card.readBackForward">yes</span>
                <span data-ng-if="!card.readBackForward">no</span>

            </td>

            <td class="text-muted right-padded-m nowrap center-aligned top-aligned" data-ng-if="!isImagesMode(card)">
                n/a
            </td>

            <td class=" nowrap center-aligned top-aligned" data-ng-if="isImagesMode(card)">
                <span data-ng-if="card.speechRecognitionForward">yes</span>
                <span data-ng-if="!card.speechRecognitionForward">no</span>

            </td>

            <td class="text-muted nowrap center-aligned top-aligned" data-ng-if="!isImagesMode(card)">
                n/a
            </td>

            <td class=" nowrap center-aligned top-aligned" data-ng-if="isImagesMode(card)">
                <span data-ng-if="card.textwithimages">yes</span>
                <span data-ng-if="!card.textwithimages">no</span>

            </td>

            <td class="text-muted nowrap center-aligned top-aligned" data-ng-if="!isImagesMode(card)">
                n/a
            </td>

        </tr>


        <tr data-ng-if="pack.cards.length < course.cards.length">
            <td class="top-padded left-padded-m" colspan="5">
                and {{course.cards.length - pack.cards.length}} further cards
            </td>
        </tr>
        </tbody>
    </table>

</div>