<div data-ng-controller="PackSettingsController">
    <div style="border-bottom: 1px solid #CCCCCC" class="bottom-margin-xl">


        <div class="pull-right right-padded-sm" >


            <a href="">
                <i data-ng-click="areYouSureToDeletePack(pack)"
                   class="glyphicon glyphicon-remove-sign">
                </i>
            </a>
        </div>


        <table class="box-margin-s">


            <tr>
                <td class="top-padded-s right-padded-m middle-aligned">Language Front</td>


                <td colspan="3">
                    <table>
                        <tr>
                            <td class="btn-group right-padded-l  top-padded-sm">


                                <button type="button" class="btn btn-default">{{ options.languageFront.name }}</button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="lang in languages"><a
                                            data-ng-click="options.languageFront=lang">{{lang.name}}</a>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>


            <tr>
                <td class="top-padded-sm right-padded-m  middle-aligned">Language Back</td>

                <td colspan="3" class="btn-group top-padded-sm">

                    <table>
                        <tr>
                            <td class="btn-group">
                                <button type="button" class="btn btn-default">{{ options.languageBack.name }}</button>
                                <button type="button" class="btn btn-default dropdown-toggle">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li data-ng-repeat="lang in languages"><a
                                            data-ng-click="options.languageBack = lang">{{lang.name}}</a>
                                    </li>
                                </ul>

                            </td>
                        </tr>
                    </table>


                </td>
            </tr>


            <tr>
                <td class="right-padded-m top-padded-sm">Checks</td>
                <td colspan="3" class="top-padded-sm">
                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-default">{{ options.check }}
                        </button>
                        <button type="button"
                                class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li data-ng-repeat="check in options.checks"><a
                                    data-ng-click="options.check = check">{{check}}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>

            <tr data-ng-controller="DateDropdownController">
                <td class="top-padded-s">Due date</td>
                <td class="top-padded-s right-padded-m">

                    <input data-ng-model="options.changeDueDate" type="radio" value="off"/> <span class="right-padded-m"> Leave Unchanged</span>

                    <input data-ng-model="options.changeDueDate" type="radio" value="reset"/> None
                </td>
                <td class="top-padded-s right-padded-s">
                    <input data-ng-model="options.changeDueDate" ng-click="openDueDateCalendar($event)" type="radio"
                           value="on"/> Change To

                </td>
                <td class="top-padded-s" data-ng-if="options.changeDueDate === 'on'">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="options.dueDate"
                               is-open="options.openDueDateCalendar"
                               min-date="minDate"
                               datepicker-options="dateOptions"
                               ng-required="false"
                               close-text="Close"/>


                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openDueDateCalendar($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                    </div>

                </td>

                <td class="top-padded-s" data-ng-if="options.changeDueDate !== 'on'">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="options.dueDate"
                               is-open="{{false}}"
                               min-date="minDate"
                               datepicker-options="dateOptions"
                               ng-required="false"
                               close-text="Close"
                               date-disabled="'true'" disabled/>


                        <div class="input-group-btn">
                            <button type="button" class="btn btn-disabled"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                    </div>

                </td>
            </tr>

            <tr data-ng-controller="DateDropdownController">
                <td class="top-padded-s right-padded-m">Start date</td>
                <td class="top-padded-s right-padded-m">

                    <input data-ng-model="options.changeStartDate" type="radio" value="off"/> <span class="right-padded-m"> Leave Unchanged</span>

                    <input data-ng-model="options.changeStartDate" type="radio" value="reset"/> None
                </td>
                <td class="top-padded-s right-padded-s">
                    <input data-ng-model="options.changeStartDate" ng-click="openStartDateCalendar($event)" type="radio"
                           value="on"/> Change To

                </td>
                <td class="top-padded-s" data-ng-if="options.changeStartDate === 'on'">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="options.startDate"
                               is-open="options.openStartDateCalendar"
                               min-date="minDate"
                               datepicker-options="dateOptions"
                               ng-required="false"
                               close-text="Close"/>


                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openStartDateCalendar($event)"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                    </div>

                </td>

                <td class="top-padded-s" data-ng-if="options.changeStartDate !== 'on'">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="{{format}}"
                               ng-model="options.openStartDateCalendar"
                               is-open="{{false}}"
                               min-date="minDate"
                               datepicker-options="dateOptions"
                               ng-required="false"
                               close-text="Close"
                               date-disabled="'true'" disabled/>


                        <div class="input-group-btn">
                            <button type="button" class="btn btn-disabled" ><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                        </div>
                    </div>

                </td>
            </tr>


        </table>

        <div class="top-padded-s center-aligned bottom-padded-m">
            <button class="btn btn-rememberators" ng-click="updateCards()">Update Cards</button>

        </div>
    </div>

    <table class="table-striped top-padded-l" data-ng-if="pack.cards.length > 0">
        <thead>
        <tr>
            <th class="right-padded-m left-padded-s top-aligned">Card</th>
            <th class="right-padded-m top-aligned">Language Front</th>
            <th class="right-padded-m top-aligned">Language Back</th>
            <!--<th class="right-padded-m top-aligned">Modes</th>-->
            <th class="right-padded-m top-aligned">Checks</th>
            <th class="right-padded-m top-aligned">Start</th>
            <th class="right-padded-s top-aligned">Due</th>
        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">

        <tr>


        <tr data-ng-repeat="card in pack.cards">


            <td class="right-padded-m standard-min-width top-padded top-aligned text-min-width expands">


                <a href="">
                    <i data-ng-click="areYouSureToDeleteCard(card)"
                       class="small left-padded-s glyphicon glyphicon-remove-sign">
                    </i>
                </a>

                <a data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
            </td>



            <td class="right-padded-m nowrap left-aligned top-aligned">
                <div data-ng-if="card.languageFront">{{card.languageFront.name}}</div>
                <div data-ng-if="!card.languageFront">none</div>

            </td>

            <td class="right-padded-m nowrap left-aligned top-aligned">
                <div data-ng-if="card.languageBack">{{card.languageBack.name}}</div>
                <div data-ng-if="!card.languageBack">none</div>

            </td>


            <td class="right-padded-m nowrap right-aligned top-aligned">
                {{card.check}}
            </td>


            <td class="right-padded-s nowrap right-aligned top-aligned">

                <span data-ng-if="card.startDate">
                        {{card.startDate | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.startDate">
                        none
                    </span>
            </td>


            <td class="right-padded-s nowrap right-aligned top-aligned">

                    <span data-ng-if="card.dueDate">
                        {{card.dueDate | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.dueDate">
                        none
                    </span>
            </td>

        </tr>

        </tbody>
    </table>

</div>
