<div>


    <div class="pull-right right-padded-s top-padded-s bottom-padded-m" >


        <a href="">
            <i data-ng-click="addCardToPackPopup()"

               class="glyphicon glyphicon-plus-sign">
            </i>
        </a>

        <a href="">
            <i data-ng-click="areYouSureToDeleteCard(card)"
               class="glyphicon glyphicon-remove-sign">
            </i>
        </a>
    </div>

    <div data-ng-if="pack.cards.length > 0">
        <table class="table-striped top-padded-l">
            <thead>
            <tr>
                <th class="right-padded-m left-padded-s top-aligned">Card</th>
                <th class="right-padded-m top-aligned"></th>
                <th class="right-padded-m top-aligned">Checks</th>
                <th class="right-padded-m top-aligned">Start</th>
                <th class="right-padded-s top-aligned">Due</th>
            </tr>
            </thead>
            <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">

            <tr>


            <tr data-ng-repeat="card in pack.cards">


                <td class="right-padded-m standard-min-width top-padded top-aligned text-min-width ">


                    <a href="">
                        <i data-ng-click="areYouSureToDeleteCard(card)"
                           class="small left-padded-s glyphicon glyphicon-remove-sign">
                        </i>
                    </a>

                    <a data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
                </td>

                <td class="right-padded-m top-padded top-aligned text-min-width expands">


                    {{card.answer}}
                </td>

                <td class="right-padded-m nowrap right-aligned top-aligned">
                    {{card.check}}
                </td>


                <td class="right-padded-s nowrap right-aligned top-aligned">

                <span data-ng-if="card.startDate">
                        {{card.startDate | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.startDate">
                        none
                    </span>
                </td>


                <td class="right-padded-s nowrap right-aligned top-aligned">

                    <span data-ng-if="card.dueDate">
                        {{card.dueDate | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.dueDate">
                        none
                    </span>
                </td>

            </tr>

            </tbody>
        </table>

    </div>

    <div data-ng-if="pack.cards.length === 0">

        <div class="default-border">
            <div class="top-padded-m left-padded-m" style="min-height:200px">
                There are no cards in pack {{pack.name}}
            </div>
        </div>

    </div>
</div>


