<section data-ng-controller="SchoolsController" data-ng-init="find()">

    <div ng-include="'/modules/schools/views/partial/delete-school.modal.client.view.html'"></div>


    <div class="admin-card ">
        <div class="title">Schools</div>
        <div class="section">

            <div class="field-label">Find School</div>
            <input type="text"
                   ng-model="options.searchText"
                   class="form-control search"
                   data-ng-change="updateSearch()"
                   placeholder="Name">


        </div>
    </div>


    <div data-ng-if="!schools || schools.length === 0">

        <div class="admin-card">
            <div class="title">No Schools Found</div>
            <div class="danger">There are no users matching your search criteria</div>
        </div>
    </div>


    <div data-ng-repeat="school in schools | limitTo: 10">
        <div class="admin-card">
            <div class="title">{{school.name}}

                <div class="pull-right">
                    <a href="" data-ng-click="areYouSureToDeleteSchool(school)"><i
                            class="glyphicon glyphicon-trash"></i></a>
                </div>
                <div class="pull-right">
                    <a href="#!/schools/{{school._id}}/admin"><i class="glyphicon glyphicon-edit"></i></a>
                </div>

            </div>

            <div class="two-column-section top-section">

                    <div class="column">
                        <div class="field-label">ID</div>
                        <div class="field-data">
                            {{school._id}}
                        </div>
                    </div>

                    <div class="column">
                        <div class="field-label">Name</div>
                        <div class="field-data">
                            {{school.name}}
                        </div>
                    </div>

            </div>

            <div class="two-column-section">
                    <div class="column">
                        <div class="field-label">City</div>
                        <div class="field-data">
                            {{school.city}}
                        </div>
                    </div>

                    <div class="column">
                        <div class="field-label">Country</div>
                        <div class="field-data">
                            {{school.country}}
                        </div>
                    </div>
            </div>

            <div class="two-column-section">

                    <div class="column">
                        <div class="field-label">Administrator</div>
                        <div class="field-data">
                            {{school.user.displayName}}
                        </div>
                    </div>


                    <div class="column">
                        <div class="field-label">Classes</div>
                        <div class="field-data" data-ng-repeat="c in school.schoolclasses">
                            <a href="/#!/schoolclasses/{{c._id}}/admin">{{c.name}}</a>
                        </div>
                    </div>

            </div>
        </div>
    </div>


</section>