<section data-ng-controller="SchoolsController" data-ng-init="find()">

    <div ng-include="'/modules/schools/views/partial/delete-school.modal.client.view.html'"></div>

    <div class="content-header">

        <div class="title">
            Schools Administration
        </div>
    </div>

    <table id="searchTextResults" class="table-striped">
        <thead>
        <tr>
            <th class="left-paddes-s right-padded-s"></th>
            <th class="right-padded-m">School</th>
            <th class="right-padded-m">City</th>
            <th class="right-padded-m">Country</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="school in schools | filter:searchText">
            <td class="right-padded-s left-padded-s">
                <a href="">
                    <i data-ng-click="areYouSureToDeleteSchool(school)"
                       class="glyphicon glyphicon-remove-sign">
                    </i>
                </a>
            </td>
            <td class="right-padded-m expands">
                <a data-ng-href="#!/schools/{{school._id}}/admin">{{school.name}}</a>
            </td>
            <td class="right-padded-m">{{school.city}}</td>
            <td class="right-padded-s">{{school.country}}</td>

            <!--<td class="sparesys-view-courses-name-cell">{{school.user.displayName}}</td>-->
            <!--<td class="sparesys-view-courses-date-cell">{{school.created | date:'shortDate'}}</td>-->
        </tr>
        </tbody>
    </table>
</section>