<section data-ng-controller="SchoolsController" data-ng-init="find()">

    <div ng-include="'/modules/schools/views/partial/delete-school.modal.client.view.html'"></div>


    <div class="col-xs-12 col-md-6 dashboard-col ">
        <div class="virtual-card font-large">
            <div class="title">Schools</div>
            <div class="flashcard-section row">

                <!--<div class="col-xs-6">-->
                <!--<div class="field-label">Find User</div>-->

                <!-- -->

                <!--<div class="field-data" data-ng-controller="SchoolsController" data-ng-repeat="sid in authentication.user.studentInSchools" data-ng-init="findById(sid)">-->
                <!--{{school.name}} <a href=""-->
                <!--data-ng-click="unsubscribeStudentPopup(school._id)"><i-->
                <!--class="glyphicon glyphicon-minus-sign"></i></a>-->
                <!--</div>-->
                <!--</div>-->

                <div class="col-xs-12">
                    <div class="field-label">Find School</div>
                    <input type="text"
                           ng-model="options.searchText"
                           class="form-control search"
                           data-ng-change="updateSearch()"
                           placeholder="Name">
                </div>


            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col " data-ng-if="!schools || schools.length === 0">

        <div class="virtual-card font-large">
            <div class="title">No Schools Found</div>
            <div class="danger">There are no users matching your search criteria</div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6 dashboard-col " data-ng-repeat="school in schools | limitTo: 10">
        <div class="virtual-card font-large">
            <div class="title">{{school.name}}

                <div class="pull-right">
                    <a href="" data-ng-click="areYouSureToDeleteSchool(school)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
                <div class="pull-right">
                    <a href="#!/schools/{{school._id}}/admin"><i class="glyphicon glyphicon-edit"></i></a>
                </div>

            </div>

            <div class="flashcard-section">
                <div class="row rememberators-form-group form-group">

                    <div class="col-xs-6">
                        <div class="field-label">ID</div>
                        <div class="field-data">
                            {{school._id}}
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="field-label">Name</div>
                        <div class="field-data">
                            {{school.name}}
                        </div>
                    </div>


                </div>
            </div>

            <div class="flashcard-section">
                <div class="row rememberators-form-group form-group">

                    <div class="col-xs-6">
                        <div class="field-label">City</div>
                        <div class="field-data">
                            {{school.city}}
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="field-label">Country</div>
                        <div class="field-data">
                            {{school.country}}
                        </div>
                    </div>


                </div>
            </div>

            <div class="flashcard-section">
                <div class="row rememberators-form-group form-group">

                    <div class="col-xs-6">
                        <div class="field-label">Administrator</div>
                        <div class="field-data">
                            {{school.user.displayName}}
                        </div>
                    </div>


                    <div class="col-xs-6">
                        <div class="field-label">Classes</div>
                        <div class="field-data" data-ng-repeat="c in school.schoolclasses">
                            <a href="/#!/schoolclasses/admin/{{c._id}}">{{c.name}}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</section>