<section data-ng-controller="SchoolsController">
    <div class="content-header">

        <div class="title">
            Register School
        </div>
    </div>

    <div data-ng-if="authentication.user.roles.indexOf('help') > -1" class="content-section">


        <infobox logo="woman" position="right">
            School registration is simple. Please fill in the form below and the school
            will be available for teachers and students to sign up to. After that, it will be your
            task to to set up and manage the classes for your school.
        </infobox>


    </div>

    <div class="content-section">

        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <table>
                    <tr>
                        <td class="nowrap right-padded-m">School Name</td>
                        <td class="expands">
                            <input type="text" data-ng-model="name"
                                   id="name" class="form-control"
                                   placeholder="School Name"
                                   required></td>
                    </tr>

                    <tr>
                        <td class="right-padded-m">City</td>
                        <td>
                            <input type="text" data-ng-model="city"
                                   id="city" class="form-control"
                                   placeholder="City" required></td>
                    </tr>

                    <tr>
                        <td class="right-padded-m">Country</td>
                        <td>
                            <input type="text" data-ng-model="country"
                                   id="country" class="form-control"
                                   placeholder="Country" required></td>
                    </tr>


                </table>
                <div class="pull-right">
                    <input type="submit" value="Create" class="btn btn-rememberators">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong>{{error}}</strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>

<div>
    <p>rememberators.com</p>


</div>