<section data-ng-controller="SchoolsController" data-ng-init="find()">

    <div ng-include="'/modules/schools/views/partial/subscribe-teacher.modal.client.view.html'"></div>
    <div ng-include="'/modules/schools/views/partial/unsubscribe-teacher.modal.client.view.html'"></div>

    <div class="content-header">
        <div class="title">
            Select our Schools
        </div>

    </div>

    <div data-ng-if="schools.length > 0">

        <section data-ng-if="authentication.user.roles.indexOf('help') > -1">
            <div class="content-section">
                <infobox logo="man" position="left">
                    Select your school(s) from the list below. You can use the search box to
                    narrow down the options. After you have subscribed, your school administrator
                    will be able to assign you to your class. You will find a pencil icon next
                    to all the schools you already have subscribed to.
                </infobox>

                <infobox logo="guru" position="right">
                    How do you un-subscribe? You click on the school you are subscribed to and would like
                    to leave and follow the instructions in the popup window that will guide you through
                    the un-subscription process.
                </infobox>
            </div>
        </section>

        <div class="content-section">

            <div class="pull-right bottom-margin-xl">
                <input ng-model="searchText"
                       class="form-control search focus"
                       placeholder="Search for your School">
            </div>


            <table id="searchTextResults" class="table-striped bottom-margin-xl">
                <thead>
                <tr>
                    <th class="expands right-padded-m left-padded-s">School</th>
                    <th class="right-padded-m">City</th>
                    <th class="right-padded-m">Country</th>
                    <th class="right-padded-s">Administrator</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="school in schools | filter:searchText">

                    <td class="left-padded-s right-padded-m nowrap">
                        <div data-ng-if="school.teachers.indexOf(authentication.user._id) != -1">
                            <a href="" data-ng-click="unsubscribeTeacherPopup(school)">{{school.name}}
                                <i
                                        class="glyphicon glyphicon-pencil">
                                </i>
                            </a>
                        </div>

                        <div data-ng-if="school.teachers.indexOf(authentication.user._id) === -1">
                            <a href="" data-ng-click="subscribeTeacherPopup(school)">{{school.name}}</a>
                        </div>
                    </td>
                    <td class="right-padded-m nowrap">{{school.city}}</td>
                    <td class="right-padded-m nowrap">{{school.country}}</td>

                    <td class="right-padded-s nowrap">{{school.user.displayName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div data-ng-if="schools.length === 0">
        There are no Schools yet.
    </div>
</section>


<div>
    <p>rememberators.com</p>
</div>