<div data-ng-controller="SchoolsController">

    <div ng-include="'/modules/schools/views/partial/subscribe-student.modal.client.view.html'"></div>
    <div ng-include="'/modules/schools/views/partial/unsubscribe-student.modal.client.view.html'"></div>

    <div ng-include="'/modules/schools/views/partial/subscribe-teacher.modal.client.view.html'"></div>
    <div ng-include="'/modules/schools/views/partial/unsubscribe-teacher.modal.client.view.html'"></div>


    <div class="ribbon-card">

        <div class="help-ribbon"><span>Help</span></div>
        <div class="title">Subscribing to your school</div>

        <infobox logo="boy" position="left">
            <div>
                Teachers and students subscribe to the same school so that
                the teachers can hand out the courses to their classes. After
                they have subscribed, the
                school administrator will be able to assign teachers and students to
                their classes.

            </div>
        </infobox>
    </div>
    <div class="info-card">
        <div class="title">
            Find your school
        </div>


        <div class="section">


            <div class="field-label">Find school</div>
            <input type="text"
                   data-ng-change="updateSearch()"
                   data-ng-model="searchText"
                   class="form-control search"
                   placeholder="School Name">
        </div>

        <div class="section">
            <div class="field-label">You are a teacher in</div>

            <div class="field-data" data-ng-if="authentication.user.teacherInSchools.length ===0">
                no school yet
            </div>

            <div class="field-data" data-ng-controller="SchoolsController"
                 data-ng-repeat="sid in authentication.user.teacherInSchools" data-ng-init="findById(sid)">
                <a href=""
                   data-ng-click="unsubscribeTeacherPopup(school._id, authentication.user)"><i
                        class="glyphicon glyphicon-minus-sign"></i></a>

                {{school.name}}
            </div>

        </div>
        <div class="section">

            <div class="field-label">You are a student in</div>

            <div class="field-data" data-ng-if="authentication.user.studentInSchools.length ===0">
                no school yet
            </div>

            <div class="field-data" data-ng-controller="SchoolsController"
                 data-ng-repeat="sid in authentication.user.studentInSchools track by $index"
                 data-ng-init="findById(sid)">
                <a href=""
                   data-ng-click="unsubscribeStudentPopup(school._id, authentication.user)"><i
                        class="glyphicon glyphicon-minus-sign"></i></a>

                {{school.name}}
            </div>

        </div>
    </div>


    <div data-ng-repeat="school in schools | filter: searchText | limitTo: 25">


        <div class="info-card">
            <div class="title">

                {{school.name}}
                <div class="pull-right">

                    <div data-ng-if="authentication.user.roles.indexOf('teacher') > -1 && authentication.user.roles.indexOf('nostudent') === -1">
                        <a href="" data-ng-click="subscribeTeacherPopup(school, authentication.user)"> <i
                                class="glyphicon glyphicon-king"></i></a>

                        <a href="" data-ng-click="subscribeStudentPopup(school, authentication.user)"> <i
                                class="glyphicon glyphicon-pawn"></i></a>
                    </div>

                    <div data-ng-if="authentication.user.roles.indexOf('teacher') > -1 && authentication.user.roles.indexOf('nostudent') > -1">
                        <a href="" data-ng-click="subscribeTeacherPopup(school, authentication.user)"> <i
                                class="glyphicon glyphicon-plus-sign"></i></a>
                    </div>

                    <div data-ng-if="authentication.user.roles.indexOf('teacher') === -1 && authentication.user.roles.indexOf('nostudent') === -1">
                        <a href="" data-ng-click="subscribeStudentPopup(school, authentication.user)"> <i
                                class="glyphicon glyphicon-plus-sign"></i></a>
                    </div>

                </div>
            </div>
            <div class="three-column-section">
                <div class="column">
                    <div class="field-label">City</div>
                    <div class="field-data">
                        {{school.city}}
                    </div>
                </div>

                <div class="column">
                    <div class="field-label">Country</div>
                    <div class="field-data">
                        {{school.country}}
                    </div>
                </div>

                <div class="column">
                    <div class="field-label">Admin</div>
                    <div class="field-data">
                        {{school.user.displayName}}
                    </div>
                </div>
            </div>

            <div class="three-column-section">
                <div class="column">
                    <div class="field-label">Teachers</div>
                    <div class="field-data">
                        {{school.teachers.length}}
                    </div>
                </div>

                <div class="column">
                    <div class="field-label">Students</div>
                    <div class="field-data">
                        {{school.students.length}}
                    </div>
                </div>

                <div class="column">
                    &nbsp;
                </div>

            </div>

            <div data-ng-if="school.schoolclasses.length === 0">


                    <div class="field-label">Classes</div>
                    <div class="field-data">
                        School has no classes
                    </div>


            </div>


            <div data-ng-if="school.schoolclasses.length > 0">

                <div class="three-column-headers">
                    <div class="column">
                        <div class="field-label">Classes</div>

                    </div>


                </div>


                <div data-ng-repeat="schoolclass in school.schoolclasses">


                    <div class="three-column-data">

                        <div class="column field-data">
                            {{schoolclass.name}}
                        </div>
                        <div class="column field-data">

                            {{schoolclass.teachers.length}} teacher<span data-ng-if="schoolclass.teachers.length !== 1">s</span>
                        </div>

                        <div class="column field-data">

                            {{schoolclass.students.length}} student<span data-ng-if="schoolclass.students.length !== 1">s</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>
