<section data-ng-controller="SchoolsController" data-ng-init="find()">

    <div ng-include="'/modules/schools/views/partial/subscribe-teacher.modal.client.view.html'"></div>
    <div ng-include="'/modules/schools/views/partial/unsubscribe-teacher.modal.client.view.html'"></div>

    <div class="content-header">
        <div class="pull-right">
            <input ng-model="searchText"
                   class="form-control"
                   placeholder="Search">
        </div>
        <div class="title">
            Subscribe as Teacher to School
        </div>

    </div>

    <div data-ng-if="schools.length > 0">

        <div class="content-section">

            <table id="searchTextResults" class="table-striped">
                <thead>
                <tr>
                    <th class="expands right-padded">School</th>
                    <th class="right-padded">City</th>
                    <th class="right-padded">Country</th>
                    <th >Administrator</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="school in schools | filter:searchText">

                    <td class="right-padded nobreak-label">
                        <div data-ng-if="school.teachers.indexOf(authentication.user._id) != -1">
                            <a href="" data-ng-click="unsubscribeTeacherPopup(school)">{{school.name}}
                                <i
                                   class="glyphicon glyphicon-pencil">
                                </i>
                            </a>
                        </div>

                        <div data-ng-if="school.teachers.indexOf(authentication.user._id) === -1">
                            <a href="" data-ng-click="subscribeTeacherPopup(school)">{{school.name}}</a>
                        </div>
                    </td>
                    <td class="right-padded nobreak-label">{{school.city}}</td>
                    <td class="right-padded nobreak-label">{{school.country}}</td>

                    <td class="nobreak-label">{{school.user.displayName}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div data-ng-if="schools.length === 0">
        There are no Schools yet.
    </div>
</section>