<section data-ng-controller="SchoolsController" data-ng-init="find()" class="font-large">

    <div ng-include="'/modules/schools/views/partial/subscribe-student.modal.client.view.html'"></div>
    <div ng-include="'/modules/schools/views/partial/unsubscribe-student.modal.client.view.html'"></div>

    <div ng-include="'/modules/schools/views/partial/subscribe-teacher.modal.client.view.html'"></div>
    <div ng-include="'/modules/schools/views/partial/unsubscribe-teacher.modal.client.view.html'"></div>


    <div class="col-xs-12 col-md-6 ">
        <div class="font-large virtual-card ribbon-card">

            <div class="help-ribbon"><span>Help</span></div>
            <div class="title">Subscribing to your school</div>

            <infobox logo="boy" position="left">
                <div>
                    Teachers and students subscribe to the same school so that
                    the teachers can hand out the courses to their classes.

                </div>
            </infobox>
        </div>
    </div>


    <div class="col-xs-6 dashboard-col">
        <div class="virtual-card">
            <div class="title">
                Find your school
            </div>


            <div class="flashcard-section">


                <div class="row">
                    <div class="col-xs-12 dashboard-col">
                        <div class="field-label">Find school</div>
                        <input type="text"
                               data-ng-model="searchText"
                               class="form-control search"
                               placeholder="School Name">
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">You are a teacher in</div>

                        <div class="field-data" data-ng-if="authentication.user.teacherInSchools.length ===0">
                            none
                        </div>

                        <div class="field-data" data-ng-controller="SchoolsController"
                             data-ng-repeat="sid in authentication.user.studentInSchools" data-ng-init="findById(sid)">
                            <a href=""
                               data-ng-click="unsubscribeStudentPopup(school._id, authentication.user)"><i
                                    class="glyphicon glyphicon-minus-sign"></i></a>

                            {{school.name}}
                        </div>
                    </div>

                    <div class="col-xs-6 dashboard-col">
                        <div class="field-label">You are a student in</div>

                        <div class="field-data" data-ng-if="authentication.user.studentInSchools.length ===0">
                            none
                        </div>

                        <div class="field-data" data-ng-controller="SchoolsController"
                             data-ng-repeat="sid in authentication.user.studentInSchools" data-ng-init="findById(sid)">
                            <a href=""
                               data-ng-click="unsubscribeStudentPopup(school._id, authentication.user)"><i
                                    class="glyphicon glyphicon-minus-sign"></i></a>

                            {{school.name}}
                        </div>
                    </div>
                </div>


            </div>


            <!--<div class="flashcard-section" data-ng-show="authentication.user.roles.indexOf('help') > -1">-->
            <!--<infobox logo="boy" class="info">-->
            <!--Select your school(s) from the search results. You can use the search box to-->
            <!--narrow down the options. After you have subscribed, your school administrator-->
            <!--will be able to assign you to your class.-->
            <!--</infobox>-->
            <!--</div>-->


        </div>
    </div>


    <div data-ng-repeat="school in schools | filter: searchText | limitTo: 25">


        <div class="col-xs-6 dashboard-col"
             data-ng-if="authentication.user.studentInSchools.indexOf(school._id) === -1">
            <div class="virtual-card">
                <div class="title">

                    {{school.name}}
                    <div class="pull-right">

                        <div data-ng-if="authentication.user.roles.indexOf('teacher') > -1 && authentication.user.roles.indexOf('nostudent') === -1">
                            <a href="" data-ng-click="subscribeTeacherPopup(school)"> <i
                                    class="glyphicon glyphicon-king"></i></a>

                            <a href="" data-ng-click="subscribeStudentPopup(school)"> <i
                                    class="glyphicon glyphicon-pawn"></i></a>
                        </div>

                        <div data-ng-if="authentication.user.roles.indexOf('teacher') > -1 && authentication.user.roles.indexOf('nostudent') > -1">
                            <a href="" data-ng-click="subscribeTeacherPopup(school)"> <i
                                    class="glyphicon glyphicon-plus-sign"></i></a>
                        </div>

                        <div data-ng-if="authentication.user.roles.indexOf('teacher') === -1 && authentication.user.roles.indexOf('nostudent') === -1">
                            <a href="" data-ng-click="subscribeStudentPopup(school)"> <i
                                    class="glyphicon glyphicon-plus-sign"></i></a>
                        </div>

                    </div>
                </div>
                <div class="flashcard-section">
                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label">City</div>
                        <div class="font-medium">
                            {{school.city}}
                        </div>
                    </div>

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label">Country</div>
                        <div class="font-medium">
                            {{school.country}}
                        </div>
                    </div>

                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label">Administrator</div>
                        <div class="font-medium">
                            {{school.user.displayName}}
                        </div>
                    </div>
                </div>

                <div class="flashcard-section">
                    <div class="col-xs-4 dashboard-col">
                        <div class="field-label">Teachers</div>
                        <div class="font-medium">
                            {{school.teachers.length}}
                        </div>
                    </div>

                    <div class="col-xs-8 dashboard-col">
                        <div class="field-label">Students</div>
                        <div class="font-medium">
                            {{school.students.length}}
                        </div>
                    </div>

                </div>

                <div data-ng-if="school.schoolclasses.length === 0">
                    <div class="col-xs-12 warning dashboard-col">
                        <div class="field-label">Classes</div>
                        <div class="font-medium">
                            School has no classes
                        </div>
                    </div>
                </div>


                <div data-ng-if="school.schoolclasses.length > 0">

                    <div class="flashcard-section">

                        <div class="col-xs-4 dashboard-col-attached field-label">
                            Classes
                        </div>

                        <div class="col-xs-4 dashboard-col-attached field-label">
                            Teachers
                        </div>

                        <div class="col-xs-4 dashboard-col-attached field-label">
                            Students
                        </div>

                    </div>
                    <div data-ng-repeat="schoolclass in school.schoolclasses">


                        <div class="col-xs-4 dashboard-col-attached font-medium">

                            {{schoolclass.name}}
                        </div>

                        <div class="col-xs-4 dashboard-col-attached font-medium">
                            <div class="danger"
                                 data-ng-if="schoolclass.teachers.length === 0">
                                none
                            </div>

                            <div
                                    data-ng-if="schoolclass.teachers.length > 0">
                                {{schoolclass.teachers.length}}
                            </div>
                        </div>

                        <div class="col-xs-4 dashboard-col-attached font-medium">
                            <div class="danger"
                                 data-ng-if="schoolclass.students.length === 0">
                                none
                            </div>

                            <div
                                    data-ng-if="schoolclass.students.length > 0">
                                {{schoolclass.students.length}}
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>


</section>
