<section data-ng-controller="SchoolsController" class="font-large" data-ng-init="findOne()">

    <div ng-include="'/modules/schoolclasses/views/partial/delete-class.modal.client.view.html'"></div>


    <div class="col-xs-12  font-large title" style="text-align: center">
        <div class="row">
            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>

            <div class="col-xs-10">
                <a href="" data-ng-click="scrollDown()">Scroll down to add more
                    classes
                </a>
            </div>

            <div class="col-xs-1">
                <a href="" data-ng-click="scrollDown()"><i
                        class="glyphicon glyphicon-circle-arrow-down"></i></a>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col " data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="virtual-card font-large">
            <div class="title">Manage School</div>
            <infobox class="info" logo="woman" position="left">
                This screeen is to manage schools
            </infobox>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col">
        <div class="virtual-card font-large ">
            <div class="title">{{school.name}}</div>
            <form class="signup form-horizontal" autocomplete="off" data-ng-submit="ok()">
                <fieldset>

                    <div class="flashcard-section">

                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">School Name</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="school.name"
                                           class="form-control"
                                           placeholder="School Name"
                                           required>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">City</div>
                                <div class="font-medium">
                                    <input type="text"
                                           data-ng-model="school.city"
                                           class="form-control"
                                           placeholder="City" required>

                                </div>
                            </div>
                            <div class="col-xs-6 dashboard-col">
                                <div class="field-label">Country</div>
                                <div class="font-medium">
                                    <input type="text" data-ng-model="school.country"
                                           class="form-control"
                                           placeholder="Country" required>
                                </div>
                            </div>
                        </div>


                    </div>


                </fieldset>
            </form>
        </div>
    </div>

    <div class="col-xs-12 col-md-6 dashboard-col">
        <div class="virtual-card font-large">
            <div class="title">Subscribed teachers and students</div>
            <div class="flashcard-section">
                <div class="row">
                    <div class="col-xs-6 field-label dashboard-col-attached">Teachers</div>
                    <div class="col-xs-6 field-label dashboard-col-attached">Students</div>
                </div>
                <div class="row">
                    <div class="col-xs-6 field-data dashboard-col">

                        <div class="danger" data-ng-if="school.teachers.length ===0">
                            none
                        </div>
                        <div data-ng-repeat="teacher in school.teachers">{{teacher.displayName}}</div>

                    </div>
                    <div class="col-xs-6 field-data dashboard-col">
                        <div class="danger" data-ng-if="school.students.length ===0">
                            none
                        </div>
                        <div data-ng-repeat="student in school.students">{{student.displayName}}</div>

                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="col-xs-12 col-md-6 dashboard-col" data-ng-repeat="sc in school.schoolclasses"
         data-ng-controller="SchoolclassesController" data-ng-init="findById(sc._id)">
        <div class="virtual-card font-large">
            <div class="title">Class {{schoolclass.name}}

                <div class="pull-right">


                <a href="" data-ng-click="areYouSureToDeleteClass(class, school)"><i
                class="glyphicon glyphicon-trash"></i></a>

                </div>

            </div>
            <div class="flashcard-section">
                <div class="col-xs-6 field-label">

                    Teachers




                </div>
                <div class="col-xs-6 field-label">

                    Students




                </div>
                <div>
                    <div class="col-xs-6 field-data">

                        <div class="danger" data-ng-if="schoolclass.teachers.length ===0">
                            none
                        </div>
                        <div data-ng-repeat="teacher in schoolclass.teachers">{{teacher.displayName}} <a href=""
                                                                                                         data-ng-click="removeTeacherFromClass(teacher._id)"><i
                                class="glyphicon glyphicon-minus-sign"></i></a></div>

                        <div class="btn-group" style="padding-top: 1em" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                                Add a Teacher <span class="caret"></span>
                            </button>

                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" data-ng-repeat="teacher in school.teachers"><a href=""
                                                                                                   data-ng-click="addTeacherToClass(teacher)">{{teacher.displayName}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-xs-6 field-data">
                        <div class="danger" data-ng-if="schoolclass.students.length ===0">
                            none
                        </div>
                        <div data-ng-repeat="student in schoolclass.students">{{student.displayName}} <a href=""
                                                                                                         data-ng-click="removeStudentFromClass(student._id)"><i
                                class="glyphicon glyphicon-minus-sign"></i></a></div>
                        <div class="btn-group" style="padding-top: 1em" dropdown is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                                Add a Student <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" data-ng-repeat="student in school.students"><a href=""
                                                                                                   data-ng-click="addStudentToClass(student)">{{student.displayName}}</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>


    </div>

    <div class="col-xs-6 dashboard-col">

        <div class="font-large virtual-card-header">

            <form data-ng-submit="addSchoolclassToSchool()" validate>

                <div class="title">


                    <div class="pull-right">


                        <a href="" data-ng-click="addSchoolclassToSchool()"><i
                                class="glyphicon glyphicon-plus-sign"></i></a>


                    </div>
                    Add another class <input type="text" data-ng-model="newClass.name"
                                             class="form-control focus"
                                             placeholder="Name">


                </div>


            </form>

        </div>
    </div>


    <!--<div class="sparesys-header">-->

    <!--<div ng-include="'/modules/schools/views/partial/add-teacher.modal.client.view.html'"></div>-->

    <!--<div class="pull-right">-->
    <!--<a class="btn btn-primary" data-ng-click="delete(school)">-->
    <!--<i class="glyphicon glyphicon-trash"></i>-->
    <!--</a>-->
    <!--</div>-->

    <!--<div class="sparesys-title">-->
    <!--{{school.name}}-->
    <!--</div>-->
    <!--<div class="sparesys-subtitle">-->
    <!--{{school.city}}, {{school.country}}-->
    <!--</div>-->
    <!--</div>-->

    <!--<div data-ng-show="school.teachers.length === 0">-->
    <!--This school has no teachers, yet. Why don't you <a href="" ng-click="addTeacherToSchoolPopup()">add one</a>?-->
    <!--</div>-->
    <!--<div data-ng-show="school.teachers.length > 0">-->
    <!--<div class="pull-right">-->
    <!--<a href="" ng-click="addTeacherToSchoolPopup()" >-->
    <!--Add Teacher-->
    <!--<i class="glyphicon glyphicon-plus-sign">-->
    <!--</i>-->

    <!--</a>-->
    <!--</div>-->


    <!--<table id="searchTextResults" class="table-striped" style="width: 100%">-->
    <!--<thead>-->
    <!--<tr>-->
    <!--<th class="sparesys-view-courses-course-column">Teacher</th>-->
    <!--<th class="sparesys-view-courses-course-column">User Name</th>-->
    <!--&lt;!&ndash;<th class= "sparesys-view-courses-description-column">Description</th>&ndash;&gt;-->
    <!--&lt;!&ndash;<th>Created</th>&ndash;&gt;-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody ui-sortable="sortableOptions" data-ng-model="course.packs">-->
    <!--<tr data-ng-repeat="teacher in school.teachers" data-ng-controller="UsersController"-->
    <!--data-ng-init="findTeacher(teacher)"-->
    <!--style="cursor: move">-->

    <!--<td class="sparesys-view-courses-name-cell">-->
    <!--{{teacher.displayName}}-->
    <!--</td>-->

    <!--<td class="sparesys-view-object-content-cell">-->
    <!--{{teacher.username}}-->
    <!--</td>-->

    <!--</tr>-->
    <!--</tbody>-->
    <!--</table>-->


    <!--</div>-->


    <!--<small>-->
    <!--<em class="text-muted">-->
    <!--Created on-->
    <!--<span data-ng-bind="school.created | date:'mediumDate'"></span>-->
    <!--by-->
    <!--<span data-ng-bind="school.user.displayName"></span>-->
    <!--</em>-->
    <!--</small>-->
</section>
