<script type="text/ng-template" id="addPackToCourse.html">
    <div>

        <div class="modal-body">
            <div class="content-header center-aligned">
                <div class="title">
                    Add Packs to Course: {{course.name}}
                </div>
            </div>

            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="sparesys-header">
                        <table class="sparesys-view-object-table">
                            <tr class="controls">
                                <td class="sparesys-view-object-label-cell">Name</td>
                                <td class="sparesys-view-object-content-cell">
                                    <input type="text" data-ng-model="name"
                                           id="packname" class="form-control addpackfocus"
                                           placeholder="Name"
                                           data-ng-init="setFocus()"
                                           required></td>
                            </tr>
                        </table>
                    </div>

                    <div>
                        <button class="btn btn-primary sparesys-button"
                                type="submit"
                                ng-click="addPackToCourse()"
                                >
                            Add
                        </button>

                        <div class="pull-right">
                            <button class="btn btn-primary sparesys-button" ng-click="cancel()">Done</button>
                        </div>

                     </div>
                </fieldset>
            </form>

        </div>


    </div>
</script>