<script type="text/ng-template" id="addPackToCourse.html">

    <div class="modal-body">
        <div class="content-header center-aligned">
            <div class="title">
                Add Packs to
            </div>

            <div class="title">
                <div class="title center-aligned font-m">
                    <span class="warning">{{course.name}}</span>
                </div>

            </div>
        </div>

        <form class="form-horizontal" >
            <fieldset>
                    <table>
                        <tr>
                            <td class="right-padded-m nowrap">New Pack</td>
                            <td class="expands">
                                <input type="text"
                                       data-ng-model="data.name"
                                       class="form-control focus"
                                       placeholder="Name"
                                       required></td>
                        </tr>
                    </table>

                <div class="center-aligned top-padded-m">
                    <button class="btn btn-rememberators"
                            type="submit"
                            ng-click="addPackToCourse()"
                            >
                        Add
                    </button>
                </div>
            </fieldset>
        </form>
    </div>


</script>