<script type="text/ng-template" id="addPackToCourse.html">

    <div class="modal-body">
        <div class="content-header center-aligned">
            <div class="title">
                Add Packs to
            </div>

            <div class="title">
                {{course.name}}
            </div>
        </div>

        <form class="form-horizontal" >
            <fieldset>
                <div class="content-header">
                    <table>
                        <tr>
                            <td class="right-padded-m nowrap">Pack Name</td>
                            <td class="expands">
                                <input type="text" data-ng-model="name"
                                       id="packname"
                                       class="form-control focus"
                                       placeholder="Name"
                                       required></td>
                        </tr>
                    </table>
                </div>

                <div class="center-aligned">
                    <button class="btn btn-rememberators"
                            type="submit"
                            ng-click="addPackToCourse()"
                            >
                        Add
                    </button>


                </div>
            </fieldset>
        </form>
    </div>


</script>