<script type="text/ng-template" id="copiedCourse.html">
    <div class="modal-body">

        <div class="sparesys-header">
            <div class="sparesys-title">
                You have downloaded <span class="sparesys-emphasize">"{{course.name}}"</span>
            </div>
            <div class="sparesys-subtitle">
                A coupy of this course is now available in your course collection.
            </div>
        </div>
            <button class="btn btn-primary sparesys-button" ng-click="ok()">Ok</button>
    </div>
</script>