<script type="text/ng-template" id="copiedCourse.html">
    <div class="modal-body">

        <section data-ng-if="target === 'student'">
            <div class="content-header center-aligned">
                <div class="title">
                    Learn Course
                </div>
                <div class="font-l warning">
                    {{course.name}}
                </div>
            </div>

            <div class="content-header center-aligned">
                <infobox logo="girl">
                    This will produce a copy of this course and put it into the list of your courses.
                    You will be free to modify and edit this copy and adapt it to your personal needs.

                </infobox>
            </div>
            <div style="text-align: center">
                <button class="btn btn-rememberators" ng-click="ok()">Ok</button>
                <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
            </div>

        </section>

        <section data-ng-if="target === 'teacher'">
            <div class="content-header center-aligned">
                <div class="title">
                    Teach Course
                </div>
                <div class="font-l warning">
                    {{course.name}}
                </div>
            </div>

            <div class="content-header center-aligned">
                <infobox logo="man">
                    This will produce a copy of this course and put it into the list of the
                    courses you teach. You will be able to assign this course to your students
                    but also to practice the content yourself.
                </infobox>
            </div>
            <div style="text-align: center">
                <button class="btn btn-rememberators" ng-click="ok()">Ok</button>
                <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
            </div>

        </section>
    </div>

</script>