<div data-ng-controller="CoursesSettingsController">


    <div class="tab-header">
        Change Settings for all Cards in {{course.name}}
    </div>

    <div class="left-padded-m" data-ng-if="!course.showCards || course.showCards.length === 0">

        There are no cards in course {{course.name}}
    </div>


    <table class="box-margin-s" data-ng-if="course.showCards.length > 0">


        <tr>
            <td class="top-padded-s right-padded-m middle-aligned">
                Language Front
            </td>
            <td class="top-padded-s right-padded-m middle-aligned">


                <div class="btn-group right-padded-l nowrap">


                    <button type="button" class="btn btn-default standard-dropdown-width">{{ options.languageFront.name }}</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="lang in languages"><a
                                data-ng-click="options.languageFront=lang">{{lang.name}}</a>
                        </li>
                    </ul>

                </div>

                <span class="right-padded-s">
                 Language Back
                    </span>

                <div class="btn-group">
                    <button type="button" class="btn btn-default standard-dropdown-width">{{ options.languageBack.name }}</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="lang in languages"><a
                                data-ng-click="options.languageBack = lang">{{lang.name}}</a>
                        </li>
                    </ul>

                </div>

            </td>
        </tr>


        <tr>
            <td class="right-padded-m top-padded-sm">Checks</td>
            <td class="top-padded-sm ">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-default standard-dropdown-width">{{ options.check }}
                    </button>
                    <button type="button"
                            class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="check in options.checks"><a
                                data-ng-click="options.check = check">{{check}}</a></li>
                    </ul>
                </div>
            </td>
        </tr>


        <tr data-ng-controller="DateDropdownController">
            <td class="top-padded-s">Start date</td>


            <td class="top-padded-s right-padded-m nowrap">

                <table>

                    <tr>
                        <td class="right-padded-m">
                            <input data-ng-model="options.changeStartDate" type="radio" value="off"/> Don't Change
                        </td>

                        <td class="right-padded-m">
                            <input data-ng-model="options.changeStartDate" type="radio" value="reset"/>  None
                        </td>

                        <td class="right-padded-m">

                        <input data-ng-model="options.changeStartDate" ng-click="openStartDateCalendar($event)" type="radio"
                               value="on"/> Change To
                        </td>

                        <td class="input-group" data-ng-if="options.changeStartDate === 'on'">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="{{format}}"
                                   ng-model="options.startDate"
                                   is-open="options.openStartDateCalendar"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-required="false"
                                   close-text="Close"/>


                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openStartDateCalendar($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                        </td>

                        <td class="input-group" data-ng-if="options.changeStartDate !== 'on'">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="{{format}}"
                                   ng-model="options.startDate"
                                   is-open="{{false}}"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-required="false"
                                   close-text="Close"
                                   date-disabled="'true'" disabled/>


                            <div class="input-group-btn">
                                <button type="button" class="btn btn-disabled"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                        </td>

                    </tr>
                </table>

            </td>
        </tr>


        <tr data-ng-controller="DateDropdownController">
            <td class="top-padded-s">Due date</td>


            <td class="top-padded-s right-padded-m nowrap">

                <table>

                    <tr>
                        <td class="right-padded-m">
                            <input data-ng-model="options.changeDueDate" type="radio" value="off"/> Don't Change
                        </td>

                        <td class="right-padded-m">
                            <input data-ng-model="options.changeDueDate" type="radio" value="reset"/>  None
                        </td>

                        <td class="right-padded-m">

                            <input data-ng-model="options.changeDueDate" ng-click="openDueDateCalendar($event)" type="radio"
                                   value="on"/> Change To
                        </td>

                        <td class="input-group" data-ng-if="options.changeDueDate === 'on'">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="{{format}}"
                                   ng-model="options.dueDate"
                                   is-open="options.openDueDateCalendar"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-required="false"
                                   close-text="Close"/>


                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="openDueDateCalendar($event)"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                        </td>

                        <td class="input-group" data-ng-if="options.changeDueDate !== 'on'">
                            <input type="text"
                                   class="form-control"
                                   datepicker-popup="{{format}}"
                                   ng-model="options.dueDate"
                                   is-open="{{false}}"
                                   min-date="minDate"
                                   datepicker-options="dateOptions"
                                   ng-required="false"
                                   close-text="Close"
                                   date-disabled="'true'" disabled/>


                            <div class="input-group-btn">
                                <button type="button" class="btn btn-disabled"><i
                                        class="glyphicon glyphicon-calendar"></i></button>
                            </div>
                        </td>

                    </tr>
                </table>

            </td>
        </tr>


    </table>

    <div class="center-aligned bottom-padded-m top-padded-sm" data-ng-if="course.showCards.length > 0">
        <button class="btn btn-rememberators" ng-click="updateCards()">Update Cards</button>

    </div>


    <table class="table-striped top-padded-l card-border-top"  data-ng-if="course.showCards.length > 0">
        <thead >
        <tr >
            <th class="right-padded-m left-padded-s top-aligned top-padded-sm">Question</th>
            <th class="right-padded-m top-aligned top-padded-sm">Language Front</th>
            <th class="right-padded-m top-aligned top-padded-sm">Language Back</th>
            <th class="right-padded-m top-aligned top-padded-sm">Checks</th>
            <th class="right-padded-m top-aligned top-padded-sm">Start Date</th>
            <th class="right-padded-s top-aligned top-padded-sm">Due Date</th>

        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">

        <tr>


        <tr data-ng-repeat="card in course.showCards">


            <td class="right-padded-m standard-min-width top-padded top-aligned text-min-width">


                <a href="">
                    <i ng-class="checkForward(card)" data-ng-click="areYouSureToDeleteCard(card)"
                       class="small left-padded-s glyphicon glyphicon-remove-sign">
                    </i>
                </a>

                <a ng-class="checkForward(card)" data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
            </td>

            <td class="right-padded-m top-padded top-aligned">
                <div data-ng-if="card.languageFront">{{card.languageFront.name}}</div>
                <div data-ng-if="!card.languageFront">none</div>
            </td>


            <td class="right-padded-m nowrap center-aligned top-aligned">

                <div data-ng-if="card.languageBack">{{card.languageBack.name}}</div>
                <div data-ng-if="!card.languageBack">none</div>

            </td>


            <td class="right-padded-m nowrap right-aligned top-aligned">
                {{card.check}}
            </td>


            <td class="right-padded-s nowrap right-aligned top-aligned">

                <span data-ng-if="card.startDate">
                        {{card.startDate | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.startDate">
                        none
                    </span>
            </td>


            <td class="right-padded-s nowrap right-aligned top-aligned">

                    <span data-ng-if="card.dueDate">
                        {{card.dueDate | date:'shortDate'}}
                    </span>
                    <span data-ng-if="!card.dueDate">
                        none
                    </span>
            </td>

        </tr>


        <tr data-ng-if="course.showCards.length < course.cards.length">
            <td class="top-padded left-padded-m" colspan="5">
                and {{course.cards.length - course.showCards.length}} further cards
            </td>
        </tr>
        </tbody>
    </table>
</div>