<div  data-ng-controller="CoursesSettingsController" data-ng-init="init()">

    <div class="pull-right right-padded-s top-padded-s bottom-padded-m" >



        <a href="">
            <i data-ng-click="areYouSureToDeleteCourse(course)"
               class="glyphicon glyphicon-remove-sign">
            </i>
        </a>
    </div>



    <div class="tab-header">
        Settings for Course {{course.name}}
    </div>

    <table class="box-margin-s" >

        <tr>
            <td></td>
            <td class="nowrap bottom-padded-m">
                <input  type="checkbox"
                        data-ng-model="course.teaching"
                        data-ng-click="saveSettings()">
                <span class="left-padded-s right-padded-m">Teach This Course</span>


            <input  type="checkbox"
                    data-ng-click="saveSettings()"
                    data-ng-model="course.published" data-ng-click="areYouSureToPublishCourse(course)">
                <span class="left-padded-s">Publish This Course</span>

            </td>
        </tr>

        <tr>
        <td class="right-padded-m">Name</td>
        <td class="expands" >
            <input type="text"
                   data-ng-model="options.name"
                   placeholder="{{course.name}}"
                   class="focus form-control"
                   data-ng-blur="saveSettings()"
                   required>
        </td>
    </tr>

    <tr>
        <td class="right-padded-m top-padded-s">Description</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="options.description"
                   class="form-control"
                   placeholder="{{course.description}}"
                   data-ng-blur="saveSettings()"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Front of Card</td>
        <td class="top-padded-s" colspan="4">
            <input type="text"
                   data-ng-model="options.front"
                   class="form-control"
                   placeholder="{{course.front}}"
                   data-ng-blur="saveSettings()"
                   required>
        </td>

        <!--<td class="top-padded-s" colspan="5">-->
            <!--<input type="text"-->
                   <!--data-ng-model="options.languageFront"-->
                   <!--class="form-control"-->
                   <!--placeholder="{{course.languageFront}}"-->
                   <!--data-ng-blur="saveSettings()"-->
                   <!--required>-->
        <!--</td>-->
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Back of Card</td>
        <td class="top-padded-s" colspan="5">
            <input type="text"
                   data-ng-model="options.back"
                   class="form-control"
                   placeholder="{{course.back}}"
                   data-ng-blur="saveSettings()"
                   required>
        </td>
    </tr>


    </table>

    <div class="tab-subheader">
        Card Defaults
    </div>

    <table class="box-margin-s" data-ng-if="course.showCards.length > 0">


        <tr>
            <td class="top-padded-s right-padded-m middle-aligned">
                Language Front
            </td>
            <td class="top-padded-s right-padded-m middle-aligned">

                <!--{{options}}-->

                <div class="btn-group right-padded-l nowrap">


                    <button type="button" class="btn btn-default standard-dropdown-width">{{ options.languageOnlyFront }}</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="lang in languagesOnly"><a
                                data-ng-click="setLanguageFront(lang)">{{lang.name}}</a>
                        </li>
                    </ul>

                </div>

                <span class="right-padded-s">
                 Language Back
                    </span>

                <div class="btn-group">
                    <button type="button" class="btn btn-default standard-dropdown-width">{{ options.languageOnlyBack }}</button>
                    <button type="button" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="lang in languagesOnly"><a
                                data-ng-click="setLanguageBack(lang)">{{lang.name}}</a>
                        </li>
                    </ul>

                </div>

            </td>
        </tr>

        <tr>
            <td class="right-padded-m top-padded-sm">Checks</td>
            <td class="top-padded-sm ">
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-default standard-dropdown-width">{{ options.check }}
                    </button>
                    <button type="button"
                            class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li data-ng-repeat="check in options.checksOnly"
                            data-ng-click="setCecks(check)"><a
                                data-ng-click="options.check = check">{{check}}</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td class="right-padded-m top-padded-sm">Modes</td>
            <td class="top-padded-sm ">
                <input type="checkbox" data-ng-model="options.defaultForward" data-ng-click="changeDefaults()"> <span class="right-padded-m">Forward</span>
                <input type="checkbox" data-ng-model="options.defaultReverse" data-ng-click="changeDefaults()"> <span class="right-padded-m">Reverse</span>
                <input type="checkbox" data-ng-model="options.defaultImages" data-ng-click="changeDefaults()"> <span class="right-padded-m">Images</span>
            </td>
        </tr>

        <tr data-ng-if="options.defaultForward">
            <td class="right-padded-m top-padded-sm">Forward</td>
            <td class="top-padded-sm ">
                <input type="checkbox" data-ng-model="options.defaultForwardReadQuestion" data-ng-click="changeDefaults()"> <span class="right-padded-m">Read Questions</span>
                <input type="checkbox" data-ng-model="options.defaultForwardReadAnser" data-ng-click="changeDefaults()"> <span class="right-padded-m">Read Answers</span>
                <input type="checkbox" data-ng-model="options.defaultForwardSpeechRecognition" data-ng-click="changeDefaults()"> <span class="right-padded-m">Speech Recognition</span>
            </td>
        </tr>

        <tr data-ng-if="options.defaultReverse">
            <td class="right-padded-m top-padded-sm">Reverse</td>
            <td class="top-padded-sm ">
                <input type="checkbox" data-ng-model="options.defaultReverseReadQuestion" data-ng-click="changeDefaults()"> <span class="right-padded-m">Read Questions</span>
                <input type="checkbox" data-ng-model="options.defaultReverseReadAnser" data-ng-click="changeDefaults()"> <span class="right-padded-m">Read Answers</span>
                <input type="checkbox" data-ng-model="options.defaultReverseSpeechRecognition" data-ng-click="changeDefaults()"> <span class="right-padded-m">Speech Recognition</span>
            </td>
        </tr>

        <tr data-ng-if="options.defaultImages">
            <td class="right-padded-m top-padded-sm">Images</td>
            <td class="top-padded-sm ">
                <input type="checkbox" data-ng-model="options.defaultImagesReadQuestion"> <span class="right-padded-m">Read Questions</span>
                <input type="checkbox" data-ng-model="options.defaultImagesReadAnser"> <span class="right-padded-m">Read Answesr</span>
                <input type="checkbox" data-ng-model="options.defaultImagesSpeechRecognition"> <span class="right-padded-m">Speech Recognition</span>
            </td>
        </tr>
</table>

</div>
