<script type="text/ng-template" id="subscribeToCourse.html">


    <div class="rememberators-modal">

        <div class="rememberators-modal-header">
            Subscribe to Course
        </div>

        <div class="modal-info">
            Do you want to subscribe to course {{course.name}}?
        </div>

        <div class="rememberators-modal-footer">
            <button class="btn btn-rememberators"
                    type="submit"
                    ng-click="subscribeAsTeacher()"
                    data-ng-if="authentication.user.roles.indexOf('teacher') > -1"
                    >
                As Teacher
            </button>

            <button class="btn btn-rememberators"
                    type="submit"
                    ng-click="subscribeAsStudent()"
                    >
                As Student
            </button>


            <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

        </div>
    </div>


</script>