<script type="text/ng-template" id="subscribeToCourse.html">


    <div class="rememberators-modal">

        <div class="rememberators-modal-header">
            Subscribe to Course
        </div>

        <div class="modal-danger">
            Do you want to subscribe to course {{course.name}}?
        </div>

        <div class="rememberators-modal-footer">
            <button class="btn btn-rememberators"
                    type="submit"
                    ng-click="subscribeAsTeacher()"
                    data-ng-if="authentication.user.roles.indexOf('teacher') > -1"
                    >
                As Teacher
            </button>

            <button class="btn btn-rememberators"
                    type="submit"
                    ng-click="subscribeAsStudent()"
                    >
                As Student
            </button>


            <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

        </div>
    </div>

    <!--<div class="modal-body">-->
        <!--<div class="content-header center-aligned">-->
            <!--<div class="title">-->
                <!-- -->
            <!--</div>-->

            <!--<div class="title">-->
                <!--<div class="title center-aligned font-m">-->
                    <!--<span class="warning">{{course.name}}</span>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->

        <!--<div class="content-section modal-scroll">-->

            <!--<div data-ng-if="course.packs.length === 0">-->
                    <!--This is an empty course.-->
            <!--</div>-->

            <!--<div data-ng-if="course.packs.length > 0">-->

                    <!--<table id="searchTextResults" class="table-striped expands">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th class="right-padded left-padded-s expands">Pack</th>-->
                            <!--<th class="right-padded-s">Cards</th>-->
                            <!--&lt;!&ndash;<th class= "sparesys-view-courses-description-column">Description</th>&ndash;&gt;-->
                            <!--&lt;!&ndash;<th>Created</th>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody data-ng-model="course.packs">-->
                        <!--<tr data-ng-repeat="packId in course.packs"-->
                            <!--data-ng-controller="PacksController"-->
                            <!--data-ng-init="findById(packId)">-->

                            <!--<td class="expands  left-padded-s right-padded">-->
                                <!--{{pack.name}}-->
                            <!--</td>-->
                            <!--<td class="right-padded-s right-aligned">-->
                                <!--{{pack.cards.length}}-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->


            <!--</div>-->
        <!--</div>-->

        <!--<form class="form-horizontal" >-->
            <!--<fieldset>-->


                <!--<div class="center-aligned top-padded-m">-->
                    <!--<button class="btn btn-rememberators"-->
                            <!--type="submit"-->
                            <!--ng-click="subscribeAsTeacher()"-->
                            <!--data-ng-if="authentication.user.roles.indexOf('teacher') > -1"-->

                        <!--As Teacher-->
                    <!--</button>-->

                    <!--<button class="btn btn-rememberators"-->
                            <!--type="submit"-->
                            <!--ng-click="subscribeAsStudent()"-->
                            <!-->
                        <!--As Student-->
                    <!--</button>-->
                <!--</div>-->
            <!--</fieldset>-->
        <!--</form>-->
    <!--</div>-->


</script>