<div class="left-padded-s right-padded-s top-padded-s bottom-padded-m">
    <table class="expands">
    <tr>
        <td class="right-padded-m">Name</td>
        <td class="expands">
            <input type="text"
                   data-ng-model="course.name"
                   class="focus form-control"
                   data-ng-init="setFocus()"
                   required>
        </td>
    </tr>

    <tr>
        <td class="right-padded-m top-padded-s">Description</td>
        <td class="top-padded-s">
            <input type="text"
                   data-ng-model="course.description"
                   class="form-control"
                   placeholder="{{course.description}}"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Front of Card</td>
        <td class="top-padded-s">
            <input type="text"
                   data-ng-model="course.front"
                   class="form-control"
                   placeholder="{{course.front}}"
                   required>
        </td>
    </tr>

    <tr>
        <td class="nowrap right-padded-m top-padded-s">Back of Card</td>
        <td class="top-padded-s">
            <input type="text"
                   data-ng-model="course.back"
                   class="form-control"
                   placeholder="{{course.back}}"
                   required>
        </td>
    </tr>

    <!--<tr>-->
    <!--<td class="right-padded-m nowrap">Language on Front</td>-->
    <!--<td>-->


    <!--<div class="btn-group">-->
    <!--<button type="button" class="btn btn-default" >{{ language.name }}</button>-->
    <!--<button type="button" class="btn btn-default dropdown-toggle" >-->
    <!--<span class="caret"></span>-->
    <!--<span class="sr-only">Split button!</span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li data-ng-repeat="lang in languages" ><a data-ng-click="setLanguage(lang)">{{lang.name}}</a></li>-->
    <!--</ul>-->
    <!--</div>-->


    <!--</td>-->
    <!--</tr>-->

    <!--<tr>-->
    <!--<td class="right-padded-m nowrap">Language Back</td>-->
    <!--<td class="top-padded">-->


    <!--<div class="btn-group bottom-spacer">-->
    <!--<button type="button" class="btn btn-default" >{{ languageback.name }}</button>-->
    <!--<button type="button" class="btn btn-default dropdown-toggle" >-->
    <!--<span class="caret"></span>-->
    <!--<span class="sr-only">Split button!</span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li data-ng-repeat="lang in languages" ><a data-ng-click="setLanguageBack(lang)">{{lang.name}}</a></li>-->
    <!--</ul>-->
    <!--</div>-->


    <!--</td>-->
    <!--</tr>-->



    <!--<tr>-->
    <!--<td class="right-padded-m nowrap">Speech Recognition</td>-->
    <!--<td>-->

    <!--<div class="btn-group  bottom-spacer">-->

    <!--<button type="button" class="btn btn-default" >{{ course.speechrecognition }}</button>-->
    <!--<button type="button" class="btn btn-default dropdown-toggle">-->
    <!--<span class="caret"></span>-->
    <!--<span class="sr-only">Split button!</span>-->
    <!--</button>-->
    <!--<ul class="dropdown-menu" role="menu">-->
    <!--<li data-ng-repeat="option in speechRecognitionOptions"><a-->
    <!--data-ng-click="setSpeechrecognition(option)">{{option}}</a>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->

    <!--</td>-->
    <!--</tr>-->

    <tr>
        <td class="right-padded-m-m nowrap top-padded-m top-padded-s">
            <input  type="checkbox"
                    data-ng-model="teaching"><span class="left-padded-s">Teach This Course</span></td>


        </td>
    </tr>
</table>
</div>