<div data-ng-controller="EditCourseForwardController">



    <div class="pull-right right-padded-s top-padded-s bottom-padded-m" >


        <a href="">
            <i data-ng-click="addPackToCoursePopup()"

               class="glyphicon glyphicon-plus-sign">
            </i>
        </a>

        <a href="">
            <i data-ng-click="areYouSureToDeleteCard(card)"
               class="glyphicon glyphicon-remove-sign">
            </i>
        </a>
    </div>


    <div class="top-padded-m left-padded-m" data-ng-if="!course.showCards || course.showCards.length === 0">

        There are no cards in course {{course.name}}
    </div>


    <div style="border-bottom: 1px solid #CCCCCC" class="bottom-margin-xl" data-ng-if="course.showCards.length > 0">

        <div class="tab-header">
            Change Settings for all Cards in {{course.name}}
        </div>

        <table class="box-margin-s" >


            <tr>

                <td class="right-padded-m top-aligned nowrap ">Forward Mode</td>
                <td class="nowrap right-padded-xl top-aligned ">

                    <div><input data-ng-model="options.mode" type="radio" value="on"/> Switch On for all cards</div>
                    <div><input data-ng-model="options.mode" type="radio" value="off"/> Switch Off for all cards</div>
                    <div><input data-ng-model="options.mode" type="radio" value="leave"/> Leave Unchanged</div>
                </td>
            </tr>

            <tr>
                <td class="right-padded-m top-aligned nowrap top-padded-m">

                    Read Questions
                </td>


                <td class="nowrap right-padded-xl top-aligned top-padded-m">

                    <div><input data-ng-model="options.readFront" type="radio" value="on" /> Read out loud</div>
                    <div><input data-ng-model="options.readFront" type="radio" value="off"/> Don't Read out loud</div>
                    <div><input data-ng-model="options.readFront" type="radio" value="leave"/> Leave Unchanged</div>
                </td>

            </tr>
            <tr>


                <td class="right-padded-m top-aligned nowrap top-padded-m">Read Expected Answers</td>


                <td class="nowrap right-padded-xl top-aligned top-padded-m">

                    <div><input data-ng-model="options.readBack" type="radio" value="on"/> Read out loud</div>
                    <div><input data-ng-model="options.readBack" type="radio" value="off"/> Don't Read out loud</div>
                    <div><input data-ng-model="options.readBack" type="radio" value="leave"/> Leave Unchanged</div>
                </td>


                <td class="right-padded-m top-aligned nowrap top-padded-m">Speech Recognition</td>
                <td class="nowrap right-padded-xl top-aligned top-padded-m">

                    <div><input data-ng-model="options.speech" type="radio" value="on"/> Switch On for all cards</div>
                    <div><input data-ng-model="options.speech" type="radio" value="off"/> Switch Off for all cards</div>
                    <div><input data-ng-model="options.speech" type="radio" value="leave"/> Leave Unchanged</div>
                </td>

            </tr>


        </table>

        <div class="top-padded-s center-aligned bottom-padded-m">
            <button class="btn btn-rememberators" ng-click="updateCards()">Update Cards</button>

        </div>
    </div>

    <div class="top-padded-l" data-ng-if="course.showCards.length === 0">

        There are no cards in course {{course.name}}
    </div>

    <table class="table-striped top-padded-l" data-ng-if="course.showCards.length > 0">
        <thead>
        <tr>
            <th class="right-padded-m left-padded-s top-aligned">Question</th>
            <th class="right-padded-m top-aligned">Expected Answer</th>
            <th class="right-padded-m top-aligned">Read Question</th>
            <th class="right-padded-m top-aligned">Speech Recognition</th>
            <th class="right-padded-s top-aligned">Read Expected Answer</th>

        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" data-ng-model="pack.cards">

        <tr>


        <tr data-ng-repeat="card in course.showCards">


            <td class="right-padded-m standard-min-width top-padded top-aligned text-min-width">


                <a href="">
                    <i ng-class="checkForward(card)" data-ng-click="areYouSureToDeleteCard(card)"
                       class="small left-padded-s glyphicon glyphicon-remove-sign">
                    </i>
                </a>

                <a ng-class="checkForward(card)" data-ng-href="#!/cards/{{card._id}}/edit">{{card.question}}</a>
            </td>

            <td class="right-padded-m top-padded top-aligned" ng-class="checkForward(card)">
                {{card.answer}}
            </td>


            <td class="right-padded-m nowrap center-aligned top-aligned" data-ng-if="isForward(card)">

                <span data-ng-if="card.readFrontForward">yes</span>
                <span data-ng-if="!card.readFrontForward">no</span>
            </td>

            <td class="text-muted right-padded-m nowrap center-aligned top-aligned" data-ng-if="!isForward(card)">
                 n/a
            </td>

            <td class="right-padded-m nowrap center-aligned top-aligned" data-ng-if="isForward(card)">

                <span data-ng-if="card.speechRecognitionForward">yes</span>
                <span data-ng-if="!card.speechRecognitionForward">no</span>

            </td>

            <td class="text-muted right-padded-m nowrap center-aligned top-aligned" data-ng-if="!isForward(card)">
                n/a
            </td>

            <td class="right-padded-s nowrap center-aligned top-aligned" data-ng-if="isForward(card)">
                <span data-ng-if="card.readBackForward">yes</span>
                <span data-ng-if="!card.readBackForward">no</span>

            </td>

            <td class="text-muted right-padded-m nowrap center-aligned top-aligned" data-ng-if="!isForward(card)">
                n/a
            </td>

        </tr>


        <tr data-ng-if="course.showCards.length < course.cards.length">
            <td class="top-padded left-padded-m" colspan="5">
                and {{course.cards.length - course.showCards.length}} further cards
             </td>
        </tr>
        </tbody>
    </table>
</div>