<script type="text/ng-template" id="areYouSureToDeleteCourse.html">
    <div class="modal-body">

        <div class="content-header">
            <div class="title center-aligned" >
                Delete Course
            </div>



            <div class="title">
                <div class="title center-aligned font-m">
                    <span class="warning">{{course.name}}</span>
                </div>

            </div>

        </div>
        <div class="center-aligned">
            <button class="btn btn-rememberators"
                    ng-click="ok(toCourseList)">OK</button>
            <button class="btn btn-rememberators"
                    ng-click="cancel()">Cancel</button>
    </div>
</script>