<script type="text/ng-template" id="editCourse.html">
    <div>

        <div class="modal-body">
            <div class="content-header">
                <div class="title center-aligned">
                    Settings for Course: {{initialCourseName}}
                </div>
            </div>

            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="content-header">
                        <table class="expands">
                            <tr>
                                <td class="right-padded">Name</td>
                                <td class="expands">
                                    <input type="text"
                                           data-ng-model="course.name"
                                           class="focus form-control"
                                           data-ng-init="setFocus()"
                                           required>
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded">Description</td>
                                <td>
                                    <input type="text"
                                           data-ng-model="course.description"
                                           class="form-control"
                                           placeholder="{{course.description}}"
                                           required>
                                </td>
                            </tr>

                            <tr>
                                <td class="nowrap right-padded">Front of Card</td>
                                <td>
                                    <input type="text"
                                           data-ng-model="course.front"
                                           class="form-control"
                                           placeholder="{{course.front}}"
                                           required>
                                </td>
                            </tr>

                            <tr>
                                <td class="nowrap right-padded">Back of Card</td>
                                <td>
                                    <input type="text"
                                           data-ng-model="course.back"
                                           class="form-control"
                                           placeholder="{{course.back}}"
                                           required>
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded nowrap">Language Front</td>
                                <td>


                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" >{{ language.name }}</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" >
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li data-ng-repeat="lang in languages" ><a data-ng-click="setLanguage(lang)">{{lang.name}}</a></li>
                                        </ul>
                                    </div>


                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded nowrap">Language Back</td>
                                <td class="top-padded">


                                    <div class="btn-group bottom-spacer">
                                        <button type="button" class="btn btn-default" >{{ languageback.name }}</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" >
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li data-ng-repeat="lang in languages" ><a data-ng-click="setLanguageBack(lang)">{{lang.name}}</a></li>
                                        </ul>
                                    </div>


                                </td>
                            </tr>



                            <tr>
                                <td class="right-padded nowrap">Speech Recognition</td>
                                <td>

                                    <div class="btn-group  bottom-spacer">

                                        <button type="button" class="btn btn-default" >{{ course.speechrecognition }}</button>
                                        <button type="button" class="btn btn-default dropdown-toggle">
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li data-ng-repeat="option in speechRecognitionOptions"><a
                                                    data-ng-click="setSpeechrecognition(option)">{{option}}</a>
                                            </li>
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="center-aligned">
                        <button class="btn btn-rememberators"
                                type="submit"
                                ng-click="ok()">Change
                        </button>

                        <button class="btn btn-rememberators"
                                ng-click="cancel()">Cancel
                        </button>
                    </div>

                </fieldset>
            </form>

        </div>


    </div>
</script>