<div class="pull-right">

    <!--<a class="menu-link"-->
       <!--href=""-->
       <!--data-ng-click="editCoursePopup(course)">Settings</a>-->

    <!--<a class="menu-link"-->
       <!--href=""-->
       <!--data-ng-click="areYouSureToDeleteCourse(course)"-->
       <!--data-ng-show="authentication.user._id == course.user._id || authentication.user.roles.indexOf('admin') !== -1">Delete</a>-->

            <!--<span data-ng-if="!course.master && !course.published && course.packs.length > 0">-->
            <!--<a class="menu-link"-->
               <!--href=""-->
               <!--data-ng-click="areYouSureToPublishCourse(course)"-->
               <!--data-ng-show="authentication.user._id == course.user._id">Publish</a>-->
            <!--</span>-->

            <!--<span data-ng-if="course.published">-->
            <!--<a class="menu-link"-->
               <!--href=""-->
               <!--data-ng-click="areYouSureToPublishCourse(course)"-->
               <!--data-ng-show="authentication.user._id == course.user._id">Un-Publish</a>-->
            <!--</span>-->

    <!--<a class="menu-link"-->
       <!--href=""-->
       <!--ng-click="addPackToCoursePopup()">Add Packs</a>-->


</div>