<script type="text/ng-template" id="areYouSureToPublishCourse.html">
    <div class="modal-body">

        <div class="sparesys-header">
            <div class="sparesys-title">
                Publish course <span class="sparesys-emphasize">"{{course.name}}"</span>
            </div>
            <div class="sparesys-subtitle">
                This action will make the course available for all other users. Are you sure?
            </div>
        </div>
            <button class="btn btn-primary sparesys-button" ng-click="ok()">Yes</button>
            <button class="btn btn-primary sparesys-button" ng-click="cancel()">No</button>
    </div>
</script>