<script type="text/ng-template" id="areYouSureToPublishCourse.html">
    <div class="modal-body">

        <div class="content-header">
            <div class="title center-aligned"
                 data-ng-if="!course.published">
                Publish Course
            </div>



            <div class="title center-aligned"
                 data-ng-if="course.published">
                Un-Publish Course
            </div>

            <div class="title">
                <div class="title center-aligned font-m">
                    <span class="warning">{{course.name}}</span>
                </div>

            </div>
        </div>

        <div class="modal-message content-section center-aligned"
             data-ng-if="!course.published">
            This action will make the course available for all other users.
        </div>

        <div class="modal-message content-section center-aligned"
             data-ng-if="course.published">
            This action will make the course invisible for all other users.
        </div>

        <div class="center-aligned">
            <button class="btn btn-rememberators"
                    ng-click="ok()">Yes</button>
            <button class="btn btn-rememberators"
                    ng-click="cancel()">No</button>
        </div>
    </div>
</script>