

    <div class="pull-right right-padded-s top-padded-s bottom-padded-m" >


        <a href="">
            <i data-ng-click="addPackToCoursePopup()"

               class="glyphicon glyphicon-plus-sign">
            </i>
        </a>

        <a href="">
            <i data-ng-click="areYouSureToDeleteCard(card)"
               class="glyphicon glyphicon-remove-sign">
            </i>
        </a>
    </div>


    <div class="top-padded-m left-padded-m" data-ng-if="!course.packs || course.packs.length === 0">

        There are no packs in course {{course.name}}
    </div>

    <table class="table-striped" data-ng-if="course.showCards.length > 0">
        <thead>
        <tr>
            <th></th>
            <th class="left-padded-s">Pack</th>
            <th class="nowrap right-aligned right-padded-s">Number of Cards</th>
        </tr>
        </thead>
        <tbody ui-sortable="sortableOptions"
               data-ng-model="course.packs">
        <tr data-ng-controller="PacksController"
            data-ng-repeat="packId in course.packs"
            data-ng-init="findById(packId)"
            style="cursor: move">
            <td class="right-padded">
                <a href="">
                    <i data-ng-click="areYouSureToDeletePack(pack)"
                       class="small right-padded-s left-padded-s glyphicon glyphicon-remove-sign">
                    </i>
                </a>
            </td>

            <td class="nowrap">
                <a data-ng-href="#!/packs/{{pack._id}}/edit">{{pack.name}}</a>
            </td>
            <td class="expands right-aligned right-padded-s">
                {{pack.cards.length}}
            </td>
        </tr>
        </tbody>
    </table>
