<div class="modal-body">
    <div class="content-header center-aligned">
        <div class="title">
            Cards
        </div>

    </div>


   Cards are modelled like real world cards. They have
    a front and a back and normally contain a question
    on the front and an expected answer on the back. Of course,
    some cards should be run in both directions, especially the
    language ones. For those it is convenient to know which
    language ends up at the front and which one at the back.

</div>
