<div class="modal-body">
    <div class="content-header center-aligned">
        <div class="title">
            Publishing a Course
        </div>

    </div>


   If you have worked very hard to create a course, it may be time
    for you to let others benefit from your efforts. All you have
    to do is tick the Publish This Course box and other rememberators
    users will be able to find your course. When people subscribe
    to a course, you are actually creating a personal copy of
    the course. So you can un-publish the course at any time without
    affecting anyone who has subscribed.

</div>
