.add-item {
  .make-row(1em);

  .icon {

    .make-xs-column(1,0);
    text-align: left;
    margin-top: 0;
  }

  .input {
    .make-xs-column(11,0);
  }
}

.item-list {
  .field-data;

  .item {
    .make-row(0);
    margin-top: 0;
  }
  .icon {
    .make-xs-column(1,0);
  }

  .element {
    margin-bottom: -0.8em;
    .make-xs-column(11,0);

    .trash {
      display: inline;
    }

    .text {
      display: inline;
    }
  }


}