.add-item {
  .make-row(1em);

  .left-column {

    position: absolute;
    left: 0.5em;
    top: 0.5em;
    .make-xs-column(1, 0);
    text-align: left;
  }

  .right-column {
    .make-xs-column(11, 0);
    padding-right: 3em;
  }
}

.item-list {
  .field-data;

  .make-row(0);
  .right-column {
    .make-xs-column(11, 0);


  }

  .item {
    margin-bottom: -1em;
  }

  .left-column {
    .make-xs-column(1, 0);
  }

  .trash {
    //position: absolute;
    //top: -10px
    padding-right: 0.5em;
    display: inline;
  }

  .text {
    display: inline;

  }

}