.infobox {

  padding-bottom: 1em;
}

.infobox-image {
  .pull-left;
  padding-right: 1em;
  padding-top: 0.5em;

  height: 84px;
}

.infobox-title, .title {

  font-size: 24px;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}