.infobox {

  padding-bottom: 1em;
}

.infobox-image {
  .pull-left;
  padding-right: 1em;
  padding-top: 0.5em;

  height: 84px;
}

.infobox-title, .title {

  font-size: 24px;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;



  @media screen {
    @media (min-width: @screen-xs-min) {
      font-size: 25px;
    }
    @media (min-width: @screen-sm-min) {
      font-size: 26px;
    }
    @media (min-width: @screen-md-min) {
      font-size: 27px;
    }
    @media (min-width: @screen-lg-min) {
      font-size: 28px;
    }
  }
}