<div class="flashcard">

    <div class="card-score">
    <div data-ng-if="card.history.length > 0">
        Score: {{cardScore}}
        </div>
        <div data-ng-if="card.history.length === 0">
            <table class="new-card">
                <tr>

                    <td class="top-aligned nowrap">
                        <div class="font-s">
                            New Card!
                        </div>
                    </td>
                    <td class="top-aligned">
                        <img class="size-64"
                             src="/modules/core/img/brand/superhero-boy-medium.gif">
                    </td>

                </tr>
            </table>

        </div>
        <div data-ng-if="state == 'answer'">
            <div data-ng-if="lastRating === 0 && practice.direction === 'forward' && card.invalidanswers.indexOf(answer.text.trim()) ===-1">
                <a href="" data-ng-click="thatCounts()">My Answer Counts!</a>
            </div>

            <div data-ng-if="lastRating === 0 && practice.direction === 'reverse' && card.invalidreverseanswers.indexOf(answer.text.trim()) ===-1">
                <a href="" data-ng-click="thatCounts()">My Answer Counts!</a>
            </div>
        </div>

    </div>


    <!--<div data-ng-if="card.history.length > 0"-->
         <!--class="history text-muted">-->

        <!--<div style="font-size: x-small">-->
            <!--Repetitions: {{card.history.length}}-->
        <!--</div>-->
        <!--<div style="font-size: x-small">-->
            <!--Last Check: {{card.history[card.history.length-1].assessment }}-->
        <!--</div>-->
        <!--<div style="font-size: x-small">-->
            <!--First Repetition: {{card.history[0].when | date:'shortDate'}}-->
        <!--</div>-->
        <!--<div style="font-size: x-small">-->
            <!--Last Repetition: {{card.history[card.history.length-1].when | date:'shortDate'}}-->
        <!--</div>-->

    <!--</div>-->


<span data-ng-if="practice.direction === 'forward'">
<section  data-ng-if="practice.soundFront && state==='question'">
    <a class="" href="" data-ng-click="playSound(practice.question)">
        <i class="glyphicon glyphicon-volume-up sound-replay"></i>
    </a>
    <span data-ng-init="playSound(practice.question)"></span>
</section>


    <section  data-ng-if="practice.soundFront && state==='answer'">
        <a class="" href="" data-ng-click="playSound(practice.question)">
            <i class="glyphicon glyphicon-volume-up sound-replay-back"></i>
        </a>
    </section>

    <section  data-ng-if="practice.soundBack && state==='answer'">
        <a class="" href="" data-ng-click="playSoundBack(practice.answer)">
            <i class="glyphicon glyphicon-volume-up sound-replay"></i>
        </a>
        <span data-ng-init="playSoundBack(practice.answer)"></span>
    </section>
</span>


    <span data-ng-if="practice.direction === 'reverse'">
<section  data-ng-if="practice.soundFront && state==='question'">
    <a class="" href="" data-ng-click="playSoundBack(practice.question)">
        <i class="glyphicon glyphicon-volume-up sound-replay"></i>
    </a>
    <span data-ng-init="playSoundBack(practice.question)"></span>
</section>


    <section  data-ng-if="practice.soundFront && state==='answer'">
        <a class="" href="" data-ng-click="playSoundBack(practice.question)">
            <i class="glyphicon glyphicon-volume-up sound-replay-back"></i>
        </a>
    </section>

    <section  data-ng-if="practice.soundBack && state==='answer'">
        <a class="" href="" data-ng-click="playSound(practice.answer)">
            <i class="glyphicon glyphicon-volume-up sound-replay"></i>
        </a>
        <span data-ng-init="playSound(practice.answer)"></span>
    </section>
</span>

<!--<span data-ng-if="practice.assessment === 'checked' && practice.sound">-->


     <!--<span data-ng-if="practice.direction === 'forward' && state == 'question'">-->
            <!--<a class="" href="" data-ng-click="playSound(practice.question)">-->
                <!--<i class="glyphicon glyphicon-volume-up sound-replay"></i>-->
            <!--</a>-->
            <!--<span data-ng-init="playSound(practice.question)"></span>-->
    <!--</span>-->

    <!--<span data-ng-if="practice.direction === 'forward' && state == 'answer'">-->
             <!--<a href="" data-ng-click="playSound(practice.question)">-->
                 <!--<i class="glyphicon glyphicon-volume-up sound-replay"></i>-->
             <!--</a>-->
        <!--<!--<span data-ng-init="playSound(practice.question)"></span>-->
    <!--</span>-->

    <!--<span data-ng-if="practice.direction === 'reverse' && state == 'answer'">-->
             <!--<a href="" data-ng-click="playSound(practice.answer)">-->
                 <!--<i class="glyphicon glyphicon-volume-up sound-replay"></i>-->
             <!--</a>-->
    <!--</span>-->


    <!--</span>-->





    <div data-ng-if="slides.length === 0 || practice.direction === 'reverse'" class="question">{{practice.question}}</div>



    <div data-ng-if="slides.length > 0 && practice.direction === 'forward'">
        <div style="text-align: center">
                    <imagecarousel slides="slides" size="200"/>
        </div>
    </div>


    <div data-ng-if="state == 'question'" class="form-group" class="expands" style="padding: 20px;">
        <!--<input type="text" required id="answer" name="answer"-->
               <!--class="answer form-control"-->
               <!--data-ng-model="answer.text" data-ng-init="setFocus()"-->
               <!--data-ng-keypress="key($event)">-->


        <input type="text" required
               class="answer form-control focus"
               data-ng-model="answer.text"
               data-ng-init="setFocus()"
               data-ng-click="settext()">

        <div data-ng-if="practice.direction === 'reverse' && recognition" class="text-muted">no speech recognition</div>


        <span data-ng-repeat="c in specialChars">
            <button class="btn btn-rememberators btn-small" data-ng-click="typeSpecialChar(c)">{{c}}</button>
        </span>

        <!--<div style="padding-top: 10px">-->
        <!--<button data-ng-click="submitAnswer()" class="btn btn-large btn-primary">submit</button>-->
        <!--</div>-->
    </div>



    <div data-ng-if="state == 'answer'">

        <div data-ng-if="lastRating === 3"
             class="correct">
            {{correct}}
        </div>


        <div data-ng-if="lastRating === 0"
             class="incorrect">
            {{incorrect}}
        </div>


        <div data-ng-if="lastRating === 3">
            Your answer was: <span class="correct-color">{{answer.text}}</span>
        </div>


        <div data-ng-if="lastRating === 0">
            Your answer was:  <span class="incorrect-color">{{answer.text}}</span>
            <div style="padding-bottom: 15px">The correct answer is:  <span class="correct-color">{{practice.answer}}</span></div>

        </div>

        <!--<div data-ng-if="practice.direction === 'forward' && card.alternatives && card.alternatives.length > 0">-->
            <!--<span class="text-muted right-padded top-aligned">Also:</span>-->
                        <!--<span class="text-muted right-padded" data-ng-repeat="alt in card.alternatives">-->
                    <!--"{{alt}}"-->
                <!--</span>-->

        <!--</div>-->

    </div>
</div>

<div style="text-align: center" class="form-group">
    <div data-ng-if="state == 'question'" style="padding-top: 10px">
        <button class="btn btn-rememberators" data-ng-click="submitAnswer()">Enter</button>
    </div>
    <button class="btn btn-rememberators" data-ng-if="state == 'answer'" data-ng-click="nextCard()">
        Next
    </button>
</div>
