<div class="flashcard" xmlns="http://www.w3.org/1999/html">

    <div class="card-score">
        <div data-ng-if="card.history.length > 0">
        Score: {{cardScore}}
        </div>
        <div data-ng-if="card.history.length === 0">
            <table class="new-card">
                <tr>

                    <td class="top-aligned nowrap">
                        <div class="font-s">
                            New Card!
                        </div>
                    </td>
                    <td class="top-aligned">
                        <img class="size-64"
                             src="/modules/core/img/brand/superhero-boy-medium.gif">
                    </td>

                </tr>
            </table>

        </div>
    </div>





    <div data-ng-if="slides.length === 0 || practice.direction === 'reverse'">

        <div class="question">{{practice.question}}</div>

        <!--<div data-ng-if="practice.alternativequestions && practice.alternativequestions.length > 0">-->
            <!--<span class="text-muted right-padded top-aligned">Also:</span>-->
                        <!--<span class="text-muted right-padded" data-ng-repeat="alt in practice.alternativequestions">-->
                    <!--"{{alt}}"-->
                <!--</span>-->

        <!--</div>-->
    </div>


    <div data-ng-if="slides.length > 0 && practice.direction === 'forward'">
        <div style="min-width: 100%">
            <imagecarousel slides="slides" size="200"/>
        </div>
    </div>

   <span data-ng-if="practice.direction === 'forward'">
<section  data-ng-if="practice.soundFront && state==='question'">
    <a class="" href="" data-ng-click="playSound(practice.question)">
        <i class="glyphicon glyphicon-volume-up sound-replay"></i>
    </a>
    <span data-ng-init="playSound(practice.question)"></span>
</section>


    <section  data-ng-if="practice.soundFront && state==='answer'">
        <a class="" href="" data-ng-click="playSound(practice.question)">
            <i class="glyphicon glyphicon-volume-up sound-replay-back"></i>
        </a>
    </section>

    <section  data-ng-if="practice.soundBack && state==='answer'">
        <a class="" href="" data-ng-click="playSoundBack(practice.answer)">
            <i class="glyphicon glyphicon-volume-up sound-replay"></i>
        </a>
        <span data-ng-init="playSoundBack(practice.answer)"></span>
    </section>
</span>


    <span data-ng-if="practice.direction === 'reverse'">
<section  data-ng-if="practice.soundFront && state==='question'">
    <a class="" href="" data-ng-click="playSoundBack(practice.question)">
        <i class="glyphicon glyphicon-volume-up sound-replay"></i>
    </a>
    <span data-ng-init="playSoundBack(practice.question)"></span>
</section>


    <section  data-ng-if="practice.soundFront && state==='answer'">
        <a class="" href="" data-ng-click="playSoundBack(practice.question)">
            <i class="glyphicon glyphicon-volume-up sound-replay-back"></i>
        </a>
    </section>

    <section  data-ng-if="practice.soundBack && state==='answer'">
        <a class="" href="" data-ng-click="playSound(practice.answer)">
            <i class="glyphicon glyphicon-volume-up sound-replay"></i>
        </a>
        <span data-ng-init="playSound(practice.answer)"></span>
    </section>
</span>



    <div data-ng-if="state == 'answer'">


        <section data-ng-if="practice.format === 'short'">
            <div class="correct-answer">
                {{practice.answer}}
            </div>
        </section>

        <section data-ng-if="practice.format === 'long'">
            <pre style="text-align: left; margin-left: 15px; margin-right: 15px">{{practice.answer}}</pre>

        </section>

        <div data-ng-if="practice.direction === 'forward' && practice.alternatives && practice.alternatives.length > 0">
            <span class="text-muted right-padded top-aligned">Also:</span>
                        <span class="text-muted right-padded" data-ng-repeat="alt in practice.alternatives">
                    "{{alt}}"
                </span>

        </div>

    </div>
</div>

<div class="center-aligned top-padded">
    <div data-ng-show="state == 'answer'">
        <button class="btn btn-rememberators btn-small" data-ng-click="processCard(0)">0</button>
        <button class="btn btn-rememberators btn-small" data-ng-click="processCard(1)">1</button>
        <button class="btn btn-rememberators btn-small" data-ng-click="processCard(2)">2</button>
        <button class="btn btn-rememberators btn-small" data-ng-click="processCard(3)">3</button>
        <div class="text-muted top-padded">rate yourself</div>
        <div class="text-muted">0=never heard, 1=not quite remembered, 2=remembered with difficulty,
            3=easy!
        </div>
    </div>

    <div data-ng-show="state == 'question'">
        <button class="btn btn-rememberators" data-ng-click="showAnswer()">See answer</button>
    </div>
</div>