<div data-ng-controller="ForwardAutoController" data-ng-init="init()">

    <div ng-include="'/modules/core/views/partial/my-answer-counts.modal.client.view.html'"></div>


    <div class="flashcard">

        <!--{{card}}-->

        <div class="row flashcard-top">
            <div class="col-xs-6  flashcard-nw">
                <div data-ng-if="!course.supervised && state === 'answer'">
                    <a class="edit-card" href="#!/cards/{{card._id}}">Edit this card</a>
                </div>

            </div>

            <div class="col-xs-6 flashcard-ne">

                <div data-ng-if="state === 'answer' && answer.assessment === 'wrong'">
                    <a class="answer-counts" data-ng-click="$parent.myAnswerCounts(answer.text, 'forward')" href="">My
                        answer
                        counts</a>
                </div>

                <div data-ng-if="state === 'question' && card.speechRecognitionForward">
                    <!--<img-->
                            <!--ng-src="modules/core/img/microphone.png"-->
                            <!--data-ng-click="startRecording(card)">-->
                   <div data-ng-if="!recording && cardRecords">
                       <a class="answer-counts" data-ng-click="startRecording(card)" href="">Start speech recognition</a>
                   </div>

                    <div data-ng-if="answer.recognized && cardRecords">
                        <a class="answer-counts" data-ng-click="startRecording(card)" href="">Record again</a>
                    </div>

                    <div data-ng-if="recording && !cardRecords">
                        No speech recognition
                    </div>

                </div>
            </div>
        </div>


        <div data-ng-if="card.history.length === 0">
            <div class="new-card">
                <div>
                    <img class="tiny-image"
                         src="/modules/core/img/brand/superhero-boy-medium.gif">
                </div>
                New Card!
            </div>
        </div>



        <div class="question-box">
            <div class="question">



                <playsound language="{{card.languageFront.code}}"
                           text="{{card.question}}"
                           show-text="true"
                           extension="{{card.questionExtension}}"
                           playwhen="{{card.readFrontForward}}"
                           speed="speechRate"/>

            </div>

            <div class="flashcard-input-box" data-ng-if="state === 'question'">

                {{card.question}}
                <span data-ng-if="card.questionExtension">({{card.questionExtension}})</span>
                <div class="font-medium" data-ng-repeat="alternative in card.alternativeAnswersReverse">{{alternative}}</div>


                <input type="text" required
                       id="focus-question"
                       class="focus-question expands flashcard-input answer"
                       data-ng-model="answer.text">




                <div>
                    <span data-ng-repeat="character in specialChars"
                          data-ng-click="addChar(character)"><button class="btn btn-letter">{{character}}
                    </button></span>
                </div>
            </div>

            <!--<div data-ng-if="interimResult">-->
             <!--{{interimResult}}-->
            <!--</div>-->



            <div data-ng-if="state === 'answer'" class="answer">

                {{card.answer}}
                <span data-ng-if="card.answerExtension">({{card.answerExtension}})</span>
                <div class="font-medium" data-ng-repeat="alternative in card.alternativeAnswersForward">{{alternative}}</div>

                <div data-ng-if="answer.assessment === 'correct'" class="correct-answer">

                    <playsound language="{{card.languageBack.code}}"
                               text="{{card.answer}}"
                               show-text="true"
                               extension="{{card.answerExtension}}"
                               playwhen="{{card.readBackForward}}"
                               speed="speechRate"/>


                    <div data-ng-if="card.alternativeAnswersForward && card.alternativeAnswersForward.length > 0">
                        (<span data-ng-repeat="aa in card.alternativeAnswersForward">{{aa}}<span data-ng-if="!$last"> / </span></span>)</div>
                    </div>
                <div data-ng-if="answer.assessment === 'wrong'" class="incorrect-answer">


                    <playsound language="{{card.languageBack.code}}"
                               text="{{card.answer}}"
                               show-text="true"
                               extension="{{card.answerExtension}}"
                               playwhen="{{card.readBackForward}}"
                               speed="speechRate"/>
                    <div data-ng-if="card.alternativeAnswersForward && card.alternativeAnswersForward.length > 0">
                        (<span data-ng-repeat="aa in card.alternativeAnswersForward">{{aa}}<span data-ng-if="!$last"> / </span></span>)</div>
</div>
            </div>

            <div data-ng-if="state === 'answer'">


                <div data-ng-if="answer.assessment === 'correct'" class="correct-answer">

                    <div>Your answer: {{answer.text}}</div>
                </div>

                <div data-ng-if="answer.assessment === 'wrong'" class="incorrect-answer">

                    <div>Your answer: {{answer.text}}</div>
                </div>


                <div data-ng-if="card.timedForward" style="position: absolute; bottom: 1em; left: 2em">
                    <div style="text-align: left">
                        your time: {{elapsedTime / 1000}}s
                    </div>
                    <div style="text-align: left">
                        limit: {{card.limitForward}}s
                    </div>
                    <div style="text-align: left">
                        rating: {{assessment}}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="submit-buttons-section">
        <div data-ng-show="state === 'question'">
            <button class="btn btn-rememberators" data-ng-click="showAnswer()">Check answer</button>
        </div>


        <div data-ng-show="state === 'answer'">
            <button class="btn btn-rememberators" data-ng-click="nextCard()">Next Question</button>
        </div>
    </div>

</div>