<div data-ng-controller="ForwardSelfController" data-ng-init="init()">

    <div class="flashcard">

        <!--<div class="card-score">-->
            <!--<div data-ng-if="card.history.length === 0">-->
                <!--<table class="new-card">-->
                    <!--<tr>-->

                        <!--<td class="top-aligned nowrap">-->
                            <!--<div class="font-m">-->
                                <!--New Card!-->
                            <!--</div>-->
                        <!--</td>-->
                        <!--<td class="top-aligned">-->
                            <!--<img class="tiny-image"-->
                                 <!--src="/modules/core/img/brand/superhero-boy-medium.gif">-->
                        <!--</td>-->

                    <!--</tr>-->
                <!--</table>-->

            <!--</div>-->
        <!--</div>-->

        <div data-ng-if="!course.supervised && state === 'answer'">
            <a class="edit-card" data-ng-href="#!/cards/{{card._id}}/edit">Edit this card</a>
        </div>


        <div class="question-box">
            <div class="question">

                <playsound language="{{card.languageFront.code}}"
                           text="{{card.question}}"
                           extension="{{card.questionExtension}}"
                           playwhen="{{card.readFrontForward && card.languageFront}}"/>

            </div>

            <div class="answer" data-ng-if="state === 'answer'">

                <playsound language="{{card.languageBack.code}}"
                           text="{{card.answer}}"
                           extension="{{card.answerExtension}}"
                           playwhen="{{card.readBackForward && card.languageBack}}"/>

            </div>
        </div>



    </div>


    <div class="center-aligned top-padded">
        <div data-ng-show="state === 'answer'" data-ng-hide="state !== 'answer'">
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(0)">0</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(1)">1</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(2)">2</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(3)">3</button>
            <div class="text-muted top-padded">rate yourself</div>
            <div class="text-muted">0=never heard, 1=not quite remembered, 2=remembered with difficulty,
                3=easy!
            </div>
        </div>

        <div data-ng-show="state === 'question'" data-ng-show="state !== 'question'">
            <button class="btn btn-rememberators" data-ng-click="showAnswer()">Enter</button>
        </div>
    </div>


</div>
