<div data-ng-controller="ForwardAutoController">

    <div ng-include="'/modules/core/views/partial/my-answer-counts.modal.client.view.html'"></div>


    <div class="flashcard">

        <div class="card-score">
            <div data-ng-if="card.history.length === 0">
                <table class="new-card">
                    <tr>

                        <td class="top-aligned nowrap">
                            <div class="font-m">
                                New Card!
                            </div>
                        </td>
                        <td class="top-aligned">
                            <img class="tiny-image"
                                 src="/modules/core/img/brand/superhero-boy-medium.gif">
                        </td>

                    </tr>
                </table>

            </div>
        </div>


        <div class="question-box" style="position: relative">
            <span class="question">
            {{card.question}}
                </span>
            <span data-ng-if="card.readFrontForward" class="left-padded-s top-padded-s" style="position: absolute;">

                    <a class="small" href="" data-ng-click="playSound(card.languageFront, card.question)">
                        <i class="glyphicon glyphicon-volume-up sound-replay"></i>
                    </a>
                </span>
        </div>


        <div class="flashcard-input-box top-padded-m" data-ng-if="state === 'question'">

            <input type="text" required
                   class="focus expands flashcard-input"
                   data-ng-model="answer.text">
        </div>


        <div class="left-padded-m right-padded-m top-padded-m" data-ng-if="state === 'answer'">


            <div data-ng-if="answer.assessment === 'correct'" class="correct-answer">

                <div>Your answer: {{answer.text}}</div>
            </div>

            <div data-ng-if="answer.assessment === 'wrong'" class="incorrect-answer">

                <div>Your answer: {{answer.text}}</div>
            </div>


        </div>


        <div class="edit-card left-aligned">
            <div  data-ng-if="!course.supervised">
                <a data-ng-href="#!/cards/{{card._id}}/edit">Edit this card</a>
            </div>

            <div data-ng-if="state === 'answer' && answer.assessment === 'wrong'">
                <a data-ng-click="$parent.myAnswerCounts(answer.text, 'forward')" href="">My answer counts</a>
            </div>
        </div>


        <div data-ng-if="state === 'answer'">


            <div class="correct-answer-box">
                <span class="correct-answer">
                Expected answer: {{card.answer}}

                    </span>
                 <span data-ng-if="card.readBackForward" class="left-padded-s top-padded-s" style="position: absolute;">

                    <a class="small" href="" data-ng-click="playSound(card.languageBack, card.answer)">
                        <i class="glyphicon glyphicon-volume-up sound-replay"></i>
                    </a>
                </span>
            </div>


        </div>
    </div>


    <div class="center-aligned top-padded">
        <div data-ng-show="state === 'question'">
            <button class="btn btn-rememberators" data-ng-click="showAnswer()">Enter</button>
        </div>


        <div data-ng-show="state === 'answer'">
            <button class="btn btn-rememberators" data-ng-click="nextCard()">Next Question</button>
        </div>
    </div>

</div>