<section data-ng-controller="CoursesController"
         data-ng-init="findForCurrentUser()">

<div class="content-header">
    <div class="title">Welcome {{authentication.user.firstName}}</div>
</div>


<div class="content-section">

    <div class="title">Learning</div>

    <div data-ng-if="!courses || courses.length===0">


        <div class="content-subsection">
            <table>
                <tr>
                    <td class="top-aligned right-padded">
                        <div>
                            New to Rememberators? I see, that you haven't got any courses, yet.
                            Whatever you learn on Rememberators is put into courses. Courses help you to
                            keep the subjects you learn separated so that you can concentrate on one thing
                            at a time. So how to you get your courses?

                        </div>
                    </td>
                    <td>
                        <img class="size-64"
                             src="/modules/core/img/brand/teacher-woman-medium.gif">
                    </td>

                </tr>
            </table>
        </div>
        <div class="content-subsection">
            <table>
                <tr>
                    <td class="top-aligned right-padded">
                        <img class="size-64"
                             src="/modules/core/img/brand/superhero-girl-medium.gif">
                    </td>
                    <td class="top-aligned">
                        <div>
                            Superheros sometimes <a href="#!/courses/create">create their own courses</a>. This is great
                            when you have
                            something special that you find interesting. Why not have your very own
                            course on horse breeds or facts about your favorite football stars? Once you
                            have created a course you can decide to publish it and share it with others here
                            on Rememberators - or you can keep it for yourself forever. Use the Courses
                            Menu to get going!
                        </div>
                    </td>

                </tr>
            </table>
        </div>

        <div class="content-subsection">
            <table>
                <tr>
                    <td class="top-aligned right-padded">
                        <div>
                            Well, well, well. If everybody starts sharing, there will
                            be plenty of courses to choose from. You can use the Courses Menu to
                            have a look at what is there already
                            and <a href="#!/courses/search">search for courses</a> of things you are interested in. Once
                            you subscribe
                            to a course it turns into your own course - so you are free to change it in
                            any way that you like. You can turn it into exactly what you want it be!
                        </div>
                    </td>
                    <td>
                        <img class="size-64"
                             src="/modules/core/img/brand/philosopher-medium.gif">
                    </td>

                </tr>
            </table>
        </div>

        <div class="content-subsection">
            <table>
                <tr>
                    <td class="top-aligned right-padded">
                        <img class="size-64"
                             src="/modules/core/img/brand/teacher-man-medium.gif">
                    </td>
                    <td class="top-aligned">
                        <div>
                            Rememberators are also great for your teachers. They let them put courses together for
                            you and help you learn your facts. This way, they can spot what you are working on
                            and give you all the support that you need to succeed. If your school works with the
                            Rememberators, you can use the courses menu to <a
                                href="#!/schools/subscribe/student">find</a>
                            your school and enrol. Your teachers will then be able to assign your coursework.
                        </div>
                    </td>

                </tr>
            </table>
        </div>


    </div>

    <div data-ng-if="courses.length > 0">

        <table class="table-striped" style="width: 100%; margin-top: 10px">
            <thead>
            <tr>
                <th class="sparesys-view-courses-course-column" colspan="3">My Courses</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="course in courses">
                <td class="sparesys-view-courses-name-cell">
                    {{course.name}}
                </td>

                <td>
                    <a data-ng-href="#!/practice/{{course._id}}">practice</a>
                </td>

                <td class="sparesys-view-object-content-cell" style="width: 100%; padding-left: 10px">
                    <a data-ng-href="#!/courses/{{course._id}}/stats">statistics</a>
                </td>
            </tr>
            </tbody>
        </table>


    </div>
</div>


<div class="content-section">
    <div class="title">
        Teaching
    </div>



    <div data-ng-if="authentication.user.roles.indexOf('headmaster') === -1">

        <div class="content-subsection">
            If you are planning to user Rememberators for your school, go to your
            <a href="#!/settings/profile">settings</a> in the {{user.displayName}} menu and register as a
            school administrator to manage teachers and classes.
        </div>


    </div>

    <div data-ng-if="authentication.user.roles.indexOf('headmaster') > -1">

        <div class="content-subsection"
             data-ng-controller="SchoolsController"
             data-ng-init="findForCurrentUser()"
             data-ng-if="authentication.user.roles.indexOf('headmaster') > -1">

            <div data-ng-if="schools.length > 0">
                <div>
                    You are the administrator of the following School<span data-ng-if="schools.length>1">s</span>:
                </div>

                <table class="table-striped">
                    <thead>
                    <th>School</th>
                    <th>City</th>
                    <th>Country</th>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="school in schools | filter:searchText">

                        <td class="expands right-padded">
                            <a href="#!/schools/{{school._id}}/edit">{{school.name}}</a></td>
                        <td class="right-padded nobreak-label">{{school.city}}</td>
                        <td class="nobreak-label">{{school.country}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-ng-hide="!schools.$resolved || schools.length">

                <div>
                    You are set up as a school administrator but are not managing any schools. Please use this <a
                        href="/#!/schools/register">link</a>
                    or the Schools Menu to register your schools.
                </div>
            </div>

        </div>


    </div>


    <div data-ng-if="authentication.user.roles.indexOf('teacher') === -1">

        <div class="content-subsection">
            If you are a teacher and your school is set up with Rememberators, use the
            <a href="#!/settings/profile">settings</a> in the {{user.displayName}} menu
            to register for the role of a teacher. You will get a Teaching menu with all the details
            to manage your students.
        </div>


    </div>

    <div data-ng-if="authentication.user.roles.indexOf('teacher') > -1">

        <div data-ng-controller="SchoolsController" data-ng-init="findForTeacher(authentication.user._id)">


            <div data-ng-if="schools.length === 0 ">

                <div class="content-subsection">You are a teacher without an associated school. Please find your
                    school in the Teaching menu or by clicking this
                    <a href="/#!/schools/subscribe/teacher">link</a>.
                </div>
            </div>

            <div data-ng-if="schools.length > 0 && authentication.user.schoolclasses.length === 0 ">
                <div class="content-subsection"> You are not teaching any classes, yet. Ask your school
                    administrator to assign
                    you
                    to your classes.
                </div>
            </div>

            <div data-ng-if="schools.length > 0 && authentication.user.schoolclasses.length > 0">

                <div>
                    You are
                    teaching the
                    following Classes:
                </div>


                <div data-ng-controller="SchoolclassesController"
                     data-ng-init="findForTeacher(authentication.user._id)">
                    <table class="table-striped">
                        <tbody>
                        <tr data-ng-repeat="schoolclass in schoolclasses">
                            <td>
                                <a href="#!/schoolclasses/{{schoolclass._id}}/teach">{{schoolclass.name}}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>

    </div>

</div>

</section>










