<section data-ng-controller="HomePageController"
         data-ng-init="findCourses()">

    <div ng-include="'/modules/users/views/partial/settings.modal.client.view.html'"></div>

    <div class="content-header">
        <div class="title">Welcome {{authentication.user.firstName}}</div>
    </div>


    <div class="content-section">
        <div ng-include="'/modules/core/views/partial/logged-in-courses.client.view.html'"></div>
    </div>

    <div ng-include="'/modules/core/views/partial/logged-in-school-admin.client.view.html'"></div>


    <div ng-include="'/modules/core/views/partial/logged-in-teacher.client.view.html'"></div>

</section>


<div ng-include="'/modules/core/views/partial/logged-in-messages.client.view.html'"></div>





