<section data-ng-controller="CoursesController" data-ng-init="findForCurrentUser()">

    <div class="sparesys-header">
        <div class="sparesys-title" id="home-welcome">Welcome {{authentication.user.firstName}}</div>
    </div>

    <div class="sparesys-header" data-ng-controller="SchoolsController" data-ng-init="findForCurrentUser()" data-ng-if="authentication.user.roles.indexOf('headmaster') > -1">

        <table id="searchTextResults" class="table-striped" style="width: 100%" data-ng-if="schools.length > 0">
            <thead>
            <tr>
                <th class="sparesys-view-courses-description-column" colspan="3" style="padding-bottom: 10px">You are managing the following Schools</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="school in schools | filter:searchText">
                <td class="sparesys-view-courses-name-cell">
                    <a href="#!/schools/{{school._id}}/edit">{{school.name}}</a></td>
                <td class="sparesys-view-courses-course-column">{{school.city}}</td>
                <td class="sparesys-view-courses-course-column" style="width: 100%">{{school.country}}</td>

            </tr>
            </tbody>
        </table>

        <div data-ng-hide="!schools.$resolved || schools.length">
            You are not managing any schools, yet. Please use this <a href="/#!/schools/register">link</a>
            or the menu to register your schools.
        </div>

    </div>

    <div class="sparesys-header" data-ng-controller="SchoolclassesController" data-ng-init="findForCurrentUser()" data-ng-if="authentication.user.roles.indexOf('teacher') > -1">
        <table class="table-striped" style="width: 100%" data-ng-if="schoolclasses.length > 0">
            <thead>
            <tr>
                <th class="sparesys-view-courses-description-column"style="padding-bottom: 10px">You are teaching the following Classes</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="schoolclass in schoolclasses">
                <td class="sparesys-view-courses-name-cell">
                    <a href="#!/schoolclasses/{{schoolclass._id}}/teach">{{schoolclass.name}}</a></td>

            </tr>
            </tbody>
        </table>

        <div data-ng-hide="!schoolclasses.$resolved || schoolclasses.length">

            <div data-ng-controller="SchoolsController" data-ng-init="findForTeacher(authentication.user._id)">

                <div style="font-weight: bold">Teaching</div>

                <div data-ng-if="schools.length === 0 ">


                    <div style="padding-top:5px">Please subscribe to your school by clicking this
                        <a href="/#!/schools">link</a> or use the teaching menu.</div>
                </div>

                <div data-ng-if="schools.length > 0 ">
                    You are not teaching any classes, yet. Ask your headmaster to assign you to
                    your classes.
                </div>
            </div>

        </div>


    </div>

    <div>
        <div style="font-weight: bold">Learning</div>

        <!--<div class="sparesys-subtitle" data-ng-if="!courses || courses.length===0">-->
        <!--You have not subscribed to any courses-->
        <!--</div>-->

        <div data-ng-if="!courses || courses.length===0">

            <div style="padding-top:5px">
            You have not subscribed to any courses, yet.
            </div>

            <div style="padding-top: 10px">
            You can start with creating your own private Rememberators course using this

            <a href="#!/courses/create">link</a> or the Courses menu.
            </div>

            <div style="padding-top: 10px">
            You can also <a href="#!/courses/search">search for a published course</a> and download your local copy.
                </div>

            <div style="padding-top: 10px">
                If you are a student and your school has registered with Rememberators, you can
                <a href="#!/schools">Search for your school</a> and subscribe to it. Teachers
                will then assign you courses.
            </div>
        </div>


        <div data-ng-repeat="course in courses">

            <div data-ng-if="course.visible">
                <div>{{course.name}}
                <span class="pull-right">
                    <a data-ng-href="#!/practice/{{course._id}}">practice</a>
                </span>
                </div>

                <div><span class="sparesys-view-object-right-padded-element">Number of cards:</span><span>56</span>
                </div>
                <div><span class="sparesys-view-object-right-padded-element">Due Date:</span><span>01/07/2014</span>
                </div>
                <div><span class="sparesys-view-object-right-padded-element">On Track:</span><span>87%</span></div>
            </div>

        </div>
    </div>

</section>










