<!--<div class="container slider" style="width: 100%; text-align: center">-->

    <!-- enumerate all photos -->

    <!--<div style="width:10%; float: left">test</div>-->
    <!--<div ng-repeat="photo in photos">-->
        <!--<img class="slide" ng-swipe-right="showPrev()" ng-swipe-left="showNext()"-->
             <!--ng-show="isActive($index)" ng-src="{{photo.src}}"/>-->

        <!--<div ng-show="isActive($index)">x{{photo.text}}x</div>-->


        <!--&lt;!&ndash;<div style="width:10%; float: right">test</div>&ndash;&gt;-->

        <!--&lt;!&ndash; prev / next controls &ndash;&gt;-->
        <!--<a class="arrow prev" href="#" ng-click="showPrev()"></a>-->
        <!--<a class="arrow next" href="#" ng-click="showNext()"></a>-->

        <!--&lt;!&ndash; extra navigation controls &ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="slider-nav">&ndash;&gt;-->
        <!--&lt;!&ndash;<li ng-repeat="photo in photos" ng-class="{'active':isActive($index)}">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="{{photo.src}}" alt="{{photo.desc}}" title="{{photo.desc}}" ng-click="showPhoto($index);" />&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->

    <!--</div>-->


    <div class="jumbotron" style="background-color: #26b3f7">


        <div class="font-xxl">Rememberators!</div>


        <div>
            <p class="lead" style="padding-top: 10px; padding-bottom: 10px">
                <img src="/modules/core/img/brand/superhero-girl-medium.gif" alt="Rememberators"><br>
            </p>

            <div class="font-xl">You won't forget this. Ever.</div>
        </div>

        <!--<div>-->
        <!--<p class="lead" style="padding-top: 10px; padding-bottom: 10px">-->
        <!--<img src="/modules/core/img/brand/superhero-boy-medium.gif" alt="Rememberators"><br>-->
        <!--</p>-->

        <!--<div class="font-xl">I dare you to become a Rememberator.</div>-->
        <!--</div>-->

        <!--<div>-->
        <!--<p class="lead" style="padding-left:40px; padding-top: 10px; padding-bottom: 10px">-->
        <!--<img src="/modules/core/img/brand/guru-medium.gif" alt="Rememberators"><br>-->
        <!--</p>-->

        <!--<div class="font-xl">Unleash your brainpower!</div>-->
        <!--</div>-->

        <!--<div>-->
        <!--<p class="lead" style="padding-top: 10px; padding-bottom: 10px">-->
        <!--<img src="/modules/core/img/brand/philoshopher-medium.gif" alt="Rememberators"><br>-->
        <!--</p>-->

        <!--<div class="font-xl">I remember, therefore I am.</div>-->
        <!--</div>-->


        <!--<div>-->
        <!--<p class="lead" style="padding-top: 10px; padding-bottom: 10px">-->
        <!--<img src="/modules/core/img/brand/teacher-woman-medium.gif" alt="Rememberators"><br>-->
        <!--</p>-->

        <!--<div class="font-xl">The beautiful thing about learning is that no one can take it away from you.</div>-->
        <!--</div>-->

        <!--<div>-->
        <!--<p class="lead" style="padding-top: 10px; padding-bottom: 10px">-->
        <!--<img src="/modules/core/img/brand/teacher-man-medium.gif" alt="Rememberators"><br>-->
        <!--</p>-->

        <!--<div class="font-xl">That will teach you!</div>-->
        <!--</div>-->

        <!--<div>-->
        <!--<p class="lead" style="padding-top: 30px; padding-bottom: 30px">-->
        <!--<img src="/modules/core/img/brand/superhero-boy-medium.gif" alt="Rememberators"><br>-->
        <!--</p>-->

        <!--<h2>I'll be back</h2>-->
        <!--</div>-->

        <!--<div>-->
        <!--<p class="lead" style="padding-top: 30px; padding-bottom: 30px">-->
        <!--<img src="/modules/core/img/brand/superhero-girl-medium.gif" alt="Rememberators"><br>-->
        <!--</p>-->

        <!--<h2>I will never let you forget</h2>-->
    </div>
</div>


<p style="width: 100%; text-align: center"><a class="btn btn-lg btn-success font-l" ng-href="#!/signup">I'll give it a
    shot</span></a></p>
<div class="sparesys-header" style="padding-top: 20px; border-top: 1px ">
    <div class="sparesys-title">Rememberators optimize your learning</div>

    <div>
        Spaced repetition tools are great, but they expect you to do your chores every day.
        Remembarators does not have this unrealistic ecpectation and adapts to you and your learning style,
        whether you repeat your cards every day, or you are just coming back from a break, or you decide to refresh your
        knowledge after years.
    </div>
</div>

<div class="sparesys-header">

    <div class="sparesys-title">Public courses - Private copies</div>

    <div>
        You create your own stacks of cards just for yourself. If you feel like it,
        you can make them publically accessible. When you enroll in a public course, you
        work on your local copy, where you can add cards or edit them as you wish.
    </div>
</div>

<div class="sparesys-header">

    <div class="sparesys-title">Rememberators learn about your learning</div>

    <div>
        Some things are easier to remember than others. Why waste time repeating things often
        that are easy to remember anyway? Rememberators keep track on what
        people remember easily and asks these cards less often.
    </div>
</div>


<div class="sparesys-header">

    <div class="sparesys-title">Rememberators let you set priorities</div>

    <div>
        Some things are more important to remember than others. You can tell the Rememberators
        what is essential for you to know and they will make sure that you won't forget those.
    </div>
</div>


<div class="sparesys-title">You schedule your learning</div>
<div>
    You have to know your stack at a certain date? Tell the Rememberators, and they will optimize
    your learning so that you succeed.
</div>
