<section data-ng-controller="LandingPageController" ng-init="ga()">


    <!--<div ng-include="'/modules/users/views/partial/signin.client.view.html'"></div>-->
    <!--<div ng-include="'/modules/users/views/partial/signup.client.view.html'"></div>-->



    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="flashcard-landing">
                <p class="font-xxl top-padded-m">Rememberators!</p>
                <imagecarousel slides="slides"></imagecarousel>
            </div>
        </div>
    </div>


    <div class="signup-button">
        <a class="btn btn-lg btn-success font-l"
           data-ng-click="signupPopup()">I'll give it a shot</a>
    </div>




    <infobox logo="girl" title="Is this site for kids?" position="left">
    Of course it is, but you don't have to be one to use Rememberators. Kids are the people, who spend much of
    their time learning, so we are trying to make this site as attractive as possible for them. If you are
    grown up or the games and animations get into your way, you will be able to switch them off.
    </infobox>


    <infobox logo="woman" title="Rememberators get you prepared" position="right">
    You have to know it all at a certain date? There is this important test, and you want to make sure
    you spend enough time preparing for it? Tell the Rememberators when it is and what you will have to know,
    and they will optimize your learning so that you succeed.
    </infobox>


    <infobox logo="boy" title="Is it for free?" position="left">
    Yes, it is and it will be for using it for the future. We believe that a tool that is designed
    to help young learners to succeed in school should be free of charge. We are looking into
    enabling contributors of content to take a charge, but we are not going to restrict any
    of the functionality.
    </infobox>

    <infobox logo="guru" title="Rememberators optimize your learning" position="right">
    Spaced repetition tools are great, but they expect you to do your chores every day.
    Remembarators does not have this unrealistic expectation and adapts to you and your learning style,
    whether you repeat your cards every day, or you are just coming back from a break, or you decide to refresh
    your
    knowledge after years. We call it maximum gain repetition.
    </infobox>

    <infobox logo="man" title="Public courses - Private copies" position="left">
    You can create your own stacks of cards just for yourself. If you feel like it,
    you can make them publically accessible. When you enroll in a public course, you
    work on your local copy, where you can add cards or edit them as you wish.
    </infobox>

    <infobox logo="girl" title="Rememberators learn about your learning" position="right">
    Some things are easier to remember than others. Why waste time repeating things often
    that are easy to remember anyway? Rememberators keep track on what
    people remember easily and asks these cards less often.
    </infobox>


    <infobox logo="philosopher" title="How mature is this application?" position="left">
    Rememberators are still is in their alpha stage. We have a number of users now and will include
    their feedback in future versions of the application. The application is open for early adopters, but
    at this stage we are after organic growth and are not advertising the application for a
    wide audience. But stay tuned, a beta release is planned for early 2015.
    </infobox>

</section>