<div class="jumbotron">
    <h1>Welcome</h1>

    <p class="lead">
        <img src="/modules/core/img/brand/logo.png" alt="Sparesys"><br>
        Making Spaced Repetition Learning less of a chore
    </p>

    <p><a class="btn btn-lg btn-success" ng-href="#">Join!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="sparesys-header">
    <div class="sparesys-title">Sparesys optimized learning</div>

    <div>
        Spaced repetition systems are great tools. Sparesys minimizes time spent on the system.
        This way you can get more return on your time investment.
    </div>
</div>

<div class="sparesys-header">

<div class="sparesys-title">Public courses - Private copies</div>

<div>
    You can create your own stacks of cards just for yourself. If you feel like it,
    you can make them publically accessible. When you enroll in a public course, you
    work on your local copy. You can add cards or edit them as you wish.
</div>
</div>

<div class="sparesys-header">

<div class="sparesys-title">Sparesys learns about your learning</div>

<div>
    Some things are easier to remember than others. Why waste time repeating things often
    that are easy to remember anyway? For public courses, sparesys keeps track on what
    people remember easily and asks these cards less often.

</div>
</div>



    <div class="sparesys-title">You schedule your learning</div>

<div>
    You have to know your stack at a certain date? Tell sparesys, and it will optimize
    your learning so that you succeed.
</div>
