<div data-ng-controller="ImagesAutoController">

    <div ng-include="'/modules/core/views/partial/my-answer-counts.modal.client.view.html'"></div>


    <div class="flashcard">

        <div class="row flashcard-top">
            <div class="col-xs-6  flashcard-nw">
                <div data-ng-if="!course.supervised && state === 'answer'">
                    <a class="edit-card" href="#!/cards/{{card._id}}/edit">Edit this card</a>
                </div>

            </div>

            <div class="col-xs-6 flashcard-ne">

                <div data-ng-if="state === 'answer' && answer.assessment === 'wrong'">
                    <a class="answer-counts" data-ng-click="$parent.myAnswerCounts(answer.text, 'forward')" href="">My
                        answer
                        counts</a>
                </div>
            </div>
        </div>


        <div data-ng-if="card.history.length === 0">
            <div class="new-card">
                <div>
                    <img class="tiny-image"
                         src="/modules/core/img/brand/superhero-boy-medium.gif">
                </div>
                New Card!
            </div>

        </div>


        <div>
            <div class="question">

                <imagecarousel slides="slides" size="200"/>
                <playsound language="{{card.languageFront.code}}"
                           text="{{card.question}}"
                           extension="{{card.questionExtension}}"
                           playwhen="{{card.readFrontForward && card.languageFront}}"
                           show-text="false"
                           speed="speechRate"/>


            </div>

            <div class="flashcard-input-box" data-ng-if="state === 'question'">

                <input type="text" required
                       id="focus-question"
                       class="focus-question expands flashcard-input answer"
                       data-ng-model="answer.text">


                <div>
                    <span data-ng-repeat="character in specialChars"
                          data-ng-click="addChar(character)"><button class="btn btn-letter">{{character}}
                    </button></span>
                </div>
            </div>


            <div data-ng-if="state === 'answer'">


                <div data-ng-if="answer.assessment === 'correct'" class="correct-answer">
                    <div data-ng-if="card.imagesReadBack">
                        <playsound language="{{card.languageBack.code}}"
                                   text="Correct: {{card.answer}}"
                                   show-text="true"
                                   extension="{{card.answerExtension}}"
                                   playwhen="{{card.readBackForward && card.languageBack}}"
                                   speed="speechRate"/>
                    </div>
                    <div data-ng-if="!card.imagesReadBack">
                        Correct: {{card.answer}}
                    </div>

                </div>


                <div data-ng-if="answer.assessment === 'wrong'" class="incorrect-answer">

                    <div>
                        Your answer: {{answer.text}}
                    </div>
                    <div data-ng-if="card.imagesReadBack">
                        <playsound language="{{card.languageBack.code}}"
                                   text="Correct answer: {{card.answer}}"
                                   show-text="true"
                                   extension="{{card.answerExtension}}"
                                   playwhen="{{card.readBackForward && card.languageBack}}"
                                   speed="speechRate"/>
                    </div>
                    <div data-ng-if="!card.imagesReadBack">
                        Correct answer: {{card.answer}}
                    </div>
                </div>
            </div>


        </div>

    </div>


    <div class="submit-buttons-section">
        <div data-ng-show="state === 'question'">
            <button class="btn btn-rememberators" data-ng-click="showAnswer()">Enter</button>
        </div>


        <div data-ng-show="state === 'answer'">
            <button class="btn btn-rememberators" data-ng-click="nextCard()">Next Question</button>
        </div>
    </div>


</div>