<div class="ribbon-card" >

    <div class="help-ribbon"><span>Help</span></div>
    <div class="infobox-title">How to coach your child</div>


        <infobox logo="philosopher" position="left">
            Rememberators organise teaching in schools and classes. If you just want to coach your own
            children, <a href="" data-ng-click="settingsPopup()">register as school admin</a>,
            create a school, <a href="" data-ng-click="settingsPopup()">become a teacher</a> and
            follow the instructions to set yourself up to teach your children.
        </infobox>


</div>

