<div class="dasboard-section info-card ribbon-card">

    <div class="learning-ribbon"><span>Learning</span></div>



    <div data-ng-if="coursesStudent.length === 0" class="warning">
        You have not subscribed to a course
    </div>




    <div data-ng-if="coursesStudent.length > 0">


        <div class="title">
            My Progresss


        </div>

        <div style="padding-left: 1em; padding-right: 1em">

            <slick infinite="true" slides-to-show="1" slides-to-scroll="1">

                <div data-ng-repeat="course in courses">


                    <div class="default-border"
                         data-ng-controller="CourseReportController"
                         data-ng-init="initProgress(course._id, $index)">
                        <div data-ng-show="diagramShown" data-ng-hide="!diagramShown">


                            <div class="col-xs-12">

                                <div id="inplay{{$index}}" class="diagram">

                                </div>
                            </div>


                            <div style="text-align: center; font-size: large">
                                {{course.name}} - Cards Memorized

                            </div>
                            <div style="text-align: center; font-size: large">


                                <a href="#!/courses/{{course._id}}/stats">more diagrams</a>

                            </div>
                        </div>


                        <div data-ng-show="!diagramShown" data-ng-hide="diagramShown">
                            <div style="text-align: center; font-size: large">
                                {{course.name}} - Not enough data to show diagrams

                            </div>

                    </div>
                </div>

                <!--<div data-ng-repeat="course in courses">-->

                    <!--<div class="default-border"-->
                         <!--data-ng-controller="CourseReportController"-->
                         <!--data-ng-init="initProgress(course._id, $index)">-->

                        <!--<div class="col-xs-12">-->


                            <!--<div id="inplay{{$index}}" class="diagram">-->

                            <!--</div>-->
                        <!--</div>-->

                      <!-- -->

                    <!--</div>-->

                    <!--<div style="text-align: center; font-size: large">-->
                    <!--{{course.name}} - Cards Memorized-->

                    <!--</div>-->
                    <!--<div style="text-align: center; font-size: large">-->


                        <!--<a href="#!/courses/{{course._id}}/stats" >more diagrams</a>-->

                    <!--</div>-->
                <!--</div>-->
            </slick>


        </div>
    </div>


</div>

