<div data-ng-if="!coursesStudent || coursesStudent.length===0">
    <!--<div class="infobox-title">Learning</div>-->



    <section data-ng-if="authentication.user.roles.indexOf('help') === -1">

        You have not subscribed to any courses.
    </section>
</div>

<div data-ng-if="coursesStudent.length > 0">

    <div class="dashboard-section">
        <div class="infobox-title">Practice</div>
        <div style="display: inline-block;" data-ng-repeat="course in coursesStudent">
            <button data-ng-if="!course.supervised" type="button" class="btn btn-course font-s"
                    data-ng-click="practice(course)" tooltip="{{course.description}}">
                {{course.name}}
            </button>
            <button data-ng-if="course.supervised" type="button" class="btn btn-course font-s"
                    data-ng-click="practice(course)" tooltip="{{course.description}}">
                <div>{{course.name}}</div>
                <div class="font-s">(supervised)</div>

            </button>
        </div>
    </div>
</div>
