<div data-ng-if="coursesStudent.length > 0">


    <div data-ng-repeat="course in coursesStudent">
        <div class="col-xs-12 col-md-6">
            <div>
                <div class="virtual-card font-large ribbon-card">
                    <div class="learning-ribbon"><span>Learning</span></div>

                    <div class="title">{{course.name}}  <span data-ng-if="course.supervised">(supervised)</span></div>

                    <div class="default-border"
                         data-ng-controller="CourseReportController"
                         data-ng-init="initProgress(course._id, $index)">
                        <div data-ng-show="diagramShown" data-ng-hide="!diagramShown">


                            <div class="col-xs-12">

                                <div id="inplay{{$index}}" class="diagram">

                                </div>
                            </div>



                            <div style="text-align: center; font-size: large">



                                <a href="#!/courses/{{course._id}}/stats" class="btn btn-rememberators font-s">
                                    Diagrams
                                </a>


                                    <button type="button" class="btn btn-rememberators font-s"
                                    data-ng-click="practice(course)" tooltip="{{course.description}}">
                                    Practice
                                    </button>
                            </div>
                        </div>


                        <div data-ng-show="!diagramShown" data-ng-hide="diagramShown">
                            <div style="text-align: center; font-size: large">
                                {{course.name}} - Not enough data to show diagrams

                            </div>

                        </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="col-xs-12 col-md-6">-->
        <!--<div>-->
            <!--<div class="virtual-card font-large ribbon-card">-->

                <!--<div class="learning-ribbon"><span>Learning</span></div>-->

                <!--<div class="title">Practice</div>-->
                <!--<div style="display: inline-block;" data-ng-repeat="course in coursesStudent">-->
                    <!--<button data-ng-if="!course.supervised" type="button" class="btn btn-course font-s"-->
                            <!--data-ng-click="practice(course)" tooltip="{{course.description}}">-->
                        <!--{{course.name}}-->
                    <!--</button>-->
                    <!--<button data-ng-if="course.supervised" type="button" class="btn btn-course font-s"-->
                            <!--data-ng-click="practice(course)" tooltip="{{course.description}}">-->
                        <!--<div>{{course.name}}</div>-->
                        <!--<div class="font-s">(supervised)</div>-->

                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
