<section data-ng-controller="MessagesController"
         data-ng-init="findForCurrentUser()">

    <section data-ng-if="validationRequests.length > 0">

        <div class="col-xs-12 col-md-6" data-ng-if="authentication.user.roles.indexOf('help') > -1">
            <div class="font-large info-card ribbon-card">

                <div class="help-ribbon"><span>Help</span></div>

                <div class="title">Update your courses</div>
                <infobox logo="philosopher" position="left">
                    Your students were busy practicing your courses. Some of them
                    suggest relaxing the validation of particular cards.
                    Please use the <i class="glyphicon glyphicon-edit"></i> icon
                    on the Update suggestions card to manage these suggestions.
                </infobox>
            </div>
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="font-large info-card ribbon-card">
                <div class="teaching-ribbon"><span>Teaching</span></div>

                <div class="title">Update suggestions
                    <div class="pull-right">
                        <a href="#!/messages/manage-suggestions"><i class="glyphicon glyphicon-edit"></i></a>
                    </div>
                </div>

                <div class="flashcard-section">
                    <div class="row">
                        <div class="col-xs-3 field-label">
                            Student
                        </div>
                        <div class="col-xs-3 field-label">
                            Question
                        </div>
                        <div class="col-xs-3 field-label">
                            Expected
                        </div>
                        <div class="col-xs-3 field-label">
                            Suggested
                        </div>
                    </div>

                    <div data-ng-repeat="request in validationRequests"
                         data-ng-init="findById(request.card)"
                         data-ng-controller="CardsController"
                         class="font-medium">


                        <div class="row">
                            <div class="col-xs-3">
                                {{request.sender}}
                            </div>
                            <div class="col-xs-3">
                                {{card.question}}
                            </div>
                            <div class="col-xs-3">
                                {{card.answer}}
                            </div>
                            <div class="col-xs-3">
                                {{request.content}}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!--<div class="content-section">-->


        <!--<div class="title">Messages</div>-->

        <!--<section data-ng-if="authentication.user.roles.indexOf('help') > -1">-->
        <!--<infobox logo="philosopher" position="left">-->
        <!--Your students were busy practicing your courses. Some of them-->
        <!--suggest relaxing the validation of particular cards.-->
        <!--Please go through the list below to <span style="font-weight: bold">accept</span> or-->
        <!--<span style="font-weight: bold">decline</span> their suggestions. If you accept the-->
        <!--suggestion and it is given again in the future by any of your students, they will be counted-->
        <!--as-->
        <!--correct. Should you decline, the answer will be counted as incorrect from now on.-->
        <!--Please use <span style="font-weight: bold">ignore</span> for answers that are clear-->
        <!--attempts to cheat.-->
        <!--</infobox>-->
        <!--</section>-->


        <!--<table class="table-striped" style="margin-top: 15px">-->

        <!--<thead>-->
        <!--<tr>-->

        <!--<th class="right-padded nowrap">Student</th>-->
        <!--<th class="expands right-padded-m nowrap">Question</th>-->
        <!--<th class="expands right-padded-m nowrap">Expected Answer</th>-->
        <!--<th class="expands right-padded-m nowrap">Suggested Variation</th>-->
        <!--<th class="nowrap">Action</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr data-ng-repeat="request in validationRequests" data-ng-init="findById(request.card)"-->
        <!--data-ng-controller="CardsController">-->

        <!--<td class="right-padded-m nowrap">-->

        <!--{{request.sender}}-->

        <!--</td>-->

        <!--<td class="right-padded-m expands">-->

        <!--<span data-ng-if="request.direction === 'forward'">-->
        <!--{{card.question}}-->
        <!--</span>-->

        <!--<span data-ng-if="request.direction === 'reverse'">-->
        <!--{{card.answer}}-->
        <!--</span>-->

        <!--</td>-->
        <!--<td class="right-padded-m expands">-->

        <!--<span data-ng-if="request.direction === 'forward'">-->
        <!--{{card.answer}}-->
        <!--</span>-->

        <!--<span data-ng-if="request.direction === 'reverse'">-->
        <!--{{card.question}}-->
        <!--</span>-->
        <!--</td>-->

        <!--<td class="right-padded-m expands">-->
        <!--{{request.content}}-->

        <!--</td>-->

        <!--<td class="expands nowrap">-->
        <!--<a href="" class="right-padded" data-ng-click="accept(request)">accept</a>-->
        <!--<a href="" class="right-padded" data-ng-click="decline(request)">decline</a>-->
        <!--<a href="" data-ng-click="ignore(request)">ignore</a>-->

        <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->
        <!--YOU HAVE MAIL {{validationRequests}}-->
    </section>

</section>