
<section data-ng-controller="MessagesController"
         data-ng-init="findForCurrentUser()">

    <section data-ng-if="validationRequests.length > 0">

        <div class="content-section">


            <table>
                <tr>
                    <td class="top-aligned right-padded top-padded" style="min-width: 72px">
                        <img class="size-64"
                             src="/modules/core/img/brand/teacher-man-medium.gif">
                    </td>
                    <td class="top-aligned">

                        <div class="title">
                            Validation Requests
                        </div>

                        <div>
                            Your students were busy practicing your courses. Some of them
                            suggest relaxing the validation of particular cards.
                            Please go through the list below to <span style="font-weight: bold">accept</span> or
                            <span style="font-weight: bold">decline</span> their suggestions. If you accept the
                            suggestion and it is given again in the future by any of your students, they will be counted
                            as
                            correct. Should you decline, the answer will be counted as incorrect from now on.
                            Please use <span style="font-weight: bold">ignore</span> for answers that are clear
                            attempts to cheat.
                        </div>
                    </td>

                </tr>
            </table>

            <table class="table-striped" style="margin-top: 15px">

                <thead>
                <tr>

                    <th class="right-padded nobreak-label">Student</th>
                    <th class="expands right-padded nobreak-label">Question</th>
                    <th class="expands right-padded nobreak-label">Expected Answer</th>
                    <th class="expands right-padded nobreak-label">Suggested Variation</th>
                    <th class="nobreak-label">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="request in validationRequests" data-ng-init="findById(request.card)"
                    data-ng-controller="CardsController">

                    <td class="right-padded nobreak-label">

                        {{request.sender}}

                    </td>

                    <td class="right-padded expands">

                    <span data-ng-if="request.direction === 'forward'">
                    {{card.question}}
                    </span>

                    <span data-ng-if="request.direction === 'reverse'">
                    {{card.answer}}
                    </span>

                    </td>
                    <td class="right-padded expands">

                    <span data-ng-if="request.direction === 'forward'">
                    {{card.answer}}
                    </span>

                    <span data-ng-if="request.direction === 'reverse'">
                    {{card.question}}
                    </span>
                    </td>

                    <td class="right-padded expands">
                        {{request.content}}

                    </td>

                    <td class="expands nobreak-label">
                        <a href="" class="right-padded" data-ng-click="accept(request)">accept</a>
                        <a href="" class="right-padded" data-ng-click="decline(request)">decline</a>
                        <a href="" data-ng-click="ignore(request)">ignore</a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--YOU HAVE MAIL {{validationRequests}}-->
    </section>

</section>