<section>

    <section data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="infobox-title">Schools</div>

        <div class="content-section font-large">

            <infobox logo="philosopher" position="right" >
                Rememberators organise teaching in schools and classes. If you just want to coach your own
                children, you simply become a teacher of your own private school. Register as school admin and
                teacher in the <a href="" data-ng-click="settingsPopup()">settings</a> and
                follow the instructions to set yourself up to teach your children.
            </infobox>
        </div>
    </section>


</section>

