<script type="text/ng-template" id="myAnswerCounts.html">

    <div class="rememberators-modal">

        <div class="rememberators-modal-header">
            <div class="title center-aligned" style="text-align: center">
                Your answer: {{answer}}
            </div>

        </div>

        <div class="rememberators-modal-section font-large" style="text-align: center">

            Add this answer to the list of accepted answers?
            </div>



        <div style="text-align: center">
        <button class="btn btn-rememberators" ng-click="ok()">OK</button>
        <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>