<script type="text/ng-template" id="myAnswerCounts.html">
    <div class="modal-body" >

        <div class="content-header">
            <div class="title center-aligned">

                Your answer: {{answer}}

            </div>
            <div class="title center-aligned">
                Add this answer to the list of accepted answers?
            </div>
        </div>
        <!--<div class="sparesys-header">-->

            <!--<div class="sparesys-subtitle">-->
                <!--Are you sure?-->
            <!--</div>-->
        <!--</div>-->
        <div style="text-align: center">
        <button class="btn btn-rememberators" ng-click="ok()">OK</button>
        <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>