<section data-ng-controller="LandingPageController" ng-init="ga()">


    <div class="row">
        <div class="info-card">

            <infobox logo="guru" title="Gator Skater" position="left">
                Gator Skater is the most active Rememberator. He whizzes
                around on his skates and goes through the courses like
                a flash. You are not like him? Don't worry! Rememberators
                adapts to your personal learning style.

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="man" title="Illuminator" position="left">
                Illuminator is a careful creature. She wants to know things
                in depth and dives down deep to get to the bottom of things.
                Are you like her?

            </infobox>
        </div>
    </div>

    <div class="rememberators-footer">

        rememberators.com
    </div>

</section>

