<section data-ng-controller="LandingPageController" ng-init="ga()">


    <div class="container">
        <div class="info-card">

            <infobox logo="guru" title="Gator Skater" position="left">
                Gator Skater is the most active Rememberator. He whizzes
                around on his skates and goes through the courses like
                a flash. You are not like him? Don't worry! Rememberators
                adapts to your personal learning style.

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="man" title="Illuminator" position="left">
                Illuminator is a careful creature. She wants to know things
                in depth and dives down deep to get to the bottom of things.
                Are you like her?

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="woman" title="Hibernator" position="left">
                Hibernator has her ups and downs. In summer, she works really
                hard and takes a bit of a break in winter. When she starts again
                after having had a snooze, Rememberators helps her with getting back
                to speed in no time.

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="philosopher" title="Refrigerator" position="left">
                Nothing is more important for Refirgerator to keep everything
                conserved. Once learned, nothing ever gets forgotten. It is
                always there, deep frozen and can be used many years from now.

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="girl" title="Investigator" position="left">
                Knowledge is not just about the facts, it is also about the
                details and how things hang together. Investigator is not happy
                with the facts alone, she wants to know how facts happened and
                what causea them.
            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="boy" title="Illustrator" position="left">
                And there is Illustrator. Facts are sometime dull. Illustrator
                makes them all exciting! He bings out the beauty of knowing
                things and explains them in the brightest colors.
            </infobox>
        </div>
    </div>

    <div class="rememberators-footer">

        rememberators.com
    </div>

</section>

