<section data-ng-controller="LandingPageController" ng-init="ga()">


    <div class="container">
        <div class="info-card">

            <infobox logo="guru" title="Gator Skater" position="left">
                “They call me the Gator Skater! I am the most active
                Rememberator. I just love whizzing around on my skates
                and racing through courses like a breeze. Are you like me?
                It doesn't matter whether you are or not, because Rememberators
                is cool enough to adapt to your own learning style."

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="man" title="Illuminator" position="left">
                "I am the Illuminator, and I like illuminating things with my
                lightbulb! I want to know about everything in depth and, when something interests me a lot, I dive down deep to get to the
                bottom of things."

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="woman" title="Hibernator" position="left">
                "I am the Hibernator and I have my ups and downs. I work really
                hard in the summer, but tend to take a break in the winter. Once
                I wake up from my cosy snooze, Rememberators helps me get
                back up to speed in no time."

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="philosopher" title="Refrigerator" position="left">
                "I am the Refrigerator and I like conserving and storing things
                for later. Once I learn something, it never gets forgotten.
                I might not need it straightaway, but it is always there in the
                deep freeze for the future."

            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="girl" title="Investigator" position="left">
                "I am the inquisitive Investigator and, once I learn facts, I like looking for clues to fill any gaps. I want to know more about what
                I learn, how things happened, what caused them and how everything hangs together. Building a bigger picture is what I like best!"
            </infobox>
        </div>

        <div class="info-card">
            <infobox logo="boy" title="Illustrator" position="left">
                "I am the Illustrator, and I like to make facts exciting and
                colourful, because otherwise they are dull and boring.
                Remembering facts is easy if you make colourful images to 
                help you remember like me!"
            </infobox>
        </div>
    </div>

    <div class="rememberators-footer">

        rememberators.com
    </div>

</section>

