<div data-ng-controller="ReverseSelfController">
    <div class="flashcard">

        <div class="card-score">
            <div data-ng-if="card.history.length === 0">
                <table class="new-card">
                    <tr>

                        <td class="top-aligned nowrap">
                            <div class="font-m">
                                New Card!
                            </div>
                        </td>
                        <td class="top-aligned">
                            <img class="tiny-image"
                                 src="/modules/core/img/brand/superhero-boy-medium.gif">
                        </td>

                    </tr>
                </table>

            </div>
        </div>



        <div class="question-box" style="position: relative">
            <span class="question">
            {{card.answer}}
                </span>

            <span data-ng-if="card.readFrontReverse && card.languageBack" class="left-padded-s top-padded-s" style="position: absolute;" >

                    <a class="small" href="" data-ng-click="playSound(card.languageBack, card.answer)">
                        <i class="glyphicon glyphicon-volume-up sound-replay"></i>
                    </a>
                </span>
        </div>

        <div class="edit-card"  data-ng-if="!course.supervised">
            <a data-ng-href="#!/cards/{{card._id}}/edit">Edit this card</a>
        </div>

        <div class="left-padded-m right-padded-m top-padded-m" data-ng-if="state === 'answer'">


            <div  class="correct-answer">

                <div>{{card.question}}</div>
            </div>


        </div>
    </div>

    <div class="center-aligned top-padded">
        <div data-ng-show="state === 'answer'" data-ng-hide="state !== 'answer'">
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(0)">0</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(1)">1</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(2)">2</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(3)">3</button>
            <div class="text-muted top-padded">rate yourself</div>
            <div class="text-muted">0=never heard, 1=not quite remembered, 2=remembered with difficulty,
                3=easy!
            </div>
        </div>

        <div data-ng-show="state === 'question'" data-ng-show="state !== 'question'">
            <button class="btn btn-rememberators" data-ng-click="showAnswer()">Enter</button>
        </div>
    </div>



</div>