<div data-ng-controller="RewardsController" >




    <div class="flashcard" >




        <div class="question-box" style="position: relative">
            <span class="question">
            Choose a Reward
                </span>

            <div>
                {{offers}}
            <span>(1) A piece of oak wood</span><span class="left-padded-m right-padded-m">(2) A piece of common rock</span><span>(3) A piece of iron</span>
            </div>
        </div>





    </div>


    <div class="center-aligned top-padded">
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(1)">1</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(2)">2</button>
            <button class="btn btn-rememberators btn-small" data-ng-click="processCard(3)">3</button>

    </div>

    <div>
        Your inventory
    </div>


</div>