<div data-ng-if="authentication.user.roles.indexOf('teacher') === -1">
    <div class="ribbon-card">

        <div class="teaching-ribbon"><span>Teaching</span></div>


        <div class="title danger">Warning</div>


        <div class="flashcard-section danger">
            You are set as teacher in {{authentication.user.teacherInSchools.length}}
            school class<span data-ng-if="authentication.user.teacherInSchools.length >1">es</span>,
            but you have not set yourself as teacher. Please unsubscribe as teacher from those
            classes or add the teacher role in your <a href="" data-ng-click="settingsPopup()">settings</a>.
        </div>
    </div>
</div>


<div data-ng-if="authentication.user.roles.indexOf('teacher') > -1">

    <div data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="ribbon-card">

            <div class="teaching-ribbon"><span>Teaching</span></div>


            <div class="title">Assigning courses</div>


            <infobox logo="philosopher">
                Please assign the courses for the students in your classes. Be aware
                that when you change your copy, your students' copies change accordingly.

            </infobox>
        </div>
    </div>

    <div data-ng-repeat="schoolId in authentication.user.teacherInSchools">

        <div data-ng-controller="SchoolsController" data-ng-init="findById(schoolId)">
            <div data-ng-if="!hasClassAssigned(authentication.user._id)">


                <div class="ribbon-card">

                    <div class="teaching-ribbon"><span>Teaching</span></div>


                    <div class="title">{{school.name}}</div>


                    <div class="top-section">
                        The school administrator has not assigned you to a class in this school
                    </div>
                </div>
            </div>

        </div>


    </div>

    <div data-ng-repeat="schoolId in authentication.user.teachesClasses">
        <div class="ribbon-card" data-ng-controller="SchoolclassesController"
             data-ng-init="findById(schoolId)">

            <div class="teaching-ribbon"><span>Teaching</span></div>

            <div class="title">{{schoolclass.name}}

                <div class="pull-right">

                    <a href="#!/schoolclasses/{{schoolclass._id}}"><i
                            class="glyphicon glyphicon-search"></i></a>

                </div>
            </div>


            <div class="three-column-section top-section">


                <div class="column">
                    <div class="field-label">
                        Courses
                    </div>


                </div>

                <div class="column">
                    <div class="btn-group" dropdown
                         is-open="status.isopen">
                        <button type="button" class="btn btn-primary dropdown-toggle"
                                ng-disabled="disabled">
                            Add a Course <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" data-ng-repeat="course in coursesTeacher"><a
                                    href=""
                                    data-ng-click="addCourseToClass(course)">{{course.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="section">
                <div class="field-data" data-ng-if="schoolclass.courses.length === 0">
                    none
                </div>


                <div data-ng-if="schoolclass.courses.length > 0">
                    <div class="section">
                        <div class="field-data"
                             data-ng-repeat="c in schoolclass.courses">
                            <div data-ng-controller="CoursesController" data-ng-init="findById(c)">
                                <a href="" data-ng-click="removeCourseFromClass(course)"><i
                                        class="glyphicon glyphicon-minus-sign"></i></a>
                                <a href="/#!/courses/{{course._id}}/edit">{{course.name}}</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="three-column-headers">

                <div class="column">
                    <div class="field-label">
                        School
                    </div>

                </div>

                <div class="column field-label">

                    Teachers


                </div>
                <div class="column field-label">

                    Students


                </div>
            </div>
            <div class="three-column-data">
                <div class="column">
                    <div class="field-data">
                        {{schoolclass.school.name}}
                    </div>
                </div>
                <div class="column field-data">


                    <div data-ng-repeat="teacher in schoolclass.teachers">{{teacher.displayName}}</div>


                </div>
                <div class="column field-data">


                    <div data-ng-if="schoolclass.students.length === 0">
                        none
                    </div>

                    <div data-ng-if="schoolclass.students.length > 0">
                        <div data-ng-repeat="student in schoolclass.students">{{student.displayName}}</div>
                    </div>
                </div>
            </div>


            <div class="section" data-ng-if="coursesTeacher.length === 0">
                <div class="field-label danger">
                    You are not teaching any courses. Set the teacher role on at least one course so that
                    you
                    can assign it to your students.
                </div>
            </div>


        </div>
    </div>
</div>




