<script type="text/ng-template" id="areYouSureToDeleteSchool.html">

    <div class="rememberators-modal">

        <div class="rememberators-modal-header">
            Delete School {{school.name}}
        </div>

        <div class="modal-danger">
            Are you sure?
        </div>

        <div class="rememberators-modal-footer">
            <button class="btn btn-rememberators" ng-click="ok()">OK</button>
            <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
    </div>


</script>
