<script type="text/ng-template" id="areYouSureToDeleteSchool.html">
    <div class="modal-body">

        <div class="popup-header" style="text-align: center">
            <div class="title">
                Delete School: {{school.name}}
            </div>
        </div>

        <div style="text-align: center">
            <button class="btn btn-rememberators" ng-click="ok()">OK</button>
            <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
</script>