<script type="text/ng-template" id="editSchool.html">


    <div class="rememberators-modal">



        <form class="signup form-horizontal" autocomplete="off" data-ng-submit="ok()">
            <fieldset>
                <div class="rememberators-modal-header">
                    Edit School
                </div>


                <div class="row rememberators-form-group form-group">
                    <div class="col-xs-4 ">School Name</div>
                    <div class="col-xs-8">
                        <input type="text"
                               data-ng-model="model.name"
                               class="form-control focus"
                               placeholder="School Name"
                               required>
                    </div>
                </div>

                <div class="row rememberators-form-group form-group">
                    <div class="col-xs-4 ">City</div>
                    <div class="col-xs-8">
                        <input type="text"
                               data-ng-model="model.city"
                               class="form-control"
                               placeholder="City" required>
                    </div>
                </div>

                <div class="row rememberators-form-group form-group">
                    <div class="col-xs-4 ">Country</div>
                    <div class="col-xs-8">
                        <input type="text" data-ng-model="model.country"
                               class="form-control"
                               placeholder="Country" required>
                    </div>
                </div>

                <div class="rememberators-modal-footer">
                    <button class="btn btn-rememberators"
                            type="submit"
                            tabindex=3>OK
                    </button>

                    <button class="btn btn-rememberators"
                            tabindex=4
                            ng-click="cancel()">Cancel
                    </button>

                </div>

                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
            </fieldset>
        </form>
    </div>





</script>
