<script type="text/ng-template" id="editSchool.html">
    <div>

        <div class="modal-body">
            <div class="popup-header">
                <div class="title center-aligned">
                    Edit School: {{school.name}}
                </div>
            </div>

            <form class="form-horizontal"  data-ng-submit="ok()">
                <fieldset>
                    <div class="content-header">
                        <table>
                            <tr>
                                <td class="right-padded-m">Name</td>
                                <td class="expands">
                                    <input type="text"
                                           data-ng-model="model.name"
                                           class="form-control focus"
                                           placeholder="{{school.name}}"
                                           required>
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded-m top-padded-s">City</td>
                                <td class="expands top-padded-s">
                                    <input type="text"
                                           data-ng-model="model.city"
                                           class="form-control"
                                           placeholder="{{school.city}}"
                                           required>
                                </td>
                            </tr>

                            <tr>
                                <td class="right-padded-m top-padded-s">Country</td>
                                <td class="expands top-padded-s">
                                    <input type="text"
                                           data-ng-model="model.country"
                                           id="country"
                                           class="form-control"
                                           placeholder="{{school.country}}"
                                           required></td>
                            </tr>

                        </table>
                    </div>

                    <div class="center-aligned">
                        <button class="btn btn-rememberators"
                                type="submit">OK</button>

                        <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>

                    </div>


                </fieldset>
            </form>

        </div>


    </div>
</script>