<script type="text/ng-template" id="registerSchool.html">

    <div class="modal-body">

        <div class="content-header">

            <div class="title center-aligned">
                Register School
            </div>
        </div>

        <div data-ng-if="authentication.user.roles.indexOf('help') > -1" class="content-section">


            <infobox logo="woman" position="right">
                School registration is simple. Please fill in the form below and the school
                will be available for teachers and students to sign up to. After that, it will be your
                task to to set up and manage the classes for your school.
            </infobox>


        </div>


        <form class="form-horizontal" data-ng-submit="registerSchool()">
            <fieldset>
                <div class="content-section">

                    <table>
                        <tr>
                            <td class="nowrap right-padded-m">School Name</td>
                            <td class="expands">
                                <input type="text"
                                       data-ng-model="school.name"
                                       class="form-control focus"
                                       placeholder="School Name"
                                       required>
                            </td>
                        </tr>

                        <tr>
                            <td class="right-padded-m top-padded-s">City</td>
                            <td class="top-padded-s">
                                <input type="text"
                                       data-ng-model="school.city"
                                       class="form-control"
                                       placeholder="City" required>
                            </td>
                        </tr>

                        <tr>
                            <td class="right-padded-m top-padded-s">Country</td>
                            <td class="top-padded-s">
                                <input type="text" data-ng-model="school.country"
                                       class="form-control"
                                       placeholder="Country" required>
                            </td>
                        </tr>


                    </table>
                </div>
                <div class="center-aligned">
                    <button class="btn btn-rememberators"
                            type="submit"
                            tabindex=3>Register</button>

                    <button class="btn btn-rememberators"
                            tabindex=4
                            ng-click="cancel()">Cancel</button>

                </div>

            </fieldset>
        </form>

    </div>
</script>
