<script type="text/ng-template" id="subscribeTeacher.html">
    <div class="rememberators-modal">
        <div class="rememberators-modal-header">


            <div>
                <div class="title center-aligned">
                    Become a teacher in school
                </div>

                <div class="title center-aligned">
                    {{school.name}}
                </div>
            </div>


        </div>

        <div class="title center-aligned">
            <button class="btn btn-rememberators" ng-click="ok()">OK</button>
            <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
    </div>


</script>