<script type="text/ng-template" id="subscribeTeacher.html">
    <div class="modal-body">
        <div class="content-header">

            <div data-ng-if="school.teachers.indexOf(authentication.user._id) !== -1">
                <div class="title center-aligned"
                     data-ng-if="school.teachers.indexOf(authentication.user._id) != -1">
                    Un-Subscribe as Teacher from School: {{school.name}}
                </div>

                <div class="title center-aligned"
                     data-ng-if="school.teachers.indexOf(authentication.user._id) != -1">
                    This action will remove you from all the classes you are in
                    <div class="font-l" style="color: #AA0000">Are You Really Sure?</div>
                </div>
            </div>


            <div data-ng-if="school.teachers.indexOf(authentication.user._id) === -1">
                <div class="title center-aligned">
                    Subscribe as Teacher to School
                </div>

                <div class="title center-aligned">
                    {{school.name}}
                </div>
            </div>


        </div>

        <div class="title center-aligned">
            <button class="btn btn-primary sparesys-button" ng-click="ok()">OK</button>
            <button class="btn btn-primary sparesys-button" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>