<script type="text/ng-template" id="unsubscribeStudent.html">
    <div class="rememberators-modal">
        <div class="rememberators-modal-header">

            <div>
                <div class="title center-aligned">
                    Un-Subscribe as Student from School
                </div>
                <div class="title center-aligned">
                    {{school.name}}
                </div>
            </div>
        </div>


        <div class="rememberators-modal-section danger">


            <div class="title center-aligned font-l ">Are You Really Sure?</div>

            <div class="center-aligned ">
                This action will permanently remove you from all the classes you are in

            </div>

        </div>



    <div class="title center-aligned">
        <button class="btn btn-rememberators" ng-click="ok()">OK</button>
        <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
    </div>

</script>