<table>

    <tr>

        <td colspan="2">
        <div class="infobox-title">
            {{title}}
        </div>
        </td>
    </tr>
    <tr>

        <td data-ng-if="!position || position !== 'right'" class="top-aligned right-padded top-padded" style="min-width: 72px">
            <img class="size-64"
                 src="{{image}}">
        </td>
        <td class="top-aligned">

            <div ng-transclude="">
                content
            </div>
        </td>
        <td data-ng-if="position && position === 'right'" class="top-aligned right-padded top-padded" style="min-width: 72px">
            <img class="size-64"
                 src="{{image}}">
        </td>

    </tr>
</table>