

<div class="col-xs-12 col-md-6 infobox">
    <div data-ng-if="!position || position !== 'right'" class="infobox-title">
        {{title}}
    </div>

    <div data-ng-if="position && position === 'right'" class="infobox-title" >
        {{title}}
    </div>

    <!--<div data-ng-if="!position || position !== 'right'" class="col-xs-3">-->
        <!--<img class="small-image"-->
             <!--ng-src="{{image}}">-->
    <!--</div>-->

    <div class="col-xs-12">

        <div data-ng-if="!position || position !== 'right'" class="pull-left infobox-image">
            <img class="small-image"
                 ng-src="{{image}}">
        </div>
        <div data-ng-if="position && position === 'right'" class="pull-right infobox-image">
            <img class="small-image"
                 ng-src="{{image}}">
        </div>

        <div ng-transclude="" >
            content
        </div>


    </div>


</div>

