<div class="btn-group right-padded-l nowrap">


    <button type="button" class="btn btn-default standard-dropdown-width">
        {{languages[selectedIndex].name}}
    </button>
    <button type="button" class="btn btn-default dropdown-toggle">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li data-ng-repeat="lang in languages" data-ng-click="setLanguage(lang)">
            <a>{{lang.name}}</a>
        </li>
    </ul>

</div>