<section data-ng-controller="SchoolclassesController" data-ng-init="findOne()">
    <div class="sparesys-header">
        <div class="pull-right">

            <a class="btn btn-primary" data-ng-click="editCoursePopup(course)"
               data-ng-show="authentication.user._id == course.user._id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>


            <a class="btn btn-primary" data-ng-click="areYouSureToDeleteCourse(schoolclass)"
               data-ng-show="authentication.user._id == course.user._id">
                <i class="glyphicon glyphicon-trash"></i>
            </a>


        </div>

        <div class="sparesys-title">
            {{schoolclass.name}}
        </div>

    </div>

    <table id="searchTextResults" class="table-striped" style="width: 100%" data-ng-controller="SchoolsController"
           data-ng-init="findForUser()">
        <thead>
        <tr>
            <th class="sparesys-view-courses-course-column">Available Students</th>
            <!--<th class= "sparesys-view-courses-description-column">Description</th>-->
            <!--<th>Created</th>-->
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="student in school.students"
            data-ng-controller="UsersController"
            data-ng-init="findStudent(student)"
            style="cursor: move">


            <td class="sparesys-view-object-content-cell">
                {{student.displayName}}
            </td>
        </tr>
        </tbody>
    </table>

</section>