<section data-ng-controller="SchoolclassesController" data-ng-init="findOne()">

    <div class="sparesys-header">
        <div class="pull-right">

            <a class="btn btn-primary" data-ng-click="editCoursePopup(course)"
               data-ng-show="authentication.user._id == course.user._id">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="areYouSureToDeleteCourse(schoolclass)"
               data-ng-show="authentication.user._id == course.user._id">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>

        <div class="sparesys-title">
            {{schoolclass.name}}
        </div>

        <div class="sparesys-subtitle">
            Sort students into classes that receive the same coursework
        </div>


    </div>


    <table style="width: 100%">
        <tr>
            <td style="width: 50%; vertical-align: top">
                <table class="table-striped" style="width: 100%"
                       data-ng-controller="CoursesController"
                       data-ng-init="findForCurrentUser()">
                    <thead>
                    <tr>
                        <th class="sparesys-view-courses-course-column"></th>
                        <th class="sparesys-view-courses-course-column">Courses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="course in courses">

                        <td class="sparesys-view-courses-name-cell" data-ng-controller="SchoolclassesController">
                            <a href="">
                                <i data-ng-click="addCourseToClass(course)"
                                   class="glyphicon glyphicon-plus-sign">
                                </i>
                            </a>

                        </td>

                        <td class="sparesys-view-object-content-cell" >
                            {{course.name}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td style="vertical-align: top; width: 50%">
                <table class="table-striped" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="sparesys-view-courses-course-column"><span class="glyphicon glyphicon-minus-sign" style="visibility: hidden"></span></th>
                        <th class="sparesys-view-courses-course-column" style="width: 100%">In class {{schoolclass.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="course in schoolclass.courses">


                        <td class="sparesys-view-courses-name-cell">

                            <a href="#!/schoolclasses/{{schoolclass._id}}/edit">
                                <i data-ng-click="removeCourseFromClass(course)"
                                   class="glyphicon glyphicon-minus-sign">
                                </i>
                            </a>

                        </td>

                        <!--<td data-ng-controller="CoursesController"-->
                            <!--data-ng-init="findOne(course._id)" class="sparesys-view-object-content-cell">-->

                        <td class="sparesys-view-object-content-cell" style="text-align: left" data-ng-controller="CoursesController" data-ng-init="findById(course)">
                            {{course.name}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>

        <tr >
            <td>
                <table id="searchTextResults" class="table-striped" style="width: 100%; margin-top: 15px"
                       data-ng-controller="SchoolsController"
                       data-ng-init="findForUser()">
                    <thead>
                    <tr>
                        <th class="sparesys-view-courses-course-column"></th>
                        <th class="sparesys-view-courses-course-column">Students</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="student in school.students"
                        data-ng-controller="UsersController"
                        data-ng-init="findStudent(student)">

                        <td class="sparesys-view-courses-name-cell">
                            <a href="">
                                <i data-ng-click="addToClass(student)"
                                   class="glyphicon glyphicon-plus-sign">
                                </i>
                            </a>
                        </td>
                        <td class="sparesys-view-object-content-cell">
                            {{student.displayName}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
            <td style="vertical-align: top">
                <table class="table-striped" style="width: 100%; margin-top: 15px">
                    <thead>
                    <tr>
                        <th class="sparesys-view-courses-course-column">
                            <span class="glyphicon glyphicon-minus-sign" style="visibility: hidden"></span>
                        </th>
                        <th class="sparesys-view-courses-course-column" style="width: 100%">In class {{schoolclass.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="student in schoolclass.students">

                        <td class="sparesys-view-courses-name-cell">
                            <a href="#!/schoolclasses/{{schoolclass._id}}/edit">
                                <i data-ng-click="removeFromClass(student)"
                                   class="glyphicon glyphicon-minus-sign">
                                </i>
                            </a>
                        </td>

                        <td data-ng-controller="UsersController"
                            data-ng-init="findStudent(student)" class="sparesys-view-object-content-cell">
                            {{student.displayName}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
        </tr>
    </table>


</section>