<section data-ng-controller="SchoolclassesController" data-ng-init="findOne()">

    <div ng-include="'/modules/schoolclasses/views/partial/edit-class.modal.client.view.html'"></div>
    <div ng-include="'/modules/schoolclasses/views/partial/delete-class.modal.client.view.html'"></div>

    <div class="sparesys-header">

        <!--<div class="pull-right" style="padding-top: 5px">-->


        <!--<a href="" data-ng-click="editClassPopup(schoolclass)" data-ng-show="authentication.user._id == schoolclass.user._id"-->
        <!--style="padding-right: 20px">-->
        <!--Edit-->
        <!--</a>-->

        <!--<a href="" data-ng-click="areYouSureToDeleteClass(schoolclass)"-->
        <!--data-ng-show="authentication.user._id == schoolclass.user._id">-->
        <!--Delete-->
        <!--</a>-->

        <!--</div>-->
        <div class="sparesys-title">
            Teach Class: {{schoolclass.name}}
        </div>

        <table>
            <tr>
                <td>School</td>
                <td style="padding-left: 5px">:</td>
                <td style="padding-left: 5px">{{school.name}}</td>
            </tr>
            <tr>
                <td>Teachers</td>
                <td style="padding-left: 5px">:</td>
                <td style="padding-left: 5px">


                    <span data-ng-repeat="teacher in schoolclass.teachers">
                        <span data-ng-controller="UsersController" data-ng-init="findTeacher(teacher)">
                        {{teacher.displayName}}
                            </span>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Students</td>
                <td style="padding-left: 5px">:</td>
                <td style="padding-left: 5px">


                    <span data-ng-repeat="student in schoolclass.students">
                        <span data-ng-controller="UsersController" data-ng-init="findStudent(student)">
                        {{student.displayName}}
                            </span>
                    </span>
                </td>
            </tr>
        </table>

    </div>


    <table style="width: 100%">
        <tr>
            <td style="width: 50%; vertical-align: top">
                <table class="table-striped" style="width: 100%"
                       data-ng-controller="CoursesController"
                       data-ng-init="findForCurrentUser()">
                    <thead>
                    <tr>
                        <th class="sparesys-view-courses-course-column" colspan="2">Courses</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="courses.length === 0">
                        <td>none</td>
                    </tr>
                    <tr data-ng-repeat="course in courses">

                        <td class="sparesys-view-courses-name-cell" data-ng-controller="SchoolclassesController">
                            <a href="">
                                <i data-ng-click="addCourseToClass(course)"
                                   class="glyphicon glyphicon-plus-sign">
                                </i>
                            </a>

                        </td>

                        <td class="sparesys-view-object-content-cell">
                            {{course.name}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </td>
            <td style="vertical-align: top; width: 50%">

                <table class="table-striped" style="width: 100%">
                    <thead>
                    <tr>
                        <th style="width: 100%" colspan="2">In class {{schoolclass.name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-if="schoolclass.courses.length === 0">
                        <td>none</td>
                    </tr>
                    <tr data-ng-repeat="course in schoolclass.courses">


                        <td class="sparesys-view-courses-name-cell">
                            <a href="">
                                <i  data-ng-click="removeCourseFromClass(course)"
                                        class="glyphicon glyphicon-minus-sign"></i>
                            </a>

                        </td>

                        <!--<td data-ng-controller="CoursesController"-->
                        <!--data-ng-init="findOne(course._id)" class="sparesys-view-object-content-cell">-->

                        <td style="text-align: left; width: 100%" data-ng-controller="CoursesController" data-ng-init="findById(course)" >
                            {{course.name}}
                        </td>
                    </tr>
                    </tbody>
                </table>


            </td>
        </tr>


    </table>


</section>