<section data-ng-controller="SchoolclassesController" data-ng-init="findOne()">
    <div data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="col-xs-12 col-md-6">
            <div>
                <div class=" virtual-card font-large ribbon-card">

                    <div class="help-ribbon"><span>Help</span></div>


                    <div class="title">Progress View</div>


                    <infobox logo="woman">
                        This view allows you to check for the progress of students and the
                        state of the learning in the courses tought in {{schoolclass.name}}
                    </infobox>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6">
        <div>
            <div class=" virtual-card font-large">


                <div class="title" style="padding-bottom: 1em">Progress in {{schoolclass.name}}</div>

                <div class="row">
                    <div class="col-xs-4 field-label">
                        Students
                    </div>

                    <div class="col-xs-4 field-label">
                        Courses
                    </div>
                    <div class="col-xs-4 field-label">
                        Diagram Type
                    </div>


                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <div class="btn-group" dropdown
                             is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                {{selectedStudentName}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" data-ng-repeat="student in schoolclass.students"><a
                                        href=""
                                        data-ng-click="selectStudent(student)">{{student.displayName}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="col-xs-4">
                        <div class="btn-group" dropdown
                             is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                {{selectedCourseName}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" data-ng-repeat="course in courses"><a
                                        href=""
                                        data-ng-click="selectCourse(course)">{{course.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-4">
                        <div class="btn-group" dropdown
                             is-open="status.isopen">
                            <button type="button" class="btn btn-primary dropdown-toggle">
                                {{selectedDiagram}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li role="menuitem" data-ng-repeat="diagram in diagrams"><a
                                        href=""
                                        data-ng-click="selectDiagram(diagram)">{{diagram}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!--<div data-ng-if="selectedCourseName === 'All'">-->

        <!--<div data-ng-repeat="course in selectedStudentCourses">-->
        <!--<div class="col-xs-12 col-md-6">-->
            <!--<div>-->
                <!--<div class=" virtual-card font-large">-->
                    <!--<div class="title">Test</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div data-ng-if="selectedStudent === 'All'">-->
        <div data-ng-repeat="course in selectedStudentCourses">
            <div class="col-xs-12 col-md-6">
                <div >
                    <div class=" virtual-card font-large">
                        <div class="title">
                            {{course.name}}

                            <span class="pull-right">{{course.user.displayName}}</span>
                        </div>


                        <div data-ng-if="selectedDiagram === 'Calendar'">
                            <div>
                                <span id="practice-date{{$index}}"></span>&nbsp;<span
                                    id="number-of-cards{{$index}}"></span>
                            </div>

                            <div id="cal{{$index}}"/>
                        </div>

                        <div data-ng-if="selectedDiagram === 'Time spent'">
                            <div>
                                <span id="spent-practice-date{{$index}}"></span>&nbsp;<span
                                    id="spent-practice-time{{$index}}"></span>
                            </div>

                            <div class="timespent diagram" id="timespent{{$index}}">

                            </div>
                        </div>

                        <div data-ng-if="selectedDiagram === 'Progress'">
                            <div class="title">
                                <div>Cards learned (<span id="total-cards-learned{{$index}}"></span>)</div>

                            </div>


                            <div id="inplay{{$index}}" class="diagram">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</div>-->
</section>