<section data-ng-controller="SchoolclassesController" data-ng-init="findOne()">
	<div data-ng-if="authentication.user.roles.indexOf('help') > -1">
		<div class="col-xs-12 col-md-6">
			<div>
				<div class=" virtual-card font-large ribbon-card">

					<div class="help-ribbon"><span>Teaching</span></div>


					<div class="title">Progress in {{schoolclass.name}}</div>


                    <infobox logo="woman">
                        This view allows you to check for the progress of students and the
                        state of the learning in the courses tought in {{schoolclass.name}}
                    </infobox>
				</div>
			</div>
		</div>
	</div>
</section>