.small-card {
  min-height: 12em;
  @media screen {

    @media (min-width: @screen-xs-min) {
      min-height: 12em;
      font-size: 1.5em;
      line-height: 2em;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 12em;
      font-size: 1.3em;
      line-height: 1.3em;
    }
    @media (min-width: @screen-md-min) {
      min-height: 12em;
      font-size: 1.35em;
      line-height: 1.5em;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 12em;
      font-size: 1.4em;
      line-height: 1.6em;
    }
    @media (min-width: @screen-xl-min) {
      min-height: 12em;
      font-size: 1.5em;
      line-height: 1.8em;
    }
  }
}

.tiny-card {
  min-height: 8em;
  @media screen {

    @media (min-width: @screen-xs-min) {
      min-height: 8em;
      font-size: 1.5em;
      line-height: 2em;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 8em;
      font-size: 1.3em;
      line-height: 1.3em;
    }
    @media (min-width: @screen-md-min) {
      min-height: 8em;
      font-size: 1.35em;
      line-height: 1.5em;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 8em;
      font-size: 1.4em;
      line-height: 1.6em;
    }
    @media (min-width: @screen-xl-min) {
      min-height: 8em;
      font-size: 1.5em;
      line-height: 1.8em;
    }
  }

  .make-xs-column(11/4);
  .make-xs-column-offset(1/5);
  .make-sm-column(11/4);
  .make-sm-column-offset(1/5);
  .make-md-column(11/4);
  .make-md-column-offset(1/5);
  .make-lg-column(11/4);
  .make-lg-column-offset(1/5);
  .make-xl-column(11/4);
  .make-xl-column-offset(1/5);
}


.info-card-small, .ribbon-card-small {
  .info-card;
  .small-card;
}

.admin-card-tiny {
  .admin-card;
  .tiny-card;
}

.info-card-large, .ribbon-card-large {
  .info-card;

  .make-xl-column(11/2+ (1/8));
  .make-xl-column-offset(1/4);
}

.admin-card-large {
  .admin-card;

  .make-xl-column(11/2+ (1/8));
  .make-xl-column-offset(1/4);
}

.info-card-xl, .ribbon-card-xl {
  .info-card;

  .make-sm-column(11.5);
  .make-sm-column-offset(0.25);
}

.action-card-large {
  .action-card;

  .make-xl-column(11/2);
  .make-xl-column-offset(1/4);
}



.info-card {


  .make-xs-column(12);
  .make-sm-column(11/2 + (1/8));
  .make-sm-column-offset(1/4);
  .make-md-column(11/2 + (1/8));
  .make-md-column-offset(1/4);

  .make-lg-column(11/2 + (1/8));
  .make-lg-column-offset(1/4);
  .make-xl-column(11/3);
  .make-xl-column-offset(1/4);
  .generic-card;


  margin-top: 1em;

  min-height: 24em;
  font-size: 1.2em;
  line-height: 1.5em;
  @media screen {

    @media (min-width: @screen-xs-min) {
      min-height: 24em;
      font-size: 1.5em;
       line-height: 2em;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 24em;
      font-size: 1.3em;
      line-height: 1.3em;
    }
    @media (min-width: @screen-md-min) {
      min-height: 24em;
      font-size: 1.35em;
      line-height: 1.5em;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 24em;
      font-size: 1.4em;
      line-height: 1.6em;
    }
    @media (min-width: @screen-xl-min) {
      min-height: 24em;
      font-size: 1.5em;
      line-height: 1.8em;
    }
  }
}


.admin-card {
  .info-card;
  .texture-admin;

}



.title-card {


  .make-xs-column(10);
  .make-xs-column-offset(1);
  .make-sm-column(10);
  .make-sm-column-offset(1);
  .make-md-column(8);
  .make-md-column-offset(2);
  .make-lg-column(6);
  .make-lg-column-offset(3);

  .generic-card;
  text-align: center;

  .brand-title {
    padding-top: 0.25em;
    .font-brand-xxl;
  }

  .brand-subtitle {
    .font-brand-xl;
  }

  .large-image {

    max-height: 140px;
    min-height: 140px;
    margin-top: -20px;
    margin-bottom: 10px;
    @media screen {
      @media (min-width: @screen-xs-min) {
        max-height: 170px;
        min-height: 170px;
      }
      @media (min-width: @screen-sm-min) {
        max-height: 200px;
        min-height: 200px;
      }
      @media (min-width: @screen-md-min) {
        max-height: 230px;
        min-height: 230px;
      }
      @media (min-width: @screen-lg-min) {
        max-height: 260px;
        min-height: 260px;
      }
    }
  }

}

.generic-card {


  .card-texture;
  .default-border;

  //background-color: @background-color-contrast;

  overflow: visible;
  border-radius: 12px;

  min-height: 300px;

  @media screen {
    @media (min-width: @screen-xs-min) {
      min-height: 340px;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 380px;
    }
    @media (min-width: @screen-md-min) {
      min-height: 420px;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 460px;
    }
  }



  .button-row {
    width: 100%;
    position: absolute;
    bottom: 1em;
    text-align: center;
    z-index: 0;
  }


}


// banner
.ribbon-card {
  .info-card;
  position: relative;
  overflow: hidden;

  .subtitle {
    font-size: small;
    display: inline;
  }



  .info {
    text-align: center;
    margin-top: 2em;
  }
}

.action-card {

  .ribbon-card;
  .texture-action;
}

.action-postit {

  .info-card;
  .texture-action;
  min-height: 0;
  @media screen {

    @media (min-width: @screen-xs-min) {
      min-height: 0;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 0;

    }
    @media (min-width: @screen-md-min) {
      min-height: 0;

    }
    @media (min-width: @screen-lg-min) {
      min-height: 0;

    }
    @media (min-width: @screen-xl-min) {
      min-height: 0;

    }
  }
}

.action-postit-large {

  .info-card-large;
  .texture-action;
  min-height: 0;
  @media screen {

    @media (min-width: @screen-xs-min) {
      min-height: 0;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 0;

    }
    @media (min-width: @screen-md-min) {
      min-height: 0;

    }
    @media (min-width: @screen-lg-min) {
      min-height: 0;

    }
    @media (min-width: @screen-xl-min) {
      min-height: 0;

    }
  }
}
