


.info-card {


  .make-xs-column(12);
  .make-sm-column(11/2);
  .make-sm-column-offset(1/3);
  .make-md-column(11/2);
  .make-md-column-offset(1/3);

  .make-lg-column(11/2);
  .make-lg-column-offset(1/3);
  .make-xl-column(11/3);
  .make-xl-column-offset(1/4);
  .generic-card;


  margin-top: 1em;

  min-height: 24em;
  font-size: 1.2em;
  line-height: 1.5em;
  @media screen {

    @media (min-width: @screen-xs-min) {
      min-height: 24em;
      font-size: 1.5em;
       line-height: 2em;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 24em;
      font-size: 1.3em;
      line-height: 1.3em;
    }
    @media (min-width: @screen-md-min) {
      min-height: 24em;
      font-size: 1.35em;
      line-height: 1.5em;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 24em;
      font-size: 1.4em;
      line-height: 1.6em;
    }
    @media (min-width: @screen-xl-min) {
      min-height: 24em;
      font-size: 1.5em;
      line-height: 1.8em;
    }
  }
}



.title-card {


  .make-xs-column(12);
  .make-sm-column(10);
  .make-sm-column-offset(1);
  .make-md-column(8);
  .make-md-column-offset(2);
  .make-lg-column(6);
  .make-lg-column-offset(3);

  .generic-card;
  text-align: center;

  .brand-title {
    padding-top: 0.25em;
    .font-brand-xxl;
  }

  .brand-subtitle {
    .font-brand-xl;
  }

  .large-image {

    max-width: 140px;
    max-height: 140px;
    min-height: 140px;
    margin-top: -20px;
    margin-bottom: 10px;
    @media screen {
      @media (min-width: @screen-xs-min) {
        max-width: 170px;
        max-height: 170px;
        min-height: 170px;
      }
      @media (min-width: @screen-sm-min) {
        max-width: 200px;
        max-height: 200px;
        min-height: 200px;
      }
      @media (min-width: @screen-md-min) {
        max-width: 230px;
        min-height: 230px;
      }
      @media (min-width: @screen-lg-min) {
        max-width: 260px;
        min-height: 260px;
      }
    }
  }

}

.generic-card {


  .card-texture;
  .default-border;

  //background-color: @background-color-contrast;

  overflow: visible;
  border-radius: 12px;

  min-height: 300px;

  @media screen {
    @media (min-width: @screen-xs-min) {
      min-height: 340px;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 380px;
    }
    @media (min-width: @screen-md-min) {
      min-height: 420px;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 460px;
    }
  }

  .section {
    padding-top: 1em;
  }

  .button-row {
    width: 100%;
    position: absolute;
    bottom: 1em;
    text-align: center;
  }


}

.admin-card {
  .generic-card;
  .texture-admin;
  box-shadow: 5px 5px 5px #C99;
  border: 1px solid darken(@background-color-admin, 5%);
}

// banner
.ribbon-card {
  .info-card;
  position: relative;
  overflow: hidden;

  .subtitle {
    font-size: small;
    display: inline;
  }



  .info {
    text-align: center;
    margin-top: 2em;
  }
}

.action-card {

  .ribbon-card;
  .texture-action;
}

.action-postit {

  .info-card;
  .texture-action;
  min-height: 0;
  @media screen {

    @media (min-width: @screen-xs-min) {
      min-height: 0;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 0;

    }
    @media (min-width: @screen-md-min) {
      min-height: 0;

    }
    @media (min-width: @screen-lg-min) {
      min-height: 0;

    }
    @media (min-width: @screen-xl-min) {
      min-height: 0;

    }
  }
}
