
.virtual-card {
  .generic-card;
  .texture-light;
  .default-border;
}

.title-card {


  .make-xs-column(12);
  .make-sm-column(10);
  .make-sm-column-offset(1);
  .make-md-column(8);
  .make-md-column-offset(2);
  .make-lg-column(6);
  .make-lg-column-offset(3);

  .virtual-card;
  text-align: center;

  .brand-title {
    padding-top: 0.25em;
    .font-brand-xxl;
  }

  .brand-subtitle {
    .font-brand-xl;
  }

  .large-image {

    max-width: 140px;
    max-height: 140px;
    min-height: 140px;
    margin-top: -20px;
    margin-bottom: 10px;
    @media screen {
      @media (min-width: @screen-xs-min) {
        max-width: 170px;
        max-height: 170px;
        min-height: 170px;
      }
      @media (min-width: @screen-sm-min) {
        max-width: 200px;
        max-height: 200px;
        min-height: 200px;
      }
      @media (min-width: @screen-md-min) {
        max-width: 230px;
        min-height: 230px;
      }
      @media (min-width: @screen-lg-min) {
        max-width: 260px;
        min-height: 260px;
      }
    }
  }

}

.generic-card {
  //padding: 10px;
  overflow: visible;
  border-radius: 12px;

  min-height: 300px;

  @media screen {
    @media (min-width: @screen-xs-min) {
      min-height: 350px;
    }
    @media (min-width: @screen-sm-min) {
      min-height: 400px;
    }
    @media (min-width: @screen-md-min) {
      min-height: 450px;
    }
    @media (min-width: @screen-lg-min) {
      min-height: 500px;

    }
  }

  background-color: @background-color-contrast;

}

.admin-card {
  .generic-card;
  .texture-admin;
  box-shadow: 5px 5px 5px #C99;
  border: 1px solid darken(@background-color-admin, 5%);
}