

// modals
.rememberators-modal {

  //padding: 1em;
  background-color: @background-color;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #333;
}

.rememberators-modal-header {
  //border-bottom: ;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  //padding-bottom: 1em;
  //margin-bottom: 1em;
}

.rememberators-modal-section {

  border-top: @default-border;
  padding: 1em;
  //margin-bottom: 2*@default-padding-unit;
}

.rememberators-modal-section-label {
  padding-top: 0.2em;
  padding-bottom: 0.8em;
}

.rememberators-modal-footer {
  text-align: center;
  border-top: @default-border;
  padding-top: 1em;
  //margin-top: @default-padding-unit;
}