

// modals

@modal-padding: 0.7em;
.rememberators-modal {

  background-color: @background-color;
  border-radius: 6px;
  box-shadow: 5px 5px 5px #333;
}

.rememberators-modal-header {
  //border-bottom: ;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  padding: @modal-padding;
  //margin-bottom: 1em;
}

.rememberators-modal-section {

  border-top: @default-border;

  padding-bottom: @modal-padding;

  .sub-section {
    padding: @modal-padding @modal-padding 0 @modal-padding;
  }
  //margin-bottom: 2*@default-padding-unit;
}

.rememberators-modal-section-label {
  padding-top: 0.2em;
  padding-bottom: 0.8em;
}

.rememberators-modal-footer {
  text-align: center;
  padding-top: @modal-padding;
  padding-bottom: @modal-padding;
  border-top: @default-border;
  //margin-top: @default-padding-unit;
}