<script type="text/ng-template" id="addClass.html">


        <div class="modal-body">
            <div class="content-header">
                <div class="title center-aligned">
                    Create Classes for School
                </div>
                <div class="title  center-aligned">
                    {{school.name}}
                </div>
            </div>

            <form class="form-horizontal" novalidate>
                <fieldset>
                    <div class="content-header">
                        <table>
                            <tr>
                                <td class="right-padded-m">Class</td>
                                <td class="expands">
                                    <input type="text"
                                           data-ng-model="name"
                                           class="form-control focus"
                                           placeholder="Name"
                                           data-ng-init="setFocus()"
                                           required></td>
                            </tr>

                        </table>
                    </div>

                    <div class="center-aligned">
                        <button class="btn btn-rememberators"
                                type="submit"
                                ng-click="addClass()">Add</button>


                            <!--<button class="btn btn-rememberators" ng-click="cancel()">Done</button>-->

                    </div>

                </fieldset>
            </form>

        </div>


</script>