<script type="text/ng-template" id="addClass.html">


    <div class="rememberators-modal">



        <form class="signup form-horizontal" autocomplete="off" novalidate>
            <fieldset>
                <div class="rememberators-modal-header">
                    Create Classes for {{school.name}}
                </div>


                <div class="row rememberators-form-group form-group">
                    <div class="col-xs-4 ">Class Name</div>
                    <div class="col-xs-8">
                        <input type="text"
                               data-ng-model="name"
                               class="form-control focus"
                               placeholder="Name"
                               data-ng-init="setFocus()"
                               required>
                    </div>
                </div>


                <div class="rememberators-modal-footer">
                    <button class="btn btn-rememberators"
                            ng-click="addClass()">Add</button>

                </div>

                <div data-ng-show="error" class="text-center text-danger">
                    <strong>{{error}}</strong>
                </div>
            </fieldset>
        </form>
    </div>




</script>
