<script type="text/ng-template" id="areYouSureToDeleteClass.html">
    <div class="modal-body">



        <div class="modal-body">
            <div class="content-header">
                <div class="title center-aligned">
                    Delete Class  {{schoolclass.name}} from School {{school.name}}
                </div>
                <div class="center-aligned font-l warning">
                    Are you sure?
                </div>
            </div>

        </div>

        <div style="text-align: center">
            <button class="btn btn-rememberators" ng-click="ok()">OK</button>
            <button class="btn btn-rememberators" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>