<section data-ng-controller="RolesController" data-ng-init="find()">

    <div data-ng-repeat="role in roles">
        <div class="admin-card-tiny">
            <div class="title">
                {{role.name}}
                <div class="pull-right">


                    <a href="" data-ng-click="remove(role)"><i
                            class="glyphicon glyphicon-trash"></i></a>

                </div>
            </div>

        </div>
    </div>

    <div class="admin-card-tiny">
        <div class="title">
            Add a role
            <div class="pull-right">


                <a href="" data-ng-click="create()"><i class="glyphicon glyphicon-plus-sign"></i></a>

            </div>


        </div>

        <div class="flashcard-section">

            <form data-ng-submit="create()" validate>
                <fieldset>
                    <div class="field-label">Role</div>
                    <div>
                        <input type="text"
                               data-ng-model="newRole.name"
                               class="form-control focus">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>


</section>