<section data-ng-controller="RewardsController" data-ng-init="find()">


    <div class="col-xs-12 col-md-6  ">
        <div class="admin-card font-large">
            <div class="title">Administer Rewards</div>
            <div class="flashcard-section row">


                <div class="col-xs-12">
                    <div class="field-label">Find Reward</div>
                    <input type="text"
                           ng-model="options.searchText"
                           class="form-control search"
                           data-ng-change="updateSearch()"
                           placeholder="Name">
                </div>


            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6  " data-ng-if="!rewards || rewards.length === 0">

        <div class="admin-card font-large">
            <div class="title">No Rewards Found</div>
            <div class="danger">There are no rewards matching your search criteria</div>
        </div>
    </div>

    <div data-ng-repeat="reward in rewards">
        <div class="col-xs-6 dashboard-col">
            <div class="admin-card font-large">
                <div>
                    <div class="title">
                        {{reward.name}}

                        <div class="pull-right">


                            <a href="#!/cards/{{card._id}}/admin"><i class="glyphicon glyphicon-edit"></i></a>

                            <a href="" data-ng-click="areYouSureToDeleteCard(card)"><i
                                    class="glyphicon glyphicon-trash"></i></a>

                        </div>

                    </div>
                    <div class="flashcard-section row">
                        <div class="col-xs-4">
                            <div class="field-label">Health Points</div>
                            <div class="field-data">
                                {{reward.defaulthealthpoints}}
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="field-label">Type</div>
                            <div class="field-data">
                                {{reward.type}}
                            </div>
                        </div>


                    </div>

                    <div class="flashcard-section row">

                        <div class="col-xs-4">
                            <div class="field-label">Ingredients</div>
                            <div class="field-data">
                                <div data-ng-if="reward.ingredients.length ===0">none</div>
                                <div data-ng-if="reward.ingredients.length >0">
                                    <div data-ng-repeat="recipe in reward.ingredients">
                                        <div data-ng-repeat="ingredient in recipe">
                                            <div>{{ingredient.name}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="field-label">Enables</div>
                            <div class="field-data">
                                <div data-ng-if="reward.enables.length ===0">none</div>
                                <div data-ng-if="reward.enables.length >0">
                                    <div data-ng-repeat="enabler in reward.ingredients">
                                        <div>{{enabler.name}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="field-label">Goals</div>
                            <div class="field-data">
                                <div data-ng-if="reward.goals.length ===0">none</div>
                                <div data-ng-if="reward.goals.length >0">
                                    <div data-ng-repeat="goal in goals.ingredients">
                                        <div>{{goal.name}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="flashcard-section row">

                        <div class="col-xs-12">


                            <div class="field-label">Description</div>
                            <div class="field-data">
                                {{reward.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-12">
        <div class="admin-card font-large">
            <div class="title">
                Add reward

                <div class="pull-right">


                    <a href="" data-ng-click="addReward()"><i class="glyphicon glyphicon-plus-sign"></i></a>

                </div>


            </div>


            <div style="margin-top: 1.5em">
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="field-label">Name</div>
                            <div class="font-medium">
                                <input type="text"
                                       data-ng-model="newReward.name"
                                       class="form-control focus">
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="field-label">Health points</div>
                            <div class="font-medium">
                                <input type="number"
                                       data-ng-model="newReward.defaulthealthpoints"
                                       class="form-control"
                                       placeholder="Health">
                            </div>
                        </div>
                        <div class="col-xs-4">

                            <div class="field-label">Type</div>
                            <div class="font-medium">

                                <input type="radio" data-ng-model="newReward.type" value="Recipe" disabled> Recipe
                                <input type="radio" data-ng-model="newReward.type" value="Item" disabled> Item
                                <input type="radio" data-ng-model="newReward.type" value="Skill" disabled> Skill

                            </div>
                        </div>


                    </div>

                    <div class="row" style="margin-top: 1.5em;">


                        <div class="col-xs-4">
                            <div class="field-label">Ingredients</div>

                            <input style="width: 100%"
                                   type="text"
                                   data-ng-model="selectedIngredient"
                                   typeahead-on-select="selectIngredient()"
                                   typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">
                        </div>


                        <div class="col-xs-4">
                            <div class="field-label">Enables</div>
                            <div class="font-medium">

                                <input style="width: 100%"
                                       type="text"
                                       data-ng-model="selectedEnabler"
                                       typeahead-on-select="selectEnabler()"
                                       typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                       class="form-control">
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <div class="field-label">Goals</div>
                            <div class="font-medium">
                                <input style="width: 100%"
                                       type="text"
                                       data-ng-model="selectedGoal"
                                       typeahead-on-select="selectGoal()"
                                       typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                       class="form-control">
                            </div>
                        </div>


                        <!--</td>-->
                        <!--</tr>-->
                    </div>

                    <div class="row">
                        <div class="col-xs-2">
                            <div data-ng-repeat="ingredient in ingredients">
                                <a>
                                    <i data-ng-click="removeIngredient(ingredient)"
                                       class="glyphicon glyphicon-remove-sign small">
                                    </i>
                                </a>
                                {{ingredient.amount}}
                                {{ingredient.name}}
                                <input data-ng-model="ingredient.keep" type="checkbox"/> keep intact</td>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <div data-ng-repeat="enabler in enables">
                                <a>
                                    <i data-ng-click="removePrecursor(enabler)"
                                       class="glyphicon glyphicon-remove-sign small">
                                    </i>
                                </a>
                                {{enabler.name}}
                            </div>

                            <div class="col-xs-2">
                                <div data-ng-repeat="goal in goals">
                                    <a>
                                        <i data-ng-click="removeGoal(goal)"
                                           class="glyphicon glyphicon-remove-sign small">
                                        </i>
                                    </a>
                                    {{goal.name}}
                                </div>

                            </div>


                            <div class="hidden">
                                <button type="submit" class="btn btn-rememberators"></button>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="col-xs-4">
                    <div class="field-label">Description</div>
                    <div class="font-medium">

                                    <textarea type="text"
                                              data-ng-model="newReward.description"
                                              class="form-control"
                                              placeholder="Description"
                                              rows="8"/>

                    </div>
                </div>

            </div>
        </div>
    </div>



</section>
