<div data-ng-controller="RewardsController" data-ng-init="findOne()">


    <div ng-include="'/modules/rewards/views/partial/delete-reward.modal.client.view.html'"></div>


    <!--<div class="col-xs-12 col-md-6 dashboard-col">-->
    <!--<div class="admin-card">-->

    <!--{{reward.ingredients}}-->
    <!--{{reward}}-->

    <!--</div>-->
    <!--</div>-->
    <div class="admin-card">
        <div class="title">{{reward.name}}</div>


        <div class="two-column-section top-section">

            <div class="column">
                <div class="field-label">Name</div>
                <div class="field-data">
                    <input type="text"
                           data-ng-blur="update()"
                           data-ng-model="reward.name"
                           class="form-control"
                            >
                </div>
            </div>

            <div class="column">
                <div class="field-label">Type</div>
                <div class="field-data">
                    <input type="radio" data-ng-model="reward.type" ng-change="update()" value="Recipe"> Recipe
                    <input type="radio" data-ng-model="reward.type" ng-change="update()" value="Item"> Item
                    <input type="radio" data-ng-model="reward.type" ng-change="update()" value="Skill"> Skill


                </div>
            </div>


        </div>

        <div class="two-column-section">

            <div class="column" data-ng-if="reward.type !== 'Skill'">
                <div class="field-label">Health</div>
                <div class="field-data">
                    <!--{{reward.defaulthealthpoints}}-->
                    <input type="number"
                           data-ng-change="update()"
                           data-ng-model="reward.defaulthealthpoints"
                           class="form-control"
                            >
                </div>
            </div>

            <div class="column" data-ng-if="reward.type !== 'Recipe'">
                <div class="field-label">Location</div>
                <div class="field-data">
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary dropdown-toggle"
                                ng-disabled="disabled">
                            {{reward.location}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" data-ng-repeat="location in options.locations track by $index">
                                <a href="" data-ng-click="switchLocation(reward,location)">{{location}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="column" data-ng-if="reward.type !== 'Recipe'">
                <div class="field-label">Price</div>
                <div class="field-data">
                    <!--{{reward.defaulthealthpoints}}-->
                    <input type="number"
                           data-ng-change="update()"
                           data-ng-model="reward.price"
                           class="form-control"
                            >
                </div>
            </div>

            <div class="column" data-ng-if="reward.type !== 'Recipe'">
                <div class="field-label">&nbsp;</div>
                <div class="field-data">
                    <input type="checkbox"
                           data-ng-change="update()"
                           data-ng-model="reward.basic"
                            > Always on offer
                </div>
            </div>

        </div>

        <div class="section">
            <div class="field-label">Description</div>
            <div class="field-data">
                            <textarea rows="5"
                                      data-ng-blur="update()"
                                      data-ng-model="reward.description"
                                      class="form-control"
                                    ></textarea>
            </div>
        </div>

    </div>


        <div class="admin-card" data-ng-if="reward.type !== 'Item'">
            <div class="title">&nbsp</div>

            <div class="flashcard-section">


                    <div class="two-column-section top-section" data-ng-if="reward.type === 'Recipe'">
                        <div class="column">
                            <div class="field-label">Ingredients</div>

                            <input type="text"
                                   data-ng-model="selection.ingredient"
                                   typeahead-on-select="selectIngredientForReward()"
                                   typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">

                            <div class="field-data">
                                <div data-ng-repeat="ingredient in reward.ingredients">
                                    <a>
                                        <i data-ng-click="removeIngredientFromReward(ingredient, reward)"
                                           class="glyphicon glyphicon-remove-sign small">
                                        </i>
                                    </a>
                                    {{ingredient.amount}} {{ingredient.name}}
                                    <!--<span data-ng-if="ingredient.keep">(keep intact)</span>-->
                                    <!--<span data-ng-if="!ingredient.keep">(consume)</span>-->

                                <span data-ng-if="ingredient.keep"><a href=""
                                                                      data-ng-click="switchKeepForReward(ingredient)">(keep
                                    intact)</a></span>
                                <span data-ng-if="!ingredient.keep"><a href=""
                                                                       data-ng-click="switchKeepForReward(ingredient)">(consume)</a></span>

                                </div>
                            </div>
                        </div>


                        <div class="column">
                            <div class="field-label">Journey</div>

                            <input type="text"
                                   data-ng-model="selection.journey"
                                   typeahead-on-select="selectLocation()"
                                   typeahead="location for location in options.locations | filter: $viewValue | limitTo:12"
                                   class="form-control">


                            <div class="field-data" data-ng-if="reward.journey">
                                <a>
                                    <i data-ng-click="removeLocationFromReward()"
                                       class="glyphicon glyphicon-remove-sign small">
                                    </i>
                                </a>
                                {{reward.journey}}

                            </div>
                        </div>
                    </div>


                <div class="two-column-section top-section" data-ng-if="reward.type !== 'Item'" >

                    <div class="column">
                        <div class="field-label">Enables</div>
                        <div class="field-data">

                            <input type="text"
                                   data-ng-model="selection.enabler"
                                   typeahead-on-select="selectEnablerForReward()"
                                   typeahead="item.name for item in items | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">

                            <div class="font-medium" style="padding-top: 0.5em; ">
                                <div class="field-data">
                                    <div data-ng-repeat="enabler in reward.enables">
                                        <a>
                                            <i data-ng-click="removePrecusorFromReward(enabler)"
                                               class="glyphicon glyphicon-remove-sign small">
                                            </i>
                                        </a>

                                        {{enabler.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="column" data-ng-if="reward.type === 'Skill'">
                        <div class="field-label">Goals</div>
                        <div class="field-data">

                            <input style="width: 100%"
                                   type="text"
                                   data-ng-model="selection.goal"
                                   typeahead-on-select="selectGoalForReward()"
                                   typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">

                            <div class="font-medium" style="padding-top: 0.5em; padding-left: 0.5em">
                                <div class="field-data">
                                    <div data-ng-repeat="goal in reward.goals">
                                        <a>
                                            <i data-ng-click="removeGoalFromReward(goal)"
                                               class="glyphicon glyphicon-remove-sign small">
                                            </i>
                                        </a>

                                        {{goal.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="column" data-ng-if="reward.type === 'Recipe'">
                        <div class="field-label">Basis</div>
                        <div class="field-data">

                            <input style="width: 100%"
                                   type="text"
                                   data-ng-model="selection.basis"
                                   typeahead-on-select="selectBasisForReward()"
                                   typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">

                            <div class="font-medium" style="padding-top: 0.5em; padding-left: 0.5em">
                                <div class="field-data" data-ng-if="reward.basis">

                                    {{getRewardName(reward.basis)}}
                                </div>

                                <div class="field-data" data-ng-if="!reward.basis">

                                    none
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="admin-card">
            <div class="title">Image</div>


            <div class="section top-section">

                    <div class="field-label">URL</div>
                    <div class="field-data">
                        <input type="text"
                               data-ng-blur="update()"
                               data-ng-model="reward.icon"
                               class="form-control"

                                >
                    </div>
                </div>

            <div class="section">
                    <div class="field-label">Preview</div>
                    <div class="field-data">
                        <img src="{{reward.icon}}">
                    </div>
                </div>
            </div>
        </div>



    <div class="rememberators-footer">rememberators.com</div>

</div>
