<section data-ng-controller="RewardsController" data-ng-init="find()">

    <div ng-include="'/modules/rewards/views/partial/delete-reward.modal.client.view.html'"></div>


    <div class="admin-card ">
        <div class="title">Administer Rewards</div>
        <div class="section top-section">


            <div class="field-label">Find Reward</div>
            <input type="text"
                   ng-model="options.searchText"
                   class="form-control search"
                   data-ng-change="updateSearch()"
                   placeholder="Name">


        </div>

        <div class="section">

            <div class="field-label">Locations</div>
            <div data-ng-if="options.locations.length === 0" class="field-data">
                none
            </div>

            <div data-ng-if="options.locations.length > 0" class="field-data">
                    <span data-ng-repeat="loc in options.locations track by $index" style="padding-right: 10px">
                        <a>
                            <i data-ng-click="removeLocation($index)"
                               class="glyphicon glyphicon-remove-sign small">
                            </i>
                        </a>
                        {{loc}}
                    </span>

            </div>


        </div>

        <div class="section">
            <form class="form-horizontal" data-ng-submit="addLocation()"
                  novalidate>
                <div class="field-label">Add location</div>
                <input type="text"
                       ng-model="selection.location"
                       class="form-control"
                       placeholder="Name">

                <div style="padding-top: 1em">
                    <button class="btn btn-primary rememberators-button"
                            type="submit"
                            >
                        Add
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div data-ng-if="!rewards || rewards.length === 0">

        <div class="admin-card ">

            <div class="title">No Rewards Found</div>
            <div class="section top-section">
                <div class="danger">There are no rewards matching your search criteria</div>
            </div>
        </div>
    </div>

    <div data-ng-repeat="reward in rewards">
        <div class="admin-card">
            <div>
                <div class="title">
                    {{reward.name}}

                    <div class="pull-right">


                        <a href="#!/rewards/{{reward._id}}/admin"><i class="glyphicon glyphicon-edit"></i></a>

                        <a href="" data-ng-click="areYouSureToDeleteReward(reward)"><i
                                class="glyphicon glyphicon-trash"></i></a>

                    </div>

                </div>


                <div class="two-column-section top-section">
                    <div class="column">
                        <div class="field-label">Type</div>
                        <div class="field-data">
                            {{reward.type}}
                            <span data-ng-if="reward.basic">(basic)</span>
                            <span data-ng-if="!reward.basic">(enabled)</span>
                        </div>
                    </div>
                    <div class="column" data-ng-if="reward.type !== 'Recipe'">
                        <div class="field-label">Price</div>
                        <div class="field-data">
                            {{reward.price}}
                        </div>
                    </div>


                </div>
                <div class="two-column-section" data-ng-if="reward.type === 'Item'">

                    <div class="column">
                        <div class="field-label">Health</div>
                        <div class="field-data">
                            {{reward.defaulthealthpoints}}
                        </div>
                    </div>

                    <div class="column">
                        <div class="field-label">Location</div>
                        <div class="field-data">
                            {{reward.location}}
                        </div>
                    </div>
                </div>


                <div class="section">
                    <div class="column" data-ng-if="reward.type === 'Recipe'">
                        <div class="field-label">Ingredients</div>
                        <div class="field-data">
                            <div data-ng-if="reward.ingredients.length ===0">none</div>
                            <div class="three-column-data" data-ng-if="reward.ingredients.length >0">

                                <div class="column">
                                    <div data-ng-repeat="ingredient in reward.ingredients" data-ng-if="$index % 3 ===0">
                                        {{ingredient.amount}} {{ingredient.name}}
                                        <span data-ng-if="ingredient.keep">(keep intact)</span>
                                        <span data-ng-if="!ingredient.keep">(consume)</span>

                                    </div>
                                </div>

                                <div class="column">
                                    <div data-ng-repeat="ingredient in reward.ingredients" data-ng-if="$index % 3 ===1">
                                        {{ingredient.amount}} {{ingredient.name}}
                                        <span data-ng-if="ingredient.keep">(keep intact)</span>
                                        <span data-ng-if="!ingredient.keep">(consume)</span>

                                    </div>
                                </div>

                                <div class="column">
                                    <div data-ng-repeat="ingredient in reward.ingredients" data-ng-if="$index % 3 ===2">
                                        {{ingredient.amount}} {{ingredient.name}}
                                        <span data-ng-if="ingredient.keep">(keep intact)</span>
                                        <span data-ng-if="!ingredient.keep">(consume)</span>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div data-ng-if="reward.type === 'Skill'">
                        <div class="column">
                            <div class="field-label">Enables</div>


                            <div class="field-data">
                                <div data-ng-if="reward.enables.length ===0">none</div>
                                <div class="three-column-data" data-ng-if="reward.enables.length >0">


                                    <div data-ng-repeat="enabler in reward.enables" data-ng-if="$index % 3 ===0">
                                        <div class="column">
                                            <div>{{enabler.name}}</div>
                                        </div>
                                    </div>
                                    <div data-ng-repeat="enabler in reward.enables" data-ng-if="$index % 3 ===1">
                                        <div class="column">
                                            <div>{{enabler.name}}</div>
                                        </div>
                                    </div>
                                    <div data-ng-repeat="enabler in reward.enables" data-ng-if="$index % 3 ===2">
                                        <div class="column">
                                            <div>{{enabler.name}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="column">
                            <div class="field-label">Goals</div>
                            <div class="field-data">
                                <div data-ng-if="reward.goals.length ===0">none</div>
                                <div class="three-column-data" data-ng-if="reward.goals.length >0">


                                    <div data-ng-repeat="goal in reward.goals" data-ng-if="$index % 3 ===0">
                                        <div class="column">
                                            <div>{{goal.name}}</div>
                                        </div>
                                    </div>

                                    <div data-ng-repeat="goal in reward.goals" data-ng-if="$index % 3 ===1">
                                        <div class="column">
                                            <div>{{goal.name}}</div>
                                        </div>
                                    </div>
                                    <div data-ng-repeat="goal in reward.goals" data-ng-if="$index % 3 ===2">
                                        <div class="column">
                                            <div>{{goal.name}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="section">


                    <div class="field-label">Description</div>
                    <div class="field-data">
                        {{reward.description}}
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="admin-card">
        <div class="title">
            Add reward

            <div class="pull-right">


                <a href="" data-ng-click="addReward()"><i class="glyphicon glyphicon-plus-sign"></i></a>

            </div>


        </div>


        <div class="two-column-section">
            <div class="column">
                <div class="field-label">Name</div>
                <div class="font-medium">
                    <input type="text"
                           data-ng-model="newReward.name"
                           class="form-control focus">
                </div>
            </div>

            <div class="column">


                <div class="field-label">Type</div>
                <div class="font-medium">

                    <input type="radio" data-ng-model="newReward.type" value="Recipe"> Recipe
                    <input type="radio" data-ng-model="newReward.type" value="Item"> Item

                    <input type="radio" data-ng-model="newReward.type" value="Skill"> Skill
                </div>
            </div>
        </div>


        <div class="two-column-section">


            <div class="column">
                <div class="field-label">Description</div>
                <div class="font-medium">

                                    <textarea type="text"
                                              data-ng-model="newReward.description"
                                              class="form-control"
                                              placeholder="Description"
                                              rows="8"/>

                </div>
            </div>

            <div data-ng-if="newReward.type === 'Item'">
                <div class="column">
                    <div class="field-label">Price</div>
                    <div class="font-medium">
                        <input type="number"
                               data-ng-model="newReward.price"
                               class="form-control"
                               placeholder="Price">
                    </div>
                </div>

                <div class="column">

                    <div class="field-label">Location</div>
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary dropdown-toggle"
                                ng-disabled="disabled">
                            {{selection.location}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" data-ng-repeat="location in options.locations">
                                <a href="" data-ng-click="chooseLocation(location)">{{location}}</a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div data-ng-if="newReward.type === 'Recipe'">
                    <div class="column">
                        <div class="field-label">Ingredients</div>

                        <input style="width: 100%"
                               type="text"
                               data-ng-model="selection.ingredient"
                               typeahead-on-select="selectIngredient()"
                               typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                               class="form-control">

                        <div class="field-data">
                            <div data-ng-repeat="ingredient in ingredients">
                                <a>
                                    <i data-ng-click="removeIngredient(ingredient)"
                                       class="glyphicon glyphicon-remove-sign small">
                                    </i>
                                </a>
                                {{ingredient.amount}}
                                {{ingredient.name}}
                                <div style="display: inline" data-ng-if="ingredient.keep">
                                    <a href="" data-ng-click="switchKeep(ingredient)">(keep intact)</a>
                                </div>
                                <div style="display: inline" data-ng-if="!ingredient.keep">
                                    <a href="" data-ng-click="switchKeep(ingredient)">(consume)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-if="newReward.type === 'Recipe'">
                    <div class="column">
                        <div class="field-label">Health</div>

                        <input type="number"
                               data-ng-model="newReward.defaulthealthpoints"
                               class="form-control"
                               placeholder="Health">


                    </div>
                </div>


                <div data-ng-if="newReward.type === 'Skill'">

                    <div class="column">
                        <div class="field-label">Price</div>
                        <div class="font-medium">
                            <input type="number"
                                   data-ng-model="newReward.price"
                                   class="form-control"
                                   placeholder="Price">

                            <input type="checkbox" data-ng-model="newReward.basic"> Basic Skill
                        </div>

                    </div>

                    <div class="column">
                        <div class="field-label">Enables</div>


                        <input style="width: 100%"
                               type="text"
                               data-ng-model="selection.enabler"
                               typeahead-on-select="selectEnabler()"
                               typeahead="item.name for item in items | filter:{name: $viewValue} | limitTo:12"
                               class="form-control">

                        <div class="font-medium">
                            <div class="field-data">
                                <div data-ng-repeat="enabler in enables">
                                    <a>
                                        <i data-ng-click="removePrecursor(enabler)"
                                           class="glyphicon glyphicon-remove-sign small">
                                        </i>
                                    </a>

                                    {{enabler}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div data-ng-if="newReward.type === 'Skill'">
                    <div class="column">
                        <div class="field-label">Goals</div>
                        <div class="font-medium">
                            <input style="width: 100%"
                                   type="text"
                                   data-ng-model="selection.goal"
                                   typeahead-on-select="selectGoal()"
                                   typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">

                            <div class="font-medium">
                                <div class="field-data">
                                    <div data-ng-repeat="goal in goals">

                                        <a>
                                            <i data-ng-click="removeGoal(goal)"
                                               class="glyphicon glyphicon-remove-sign small">
                                            </i>
                                        </a>

                                        {{goal}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


    </div>


    <div class="rememberators-footer ">rememberators.com</div>

</section>
