<section data-ng-controller="RewardsController" data-ng-init="find()">

    <div ng-include="'/modules/rewards/views/partial/delete-reward.modal.client.view.html'"></div>


    <div class="col-xs-12 col-md-6  ">
        <div class="admin-card font-large">
            <div class="title">Administer Rewards</div>
            <div class="flashcard-section row">


                <div class="col-xs-12">
                    <div class="field-label">Find Reward</div>
                    <input type="text"
                           ng-model="options.searchText"
                           class="form-control search"
                           data-ng-change="updateSearch()"
                           placeholder="Name">
                </div>


            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6  " data-ng-if="!rewards || rewards.length === 0">

        <div class="admin-card font-large">
            <div class="title">No Rewards Found</div>
            <div class="danger">There are no rewards matching your search criteria</div>
        </div>
    </div>

    <div data-ng-repeat="reward in rewards">
        <div class="col-xs-6 dashboard-col">
            <div class="admin-card font-large">
                <div>
                    <div class="title">
                        {{reward.name}}

                        <div class="pull-right">


                            <a href="#!/rewards/{{reward._id}}/admin"><i class="glyphicon glyphicon-edit"></i></a>

                            <a href="" data-ng-click="areYouSureToDeleteReward(reward)"><i
                                    class="glyphicon glyphicon-trash"></i></a>

                        </div>

                    </div>


                    <div class="flashcard-section row">
                        <div class="col-xs-4">
                            <div class="field-label">Type</div>
                            <div class="field-data">
                                {{reward.type}}
                                <span data-ng-if="reward.basic">(basic)</span>
                                <span data-ng-if="!reward.basic">(enabled)</span>
                            </div>
                        </div>

                        <div class="col-xs-4" data-ng-if="reward.type === 'Item'">
                            <div class="field-label">Health</div>
                            <div class="field-data">
                                {{reward.defaulthealthpoints}}
                            </div>
                        </div>

                        <div class="col-xs-4" data-ng-if="reward.type !== 'Recipe'">
                            <div class="field-label">Price</div>
                            <div class="field-data">
                                {{reward.price}}
                            </div>
                        </div>
                    </div>


                    <div class="flashcard-section row">
                        <div class="col-xs-8" data-ng-if="reward.type === 'Recipe'">
                            <div class="field-label">Ingredients</div>
                            <div class="field-data">
                                <div data-ng-if="reward.ingredients.length ===0">none</div>
                                <div data-ng-if="reward.ingredients.length >0">
                                    <div data-ng-repeat="ingredient in reward.ingredients">
                                        {{ingredient.amount}} {{ingredient.name}}
                                        <span data-ng-if="ingredient.keep">(keep intact)</span>
                                        <span data-ng-if="!ingredient.keep">(consume)</span>

                                        <!--<div data-ng-repeat="ingredient in recipe">-->
                                        <!--<div> {{ingredient.name}}</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div data-ng-if="reward.type === 'Skill'">
                            <div class="col-xs-4">
                                <div class="field-label">Enables</div>
                                <div class="field-data">
                                    <div data-ng-if="reward.enables.length ===0">none</div>
                                    <div data-ng-if="reward.enables.length >0">
                                        <div data-ng-repeat="enabler in reward.enables">
                                            <div>{{getRewardName(enabler)}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-xs-4">
                                <div class="field-label">Goals</div>
                                <div class="field-data">
                                    <div data-ng-if="reward.goals.length ===0">none</div>
                                    <div data-ng-if="reward.goals.length >0">
                                        <div data-ng-repeat="goal in reward.goals">
                                            <div>{{getRewardName(goal)}}</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flashcard-section row">

                    <div class="col-xs-12">


                        <div class="field-label">Description</div>
                        <div class="field-data">
                            {{reward.description}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xs-6 ">
        <div class="admin-card font-large">
            <div class="title" style="padding-left: 12px">
                Add reward

                <div class="pull-right">


                    <a href="" data-ng-click="addReward()"><i class="glyphicon glyphicon-plus-sign"></i></a>

                </div>


            </div>


            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="field-label">Name</div>
                        <div class="font-medium">
                            <input type="text"
                                   data-ng-model="newReward.name"
                                   class="form-control focus">
                        </div>
                    </div>

                    <div class="col-xs-6">


                        <div class="field-label">Type</div>
                        <div class="font-medium">

                            <input type="radio" data-ng-model="newReward.type" value="Recipe"> Recipe
                            <input type="radio" data-ng-model="newReward.type" value="Item"> Item

                            <input type="radio" data-ng-model="newReward.type" value="Skill"> Skill
                        </div>
                    </div>


                </div>

                <div class="row" style="margin-top: 1.5em;">


                    <div class="col-xs-4">
                        <div class="field-label">Description</div>
                        <div class="font-medium">

                                    <textarea type="text"
                                              data-ng-model="newReward.description"
                                              class="form-control"
                                              placeholder="Description"
                                              rows="8"/>

                        </div>
                    </div>

                    <div data-ng-if="newReward.type === 'Item'">
                        <div class="col-xs-4">
                            <div class="field-label">Price</div>
                            <div class="font-medium">
                                <input type="number"
                                       data-ng-model="newReward.price"
                                       class="form-control"
                                       placeholder="Price">
                            </div>
                        </div>
                    </div>


                    <div data-ng-if="newReward.type === 'Recipe'">
                        <div class="col-xs-6">
                            <div class="field-label">Ingredients</div>

                            <input style="width: 100%"
                                   type="text"
                                   data-ng-model="selection.ingredient"
                                   typeahead-on-select="selectIngredient()"
                                   typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">

                            <div class="field-data">
                                <div data-ng-repeat="ingredient in ingredients">
                                    <a>
                                        <i data-ng-click="removeIngredient(ingredient)"
                                           class="glyphicon glyphicon-remove-sign small">
                                        </i>
                                    </a>
                                    {{ingredient.amount}}
                                    {{ingredient.name}}
                                    <div style="display: inline" data-ng-if="ingredient.keep">
                                        <a href="" data-ng-click="switchKeep(ingredient)">(keep intact)</a>
                                    </div>
                                    <div style="display: inline" data-ng-if="!ingredient.keep">
                                        <a href="" data-ng-click="switchKeep(ingredient)">(consume)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-if="newReward.type === 'Recipe'">
                        <div class="col-xs-2">
                            <div class="field-label">Health</div>

                            <input type="number"
                                   data-ng-model="newReward.defaulthealthpoints"
                                   class="form-control"
                                   placeholder="Health">


                        </div>
                    </div>


                    <div data-ng-if="newReward.type === 'Skill'">

                        <div class="col-xs-8" style="padding-bottom: 1em">
                            <div class="field-label">Price</div>
                            <div class="font-medium">
                                <input type="number"
                                       data-ng-model="newReward.price"
                                       class="form-control"
                                       placeholder="Price">

                                <input type="checkbox" data-ng-model="newReward.basic"> Basic Skill
                            </div>

                        </div>

                        <div class="col-xs-4">
                            <div class="field-label">Enables</div>



                            <input style="width: 100%"
                                   type="text"
                                   data-ng-model="selection.enabler"
                                   typeahead-on-select="selectEnabler()"
                                   typeahead="item.name for item in items | filter:{name: $viewValue} | limitTo:12"
                                   class="form-control">

                            <div class="font-medium">
                                <div class="field-data">
                                    <div data-ng-repeat="enabler in enables">
                                        <a>
                                            <i data-ng-click="removePrecursor(enabler)"
                                               class="glyphicon glyphicon-remove-sign small">
                                            </i>
                                        </a>

                                        {{enabler}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-ng-if="newReward.type === 'Skill'">
                        <div class="col-xs-4">
                            <div class="field-label">Goals</div>
                            <div class="font-medium">
                                <input style="width: 100%"
                                       type="text"
                                       data-ng-model="selection.goal"
                                       typeahead-on-select="selectGoal()"
                                       typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"
                                       class="form-control">

                                <div class="font-medium">
                                    <div class="field-data">
                                        <div data-ng-repeat="goal in goals">

                                            <a>
                                                <i data-ng-click="removeGoal(goal)"
                                                   class="glyphicon glyphicon-remove-sign small">
                                                </i>
                                            </a>

                                            {{goal}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!--<div class="row">-->


                <!-- -->
                <!--<div class="col-xs-4 font-medium" style="padding-top: 0.5em;">-->
                <!--<div data-ng-repeat="enabler in enables">-->
                <!--<a>-->
                <!--<i data-ng-click="removePrecursor(enabler)"-->
                <!--class="glyphicon glyphicon-remove-sign small">-->
                <!--</i>-->
                <!--</a>-->
                <!--{{enabler.name}}-->
                <!--</div>-->
                <!--</div>-->

                <!--<div class="col-xs-4 font-medium" style="padding-top: 0.5em;">-->
                <!--<div data-ng-repeat="goal in goals">-->
                <!--<a>-->
                <!--<i data-ng-click="removeGoal(goal)"-->
                <!--class="glyphicon glyphicon-remove-sign small">-->
                <!--</i>-->
                <!--</a>-->
                <!--{{goal.name}}-->
                <!--</div>-->

                <!--</div>-->


                <!--<div class="hidden">-->
                <!--<button type="submit" class="btn btn-rememberators"></button>-->
                <!--</div>-->
                <!--</div>-->


            </div>

        </div>


    </div>

    <div class="rememberators-footer col-xs-12" style="margin-top: 3em">rememberators.com</div>

</section>
