<section data-ng-controller="RewardsController" data-ng-init="find()">
    <div class="content-header">

        <div class="pull-right">
            <input class="search" ng-model="searchText">
        </div>
        <div class="title">
            Create Reward
        </div>


    </div>
    <div class="content-section">
        <form data-ng-submit="create()" validate>
            <table class="top-margin-l expands">
                <tr>
                    <td class="right-padded-m nowrap top-padded-s nowrap">Reward Name</td>
                    <td class="top-padded-s expands">
                        <input type="text"
                               data-ng-model="name"
                               class="form-control"
                               placeholder="Name"
                               required>

                    </td>
                </tr>

            </table>

            <div class="center-aligned top-padded-m">

                <input type="submit" value="Create" class="btn btn-rememberators">
            </div>
        </form>


    </div>


    <table id="searchTextResults" class="table-striped" data-ng-hide="rewards.length === 0">
        <thead>
        <tr>
            <th class="left-padded-s right-padded-m">Reward</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="reward in rewards | filter:searchText">
            <td class="left-padded-s right-padded-m top-padded-s bottom-padded-s">
                <!--<a data-ng-href="#!/courses/{{course._id}}/view">{{course.name}}</a>-->
                <a class="pointer" data-ng-click="addIngredient(reward)">{{reward.name}}</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--<div class="list-group">-->
        <!--<a data-ng-repeat="reward in rewards" data-ng-href="#!/rewards/{{reward._id}}" class="list-group-item">-->
            <!--<h4 class="list-group-item-heading" data-ng-bind="reward.name"></h4>-->
        <!--</a>-->
    <!--</div>-->


</section>