<section data-ng-controller="RewardsShopController" data-ng-init="find()">


    <!--<div ng-include="'/modules/rewards/views/partial/delete-reward.modal.client.view.html'"></div>-->


    <div class="col-xs-12 col-md-6  " data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="virtual-card font-large">
            <div class="title">Rewards Shop</div>
            <div class="flashcard-section">

                <infobox logo="boy" position="left">
                    <div>
                        Welcome to the Rewards Shop. Here you can spend trophies
                        for things that you can use as ingredients to craft bigger
                        prices.

                    </div>
                </infobox>

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6  ">
        <div class="virtual-card font-large">
            <div class="title">Your Skills</div>
            <div class="flashcard-section" >

                <div data-ng-if="skills.owned.length === 0">
                    <infobox logo="girl" position="left">
                        <div>
                            You haven't got any skills so far. Use your trophies to buy skills to
                            unlock items.
                        </div>
                    </infobox>
                </div>

                <div data-ng-repeat="skill in skills.owned">
                    {{skill.name}}
                </div>

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6  ">
        <div class="virtual-card font-large">
            <div class="title">Your Items</div>
            <div class="flashcard-section">

                <div data-ng-if="items.owned.length === 0">
                    <infobox logo="guru" position="left">
                        <div>
                            You haven't got any items so far. Use your trophies to buy skills to
                            unlock items.
                        </div>
                    </infobox>

                </div>

                <div data-ng-repeat="item in items.owned">
                    {{authentication.user.inventory}}
                    {{item.amount}} x {{item.name}}
                </div>

            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6  ">
        <div class="virtual-card font-large">
            <div class="title">You have {{authentication.user.trophies}} trophies</div>
            <div class="flashcard-section">


                <div class="field-label" style="padding-bottom: 1em">You can buy</div>


                <div data-ng-repeat="item in items.forSale track by $index">

                    <div data-ng-if="authentication.user.trophies >= item.price">
                    <a href="" data-ng-click="purchase(item)"><i class="glyphicon glyphicon-piggy-bank"></i></a>
                    {{item.name}} ({{item.price}} <span data-ng-if="item.price === 1">trophy</span><span data-ng-if="item.price > 1">trophies</span>)
                    </div>
                    <div data-ng-if="authentication.user.trophies < item.price" class="text-muted">
                        <i class="glyphicon glyphicon-piggy-bank"></i>
                        {{item.name}} ({{item.price}} <span data-ng-if="item.price === 1">trophy</span><span data-ng-if="item.price > 1">trophies</span>)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-6  ">
        <div class="virtual-card font-large">
            <div class="title">You can build</div>
            <div class="flashcard-section" >

                <div data-ng-if="recipies.forSale.length === 0">
                    <infobox logo="girl" position="left">
                        <div>
                            You haven't got enough basic items to craft new items.
                        </div>
                    </infobox>
                </div>

                <div data-ng-repeat="recipe in recipies.forSale">
                    {{recipe.name}}
                </div>

            </div>
        </div>
    </div>






    <!--<div class="col-xs-12 col-md-6  " data-ng-if="!rewards || rewards.length === 0">-->

        <!--<div class="admin-card font-large">-->
            <!--<div class="title">No Rewards Found</div>-->
            <!--<div class="danger">There are no rewards matching your search criteria</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div data-ng-repeat="reward in rewards">-->
        <!--<div class="col-xs-6 dashboard-col">-->
            <!--<div class="admin-card font-large">-->
                <!--<div>-->
                    <!--<div class="title">-->
                        <!--{{reward.name}}-->

                        <!--<div class="pull-right">-->


                            <!--<a href="#!/rewards/{{reward._id}}/admin"><i class="glyphicon glyphicon-edit"></i></a>-->

                            <!--<a href="" data-ng-click="areYouSureToDeleteReward(reward)"><i-->
                                    <!--class="glyphicon glyphicon-trash"></i></a>-->

                        <!--</div>-->

                    <!--</div>-->


                    <!--<div class="flashcard-section row">-->
                        <!--<div class="col-xs-4">-->
                            <!--<div class="field-label">Type</div>-->
                            <!--<div class="field-data">-->
                                <!--{{reward.type}}-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4" data-ng-if="reward.type === 'Item'">-->
                            <!--<div class="field-label">Health</div>-->
                            <!--<div class="field-data">-->
                                <!--{{reward.defaulthealthpoints}}-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4" data-ng-if="reward.type !== 'Recipe'">-->
                            <!--<div class="field-label">Price</div>-->
                            <!--<div class="field-data">-->
                                <!--{{reward.price}}-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<div class="flashcard-section row">-->
                        <!--<div class="col-xs-4" data-ng-if="reward.type === 'Recipe'">-->
                            <!--<div class="field-label">Ingredients</div>-->
                            <!--<div class="field-data">-->
                                <!--<div data-ng-if="reward.ingredients.length ===0">none</div>-->
                                <!--<div data-ng-if="reward.ingredients.length >0">-->
                                    <!--<div data-ng-repeat="ingredient in reward.ingredients">-->
                                        <!--{{ingredient.amount}} {{ingredient.name}}-->
                                        <!--<span data-ng-if="ingredient.keep">(keep intact)</span>-->
                                        <!--<span data-ng-if="!ingredient.keep">(consume)</span>-->

                                        <!--&lt;!&ndash;<div data-ng-repeat="ingredient in recipe">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div> {{ingredient.name}}</div>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-xs-4" data-ng-if="reward.type === 'Skill'">-->
                            <!--<div class="field-label">Enables</div>-->
                            <!--<div class="field-data">-->
                                <!--<div data-ng-if="reward.enables.length ===0">none</div>-->
                                <!--<div data-ng-if="reward.enables.length >0">-->
                                    <!--<div data-ng-repeat="enabler in reward.enables">-->
                                        <!--<div>{{getRewardName(enabler)}}</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-xs-4" data-ng-if="reward.type === 'Skill'">-->
                            <!--<div class="field-label">Goals</div>-->
                            <!--<div class="field-data">-->
                                <!--<div data-ng-if="reward.goals.length ===0">none</div>-->
                                <!--<div data-ng-if="reward.goals.length >0">-->
                                    <!--<div data-ng-repeat="goal in reward.goals">-->
                                        <!--<div>{{getRewardName(goal)}}</div>-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="flashcard-section row">-->

                    <!--<div class="col-xs-12">-->


                        <!--<div class="field-label">Description</div>-->
                        <!--<div class="field-data">-->
                            <!--{{reward.description}}-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="col-xs-6 ">-->
        <!--<div class="admin-card font-large">-->
            <!--<div class="title" style="padding-left: 12px">-->
                <!--Add reward-->

                <!--<div class="pull-right">-->


                    <!--<a href="" data-ng-click="addReward()"><i class="glyphicon glyphicon-plus-sign"></i></a>-->

                <!--</div>-->


            <!--</div>-->


            <!--<div class="col-xs-12">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-4">-->
                        <!--<div class="field-label">Name</div>-->
                        <!--<div class="font-medium">-->
                            <!--<input type="text"-->
                                   <!--data-ng-model="newReward.name"-->
                                   <!--class="form-control focus">-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-xs-6">-->


                        <!--<div class="field-label">Type</div>-->
                        <!--<div class="font-medium">-->

                            <!--<input type="radio" data-ng-model="newReward.type" value="Recipe"> Recipe-->
                            <!--<input type="radio" data-ng-model="newReward.type" value="Item"> Item-->

                            <!--<input type="radio" data-ng-model="newReward.type" value="Skill"> Skill-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->

                <!--<div class="row" style="margin-top: 1.5em;">-->


                    <!--<div class="col-xs-4">-->
                        <!--<div class="field-label">Description</div>-->
                        <!--<div class="font-medium">-->

                                    <!--<textarea type="text"-->
                                              <!--data-ng-model="newReward.description"-->
                                              <!--class="form-control"-->
                                              <!--placeholder="Description"-->
                                              <!--rows="8"/>-->

                        <!--</div>-->
                    <!--</div>-->

                    <!--<div data-ng-if="newReward.type === 'Item'">-->
                        <!--<div class="col-xs-4">-->
                            <!--<div class="field-label">Price</div>-->
                            <!--<div class="font-medium">-->
                                <!--<input type="number"-->
                                       <!--data-ng-model="newReward.price"-->
                                       <!--class="form-control"-->
                                       <!--placeholder="Price">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                    <!--<div data-ng-if="newReward.type === 'Recipe'">-->
                        <!--<div class="col-xs-6">-->
                            <!--<div class="field-label">Ingredients</div>-->

                            <!--<input style="width: 100%"-->
                                   <!--type="text"-->
                                   <!--data-ng-model="selection.ingredient"-->
                                   <!--typeahead-on-select="selectIngredient()"-->
                                   <!--typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"-->
                                   <!--class="form-control">-->

                            <!--<div class="field-data">-->
                                <!--<div data-ng-repeat="ingredient in ingredients">-->
                                    <!--<a>-->
                                        <!--<i data-ng-click="removeIngredient(ingredient)"-->
                                           <!--class="glyphicon glyphicon-remove-sign small">-->
                                        <!--</i>-->
                                    <!--</a>-->
                                    <!--{{ingredient.amount}}-->
                                    <!--{{ingredient.name}}-->
                                    <!--<div style="display: inline" data-ng-if="ingredient.keep">-->
                                        <!--<a href="" data-ng-click="switchKeep(ingredient)">(keep intact)</a>-->
                                    <!--</div>-->
                                    <!--<div style="display: inline" data-ng-if="!ingredient.keep">-->
                                        <!--<a href="" data-ng-click="switchKeep(ingredient)">(consume)</a>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div data-ng-if="newReward.type === 'Recipe'">-->
                        <!--<div class="col-xs-2">-->
                            <!--<div class="field-label">Health</div>-->

                            <!--<input type="number"-->
                                   <!--data-ng-model="newReward.defaulthealthpoints"-->
                                   <!--class="form-control"-->
                                   <!--placeholder="Health">-->


                        <!--</div>-->
                    <!--</div>-->


                    <!--<div data-ng-if="newReward.type === 'Skill'">-->
                        <!--<div class="col-xs-4">-->
                            <!--<div class="field-label">Enables</div>-->


                            <!--<input style="width: 100%"-->
                                   <!--type="text"-->
                                   <!--data-ng-model="selection.enabler"-->
                                   <!--typeahead-on-select="selectEnabler()"-->
                                   <!--typeahead="item.name for item in items | filter:{name: $viewValue} | limitTo:12"-->
                                   <!--class="form-control">-->

                            <!--<div class="font-medium">-->
                                <!--<div class="field-data">-->
                                    <!--<div data-ng-repeat="enabler in enables">-->
                                        <!--<a>-->
                                            <!--<i data-ng-click="removePrecursor(enabler)"-->
                                               <!--class="glyphicon glyphicon-remove-sign small">-->
                                            <!--</i>-->
                                        <!--</a>-->

                                        <!--{{enabler}}-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div data-ng-if="newReward.type === 'Skill'">-->
                        <!--<div class="col-xs-4">-->
                            <!--<div class="field-label">Goals</div>-->
                            <!--<div class="font-medium">-->
                                <!--<input style="width: 100%"-->
                                       <!--type="text"-->
                                       <!--data-ng-model="selection.goal"-->
                                       <!--typeahead-on-select="selectGoal()"-->
                                       <!--typeahead="reward.name for reward in rewards | filter:{name: $viewValue} | limitTo:12"-->
                                       <!--class="form-control">-->

                                <!--<div class="font-medium">-->
                                    <!--<div class="field-data">-->
                                        <!--<div data-ng-repeat="goal in goals">-->

                                            <!--<a>-->
                                                <!--<i data-ng-click="removeGoal(goal)"-->
                                                   <!--class="glyphicon glyphicon-remove-sign small">-->
                                                <!--</i>-->
                                            <!--</a>-->

                                            <!--{{goal}}-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->

                <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->


                <!--&lt;!&ndash; &ndash;&gt;-->
                <!--&lt;!&ndash;<div class="col-xs-4 font-medium" style="padding-top: 0.5em;">&ndash;&gt;-->
                <!--&lt;!&ndash;<div data-ng-repeat="enabler in enables">&ndash;&gt;-->
                <!--&lt;!&ndash;<a>&ndash;&gt;-->
                <!--&lt;!&ndash;<i data-ng-click="removePrecursor(enabler)"&ndash;&gt;-->
                <!--&lt;!&ndash;class="glyphicon glyphicon-remove-sign small">&ndash;&gt;-->
                <!--&lt;!&ndash;</i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;{{enabler.name}}&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;<div class="col-xs-4 font-medium" style="padding-top: 0.5em;">&ndash;&gt;-->
                <!--&lt;!&ndash;<div data-ng-repeat="goal in goals">&ndash;&gt;-->
                <!--&lt;!&ndash;<a>&ndash;&gt;-->
                <!--&lt;!&ndash;<i data-ng-click="removeGoal(goal)"&ndash;&gt;-->
                <!--&lt;!&ndash;class="glyphicon glyphicon-remove-sign small">&ndash;&gt;-->
                <!--&lt;!&ndash;</i>&ndash;&gt;-->
                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                <!--&lt;!&ndash;{{goal.name}}&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->

                <!--&lt;!&ndash;</div>&ndash;&gt;-->


                <!--&lt;!&ndash;<div class="hidden">&ndash;&gt;-->
                <!--&lt;!&ndash;<button type="submit" class="btn btn-rememberators"></button>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->


            <!--</div>-->

        <!--</div>-->


    <!--</div>-->

    <div class="rememberators-footer col-xs-12" style="margin-top: 3em">rememberators.com</div>

</section>
