<section data-ng-controller="RewardsShopController" data-ng-init="find()">


    <div data-ng-if="authentication.user.roles.indexOf('help') > -1">
        <div class="ribbon-card-large">
            <div class="help-ribbon"><span>Help</span></div>
            <div class="title">Rewards Shop</div>

            <infobox logo="boy" position="left">
                <div>
                    Welcome to the Rewards Shop. Here you can spend trophies
                    for things that you can use as ingredients to craft bigger
                    prices.

                </div>
            </infobox>

        </div>

        <div class="ribbon-card-large">
            <div class="help-ribbon"><span>Help</span></div>
            <div class="title">Skills</div>

            <infobox logo="girl" position="left">
                <div>
                    You will need some skills first. Try to create the goals that each
                    skill will set. When you are stuck, simply look up the goals in
                    the dictionary and find out how they are crafted.

                </div>
            </infobox>

        </div>
    </div>

    <div class="info-card-large">
        <div class="title">Challenges</div>
        <div class="two-column-section top-section">
            <div class="column">


                <div class="section">
                    <div class="field-label">Skills</div>


                    <div data-ng-if="skills.owned.length === 0" class="field-data">
                        none
                    </div>

                    <div data-ng-repeat="skill in skills.owned" class="field-data">
                        {{skill.name}}


                    </div>
                </div>


                <div class="section">

                    <div data-ng-if="skills.forSale.length === 0">
                        <div class="field-label">Achieve your goals to unlock further skills
                        </div>
                    </div>

                    <div data-ng-if="skills.forSale.length > 0">


                        <div class="field-label">You can buy new skills:
                        </div>

                        <div data-ng-repeat="skill in skills.forSale track by $index" class="field-data">

                            <div data-ng-if="authentication.user.trophies >= skill.price">
                                <a href="" data-ng-click="purchaseSkill(skill)"><i
                                        class="glyphicon glyphicon-plus-sign"></i></a>
                                {{skill.name}} ({{skill.price}} <span
                                    data-ng-if="skill.price === 1">trophy</span><span
                                    data-ng-if="skill.price > 1">trophies</span>)


                            </div>
                            <div data-ng-if="authentication.user.trophies < skill.price" class="text-muted">
                                <i class="glyphicon glyphicon-piggy-bank"></i>
                                {{skill.name}} ({{skill.price}} <span
                                    data-ng-if="skill.price === 1">trophy</span><span
                                    data-ng-if="skill.price > 1">trophies</span>)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">

                <div class="section">
                    <div class="field-label">Goals achieved</div>

                    <div data-ng-if="goals.owned.length === 0" class="field-data">
                        none
                    </div>

                    <div data-ng-repeat="goal in goals.owned track by $index" class="field-data hasIngredient">

                        <div class="pull-left" style="padding-right: 5px; margin-top: 0.7em">


                            <a href="" title="{{item.name}}">
                                <img width="48px" src="{{goal.icon}}">

                            </a>


                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="field-label">Goals</div>
                    <div data-ng-if="goals.challenge.length === 0" class="field-data">
                        none
                    </div>

                    <div data-ng-repeat="goal in goals.challenge track by $index" class="field-data lacksIngredient">

                        <div class="pull-left" style="padding-right: 5px; margin-top: 0.7em">


                            <a href="" title="{{item.name}}">
                                <img width="48px" src="{{goal.icon}}">
                            </a>


                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="info-card-large">


        <div class="three-column-section top-section">
            <div class="column" style="text-align: left">
                {{authentication.user.rewardlocation}}
            </div>
            <div class="column title">Workbench</div>
            <div class="column" style="text-align: right">
                {{authentication.user.trophies}} trophies
            </div>

        </div>


        <div class="section top-section" data-ng-if="items.forSale.length ===0">


            <div class="field-label">You can buy</div>

            <div class="field-data">
                You have to buy skills first
            </div>
        </div>

        <div class="two-column-section top-section" data-ng-if="items.forSale.length > 0">


            <div class="column-wide">

                <div class="field-label">Your Inventory</div>

                <div data-ng-if="items.owned.length === 0" class="field-data">
                    none
                </div>


                <div data-ng-repeat="item in items.owned | orderBy: 'name'"
                     class="pull-left" style="padding-right: 5px; margin-top: -0.7em">

                    <div style="text-align: center; font-size:small">{{item.amount}}x</div>
                    <a href="" data-ng-click="useIngredient(item)" title="{{item.name}}">
                        <img width="48px" src="{{item.icon}}">
                    </a>

                    <div>
                        <span data-ng-repeat="hp in getInventoryHealthPoints(item) track by $index"><i
                                class="glyphicon glyphicon-heart hearts"></i></span>
                    </div>
                </div>
            </div>

            <div class="column-narrow">

                <div class="field-label">You can buy</div>


                <div>
                    <div data-ng-repeat="item in items.forSale track by $index" class="pull-left"
                         style="padding-right: 5px; margin-top: -0.7em">

                        <div style="text-align: center; font-size:small">&nbsp;</div>

                        <div data-ng-if="authentication.user.trophies >= item.price">

                            <a href="" data-ng-click="purchaseItem(item)" title="{{item.name}} ({{item.price}})"
                               toggle="tooltip">
                                <img width="48px" src="{{item.icon}}">
                            </a>
                        </div>
                        <div data-ng-if="authentication.user.trophies < item.price" class="text-muted">
                            <a href="" title="{{item.name}} ({{item.price}}) - not enough trophies"
                               toggle="tooltip">
                                <img width="48px" src="{{item.icon}}" style="opacity: 0.3">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="two-column-section">

            <div class="column-wide">

                <div class="field-label">Recipe</div>

                <div data-ng-if="items.used.length === 0" class="field-data">
                    none
                </div>


                <div>
                    <div data-ng-repeat="item in items.used | orderBy: 'name'"
                         class="pull-left" style="padding-right: 5px; margin-top: -0.7em">

                        <div style="text-align: center; font-size:small">{{item.amount}}x</div>
                        <a href="" data-ng-click="unuseIngredient(item)" title="{{item.name}}">
                            <img width="48px" src="{{item.icon}}">
                        </a>

                        <div>
                        <span data-ng-repeat="hp in getInventoryHealthPoints(item) track by $index"><i
                                class="glyphicon glyphicon-heart hearts"></i></span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="column-narrow">

                <div class="field-label">Product</div>

                <div data-ng-if="recipies.forSale.length === 0" class="field-data">
                    none
                </div>


                <div data-ng-repeat="item in recipies.forSale | orderBy: 'name'"
                     class="pull-left" style="padding-right: 5px; margin-top: -0.7em">

                    <div style="text-align: center; font-size:small">&nbsp;</div>
                    <a href="" data-ng-click="craft(item)" title="{{item.name}}">
                        <img width="48px" src="{{item.icon}}">
                    </a>

                    <div>
                        <span data-ng-repeat="hp in getDefaultHealthPoints(item) track by $index"><i
                                class="glyphicon glyphicon-heart hearts"></i></span>
                    </div>
                </div>

            </div>


        </div>
    </div>


    <div class="info-card-large">
        <div class="title">Items Dictionary</div>


        <div class="flashcard-section">

            <infobox logo="guru" position="left">
                <div>
                    There are plenty of items that you can craft. Use this search to find
                    out more of what you can build out of what materials.
                </div>
            </infobox>

        </div>

        <div class="section">


            <div class="col-xs-12">
                <div class="field-label">Find Items</div>
                <input type="text"
                       ng-model="searchText"
                       class="form-control search"
                       data-ng-change="updateSearch()"
                       placeholder="Name">
            </div>

        </div>

    </div>


    <div data-ng-repeat="reward in searchResult track by $index">

        <div class="info-card-large">

            <div class="title">
                {{reward.name}}

                <div data-ng-if="reward.icon" class="pull-right">
                    <img width="64px" src="{{reward.icon}}">
                </div>

            </div>

            <div class="section top-section">
                <div class="field-label">
                    {{reward.type}}
                </div>
                <div class="field-data">
                    <div data-ng-if="reward.description && reward.description.length>0">{{reward.description}}
                    </div>
                    <div data-ng-if="!reward.description || reward.description.length===0">No description
                        available
                    </div>
                </div>
            </div>

            <div class="section" data-ng-if="reward.type ==='Recipe'">
                <div class="field-label">Ingredients</div>
                <div data-ng-repeat="ingredient in reward.ingredients" class="field-data">


                    <div class="pull-left" style="padding-right: 5px; ">

                        <div style="text-align: center; font-size:small">{{ingredient.amount}}x</div>
                        <a href="" data-ng-click="search(ingredient.name)" title="{{ingredient.name}}">
                            <img width="48px" src="{{getReward(ingredient.rewardId).icon}}">
                        </a>


                    </div>




                </div>


            </div>
            <div class="two-column-section">
                <div class="column"
                     data-ng-if="reward.enables.length>0">
                    <div class="field-label">Enables</div>

                    <div data-ng-repeat="enabled in reward.enables" class="field-data">
                    <div class="pull-left" style="padding-right: 5px; ">

                        <a href="" data-ng-click="search(enabled.name)" title="{{enabled.name}}">
                            <img width="48px" src="{{enabled.icon}}">
                        </a>


                    </div>


                        <!--{{enabled.name}}-->
                    </div>
                </div>

                <div class="column"
                     data-ng-if="reward.goals.length>0">
                    <div class="field-label">Goals</div>


                    <div data-ng-repeat="goal in reward.goals" class="field-data">
                        <div class="pull-left" style="padding-right: 5px; ">

                            <a href="" data-ng-click="search(goal.name)" title="{{goal.name}}">
                                <img width="48px" src="{{goal.icon}}">
                            </a>


                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="rememberators-footer" style="margin-top: 3em">rememberators.com</div>

</section>
