<section data-ng-controller="UsersController" data-ng-init="findOne()">

    <div class="content-header">

        <div class="title">
            Edit User
        </div>
    </div>


    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>


            <table class="expands" data-ng-controller="CoursesController" data-ng-init="findCoursesForUser(otherUser)">

                <tr>
                    <td class="right-padded-m">Id</td>
                    <td>
                        {{otherUser._id}}
                    </td>
                </tr>


                <tr>
                    <td class="right-padded-m top-padded-m">Username</td>
                    <td class="expands top-padded-m">
                        <input type="text"
                               data-ng-model="otherUser.username"
                               id="username"
                               class="form-control"
                               placeholder="Username"
                               required>
                    </td>
                </tr>

                <tr>
                    <td class="right-padded-m nowrap top-padded-m">First Name</td>
                    <td class="expands top-padded-m">
                        <input type="text"
                               data-ng-model="otherUser.firstName"
                               id="firstName"
                               class="form-control"
                               placeholder="First Name" required>
                    </td>
                </tr>

                <tr>

                    <td class="right-padded-m nowrap top-padded-m">Last Name</td>
                    <td class="expands top-padded-m">
                        <input type="text"
                               data-ng-model="otherUser.lastName"
                               id="description"
                               class="form-control"
                               placeholder="Last Name" required>
                    </td>
                </tr>

                <tr>

                    <td class="right-padded-m top-padded-m">Email</td>
                    <td class="expands top-padded-m">
                        <input type="text"
                               data-ng-model="otherUser.email"
                               id="email"
                               class="form-control"
                               placeholder="email" required>
                    </td>
                </tr>

                <tr data-ng-repeat="school in otherUser.administersSchools">

                    <td class="right-padded-m top-padded-m nowrap top-aligned" data-ng-if="$index === 0">Administers Schools</td>
                    <td class="right-padded-m top-padded-m nowrap top-aligned" data-ng-if="$index !== 0"></td>
                    <td class="expands top-padded-m top-aligned" data-ng-controller="SchoolsController" data-ng-init="findById(school)">
                        <a>
                            <i data-ng-click="removeSchoolAdmin(school, otherUser)"
                               class="glyphicon glyphicon-remove-sign small">
                            </i>
                        </a> {{school.name}} ({{school._id}})

                    </td>
                </tr>

                <tr data-ng-repeat="teachesClass in otherUser.teachesClasses">

                    <td class="right-padded-m top-padded-m nowrap">Teaches Classes</td>
                    <td class="expands top-padded-m" data-ng-controller="SchoolclassesController" data-ng-init="findById(teachesClass)">
                        <a>
                            <i data-ng-click="removeAsTeacher(schoolclass, otherUser)"
                               class="glyphicon glyphicon-remove-sign small">
                            </i>
                        </a> {{schoolclass.name}} ({{schoolclass._id}})
                    </td>
                </tr>


                <tr data-ng-repeat="takesClass in otherUser.studentInClasses">

                    <td class="right-padded-m top-padded-m nowrap" data-ng-if="$index === 0">Takes Classes</td>
                    <td class="right-padded-m top-padded-m nowrap" data-ng-if="$index !== 0"></td>
                    <td class="expands top-padded-m" data-ng-controller="SchoolclassesController" data-ng-init="findById(takesClass)">
                        <a>
                            <i data-ng-click="removeAsStudent(schoolclass, otherUser)"
                               class="glyphicon glyphicon-remove-sign small">
                            </i>
                        </a> {{schoolclass.name}} ({{schoolclass._id}})
                    </td>
                </tr>

                <tr  data-ng-repeat="course in otherUserCourses">

                    <td class="right-padded-m top-padded-m nowrap" data-ng-if="$index === 0">Takes Courses</td>
                    <td class="right-padded-m top-padded-m nowrap" data-ng-if="$index !== 0"></td>
                    <td class="expands top-padded-m">
                        <a>
                            <i
                               class="glyphicon glyphicon-remove-sign small">
                            </i>
                        </a> {{course.name}} {{course.visible ? 'visible' : '(not visible)'}} ({{course._id}}) {{course.supervised ? ' - supervised' : ''}}
                    </td>

                </tr>


                <tr>

                    <td class="right-padded-m top-padded-m top-aligned">Roles</td>
                    <td class="expands top-padded-m">
                        <div>
                            <label class="right-padded-m" ng-repeat="role in roles">
                                <input

                                        type="checkbox"
                                        name="selectedRole[]"
                                        value="{{role}}"
                                        ng-checked="otherUser.roles.indexOf(role) > -1"
                                        ng-click="toggleSelection(role)">
                                {{role}}

                            </label>
                        </div>
                    </td>
                </tr>

                <tr>

                    <td class="right-padded-m top-padded-m">Created</td>
                    <td class="expands top-padded-m">
                        {{otherUser.created | date: 'short'}}
                    </td>
                </tr>

                <tr class="controls">

                    <td class="right-padded-m top-padded-m nowrap">Last Update</td>
                    <td class="expands top-padded-m">
                        {{otherUser.updated | date: 'short'}}
                    </td>
                </tr>

            </table>
            <div class="center-aligned">
                <div class="form-group">
                    <input type="submit" class="btn btn-rememberators">
                </div>
            </div>
        </fieldset>
    </form>
</section>