
<section  data-ng-controller="UsersController" data-ng-init="find()" >



    <!--<div ng-include="'/modules/schoolclasses/views/partial/delete-class.modal.client.view.html'"></div>-->


    <div class="content-header">

        <div class="title">
            Administer Users
        </div>
    </div>


    <div data-ng-if="users.length === 0">

        No User Registered.
    </div>


    <table id="searchTextResults" class="table-striped" style="width: 100%" data-ng-if="users.length > 0">
        <thead>
        <tr>
            <th>User</th>
            <th>ID</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users | filter:searchText">
            <td class="top-padded-s nowrap right-padded-m top-aligned left-padded-s" >
                <a href="">
                    <i data-ng-click="remove(user)"
                       class="glyphicon glyphicon-remove-sign small">
                    </i>
                </a>
                <a data-ng-href="#!/users/{{user._id}}/admin">{{user.displayName}}</a>
            </td>
            <td>
                {{user._id}}
            </td>

        </tr>
        </tbody>
    </table>


    <div class="center-aligned top-padded-m">
        <input ng-click="removeInventories()" value="Delete Inventories" class="btn btn-rememberators" >

    </div>
    </section>
