<section data-ng-controller="UsersController" data-ng-init="findOne()">


    <div ng-include="'/modules/users/views/partial/remove-school.modal.client.view.html'"></div>
    <div ng-include="'/modules/users/views/partial/remove-teacher-from-class.modal.client.view.html'"></div>

    <div class="col-xs-12 col-md-6 dashboard-col font-large">
        <div class="admin-card">
            <div class="title">{{otherUser.displayName}}</div>


            <div class="flashcard-section">
                <div class="row rememberators-form-group form-group">

                    <div class="col-xs-6">
                        <div class="field-label">ID</div>
                        <div class="field-data">
                            {{otherUser._id}}
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="field-label">Username</div>
                        <div class="field-data">
                            <input type="text"
                                   data-ng-model="otherUser.username"
                                   class="form-control"
                                   placeholder="Username">
                        </div>
                    </div>
                </div>
            </div>

            <div class="flashcard-section">
                <div class="row rememberators-form-group form-group">

                    <div class="col-xs-6">
                        <div class="field-label">First Name</div>
                        <div class="field-data">
                            <input type="text"
                                   data-ng-model="otherUser.firstName"
                                   class="form-control"
                                   placeholder="First Name">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="field-label">Last Name</div>
                        <div class="field-data">
                            <input type="text"
                                   data-ng-model="otherUser.lastName"
                                   class="form-control"
                                   placeholder="Last Name">
                        </div>
                    </div>


                </div>
            </div>

            <div class="flashcard-section">
                <div class="row rememberators-form-group form-group">

                    <div class="col-xs-6">
                        <div class="field-label">email</div>
                        <div class="field-data">
                            <input type="text"
                                   data-ng-model="otherUser.email"
                                   class="form-control"
                                   placeholder="email address">
                        </div>
                    </div>




                </div>
            </div>

        </div>
    </div>


    <div class="col-xs-12 col-md-6  ">
        <div class="admin-card dashboard-col font-large">
            <div class="title">&nbsp;</div>


            <div class="flashcard-section row">

                <div class="col-xs-12 col-md-6 dashboard-col">

                    <div class="field-label">
                        Student in Schools
                    </div>

                    <div class="field-data" data-ng-if="otherUser.studentInSchools.length === 0">
                        none
                    </div>

                    <div data-ng-if="otherUser.studentInSchools.length > 0">
                        <div class="field-data" data-ng-repeat="s in otherUser.studentInSchools"
                             data-ng-controller="SchoolsController" data-ng-init="findById(s)">

                            <div ng-class="{'danger': error}">
                                <a href="/#!/schools/{{s}}/admin">{{s}}</a> <a href=""
                                                                               data-ng-click="areYouSureToRemoveSchool(s, otherUser)"><i
                                    class="glyphicon glyphicon-minus-sign"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 dashboard-col">


                    <div class="field-label">
                        Student in Classes
                    </div>

                    <div class="field-data" data-ng-if="otherUser.studentInClasses.length === 0">
                        none
                    </div>

                    <div data-ng-if="otherUser.studentInClasses.length > 0">
                        <div class="field-data" data-ng-repeat="s in otherUser.studentInClasses"
                             data-ng-controller="SchoolclassesController" data-ng-init="findById(s)">

                            <div ng-class="{'danger': error}">
                                {{s}} <a href="" data-ng-click="areYouSureToRemoveSchoolclass(s, otherUser)"><i
                                    class="glyphicon glyphicon-minus-sign"></i></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6  ">
        <div class="admin-card font-large">
            <div class="title">&nbsp;</div>


            <div class="flashcard-section row">

                <div class="col-xs-12 col-md-6 dashboard-col">

                    <div class="field-label">
                        Teacher in Schools
                    </div>

                    <div class="field-data" data-ng-if="otherUser.teacherInSchools.length === 0">
                        none
                    </div>

                    <div data-ng-if="otherUser.studentInSchools.length > 0">
                        <div class="field-data" data-ng-repeat="s in otherUser.teacherInSchools"
                             data-ng-controller="SchoolsController" data-ng-init="findById(s)">

                            <div ng-class="{'danger': error}">
                                <a href="/#!/schools/{{s}}/admin">{{s}}</a> <a href=""
                                                                               data-ng-click="areYouSureToRemoveTeacherFromSchool(s, otherUser)"><i
                                    class="glyphicon glyphicon-minus-sign"></i></a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-md-6 dashboard-col">


                    <div class="field-label">
                        Teacher in Classes
                    </div>

                    <div class="field-data" data-ng-if="otherUser.teachesClasses.length === 0">
                        none
                    </div>

                    <div data-ng-if="otherUser.teachesClasses.length > 0">
                        <div class="field-data" data-ng-repeat="s in otherUser.teachesClasses track by $index">
                             <!--data-ng-controller="SchoolclassesController" data-ng-init="findById(s)">-->

                            <!--<div ng-class="{'danger': error}">-->
                                <a href="#!/schoolclasses/{{s}}/admin">{{s}}</a> <a href="" data-ng-click="removeTeacherFromClass(otherUser, s)"><i
                                    class="glyphicon glyphicon-minus-sign"></i></a>
                            <!--</div>-->
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class="col-xs-12 col-md-6 dashboard-col font-large">
        <div class="admin-card">
            <div class="title">&nbsp;</div>

            <div class="flashcard-section row">

                <div class="col-xs-12 col-md-6 dashboard-col">

                    <div class="field-label">
                        Administers Schools
                    </div>

                    <div class="field-data" data-ng-if="otherUser.administersSchools.length ===0">
                        none
                    </div>
                    <div class="flashcard-section" data-ng-repeat="s in otherUser.administersSchools"
                         data-ng-controller="SchoolsController" data-ng-init="findById(s)">

                        <div class="row">
                            <div class="field-label col-xs-6">Name</div>
                            <div class="field-data col-sx-6">
                                {{school.name}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="field-label col-xs-6">City</div>
                            <div class="field-data col-sx-6">
                                {{school.city}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="field-label col-xs-6">Coutry</div>
                            <div class="field-data col-sx-6">
                                {{school.country}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</section>