<section data-ng-controller="UsersController" data-ng-init="findOne()">

    <div class="sparesys-header">
        <div class="pull-right">
            <a class="btn btn-primary" data-ng-click="remove(otherUser);">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>

        <div class="sparesys-title">
            Edit User
        </div>
        <div class="sparesys-subtitle">
            Maintain user attributes for User {{otherUser.username}}
        </div>
    </div>

    <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
            <table class="sparesys-view-object-table">
                <tr class="controls">
                    <td class="sparesys-view-object-label-cell">Username</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="otherUser.username"
                               id="username" class="form-control"
                               placeholder="Username"
                               required>
                    </td>
                </tr>

                <tr class="controls">
                    <td class="sparesys-view-object-label-cell">First Name</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="otherUser.firstName"
                               id="firstName" class="form-control"
                               placeholder="First Name"
                               required>
                    </td>
                </tr>

                <tr class="controls">

                    <td class="sparesys-view-object-label-cell">Last Name</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="otherUser.lastName"
                               id="description" class="form-control"
                               placeholder="Last Name" required>
                    </td>
                </tr>

                <tr class="controls">

                    <td class="sparesys-view-object-label-cell">Email</td>
                    <td class="sparesys-view-object-content-cell">
                        <input type="text" data-ng-model="otherUser.email"
                               id="email" class="form-control"
                               placeholder="email" required>
                    </td>
                </tr>

                <tr class="controls">

                    <td class="sparesys-view-object-label-cell">Roles</td>
                    <td class="sparesys-view-object-content-cell">
                        <div class="controls">
                            <label class="sparesys-view-object-right-padded-element" ng-repeat="role in roles">
                                <input

                                        type="checkbox"
                                        name="selectedRole[]"
                                        value="{{role}}"
                                        ng-checked="otherUser.roles.indexOf(role) > -1"
                                        ng-click="toggleSelection(role)">
                                {{role}}

                            </label>
                        </div>
                    </td>
                </tr>

                <tr class="controls">

                    <td class="sparesys-view-object-label-cell">Created</td>
                    <td class="sparesys-view-object-content-cell">
                        {{otherUser.created | date: 'medium'}}
                    </td>
                </tr>

                <tr class="controls">

                    <td class="sparesys-view-object-label-cell">Updated</td>
                    <td class="sparesys-view-object-content-cell">
                        {{otherUser.updated | date: 'medium'}}
                    </td>
                </tr>

            </table>

            <div class="pull-right">
                <input type="submit" value="Update" class="btn btn-default">
            </div>
        </fieldset>
    </form>
</section>