<section data-ng-controller="UsersController" data-ng-init="find()">

    <div class="content-header">
        <div class="pull-right">
            <input class="form-control search focus" ng-model="searchText" placeholder="Search">
        </div>

        <div class="title">
            Users
        </div>
    </div>



    <table id="searchTextResults" class="table-striped expands">
        <thead>
        <tr>
            <th class="left-padded-s right-padded-m nowrap">User</th>
            <th class="right-padded-m nowrap">Name</th>
            <th class="expands">Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users | filter:searchText">
            <td class="left-padded-s right-padded-m nowrap top-aligned"><a data-ng-href="#!/users/{{user._id}}/edit">{{user.username}}</a></td>
            <td class="right-padded-m nowrap top-aligned">{{user.displayName}}</td>
            <td class="top-aligned right-padded-s">
                <span class="right-padded-s nowrap" data-ng-repeat="role in user.roles">
                        {{role}}
                </span>

            </td>
        </tr>
        </tbody>
    </table>

</section>