<section data-ng-controller="UsersController" data-ng-init="find()">

    <div class="sparesys-header">
        <div class="pull-right">
            Search: <input ng-model="searchText">
        </div>

        <div class="sparesys-title">
            Users
        </div>
        <div class="sparesys-subtitle">
            List of all Users in the system
        </div>
    </div>



    <table id="searchTextResults" class="table-striped" style="width: 100%">
        <thead>
        <tr>
            <th>User</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th>created</th>
            <th>roles</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="user in users | filter:searchText">
            <td><a data-ng-href="#!/users/{{user._id}}/edit">{{user.username}}</a></td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.created | date:'medium'}}</td>
            <td>{{user.roles}}</td>
        </tr>
        </tbody>
    </table>

</section>