<a data-ng-if="prevCard"
   data-ng-href="#!/cards/{{prevCard._id}}/tab/{{activeTab}}/edit">
    <i class="small left-padded-s glyphicon glyphicon-backward"></i>
</a>

<span data-ng-if="!prevCard"
      class="text-muted">
    <i class="small left-padded-s glyphicon glyphicon-backward"></i>
</span>

<a data-ng-if="nextCard"
   data-ng-href="#!/cards/{{nextCard._id}}/tab/{{activeTab}}/edit">
    <i class="small left-padded-s glyphicon glyphicon-forward"></i>
</a>

<span data-ng-if="!nextCard" class="text-muted">
    <i class="small left-padded-s glyphicon glyphicon-forward"></i>
</span>

